﻿.received-tasks-panel {

    .empty-panel-content {
        color: #464646;
        background-color: #fff;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .table-block {
        @media (max-width: 1199px) {
            overflow-x: hidden;
            overflow-y: hidden;
        }

        @media (max-width: 991px) {
            overflow-x: hidden;
            overflow-y: hidden;
        }

        @media (max-width: 740px) {
            overflow-x: scroll;
            overflow-y: hidden;
        }
    }

    .no-items {
        margin-top: 10px;
        text-align: center;
        margin-bottom: 10px;
    }

    .table {
        margin-bottom: 0px;
        background-color: #fff;

        thead {
            tr {
                th {
                    font-family: 'Proxima-Nova-Regular';
                    border: none;
                    font-size: 10px;
                    padding: 6px 0px;
                    padding-top: 5px;

                    &:first-child {
                        padding: 5px 0px 6px 10px;
                    }

                    &:last-child {
                        padding: 5px 0px 6px 0px;
                    }

                    &.actions-title {
                        width: 120px;
                        min-width: 90px;
                    }

                    &.handover-reference-title {
                        width: 230px;
                        min-width: 130px;
                    }

                    &.task-name-title {
                        width: 350px;
                        min-width: 125px;
                    }

                    &.status-title {
                        width: 100px;
                        min-width: 80px;
                    }

                    &.priority-title {
                        width: 115px;
                        min-width: 90px;
                        cursor: pointer;

                        .priority-name {
                            display: inline-block;
                        }

                        .priority-sort-icon {
                            display: inline-block;
                            background-image: data-uri("@{main-url-img}/no_sort_icon.svg");
                            background-repeat: no-repeat;
                            width: 5px;
                            height: 5px;
                            margin-left: 5px;

                            &.high-to-low {
                                background-image: data-uri("@{main-url-img}/sort_icon_high_to_low.svg");
                                width: 6px;
                                height: 7px;
                            }

                            &.low-to-high {
                                background-image: data-uri("@{main-url-img}/sort_icon_low_to_high.svg");
                                width: 6px;
                                height: 7px;
                            }
                        }
                    }

                    &.due-date-title {
                        width: 90px;
                        min-width: 70px;
                        cursor: pointer;

                        .due-date-name {
                            display: inline-block;
                        }

                        .due-date-sort-icon {
                            display: inline-block;
                            background-image: data-uri("@{main-url-img}/no_sort_icon.svg");
                            background-repeat: no-repeat;
                            width: 5px;
                            height: 5px;
                            margin-left: 5px;

                            &.high-to-low {
                                background-image: data-uri("@{main-url-img}/sort_icon_high_to_low.svg");
                                width: 6px;
                                height: 7px;
                            }

                            &.low-to-high {
                                background-image: data-uri("@{main-url-img}/sort_icon_low_to_high.svg");
                                width: 6px;
                                height: 7px;
                            }
                        }
                    }

                    &.intel-title {
                        width: 115px;
                        min-width: 115px;
                    }
                }
            }
        }

        tbody {
            tr {
                border-bottom: 0.5px solid #DBDBDB;

                &.new {
                    background-color: #D8F3FD;
                }

                td {
                    font-size: 14px;
                    line-height: 1.3em;
                    vertical-align: middle;
                    border-top: none;
                    border-bottom: none;
                    padding: 8px 0px;
                    font-family: 'Proxima-Nova-Regular';

                    .text-blue {
                        color: #00aff0 !important;
                    }

                    .input-field {
                        width: 80px;
                        border: none;

                        &:focus {
                            outline: 0;
                        }

                        &[placeholder] {
                            text-overflow: ellipsis;
                            font-size: 10pt;
                            line-height: 1.3em;
                            font-family: 'Proxima-Nova-Regular';
                        }

                        &::-moz-placeholder {
                            text-overflow: ellipsis;
                        }

                        &:-moz-placeholder {
                            text-overflow: ellipsis;
                        }

                        &:-ms-input-placeholder {
                            text-overflow: ellipsis;
                        }
                    }
                }

                .text-blue {
                    * {
                        color: #00AFF0 !important;
                    }

                    color: #00AFF0 !important;


                    .btn-priority {
                        color: @simple-white !important;
                    }
                }

                .text-grey {
                    * {
                        color: #464646 !important;
                    }

                    color: #464646 !important;


                    .btn-priority {
                        color: @simple-white !important;
                    }
                }

                .actions-body {
                    padding-top: 13px;
                    padding-right: 0px;
                    padding-bottom: 13px;
                    padding-left: 10px;

                    button, div {
                        margin-right: 15px;
                        display: inline-block;
                    }
                    //=========================== btn-circle ===========================
                    .btn-circle {
                        display: inline-block;
                        width: 25px;
                        height: 25px;
                        top: 0;

                        &:hover {
                            opacity: 0.75;
                        }

                        .span {
                            top: 0;
                            width: 100%;
                            height: 100%;

                            &:before {
                                content: "";
                                width: 100%;
                                height: 100%;
                                display: block;
                            }
                        }
                    }
                    //=========================== hand-back icon btn ===================
                    .hand-back-active-btn {
                        width: 18px;
                        height: 20px;
                        padding: 0;
                        background: none;
                        border: none;
                        background-image: data-uri("@{main-url-img}/arrows_active.svg");
                        background-repeat: no-repeat;
                    }

                    .hand-back-inactive-btn {
                        width: 18px;
                        height: 20px;
                        padding: 0;
                        background: none;
                        border: none;
                        background-image: data-uri("@{main-url-img}/arrows_inactive.svg");
                        background-repeat: no-repeat;
                    }
                    //=========================== remove icon btn ======================
                    .remove-btn {
                        width: 20px;
                        height: 20px;
                        padding: 0;
                        background: none;
                        border: none;
                        background-image: data-uri("@{main-url-img}/remove_inactive.svg");

                        &:hover {
                            background-image: data-uri("@{main-url-img}/remove_active.svg");
                        }
                    }
                    //============================ none icon ===========================
                    .none-btn {
                        padding: 0;
                        background: none;
                        cursor: default;
                        width: 20px;
                        height: 10px;
                        border: none;

                        div {
                            color: #B4B4B4;
                            width: 20px;
                            margin-top: 0px;
                            margin-bottom: 8px;
                            display: inline-block;
                            border-bottom: solid #B4B4B4 1px;

                            &:hover {
                                opacity: 1;
                            }
                        }
                    }
                }

                .handover-reference-body {
                    vertical-align: middle;
                    color: #464646;
                    font-weight: bold;
                    max-width: 120px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    padding: 6px 0px;
                    padding-right: 5px;

                    &.tr-blue-text {
                        color: #00AFF0;
                    }

                    .none-btn {
                        padding: 0;
                        background: none;
                        cursor: default;
                        width: 20px;
                        height: 10px;
                        border: none;

                        div {
                            color: #B4B4B4;
                            width: 20px;
                            margin-top: 0px;
                            margin-bottom: 8px;
                            display: inline-block;
                            border-bottom: solid #B4B4B4 1px;

                            &:hover {
                                opacity: 1;
                            }
                        }
                    }
                }

                .task-name-body {
                    vertical-align: middle;
                    color: #464646;
                    max-width: 120px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    padding: 6px 0px;
                    padding-right: 5px;
                    cursor: pointer;

                    &.tr-blue-text {
                        color: #00AFF0;
                    }
                }

                .status-body {
                    font-size: 14px;
                    font-weight: normal;
                    color: #464646;
                }

                .priority-body {
                    font-size: 12px;
                    font-weight: bold;

                    .btn-priority {
                        width: 80px;
                        height: 25px;
                        font-size: 10px;
                        border-radius: 12px;
                        font-weight: bold;
                        pointer-events: none;
                        cursor: default;
                        text-align: center;
                        padding-top: 5px;
                    }

                    .btn-success {
                        border: none;
                        background-color: @success-color;

                        &:hover {
                            background-color: @success-color;
                        }
                    }

                    .btn-danger {
                        border: none;
                        background-color: @danger-color;

                        &:hover {
                            background-color: @danger-color;
                        }
                    }

                    .btn-low {
                        border: none;
                        background-color: @low-color;
                        color: @simple-white;

                        &:hover {
                            background-color: @low-color;
                            color: @simple-white;
                        }
                    }

                    .btn-warning {
                        border: none;
                        background-color: @warning-color;

                        &:hover {
                            background-color: @warning-color;
                        }
                    }

                    .btn-info {
                        border: none;
                        background-color: @info-color;

                        &:hover {
                            background-color: @info-color;
                        }
                    }
                }

                .due-date-body {
                    color: #464646;
                    font-size: 14px;
                    font-weight: normal;
                }

                .intel-body {
                    padding-left: 0px;
                    padding-right: 0px;

                    div, button {
                        margin-right: 5px;
                    }

                    div:last-child {
                        margin-right: 0px;
                    }

                    .btn-circle {
                        display: inline-block;
                        border: none;
                        width: 25px;
                        height: 25px;
                        top: 0;

                        &:hover {
                            opacity: 0.75;
                        }

                        .span {
                            top: 0;
                            width: 100%;
                            height: 100%;

                            &:before {
                                content: "";
                                width: 100%;
                                height: 100%;
                                display: block;
                            }
                        }
                    }
                    //=================== btn-status =============================
                    .btn-status {
                        width: 70px;
                        height: 25px;
                        font-size: 10px;
                        border-radius: 12px;
                        font-weight: bold;
                        color: @inactive-name-of-tabs;
                        border: 1px solid @inactive-name-of-tabs;
                        text-align: center;
                        padding-top: 4px;
                    }

                    .other-actions {
                        display: none;
                        background-color: #F0F0F0;
                        z-index: 1;
                        border-radius: 20px;
                        padding-top: 4px;
                        width: 85px;
                        text-align: center;
                        margin-top: 10px;
                        margin-left: 10px;

                        button {
                            margin: 0;
                        }

                        .action-btn {
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            background-position: center;
                            cursor: pointer;
                            border: none;
                            background: none;

                            &:hover {
                                opacity: 0.75;
                            }
                        }
                        //===================== attachment icon btn ========================
                        .attachment-active-btn {
                            background-image: data-uri("@{main-url-img}/clip_active.svg");
                            background-repeat: no-repeat;
                        }

                        .attachment-inactive-btn {
                            background-image: data-uri("@{main-url-img}/clip_inactive.svg");
                            background-repeat: no-repeat;
                        }
                        //==================== voice messages icon btn =====================
                        .voice-messages-active-btn {
                            background-image: data-uri("@{main-url-img}/sound_active.svg");
                            background-repeat: no-repeat;
                        }

                        .voice-messages-inactive-btn {
                            background-image: data-uri("@{main-url-img}/sound_inactive.svg");
                            background-repeat: no-repeat;
                        }
                    }
                    //======================= assigned icon ============================
                    .user-photo-btn {
                        padding: 0;
                        background: none;
                        width: 30px;
                        height: 30px;

                        .user-photo-img {
                            max-width: 100%;
                            max-height: 100%;
                            border-radius: 50%;
                            width: 30px;
                            height: 30px;
                        }
                    }

                    .user-without-photo-btn {
                        padding: 0;
                        background: none;
                        width: 30px;
                        height: 30px;

                        .span {
                            &:before {
                                background-image: data-uri("@{main-url-img}/share_icon_inactive.svg");
                            }
                        }
                    }
                    //=========================== extra icon btn =======================
                    .more-active-btn {
                        padding: 0;
                        background: none;
                        width: 30px;
                        height: 30px;

                        .span {
                            &:before {
                                background-image: data-uri("@{main-url-img}/more_active.svg");
                            }
                        }
                    }

                    .more-inactive-btn {
                        padding: 0;
                        background: none;
                        width: 30px;
                        height: 30px;

                        .span {
                            &:before {
                                background-image: data-uri("@{main-url-img}/more_inactive.svg");
                            }
                        }
                    }
                    //============================ archive icon ===========================
                    .archive-inactive-btn {
                        padding: 0;
                        background: none;
                        width: 30px;
                        height: 30px;

                        .span {
                            &:before {
                                background-image: data-uri("@{main-url-img}/archive_icon_inactive.svg");
                            }
                        }
                    }

                    .archive-active-btn {
                        padding: 0;
                        background: none;
                        width: 30px;
                        height: 30px;

                        .span {
                            &:before {
                                background-image: data-uri("@{main-url-img}/archive_icon_active.svg");
                            }
                        }
                    }
                }
            }

            .text-muted {
                color: @text-grey;
            }

            .text-primary {
                color: @text-blue;

                &:hover {
                    color: @text-blue;
                }
            }

            .edit-tr {

                td {
                    vertical-align: middle;
                }

                .actions-body {
                    padding-top: 8px;
                }

                .type-body {
                    padding-top: 6px;
                }

                .reference-body {
                    padding-top: 6px;
                }

                .intel-body {

                    .other-actions {
                        margin-top: 10px;
                        display: block;
                        text-align: center;
                    }
                }
            }

            .tr-blue-text {
                .type-body, .reference-body, .notes-body, .status-body {
                    color: @main-blue;
                }

                .btn-priority {
                    color: @simple-white;
                }
            }

            .tr-grey-text {
                .type-body, .reference-body, .notes-body, .status-body {
                    color: #b4b4b4;
                }

                .btn-priority {
                    color: @simple-white;
                }
            }
        }

        th {
            color: @darkest-grey;
            font-size: 10pt;
            white-space: nowrap;
            padding: 10px;
        }

        .grey-title {
            color: @inactive-name-of-tabs;
            border-bottom: 1px solid @inactive-name-of-tabs;
        }

        .glyphicon {
            color: @main-blue;
        }
    }
}
