﻿.task-board-page {
    .pdf-report {
        background-image: data-uri("@{main-url-img}/document-icon-blue.svg");
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background-repeat: no-repeat;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;

        &:hover {
            opacity: .75;
        }
    }

    .filter-btn {
        background-image: data-uri("@{main-url-img}/filter-icon.svg");
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background-repeat: no-repeat;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        margin-right: 5px;

        &:hover {
            opacity: .75;
        }
    }

    .plus-btn {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background-repeat: no-repeat;
        display: inline-block;
        vertical-align: middle;
        background-image: data-uri("@{main-url-img}/plus-icon-blue.svg");
        cursor: pointer;
        margin-right: 5px;

        &:hover {
            opacity: .75;
        }
    }

    .panel-heading {
        height: 40px;
        min-height: 40px;
        padding: 7px 10px;
    }

    .navbar {
        padding: 7px 0 0 0;
    }

    .task-board-side-menu {
        text-align: center !important;
        letter-spacing: 1px !important;

        .nav {
            display: inline-block;
            border: none;
            padding-top: 0px !important;
            padding-bottom: 0px;

            li {
                display: inline-block;
                background-color: #787878;
                width: 86px;
                height: 26px;
                margin-right: 10px;
                border-radius: 13px;

                a, a:focus {
                    background-color: #787878;
                    width: 86px;
                    height: 26px;
                    display: inline-block;
                    margin: 0px;
                    padding: 0px;
                    font-size: 12px;
                    font-weight: normal;
                    font-family: 'Proxima-Nova-Regular';
                    color: #fff;
                    border-radius: 13px;
                    border: 1px solid #787878;
                    line-height: 2;
                }
            }

            .active {
                a, a:focus {
                    background-color: #00AFF0;
                    border: 1px solid #00aff0;
                }
            }
        }
    }
}
