﻿@model TemplatesViewModel

<div class="panel-body">
    <div class="row">
        @for (var i = 0; i < Model.Template.Modules.Count(); i += 4)
        {
            foreach (var module in Model.Template.Modules.Skip(i).Take(4))
            {
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="well well-lg template-module-block select-module-btn">
                        <a href='/Framework/Templates?SelectedTemplate=@Model.SelectedTemplate&selectedModule=@module.Type' class="no-decoration">
                            <div class="row  vertical-center">
                                <div class="col-md-12 big-title text-center">
                                    @module.Type.ToString()
                                </div>
                            </div>
                            <div class="row content vertical-center">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 vertical-center">
                                    <i class="fa fa-folder-o fa-2x" aria-hidden="true"></i>
                                    <span class="module-topic-group-count">
                                        @module.EnabledTopicGroupsCounter
                                    </span>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                                    @if (module.Type == ModuleType.Project || module.Type == ModuleType.Team)
                                    {
                                        @Html.CheckBoxFor(tg => module.Enabled, new { @class = "module-status-btn", @checked = "checked", Id = module.Id, template = @Model.SelectedTemplate })
                                    }
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }
        }
    </div>
</div>

<script>
    $(document).ready(function ()
    {
        $('.module-status-btn').click(function (e)
        {
            var baseModuleId = e.currentTarget.id;
            var templateId = $(this).attr('template');
            var status = $(this).is(':checked');

            var requestData = {
                baseModuleId: baseModuleId,
                templateId: templateId,
                status: status
            }

            $.ajax({
                url: '/Templates/UpdateTemplateModule/',
                cache: false,
                method: 'POST',
                data: requestData,
                success: function () { location.reload(); },
                error: function ()
                {
                    Relay.ErrorDialog().open();
                }
            });

        });
    });
</script>