﻿@model TemplatesViewModel

<div class="panel panel-default">
    <div class="panel-heading panel-heading-icon-right">
        <div class="row vertical-center">
            <div class="col col-lg-12 col-sm-12 col-md-12 col-xs-12">
                <span class="big-title">
                    @Html.TopicGroupsPanelTitle(@Model.Module.Type)
                </span>
            </div>
        </div>


    </div>
    <div class="panel-body">
        <ul class="list-group">
            @if (Model.Module.TopicGroupsList != null && Model.Module.TopicGroupsList.Any())
            {
                foreach (var topicGroup in Model.Module.TopicGroupsList)
                {
                    <li class="list-group-item list-group-item-action@(Model.Module.ActiveTopicGroupId == topicGroup.Id ? " active" : "")">
                        <div class="row vertical-center">
                            <div class="col col-lg-10 col-sm-10 col-md-10 col-xs-10">
                                <a href="@Url.Action(ViewContext.RouteData.Values["action"].ToString(),
                                             Request.QueryString.AddOrUpdate(new Dictionary<string, object>
                                             {
                                                 {"topicGroup", topicGroup.Id},
                                                 {"topic", null},
                                                 {"topicsPageNo", 1}
                                             }))">
                                    @topicGroup.Name
                                </a>
                            </div>
                            <div class="col col-lg-2 col-sm-2 col-md-2 col-xs-2 text-center">
                                @Html.CheckBoxFor(tg => topicGroup.Enabled, new { @class = "topic-group-status-btn", @checked = "checked", Id = @topicGroup.Id, template = @Model.SelectedTemplate })                            </div>
                        </div>

                    </li>
                }


                @Html.Pager(Model.Module.TopicGroupsList.PageSize, Model.Module.TopicGroupsList.PageNumber, Model.Module.TopicGroupsList.TotalItemCount).Options(o => o
                    .DisplayTemplate("TemplateBootstrapPagination")
                    .MaxNrOfPages(3)
                    .AddRouteValue("selectedTemplate", Model.SelectedTemplate)
                    .AddRouteValue("selectedModule", Model.SelectedModule)
                    .AlwaysAddFirstPageNumber()
                    .PageRouteValueKey("topicGroupsPageNo"))

            }
            else
            {
                <li class="list-group-item text-center">No topic groups in this module.</li>
            }
        </ul>
    </div>
</div>

<script>
    $(document).ready(function ()
    {
        $('.topic-group-status-btn').click(function (e)
        {
            var baseTopicGroupId = e.currentTarget.id;
            var templateId = $(this).attr('template');
            var status = $(this).is(':checked');

            var requestData = {
                baseTopicGroupId: baseTopicGroupId,
                templateId: templateId,
                status: status
            }

            $('#loading-animation').show();

            $.ajax({
                url: '/Templates/UpdateTemplateTopicGroup/',
                cache: false,
                method: 'POST',
                data: requestData,
                success: function ()
                {
                    location.reload();
                },
                error: function ()
                {
                    $('#loading-animation').hide();
                    Relay.ErrorDialog().open();
                }
            });

        });
    });
</script>
