﻿@model TemplatesViewModel

<div class="panel panel-default">
    <div class="panel-heading panel-heading-icon-right">
        <div class="row vertical-center">
            <div class="col col-lg-12 col-sm-12 col-md-12 col-xs-12">
                <span class="big-title">
                    @Html.TopicsPanelTitle(Model.Module.Type)
                </span>
            </div>
        </div>


    </div>
    <div class="panel-body">
        <ul class="list-group">
            @if (Model.Module.TopicsList != null && Model.Module.TopicsList.Any())
            {
                foreach (var topic in Model.Module.TopicsList)
                {
                    <li class="list-group-item list-group-item-action@(Model.Module.ActiveTopicId == topic.Id ? " active" : "")">
                        <div class="row vertical-center">
                            <div class="col col-lg-10 col-sm-10 col-md-10 col-xs-10">
                                <a href="@Url.Action(ViewContext.RouteData.Values["action"].ToString(),
                                             Request.QueryString.AddOrUpdate(new Dictionary<string, object> {{"topic", topic.Id}, {"tasksPageNo", 1}}))">
                                    @topic.Name
                                </a>
                            </div>
                            <div class="col col-lg-2 col-sm-2 col-md-2 col-xs-2 text-center">
                                                               @Html.CheckBoxFor(tg => topic.Enabled, new { @class = "topic-status-btn", @checked = "checked", Id = topic.Id, template = @Model.SelectedTemplate })                            </div>
                        </div>

                    </li>
                }


                @Html.Pager(Model.Module.TopicsList.PageSize, Model.Module.TopicsList.PageNumber, Model.Module.TopicsList.TotalItemCount).Options(o => o
                    .DisplayTemplate("TemplateBootstrapPagination")
                    .MaxNrOfPages(3)
                    .AlwaysAddFirstPageNumber()
                    .PageRouteValueKey("topicsPageNo")
                    .AddRouteValue("selectedTemplate", Model.SelectedTemplate)
                    .AddRouteValue("selectedModule", Model.SelectedModule)
                    .RouteValues(Request.QueryString.ToRouteValueDictionary(new[] { "topicsPageNo" })))


            }
            else
            {
                <li class="list-group-item text-center">
                    @if (Model.Module.ActiveTopicGroupId.HasValue)
                    {
                        @:No topics in this group.
                    }
                    else
                    {
                        @:Select a topic group.
                    }
                </li>
            }
        </ul>
    </div>
</div>



<script>
    $(document).ready(function ()
    {
        $('.topic-status-btn').click(function (e)
        {
            var baseTopicId = e.currentTarget.id;
            var templateId = $(this).attr('template');
            var status = $(this).is(':checked');

            var requestData = {
                baseTopicId: baseTopicId,
                templateId: templateId,
                status: status
            }

            $('#loading-animation').show();

            $.ajax({
                url: '/Templates/UpdateTemplateTopic/',
                cache: false,
                method: 'POST',
                data: requestData,
                success: function ()
                {
                    location.reload();
                },
                error: function ()
                {
                    $('#loading-animation').hide();
                    Relay.ErrorDialog().open();
                }
            });

        });
    });
</script>
