﻿@model FooterViewModel
<div>
    <div style="display: inline-block !important; float: left;">
        <img src="@Url.Content("~/Content/img/svg/PrintRelayLogo.png")" style="width: 100px; margin-left: -25px !important;" />
    </div>
    <div style="float: right; display: inline-block !important;">
        @(Model.Page + "/" + Model.Topage)
    </div>
</div>