﻿@model TaskBoardPdfReportViewModel

@{
    Layout = null;
    var i = 1;
}

<!DOCTYPE html>
<html lang="en-gb">
<head>
    <meta charset="utf-8" />
    <title>Relay Report</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @Styles.Render("~/bundles/styles/layouts/auth-main")
    <link href="~/Content/styles/main.css" rel="stylesheet" />
</head>
<body class="task-board-report">
    <div class="document-head">
        <div class="report-title">Task List</div>
        <div class="report-date">@Model.ReportDate</div>
    </div>
    <table class="document-body">
        <tbody>
            @foreach (var task in Model.Tasks)
            {
                <tr>
                    <td class="task-number">
                        <div class="number-icon">@i</div>
                    </td>
                    <td class="second-td">
                        <div class="task-block">
                            @if (!string.IsNullOrWhiteSpace(task.TopicName))
                            {
                                <div class="topic-name">@task.TopicName</div>
                            }
                            @if (!string.IsNullOrWhiteSpace(task.TaskName))
                            {
                                <div class="task-name @(string.IsNullOrWhiteSpace(task.TopicName) ? "no-padding" : "")">@task.TaskName</div>
                            }
                        </div>
                        <div class="task-notes">
                            @if (!string.IsNullOrWhiteSpace(task.TaskNotes))
                            {
                                @task.TaskNotes
                            }
                            @if (string.IsNullOrWhiteSpace(task.TaskNotes))
                            {
                            <span>-</span>
                            }
                        </div>
                    </td>
                    <td class="third-td">
                        <div class="task-priority">
                            @task.TaskPriority
                        </div>
                        <div class="task-date">
                            @task.TaskDate
                        </div>
                    </td>
                </tr>
                {
                    i++;
                }
            }
            @if (Model.Tasks == null || !Model.Tasks.Any())
            {
                <tr>
                    <td colspan="3" class="text-center">
                        <strong>No tasks to display.</strong>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>