﻿@model ChecklistRotationFilterViewModel

@Html.Hidden("rotation", Model.RotationId)
<span class="period-date">

    <span>@(Model.IsCurrentRotation ? "Current Rotation" : @Model.Date)</span>

    <a @(Model.PrevRotationId.HasValue ? "href=" + Url.Action("Index", "Checklist", new { filterId = Model.PrevRotationId }) : "")
       class="prev-period @(Model.PrevRotationId.HasValue ? "" : "dark-opacity")"></a>

    <a @(Model.NextRotationId.HasValue ? "href=" + Url.Action("Index", "Checklist", new { filterId = Model.NextRotationId }) : "")
       class="next-period @(Model.NextRotationId.HasValue ? "" : "dark-opacity")"></a>

</span>