﻿@model IEnumerable<TasksTopicViewModel>

<div class="panel panel-primary">
    <div class="panel-heading clearfix">
        <div class="pull-left">
            @*<button type="button" class="help-btn btn-circle btn btn-link"><span class="glyphicon span"></span></button>*@
            <span class="panel-title" style="left:15px!important">Received Tasks</span>
        </div>
    </div>
    <div class="panel-body">
        @if (Model.Any())
        {
            <div class="table-block">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="details">Details</th>
                            <th class="location">Location</th>
                            <th class="name">Name</th>
                            <th class="notes">Notes</th>
                            <th class="due-date">Due Date</th>
                            <th class="status">Status</th>
                            <th class="priority">Priority</th>
                            <th class="intel">Intel</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var topic in Model)
                        {
                            <tr>
                                <td class="details-td">
                                    @Html.Hidden("Id", topic.Id)
                                    @if (topic.Status == "NewNow")
                                    {
                                        <div class="new-item"></div>
                                    }
                                    <div @Html.TooltipAttritutes("Hand-back") class="tooltipster btn btn-circle @(topic.IsFeedbackRequired ? "arrows-active-btn" : "arrows-inactive-btn") not-hover"></div>
                                    @if (topic.CarryforwardCounter != 0 && topic.CarryforwardCounter > 0)
                                    {
                                        <div topic-val="@topic.CarryforwardCounter" 
                                             class="tooltipster btn arrow-btn @(topic.CarryforwardCounter == 0 ? "arrow-gray-btn" : (topic.CarryforwardCounter == 1 ? "arrow-green-btn" : (topic.CarryforwardCounter == 2 ? "arrow-yellow-btn" : "arrow-pink-btn")))" 
                                             @Html.TooltipAttritutes("Carry Forward")></div>
                                    }
                                    else
                                    {
                                        <div class="none-btn"></div>
                                    }
                                </td>
                                <td class="location-td">
                                    <div class="location">
                                        @topic.Location
                                    </div>
                                </td>
                                <td class="name-td">
                                    <div class="name">
                                        @topic.Name
                                    </div>
                                </td>
                                <td class="notes-td fourth-td">
                                    <p class="note-short">@topic.Notes</p>
                                    <div class="field-of-edit">
                                        <textarea class="change-note" maxlength="600"></textarea>
                                        <div topic-val="@topic.IsFinalized.ToString().ToLower()" class="accept-btn finalise-btn tooltipster" @Html.TooltipAttritutes("Finalise")></div>
                                    </div>
                                </td>
                                <td class="due-date-td">
                                    <div class="deadline-field">
                                        @topic.Deadline
                                    </div>
                                </td>
                                <td class="status-td">
                                    <div class="complite-status">
                                        @topic.CompleteStatus
                                    </div>
                                </td>
                                <td class="priority-td">
                                    <div topic-val="@topic.Priority.ToString()" class="btn btn-priority simple-label-btn"></div>
                                </td>
                                <td class="intel-td">
                                    <div @Html.TooltipAttritutes(@topic.FromTeammateFullName) topic-val="@topic.FromTeammateId.ToString()" class="btn btn-circle user-photo-btn team-btn tooltipster">
                                        <img src="@Url.Action("GetAvatarForEmployee", "Media", new {area = "", employeeId = @topic.FromTeammateId, width = 50, height = 50})"
                                             class="user-photo-img" />
                                    </div>
                                    <div class="btn btn-circle more-btn tooltipster" @Html.TooltipAttritutes("Extras")>
                                        <span class="glyphicon span"></span>
                                    </div>
                                    <div class="other-actions pull-right">
                                        <button @Html.TooltipAttritutes("Attachments") topic-val="@topic.HasAttachments.ToString().ToLower()" class="action-btn attachments-btn tooltipster"></button>
                                        <button @Html.TooltipAttritutes("Voice Messages") topic-val="@topic.HasVoiceMessages.ToString().ToLower()" class="action-btn voice-msg-btn tooltipster" disabled style="cursor: not-allowed"></button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class="table text-center no-received-task">
                No received tasks
            </div>
        }
    </div>
</div>


<script>
    $(document).ready(function () {
        $(".tooltipster").tooltipster();
    });
</script>