﻿@model TeamCheckListViewModel

<div class="row panels-block">
    <div class="col-xs-12 col-md-4">
        <div class="panels">
            <div class="user-card" userid="@Model.BackToBack.UserId">
                @Html.Hidden("userid", Model.BackToBack.UserId)
                <div class="main-block">
                    <div class="user-photo">
                        <img src="@Url.Action("GetAvatarForEmployee", "Media", new { area = "", employeeId = Model.BackToBack.UserId, width = 168, height = 112 })" alt="@Model.BackToBack.UserName" class="user-photo-img" />
                    </div>
                    <div class="user-data">
                        <div class="contact-block">
                            <div class="title">@Model.BackToBack.UserName</div>
                            <div>@Model.BackToBack.PositionName</div>
                            <div>@Model.BackToBack.UserEmail</div>
                        </div>
                        <div class="status-block">
                            <div class="circle-block"></div>
                            <div class="rotation-pattern">@Model.BackToBack.RotarionPatternName</div>
                        </div>
                        <div class="actions-block">
                            <div class="task-block">
                                <div class=@(Model.BackToBack.CountReceivedTask > 0 ? "ok-active" : "ok-inactive")>
                                    <div class="count">
                                        @(Model.BackToBack.CountReceivedTask > 0 ? Model.BackToBack.CountReceivedTask.ToString() : "")
                                    </div>
                                </div>
                            </div>
                            <div class="report-block">
                                <div Id="report-preview-btn" backtobackid="@Model.BackToBack.UserId" rotation="@Model.RotationId" class="report-icon"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="panels">
            <div class="user-card" userid="@Model.LineManager.UserId">
                @Html.Hidden("userid", Model.LineManager.UserId)
                <div class="main-block">
                    <div class="user-photo">
                        <img src="@Url.Action("GetAvatarForEmployee", "Media", new { area = "", employeeId = Model.LineManager.UserId, width = 168, height = 112 })" alt="@Model.LineManager.UserName" class="user-photo-img" />
                    </div>
                    <div class="user-data">
                        <div class="contact-block">
                            <div class="title">@Model.LineManager.UserName</div>
                            <div>@Model.LineManager.PositionName</div>
                            <div>@Model.LineManager.UserEmail</div>
                        </div>
                        <div class="status-block">
                            <div class="circle-block"></div>
                            <div class="rotation-pattern">@Model.LineManager.RotarionPatternName</div>
                        </div>
                        <div class="actions-block">
                            <div class="inner-block">
                                <div class=@(Model.LineManager.CountReceivedTask > 0 ? "ok-active" : "ok-inactiv")>
                                    @(Model.LineManager.CountReceivedTask > 0 ? Model.LineManager.CountReceivedTask.ToString() : "")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row initials-block">
    @foreach (var user in Model.TeamMember)
    {
        <div class="col-xs-12 col-md-1 col-sm-2 col-xs-4">
            <div class="single-initials" userid="@user.UserId">
                @Html.Hidden("userid", user.UserId)
                <img src="@Url.Action("GetAvatarForEmployee", "Media", new { area = "", employeeId = user.UserId, width = 60, height = 60 })" alt="@user.UserName" class="user-photo-img letters" />
                @if (user.CountReceivedTask > 0)
                {
                    <div class="events">@user.CountReceivedTask</div>
                }
            </div>
        </div>
    }
</div>

<script src="~/Content/js/relay/url-hash.module.js"></script>
<script>
    $(document).ready(function () {
        $("#report-preview-btn").click(openReportPreview);

        function openReportPreview(e) {
            var formDialog = Relay.FormDialog({
                url: "/RotationReportBuilder/ReportPreview/?rotationId=" + $(this).attr("rotation") + "&isReceived=true",
                method: "GET",
                dialogId: "popupReportPreview"
            });
            formDialog.open();
        }

        var userIds = [];
        var rotationId = $('#rotation').val();

        var receivedTasksPanel = Relay.ReceivedTasksPanel($("#tasksPanelContainer"), rotationId);
        $('.single-initials').on('click', function () {
            if ($(this).hasClass('active')) {
                var temp = [];
                $(this).removeClass('active');
                var userId = $(this).children('input').val();
                userIds.map(function (obj) {
                    if (userId != String(obj)) {
                        temp.push(obj);
                    }
                });
                userIds = temp;
                receivedTasksPanel.reload(rotationId, userIds);
            } else {
                var userId = $(this).children('input').val();
                userIds.push($(this).attr('userid'));
                receivedTasksPanel.reload(rotationId, userIds);
                $(this).addClass('active');
            }
        });
        $('.user-card').on('click', function () {
            if ($(this).parent().hasClass('active')) {
                $(this).parent().removeClass('active');
                var temp = [];
                var userId = $(this).children('input').val();
                userIds.map(function (obj) {
                    if (userId != String(obj)) {
                        temp.push(obj);
                    }
                });
                userIds = temp;
                receivedTasksPanel.reload(rotationId, userIds);
            } else {
                var userId = $(this).children('input').val();
                userIds.push($(this).attr('userid'));
                receivedTasksPanel.reload(rotationId, userIds);
                $(this).parent().addClass('active');
            }
        });
    });
</script>

