﻿@model ChecklistViewModel

@{
    Layout = "~/Views/Shared/Layouts/Main/Authorized_Layout.cshtml";
}

@if (Model.IsViewMode)
{
    <div class="period-block">
        @Html.Action("RorationFilter", "Checklist", new { filterId = Model.RotationId })
    </div>

    <div style="margin-top: 90px;">
        @Html.Partial("~/Views/Rotation/Shared/_ViewModePanel.cshtml", @Model.RotationOwnerFullName)
    </div>

    <div class="checklist">
        @Html.Action("TeamMember", "Checklist", new { rotationId = Model.RotationId })
    </div>
}
else
{
    <div class="period-block">
        @Html.Action("RorationFilter", "Checklist", new { filterId = Model.RotationId })
    </div>
    <div class="checklist" style="padding-top: 50px;">
        @Html.Action("TeamMember", "Checklist", new { rotationId = Model.RotationId })
    </div>
}

<div Id="tasksPanelContainer" class="checklist" style="padding-top:0px!important">
    @Html.Action("ReceivedTasksPanel", "Checklist", new { RotationId = Model.RotationId })
</div>

@Scripts.Render("~/bundles/scripts/shared/checklist-tasks-panel")