﻿@model IndodrillReport.BLL.ViewModels.PdfReportSummaryViewModel

<tr>
    <td class="activity-body">
        @Model.ActivityName
    </td>
    <td class="cost-code-body">
        @Model.CostCode
    </td>
    <td class="hours-body">
        @Model.Hours
    </td>
    <td class="metres-body">
        @Model.Meters
    </td>
</tr>