﻿.major-hazard-dialog {

    .modal-content {
        width: 600px;
        min-height: 450px;

        .modal-body {
            padding: 20px 15px 0px 15px !important;

            .table-thead {
                border-bottom: 1px solid @inactive-name-of-tabs;
                padding-bottom: 7px;
                margin: 0px;

                .title {
                    display: inline-block;
                    padding-left: 0px;
                    padding-right: 0px;
                }
            }

            .critical-controls-table {
                display: table;
                width: 100%;
                border-bottom: 1px solid @inactive-name-of-tabs;
                position: relative;

                .swiper-container {
                    height: 280px;

                    .no-critical-controls {
                        color: #787878;
                    }

                    .critical-control-item {
                        border-bottom: 1px solid #787878;
                        color: #ffffff;
                        width: ~'calc(100% - 20px)';
                        margin: 0px;

                        .critical-control-name {
                            margin-top: 10px;
                            padding-left: 0px;
                            padding-right: 0px;
                        }

                        .critical-control-permission {
                            display: inline-block;
                            float: none;
                            margin-top: 7px;
                            padding-left: 0px;
                            padding-right: 0px;

                            .team-fill {
                                overflow: hidden;
                                word-wrap: normal;
                                max-width: 130px;
                                min-width: initial;
                                background-color: #00aff0;
                                display: inline-block;
                                border-radius: 3px;
                                margin: 4px;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                padding-left: 5px;
                                padding-right: 5px;
                                font-size: 12px;
                                font-weight: bold;
                            }
                        }
                    }
                }

                .swiper-prev {
                    cursor: pointer;
                    top: 17px;
                    right: 1px;
                    position: absolute;
                    border: none;
                    width: 8px;
                    height: 5px;
                    background-image: data-uri("@{main-url-img}/arrow_down.svg");
                    z-index: 2;
                    transform: rotate(180deg);
                }

                .swiper-next {
                    cursor: pointer;
                    bottom: 17px;
                    right: 1px;
                    position: absolute;
                    border: none;
                    width: 8px;
                    height: 5px;
                    background-image: data-uri("@{main-url-img}/arrow_down.svg");
                    z-index: 2;
                }
            }

            .add-new {
                margin-top: 30px;
            }

            .btn-plus-white {
                margin-top: 3px;
                width: 25px;
                height: 25px;
                background: none;
                border: none;
                cursor: pointer;

                &:hover {
                    opacity: 0.75;
                }

                .span {
                    width: 100%;
                    height: 100%;
                    display: block;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 10px;
                    background-image: data-uri("@{main-url-img}/plus_white.svg");
                }
            }

            .new-critical-control {
                margin-top: 40px;

                .title-block-with-line {
                    margin-left: -20px;
                    margin-right: -20px;
                    border-bottom: 2px solid #00aff0;

                    .file-input-title {
                        padding: 3px 25px;
                    }
                }

                .field-container {
                    margin-top: 29px;
                }

                .dropdown-menu {
                    height: initial !important;
                    max-height: 200px;
                    padding-bottom: 10px;

                    .ms-res-item {
                        display: inline-block;
                        font-size: 9px;
                        font-weight: bold;
                        background-color: @inactive-name-of-tabs;
                        padding: 0 5px;
                        line-height: 15px;
                        border-radius: 4px;
                        margin: 0 5px;
                    }

                    .ms-res-item-blue {
                        background-color: @main-blue;
                    }
                }

                .ms-sel-item {
                    background-color: #00aff0 !important;
                }

                .tags-input-container {
                    margin-top: 25px !important;
                    color: white !important;
                    margin-bottom: 18px !important;
                }
            }
        }
    }
}
