﻿@model DailyNotesPanelViewModel

<div Id="dailyNotesPanel" class="panel panel-primary daily-notes">
    <div class="panel-heading clearfix">
        <div class="pull-left">
            @*<button type="button" class="help-btn btn-circle btn btn-link">
                    <span class="glyphicon span"></span>
                </button>*@
            <span class="panel-title" style="left:15px!important">Daily Notes</span>
        </div>
        <div class="pull-right">
            <button type="button" class="search-btn btn-circle btn btn-link" disabled>
                <span class="glyphicon span"></span>
            </button>
        </div>
    </div>
    <div class="panel-body" style="display: none;">
        <div class="swiper-container rotation-page-swiper">
            <div class="swiper-wrapper">
                @foreach (var dailyNote in Model.DailyNotes)
                {
                    @Html.Partial("~/Views/Rotation/DailyNotesPanel/_DailyNoteSlide.cshtml", dailyNote)
                }

                @if (Model.ShowEndSlide)
                {
                    <div class="swiper-slide long-slide vertical-center">
                        <div class="row long-slide vertical-center" style="margin: 0px !important; color: white !important">
                            <div class="col-xs-12 col-md-12 col-lg-5 text-center daily-notes-safe-trip"></div>
                            <div class="col-xs-12 col-md-12 col-lg-6 text-center">Have a Safe trip</div>
                            <div class="col-xs-12 col-md-12 col-lg-6 text-left">See you again</div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="rotation-page-swiper-prev"></div>
        <div class="rotation-page-swiper-next"></div>
    </div> 
</div>

@Scripts.Render("~/bundles/scripts/daily-notes-panel")