﻿@model ProjectTasksFilterOptions
@using MomentumPlus.Relay.BLL.Extensions.NativeTypesExtensions

<div id="projectTasksFilter" class="project-task-filter-content">
    <div class="filter-content">
        @foreach (ProjectTasksFilterOptions option in Enum.GetValues(typeof(ProjectTasksFilterOptions)))
        {
            <div class="filter-row @(Model == option ? "active" : string.Empty)" id="@option.ToString()">
                @option.GetEnumDescription()
            </div>
        }
    </div>
    <script>
        (function () {
            var tabTypeKey = "TabType";
            var filterOptionsKey = "FilterOptions";
            var dialog = $("#projectTasksFilter");
            var hashModel = Relay.UrlHash.getHashModel();
            var tabType = hashModel[tabTypeKey];
            var filterOption = hashModel[filterOptionsKey] || 'AllTasks';

            if (tabType === "AdHoc")
                $("#PendingTasks", dialog).remove();


            $(dialog).find(".filter-row").removeClass('active');


            $('#' + filterOption, dialog).addClass("active");


            $(".filter-row", dialog).on("click", function () {
                var hashModel = Relay.UrlHash.getHashModel();
                hashModel[filterOptionsKey] = this.id;
                Relay.UrlHash.updateHashModel(hashModel);

                dialog.parent().parent().parent().remove();
            })
        })();
    </script>
</div>
