﻿@model SchedulerPanelViewModel

<div class="scheduler-panels" simple-mode="@Model.IsSimpleUserMpode.ToString()" owner-Id="@Model.UserId">
    @if (Model.Timelines.Any())
    {
        foreach (var timelinePanel in Model.Timelines)
        {
            @Html.Partial("~/Views/Scheduler/_TimelinePanel.cshtml", timelinePanel)
        }
    }
    else
    {
        <div style="background:white;
                    margin-top: 20px;
                    padding: 10px;
                    text-align: center;
                    border-radius: 6px;">
            No items found
        </div>
    }
</div>