﻿@model SchedulerPageViewModel

@{
    Layout = "~/Views/Shared/Layouts/Main/Authorized_Layout.cshtml";
}
<div class="scheduler-page">
    @Html.Partial("~/Views/Scheduler/_FilterPanel.cshtml", Model.FilterPanel)
    <div class="scheduler-panels"></div>
    <script src="~/Content/js/relay/scheduler/scheduler-panels.module.js"></script>
    <script src="~/Content/js/relay/scheduler/scheduler-filter.module.js"></script>
</div>
