﻿body {
    &.multi-tenant {
        background: #00bbff;
        background: -moz-linear-gradient(top, #00bbff 0%, #00bbff 20%, #00b0f0 29%, #00597a 96%, #00597a 100%) fixed;
        background: -webkit-gradient(left top, left bottom, color-stop(0%, #00bbff), color-stop(20%, #00bbff), color-stop(29%, #00b0f0), color-stop(96%, #00597a), color-stop(100%, #00597a)) fixed;
        background: -webkit-linear-gradient(top, #00bbff 0%, #00bbff 20%, #00b0f0 29%, #00597a 96%, #00597a 100%) fixed;
        background: -o-linear-gradient(top, #00bbff 0%, #00bbff 20%, #00b0f0 29%, #00597a 96%, #00597a 100%) fixed;
        background: -ms-linear-gradient(top, #00bbff 0%, #00bbff 20%, #00b0f0 29%, #00597a 96%, #00597a 100%) fixed;
        background: linear-gradient(to bottom, #00bbff 0%, #00bbff 20%, #00b0f0 29%, #00597a 96%, #00597a 100%) fixed;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bbff', endColorstr='#00597a', GradientType=0 ) fixed;
    }
}



.multi-tenant-container {
    height: 100%;
    padding-left: 70px;
    padding-right: 70px;
    max-width: 1420px;
    margin: 0 auto;
    min-width: 480px;

    .relay-logo-block {
        height: 60px;
        border-bottom: 2px solid #80d7f7;

        .logo {
            background-image: url("@{main-url-img}/logo.svg");
            background-repeat: no-repeat;
            background-size: contain;
            display: block;
            height: 60px;
            width: 116px;
            background-position: -12px;
        }
    }
}


@import "components/_rzslider";


@import "components/_sign-up-wizard";
@import "components/_sign-up-wizard-step-1";
@import "components/_sign-up-wizard-step-2";
@import "components/_sign-up-wizard-step-3";
@import "components/_sign-up-wizard-step-4";

@import "pages/sign-in-page";
@import "pages/forgotten-password-page";
@import "pages/reset-password-page";
@import "pages/main-page";
@import "pages/sign-up-page";

@import "components/_ns-popover";
@import "components/_currency_dropdown";
@import "components/_basket_dropdown";