﻿@model IEnumerable<TeamTopicViewModel>

<div Id="teamSection">
    <div class="panel-body grey-panel">
        <div class="navbar navbar-orange"><span class="label">@Html.EnumDescription(ModuleType.Team)</span></div>
    </div>
    <div class="table-block">
        @if (Model != null && Model.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th class="actions-title">Actions</th>
                        <th class="type-title">Topic</th>
                        <th class="reference-title">Reference</th>
                        <th class="notes-title">Notes</th>
                        <th class="intel-title">Intel</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var topic in Model)
                    {
                        <tr>
                            @Html.Hidden("Id", topic.Id)
                            <td class="actions-body">
                                @if (!topic.IsNullReport)
                                {
                                    <div class="btn btn-circle none-btn">
                                        <span class="glyphicon span"></span>
                                    </div>
                                }
                                else
                                {
                                    <div class="btn btn-circle nr-btn tooltipster"  topic-val="@topic.IsNullReport.ToString().ToLower()" @Html.TooltipAttritutes("Nil-report")>
                                        <span class="glyphicon span"></span>
                                    </div>
                                }
                                <div class="btn btn-circle arrows-btn tooltipster" topic-val="@topic.IsFeedbackRequired.ToString().ToLower()" @Html.TooltipAttritutes("Hand-back")>
                                    <span class="glyphicon span"></span>
                                </div>
                                @if (topic.IsSharingTopic)
                                {
                                    <div class="is-shared">S</div>
                                }
                                else
                                {
                                    <div class="btn none-btn btn-circle">
                                        <span class="glyphicon span"></span>
                                    </div>
                                }
                            </td>
                            <td class="type-body">
                                @topic.TeamMember
                            </td>
                            <td class="reference-body">
                                @topic.Reference
                            </td>
                            <td class="notes-body">
                                <p class="note-short">@topic.Notes</p>
                                <div class="field-of-edit">
                                    <textarea class="change-note" maxlength="1000"></textarea>
                                    <div topic-val="@topic.IsFinalized.ToString().ToLower()" class="accept-btn finalise-btn tooltipster" @Html.TooltipAttritutes("Finalise")></div>
                                </div>
                            </td>
                            <td class="intel-body">

                                @Html.Action("ManagerCommentButton", "Topic", new ManagerCommentButtonViewModel { ItemId = topic.Id.Value, HasComments = topic.HasComments })

                                <div class="btn btn-circle user-photo-btn team-btn tooltipster" topic-val="@topic.TeammateId.ToString()" owner-Id="@topic.OwnerId" @Html.TooltipAttritutes(topic.FromTeammateFullName)>
                                    <img src="@Url.Action("GetAvatarForEmployee", "Media", new {area = "", employeeId = @topic.FromTeammateId, width = 100, height = 100})"
                                         class="user-photo-img" />
                                </div>

                                <div class="btn btn-circle more-btn tooltipster" @Html.TooltipAttritutes("Extras")>
                                    <span class="glyphicon span"></span>
                                </div>
                                <div class="other-actions">
                                    <button topic-val="@topic.HasTasks.ToString().ToLower()" class="action-btn tasks-btn tooltipster" @Html.TooltipAttritutes("Tasks")></button>
                                    <button topic-val="@topic.HasLocation.ToString().ToLower()" class="action-btn location-btn tooltipster" @Html.TooltipAttritutes("Locations")></button>
                                    <button topic-val="@topic.HasAttachments.ToString().ToLower()" class="action-btn attachments-btn tooltipster" @Html.TooltipAttritutes("Attachments")></button>
                                    <button topic-val="@topic.HasVoiceMessages.ToString().ToLower()" class="action-btn voice-msg-btn tooltipster" @Html.TooltipAttritutes("Voice Messages") disabled style="cursor: not-allowed!important"></button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="text-center" style="margin: 10px">@Html.EnumDescription(ModuleType.Team, "No {0} Items")</div>
        }
    </div>
</div>