﻿@model ProjectAdminProjectDetailsTabViewModel

<div id="projectDetailsDialog">
  <div class="row">
    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
      <div class="field-container">
        @Html.LabelFor(m => m.ProjectName, new { @class = "title-select margin-bottom-5" })
        @Html.TextBoxFor(m => m.ProjectName, new { @class = "simple-input", @placeholder = "Enter Item Name", @disabled = "" })
      </div>
    </div>
    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
      <div class="field-container">
        @Html.LabelFor(m => m.ProjectDescription, new { @class = "title-select" })
        @Html.TextAreaFor(m => m.ProjectDescription, new { @class = "textarea simple-textarea", @rows = "3", @maxlength = "500", @placeholder = "No description", @disabled = "" })
      </div>
    </div>
  </div>
</div>