﻿@model CreateRotationViewModel

<div Id="createRotationFormDialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true" class="modal fade rotation-dialog">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)

        <div class="modal-dialog">
            <div class="theme">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row vertical-center">
                            <div class="col col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <div Id="modalTitle" class="modal-title">Create Rotation</div>
                            </div>
                            <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 text-right">
                                <button type="submit" class="btn btn-save">Save</button>
                                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
                                <div class="row padding-right-15">
                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="select-type">
                                            <span class="title-select">@Html.LabelFor(m => m.RotationOwnerId)</span>
                                            @Html.DropDownListFor(m => m.RotationOwnerId, Model.RotationOwnerEmployees, "Select Name", new { @class = "select-list" })
                                            @Html.ValidationMessageFor(m => m.RotationOwnerId)
                                        </div>
                                    </div>
                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20">
                                        <div class="field-container">
                                            <span class="title-select">@Html.LabelFor(model => model.SiteName)</span>
                                            @Html.TextBoxFor(model => model.SiteName, new { @class = "simple-input", @disabled = "", @placeholder = "Site Name" })
                                            @Html.HiddenFor(m => m.SiteId)
                                        </div>
                                    </div>
                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20">
                                        <div class="select-type">
                                            <span class="title-select">@Html.LabelFor(m => m.DefaultBackToBackId)</span>
                                            @Html.DropDownListFor(m => m.DefaultBackToBackId, Model.BackToBackEmployees, "Select Back-to-Back", new { @class = "select-list" })
                                            @Html.ValidationMessageFor(m => m.DefaultBackToBackId)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
                                <div class="row padding-left-15">
                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="field-container">
                                            <span class="title-select">@Html.LabelFor(model => model.PositionName)</span>
                                            @Html.TextBoxFor(model => model.PositionName, new { @class = "simple-input", @disabled = "", @placeholder = "Position Name" })
                                            @Html.HiddenFor(m => m.PositionId)
                                        </div>
                                    </div>
                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20">
                                        <div class="select-type">
                                            <span class="title-select">@Html.LabelFor(m => m.LineManagerId)</span>
                                            @Html.DropDownListFor(m => m.LineManagerId, Model.LineManagers, "Select Line Manager", new { @class = "select-list" })
                                            @Html.ValidationMessageFor(m => m.LineManagerId)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="row">
                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20">
                                        <div class="select-type">
                                            <span class="title-select">@Html.LabelFor(m => m.ContributorsIds)</span>
                                            @Html.ListBoxFor(model => model.ContributorsIds, Model.Contributors, new { @class = "select-list", @multiple = "" })
                                            @Html.ValidationMessageFor(m => m.ContributorsIds)
                                        </div>
                                    </div>
                                    @*<div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20">
                                            <div class="select-type">
                                                <span class="title-select">@Html.LabelFor(m => m.ProjectsIds)</span>
                                                @Html.ListBoxFor(model => model.ProjectsIds,Model.Projects, new { @class = "select-list", @multiple = "" })
                                                @Html.ValidationMessageFor(m => m.ProjectsIds)
                                            </div>
                                        </div>*@
                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20">
                                        <div class="radio-btn-group">
                                            @Html.Label("Shift Handovers", new { @class = "title-select" })
                                            <div class="beta-icon"></div>
                                            <label>
                                                @Html.RadioButtonFor(m => m.RotationType, RotationType.Shift)
                                                <span class="radio-label">Yes</span>
                                            </label>
                                            <label>
                                                @Html.RadioButtonFor(m => m.RotationType, RotationType.Swing)
                                                <span class="radio-label">No</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
</div>

@if (string.IsNullOrEmpty(Model.PositionName))
{
    <script>
        (function() {
            var rotationOwnerSelect = document.getElementById("RotationOwnerId");

            var defaultBackToBackSelect = document.getElementById("DefaultBackToBackId");
            var positionName = document.getElementById("PositionName");
            var siteName = document.getElementById("SiteName");

            rotationOwnerSelect.addEventListener("change", loadDataForEmployee);

            //-------
            function loadDataForEmployee() {

                var rotationOwnerId = rotationOwnerSelect.options[rotationOwnerSelect.selectedIndex].value;

                $.ajax({
                        method: "POST",
                        url: "/Positions/GetPositionForEmployee",
                        data: { employeeId: rotationOwnerId }
                    })
                    .done(function(data) {
                        if (data) {
                            positionName.value = data.Name;
                            losadSiteForPosition(data.Id);
                            loadBackToBackForPosition(data.Id);
                        }
                    })
                    .fail(function() {

                    });
            }

            //-------
            function losadSiteForPosition(positionId) {
                $.ajax({
                        method: "POST",
                        url: "/Sites/GetSiteForPosition",
                        data: { positionId: positionId }
                    })
                    .done(function(data) {
                        if (data) {
                            siteName.value = data.Name;
                        }
                    })
                    .fail(function() {

                    });
            }

            //-------
            function loadBackToBackForPosition(positionId) {
                $.ajax({
                        method: "POST",
                        url: "/Employees/GetAllEmployees",
                        data: {
                            positionId: positionId,
                            rotationOwnerId: $("#RotationOwnerId option:selected").val()
                        }
                    })
                    .done(function(data) {
                        if (data) {
                            reloadListOfBackToBack(data);
                        }
                    })
                    .fail(function() {

                    });
            }

            //-------
            function reloadListOfBackToBack(items) {

                while (defaultBackToBackSelect.firstChild) {
                    defaultBackToBackSelect.removeChild(defaultBackToBackSelect.firstChild);
                }

                var defOption = document.createElement("option");
                defOption.textContent = "Select Back-to-Back";
                defaultBackToBackSelect.appendChild(defOption);

                for (var i = 0; i < items.length; ++i) {
                    var option = document.createElement("option");
                    option.setAttribute("value", items[i].Id);
                    option.textContent = items[i].Name;
                    defaultBackToBackSelect.appendChild(option);
                }

                $(defaultBackToBackSelect).selectpicker('refresh');
            }

            //-------
        })();
    </script>
}
else
{
    <script>
        (function() {
            var rotationOwnerSelect = document.getElementById("RotationOwnerId");
            var defaultBackToBackSelect = document.getElementById("DefaultBackToBackId");

            rotationOwnerSelect.addEventListener("change", loadBackToBackForPosition);

            function loadBackToBackForPosition() {
                $.ajax({
                        method: "POST",
                        url: "/Employees/GetAllEmployees",
                        data: {
                            positionId: $("#PositionId").val(),
                            rotationOwnerId: $("#RotationOwnerId option:selected").val()
                        }
                    })
                    .done(function (data) {
                        if (data) {
                            reloadListOfBackToBack(data);
                        }
                    })
                    .fail(function () {

                    });
            }

            function reloadListOfBackToBack(items) {

                while (defaultBackToBackSelect.firstChild) {
                    defaultBackToBackSelect.removeChild(defaultBackToBackSelect.firstChild);
                }

                var defOption = document.createElement("option");
                defOption.textContent = "Select Back-to-Back";
                defaultBackToBackSelect.appendChild(defOption);

                for (var i = 0; i < items.length; ++i) {
                    var option = document.createElement("option");
                    option.setAttribute("value", items[i].Id);
                    option.textContent = items[i].Name;
                    defaultBackToBackSelect.appendChild(option);
                }

                $(defaultBackToBackSelect).selectpicker('refresh');
            }
        })();
    </script>
}