#followersPanelContainer {
    .project-followers-panel {
        margin-top: 0px;
        font-family: 'Proxima-Nova-Regular';
        background-color: #efefef;

        .panel-heading {
            .follower-add-btn {
                span::before {
                    background-image: data-uri("@{main-url-img}/plus-icon-blue.svg");
                }
            }
        }

        .panel-body {
            background-color: #fff;
            min-height: 293px;
            padding: 0px;

            .followers {
                .title-container {
                    display: flex;
                    margin-top: 14px;

                    .title-select {
                        color: @main-brown;
                        font-size: 11px;
                    }

                    .image-column {
                        width: 60px;
                        color: #545454;
                    }

                    .name-column {
                        width: 160px;
                        color: #545454;
                        padding-right: 5px;
                    }

                    .position-column {
                        width: 185px;
                        color: #545454;
                    }
                }

                .followers-container {
                    width: 100%;
                    min-height: 264px;

                    .follower-row {
                        display: flex;
                        padding: 0;
                        border-bottom: 1px solid #efefef;
                        height: 44px;

                        .follower-image {
                            width: 60px;
                        }

                        .follower-name {
                            width: 160px;
                            color: @main-brown;
                            font-size: 14px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            padding: 14px 0;
                            padding-right: 5px;
                            cursor: default;
                        }

                        .follower-position {
                            width: 185px;
                            word-wrap: break-word;
                            color: @main-brown;
                            font-size: 14px;
                            padding: 14px 0;
                            padding-right: 5px;
                            cursor: default;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }

                        .user-photo-btn {
                            padding: 9px 0;
                            padding-left: 10px;
                            background: none;

                            .user-photo-img {
                                max-width: 100%;
                                max-height: 100%;
                                border-radius: 50%;
                                height: 25px;
                                width: 25px;
                            }
                        }
                    }
                }
            }
        }

        .followers-footer {
            margin-top: 10px;
            background-color: #fff;
            height: 30px;
            border-radius: 4px;

            .view-block {
                display: inline-block;

                .eyes {
                    display: inline-block;
                    background-image: data-uri("@{notification-img-url}/ViewEye_Icon.svg");
                    width: 20px;
                    height: 20px;
                    margin-left: 20px;
                    margin-bottom: 5px;
                    margin-top: 5px;
                }

                .count-block {
                    display: inline-block;
                    vertical-align: middle;
                    text-align: center;
                    padding-left: 20px;
                    padding-bottom: 20px;

                    a {
                        padding-right: 20px;

                        .counter {
                            font-size: 12px;
                            font-weight: bold;
                            display: inline-block;
                            color: #464646;

                            &.active {
                                font-weight: bold;
                                border-bottom: 2px solid #464646;
                            }
                        }
                    }
                }
            }

            .pagination-block {
                display: inline-block;
                float: right;
                margin-top: 5px;
                width: 120px;
                text-align: center;

                .pagination-pages {
                    display: inline;
                    position: relative;

                    .page {
                        color: #464646;
                        font-size: 12px;
                        display: inline-block;
                        width: 50px;

                        .current-page {
                            display: inline-block;
                            width: 5px;
                        }

                        .total-page {
                            display: inline-block;
                            width: 5px;
                        }
                    }

                    .first-page {
                        display: inline-block;
                        width: 9px;
                        height: 8px;
                        padding: 0;
                        border: none;
                        background: none;
                        background-repeat: no-repeat;
                        background-image: data-uri("@{main-url-img}/arrow_left2.svg");
                        margin-right: 5px;

                        &:hover {
                            opacity: 0.7;
                        }
                    }

                    .prev-page {
                        display: inline-block;
                        width: 5px;
                        height: 8px;
                        padding: 0;
                        border: none;
                        background: none;
                        background-repeat: no-repeat;
                        background-image: data-uri("@{main-url-img}/arrow_left1.svg");

                        &:hover {
                            opacity: 0.7;
                        }
                    }

                    .next-page {
                        display: inline-block;
                        width: 5px;
                        height: 8px;
                        padding: 0;
                        border: none;
                        background: none;
                        background-repeat: no-repeat;
                        background-image: data-uri("@{main-url-img}/arrow_right1.svg");

                        &:hover {
                            opacity: 0.7;
                        }
                    }

                    .last-page {
                        display: inline-block;
                        width: 9px;
                        height: 8px;
                        padding: 0;
                        border: none;
                        background: none;
                        background-repeat: no-repeat;
                        background-image: data-uri("@{main-url-img}/arrow_right2.svg");
                        margin-left: 5px;

                        &:hover {
                            opacity: 0.7;
                        }
                    }

                    .inactive {
                        opacity: 0.7;
                        cursor: default;
                        pointer-events: none;
                    }
                }
            }
        }
    }

    .empty-project-followers-label {
        text-align: center;
        padding-top: 140px;
    }
}
