.projects-panel {
    font-family: 'Proxima-Nova-Regular';
    margin-top: 50px;

    .panel-heading {
        .project-create-btn {
            span::before {
                background-image: data-uri("@{main-url-img}/plus-icon-blue.svg");
            }
        }
    }

    .panel-body {
        padding: 35px;
    }

    .empty-project-panel-label {
        text-align: center;
    }

    .projects-swiper {
        width: 100%;
        height: 180px;

        .swiper-wrapper {
            .swiper-slide {
                background-color: #efefef;
                border-radius: 5px;
                color: black;

                .active-project {
                    border: 3px solid black;
                    height: 100% !important;
                    border-radius: 5px !important;
                }

                .inactive-project {
                    border: 3px solid rgba(69, 69, 69, 0.50);
                    height: 100% !important;
                    border-radius: 5px !important;

                    .project-status {
                        span {
                            background: #b3b3b3 !important;
                        }
                    }

                    .project-image {
                        opacity: 0.4;
                    }
                }

                .project-status {
                    span {
                        width: 20px;
                        height: 20px;
                        background: #009e1d;
                        top: 10px;
                        border-radius: 50px;
                        display: table-caption;
                        position: absolute;
                        right: 10px;
                    }
                }

                .project-image {
                    padding-top: 20px;
                    text-align: center;

                    .img-circle {
                        width: 100px;
                        height: 100px;
                    }
                }

                .project-name {
                    text-align: center;
                    padding-top: 10px;
                    font-size: 15px;
                    font-weight: normal;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden !important;
                    text-overflow: ellipsis !important;
                }

                .full-slide {
                    height: 100%;
                    background: white;
                    font-family: 'Proxima-Nova-Regular';

                    .close-full-slide {
                        position: absolute !important;
                        right: 12px !important;
                        top: 6px !important;
                        font-size: 30px !important;
                        color: black !important;
                        opacity: 0.5 !important;
                    }

                    .table-container {
                        display: table;
                        height: 100%;
                        width: 100%;
                        padding: 0px;
                    }

                    .table-container .table-row {
                        height: 100%;
                        display: table-row;
                    }

                    .table-container .table-row .table-col {
                        display: table-cell;
                        float: none;
                        vertical-align: top;
                    }

                    .project-image-block {
                        background: #f0f0f0;
                        padding-top: 12px;
                    }

                    .description-row {
                        padding-top: 15px !important;
                    }

                    .project-description {
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;
                        overflow: hidden !important;
                        text-overflow: ellipsis !important;
                    }

                    .project-name {
                        float: left !important;
                        padding-top: 20px !important;
                        font-size: 16px !important;
                        overflow: hidden !important;
                        text-overflow: ellipsis !important;
                        display: -webkit-box;
                    }

                    .project-information-row {
                        padding-top: 60px;
                        padding-left: 10px;
                    }

                    .creator-label, .created-label, .status-label, .pm-label {
                        padding-left: 5px !important;
                        font-weight: normal;
                        font-size: 14px;
                    }

                    .created-by-block, .pm-block {
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden !important;
                        text-overflow: ellipsis !important;
                    }

                    .status-flag {
                        width: 15px;
                        height: 15px;
                        background: green;
                        display: inline-block;
                        border-radius: 50%;
                        margin-bottom: -2px;
                    }

                    .inactive-project {
                        .status-flag {
                            background: #b3b3b3 !important;
                        }

                        .project-image-block {
                            .img-circle {
                                opacity: 0.4 !important;
                            }
                        }
                    }

                    @media (max-width: 767px) {
                        .project-name {
                            padding-top: 70px !important;
                        }
                    }
                }
            }
        }
    }

    .projects-swiper-prev {
        position: absolute;
        width: 13px;
        height: 13px;
        background-image: data-uri("@{main-url-img}/arrow_left.svg");
        left: 10px;
        top: 125px;
        cursor: pointer;
    }

    .projects-swiper-next {
        position: absolute;
        width: 13px;
        height: 13px;
        background-image: data-uri("@{main-url-img}/arrow_right.svg");
        right: 10px;
        top: 125px;
        cursor: pointer;
    }

    .swiper-button-disabled {
        opacity: 0.75;
        cursor: default;
    }
}
