﻿@model MyTeamRotationViewModel

@{
    Layout = "~/Views/Shared/Layouts/Main/Authorized_Layout.cshtml";
}

@if (Model.IsViewMode)
{
    @Html.Partial("~/Views/Rotation/Shared/_ViewModePanel.cshtml", Model.OwnerName)
}
@if (!Model.TeamRotations.Any())
{
    <div class="panel panel-default text-center margin-top-20">
        <div class="panel-body">
            <strong>You have no team members at present!</strong>
        </div>
    </div>
}
else
{
    <div class="container-team my-team">
        <div class="row panels-block">
            @foreach (var item in Model.TeamRotations)
            {
                @Html.Partial("~/Views/MyTeam/_TeamRotationControl.cshtml", item)
            }
        </div>
        @if (Model.TeamRotations.TotalItemCount > 9)
        {
            <div class="footer-block">
                <div class="view-block">
                    <div class="eyes"></div>
                    <div class="count-block">
                        <a href="@Url.Action("Index", "TeamRotations", new { pageSize = 9 })"><div class="counter @(Model.TeamRotations.PageSize == 9 ? "active" : "" )">9</div></a>
                        <a href="@Url.Action("Index", "TeamRotations", new { pageSize = 18 })"><div class="counter @(Model.TeamRotations.PageSize == 18 ? "active" : "" )">18</div></a>
                        <a href="@Url.Action("Index", "TeamRotations", new { pageSize = Model.TeamRotations.TotalItemCount > 18 ? Model.TeamRotations.TotalItemCount : 19 })"><div class="counter @(Model.TeamRotations.PageSize > 18 ? "active" : string.Empty)">All</div></a>
                    </div>
                </div>
                <div class="pagination-block">
                    <div class="pagination-pages">
                        @Html.Pager(Model.TeamRotations.PageSize, Model.TeamRotations.PageNumber, Model.TeamRotations.TotalItemCount).Options(o => o
                            .DisplayTemplate("BootstrapPagination")
                            .MaxNrOfPages(1)
                            .DisplayFirstAndLastPage())
                    </div>
                </div>
            </div>
        }
    </div>
    <script>
        $(document).ready(function () {
            $('.rotation-dlg').on('click', function () {
                var rotationId = $(this).prop('id');
                var formDialog = Relay.FormDialog({
                    url: "/Rotations/EditRotationDialog?RotationId=" + rotationId,
                    method: "GET",
                    dialogId: "editRotationFormDialog"
                });

                formDialog.setCloseEvent(function () {
                    location.reload();
                });

                formDialog.open();
            });
            $(".tooltipster").tooltipster({
                debug: false
            });
        });
    </script>
}