﻿@model IndodrillReport.BLL.ViewModels.ReportCompanyInformation

<div class="about-company">
    <div class="row no-margin">
        <div class="company-logo">
            @if (Model.LogoId != null)
            {
                <img src="/Indodrill/File/Image?Id=@(Model.LogoId)"
                     class="logo">
            }
            else
            {
                <div class="no-logo">No image</div>
            }
        </div>
    </div>
    <div class="row no-margin">
        <div class="company-info">
            <div class="company-name">@Model.Name</div>
            <div class="company-address">
                @Html.Raw(Model.Address)
            </div>
            <div class="company-phone">Tel: @Model.Phone</div>
            <div class="company-email">E-mail: @Model.Email</div>
            <div class="company-site">Web: @Model.Site</div>
        </div>
    </div>
</div>