﻿@model IndodrillReport.BLL.ViewModels.ReportFieldsViewModel

<div id="reportFields" class="report-fields">
    <div class="row">
        <div class="col-lg-10 text-center">
            <div class="report-name">DAILY DRILLING REPORT</div>
        </div>
        <div class="col-lg-2 text-right">
            @if (!string.IsNullOrEmpty(Model.ReportNumber))
            {
                <div class="report-number">No. @Model.ReportNumber</div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="row no-margin">
                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-top-35">
                    <div class="client-block field-container">
                        @Html.LabelFor(m => m.ClientId, new { @class = "title-select" })
                        @Html.DropDownListFor(m => m.ClientId, Model.Clients, new { @title= "Select Client", @class = "select-list" })
                    </div>
                </div>
                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-top-35">
                    <div class="location-block field-container">
                        @Html.LabelFor(m => m.LocationId, new { @class = "title-select" })
                        @Html.DropDownListFor(m => m.LocationId, Model.Locations, new { @title = "Select Location", @class = "select-list" })
                    </div>
                </div>
                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-top-35">
                    <div class="week-date-ds-block field-container">
                        @Html.LabelFor(m => m.WeekToDateDS, new { @class = "title-select" })
                        @Html.TextBoxFor(m => m.WeekToDateDS, new { placeholder = "Enter value", @class = "simple-input", type = "text" })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="row no-margin">
                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-top-10">
                    <div class="date-block field-container">
                        @Html.LabelFor(m => m.Date, new { @class = "title-select" })
                        @Html.TextBox("Date", Model.Date.CalendarFormatWidthYear(), new { placeholder = "Enter date", @class = "simple-input" })
                    </div>
                </div>
                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-top-10">
                    <div class="shift-block field-container">
                        @Html.LabelFor(m => m.Shift, new { @class = "title-select" })
                        @Html.DropDownListFor(m => m.Shift, Model.ShiftTypes, new { @title = "Select Shift", @class = "select-list" })
                    </div>
                </div>
                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-top-10">
                    <div class="week-date-ns-block field-container">
                        @Html.LabelFor(m => m.WeekToDateNS, new { @class = "title-select" })
                        @Html.TextBoxFor(m => m.WeekToDateNS, new { placeholder = "Enter value", @class = "simple-input", type = "text" })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="row no-margin">
                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-top-10">
                    <div class="driller-block field-container">
                        @Html.LabelFor(m => m.DrillerId, new { @class = "title-select" })
                        @Html.DropDownListFor(m => m.DrillerId, Model.Drillers, new { @title = "Select Driller", @class = "select-list" })
                    </div>
                </div>
                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-top-10">
                    <div class="drill-rig-block field-container">
                        @Html.LabelFor(m => m.DrillRigId, new { @class = "title-select" })
                        @Html.DropDownListFor(m => m.DrillRigId, Model.DrillRigs, new { @title = "Select Drill Rig", @class = "select-list" })
                    </div>
                </div>
                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-top-10">
                    <div class="week-date-combines-block field-container">
                        @Html.LabelFor(m => m.WeekToDateCombined, new { @class = "title-select" })
                        @Html.TextBoxFor(m => m.WeekToDateCombined, new { placeholder = "Enter value", @class = "simple-input", type = "text" })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="row no-margin">
                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-top-10">
                    <div class="hole-id-block field-container">
                        @Html.LabelFor(m => m.Hole_I_D, new { @class = "title-select" })
                        @Html.TextBoxFor(m => m.Hole_I_D, new { placeholder = "Enter Hole I.D", @class = "simple-input", type = "text", maxlength = "30" })
                    </div>
                </div>
                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-top-10">
                    <div class="angle-block field-container">
                        @Html.LabelFor(m => m.Angle, new { @class = "title-select" })
                        @Html.TextBoxFor(m => m.Angle, new { placeholder = "Enter value", @class = "simple-input", type = "text", maxlength = "30" })
                    </div>
                </div>
                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-top-10">
                    <div class="driller-assistant-block field-container">
                        @Html.LabelFor(m => m.DrillersAssistant, new { @class = "title-select" })
                        @Html.TextBoxFor(m => m.DrillersAssistant, new { placeholder = "Enter name", @class = "simple-input", type = "text", maxlength = "30" })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="row no-margin">
                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-top-10">
                    <div class="last-bit-change-block field-container">
                        @Html.LabelFor(m => m.LastBitChange, new { @class = "title-select" })
                        @Html.TextBoxFor(m => m.LastBitChange, new { placeholder = "Enter value", @class = "simple-input", type = "text", maxlength = "6" })
                    </div>
                </div>
                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-top-10">
                    <div class="bit-mtd-block field-container">
                        @Html.LabelFor(m => m.BitMTD, new { @class = "title-select" })
                        @Html.TextBoxFor(m => m.BitMTD, new { placeholder = "Enter name", @class = "simple-input", type = "text", maxlength = "6" })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="row no-margin">
                <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-10">
                    <div class="tags-input-container helpers-block">
                        @Html.LabelFor(m => m.Helpers, new { @class = "title-select" })
                        @Html.HiddenFor(m => m.Helpers)
                        <div class="ms-ctn form-control ms-ctn-focus helpers-input"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
