.safety-archive-v2-page {
    .page-content {
        padding-top: 50px;

        .safety-message-table {
            overflow-x: auto;

            .table tbody tr td:last-child, .table tbody tr td:first-child {
                padding: 0px;
            }

            .col {
                min-width: 100px;
            }

            .action-col {
                padding: 14px !important;
            }

            .message-col {
                min-width: 390px;
                max-width: 700px;
                padding-left: 20px !important;
                padding-top: 10px !important;
                padding-bottom: 10px !important;
            }

            .table-header {
                background-color: white;
                padding: 10px;
                font-size: 12px;
                font-weight: 800;
                color: #454545;
            }

            .table-content {
                .spacer-row {
                    height: 5px;
                }

                .safety-message-row {
                    background-color: white;

                    td {
                        vertical-align: middle;
                    }
                    .btn-reschedule {
                        width: 35px;
                        height: 35px;
                        display: inline-block;
                        background-repeat: no-repeat;
                        background-color: white;
                        background-position: center;
                        background-image: data-uri("@{main-url-img}/RescheduleIcon.svg");
                    }

                    .safety-message {
                        .truncate-text(1.2em, 2);
                        font-size: 14px;
                    }

                    .major-hazard-name {
                        font-weight: bold;
                    }

                    .stat-counter {
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        border-radius: 30px;
                        background-color: #454545;
                        color: white;
                        text-align: center;
                        font-size: 14px;

                        &.active {
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }

                    .message-date {
                        font-size: 14px;
                    }
                }

                .pagination-block {
                    background-color: white;
                }
            }
        }

        .pagination-block {
            margin-top: 25px;
            text-align: center;
            margin-bottom: 25px;

            .pagination-pages {
                display: inline;
                position: relative;

                .page {
                    color: @main-brown;
                }

                .first-page {
                    position: absolute;
                    top: 4px;
                    left: -55px;
                    width: 9px;
                    height: 8px;
                    padding: 0;
                    border: none;
                    background: none;
                    background-repeat: no-repeat;
                    background-image: data-uri("@{main-url-img}/arrow_left2.svg");

                    &:hover {
                        opacity: 0.7;
                    }
                }

                .prev-page {
                    position: absolute;
                    top: 4px;
                    left: -30px;
                    width: 5px;
                    height: 8px;
                    padding: 0;
                    border: none;
                    background: none;
                    background-repeat: no-repeat;
                    background-image: data-uri("@{main-url-img}/arrow_left1.svg");

                    &:hover {
                        opacity: 0.7;
                    }
                }

                .next-page {
                    position: absolute;
                    top: 4px;
                    right: -30px;
                    width: 5px;
                    height: 8px;
                    padding: 0;
                    border: none;
                    background: none;
                    background-repeat: no-repeat;
                    background-image: data-uri("@{main-url-img}/arrow_right1.svg");

                    &:hover {
                        opacity: 0.7;
                    }
                }

                .last-page {
                    position: absolute;
                    top: 4px;
                    right: -55px;
                    width: 9px;
                    height: 8px;
                    padding: 0;
                    border: none;
                    background: none;
                    background-repeat: no-repeat;
                    background-image: data-uri("@{main-url-img}/arrow_right2.svg");

                    &:hover {
                        opacity: 0.7;
                    }
                }

                .inactive {
                    opacity: 0.7;
                    cursor: default;
                }
            }
        }
    }
}
