#shiftReportBuilderPanel {
    .panel-heading {
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;

        .panel-title {
            left: 10px !important;
        }

        .btn-circle {
            display: inline-block;
            width: 27px;
            height: 27px;
            top: 0;

            &:hover {
                opacity: 0.75;
            }

            .span {
                top: 0;
                width: 100%;
                height: 100%;

                &:before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    display: block;
                }
            }
        }

        .plus-btn {

            .span {
                &:before {
                    background-image: data-uri("@{main-url-img}/plus-icon-blue.svg");
                }
            }
        }

        .filter-btn {
            margin-right: 3px;

            .span {
                &:before {
                    background-image: data-uri("@{main-url-img}/filter-icon.svg");
                }
            }
        }

        .finish-shift-btn {
            margin-right: 4px;

            .span {
                &:before {
                    background-image: data-uri("@{main-url-img}/finish-shift-icon.svg");
                }
            }
        }

        .document-btn {
            .span {
                &:before {
                    background-image: data-uri("@{main-url-img}/document-icon-blue.svg");
                }
            }
        }


        .qme-pdf-report {
            .span {
                &:before {
                    background-image: data-uri("@{main-url-img}/qme_report_icon_blue.svg");
                }
            }
        }

        .btn-link {
            color: @simple-white;
            padding: 0;

            .glyphicon-list {
                margin: 20px 5px;

                &:before {
                    content: "";
                    background-image: data-uri("@{main-url-img}/menu_hamburger.svg");
                    width: 20px;
                    height: 15px;
                    display: block;
                    margin-top: 5px;
                }
            }
        }
    }

    .main-panel {
        .left-block {

            .date-block {
                margin-left: 10px;
                color: #fff;
                font-size: 12px;
                font-weight: bold;
                display: inline-block;
                overflow: hidden;
                word-wrap: normal;
                max-width: 125px;
                min-width: initial;
                white-space: nowrap;
                text-overflow: ellipsis;
                letter-spacing: 1px;
            }

            span {
                margin-left: 15px;
                border-right: solid #fff 2px;
                width: 0px;
                height: 20px;
                margin-left: 15px;
                display: inline-block;
            }

            .name-block {
                color: #fff;
                font-size: 12px;
                font-weight: bold;
                display: inline-block;
                letter-spacing: 0;
                margin-left: 10px;
                overflow: hidden;
                word-wrap: normal;
                max-width: 130px;
                min-width: initial;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .pencil-block {
                width: 16px;
                height: 16px;
                background-image: data-uri("@{main-url-img}/penciI-dark.svg");
                cursor: pointer;
                margin-top: 5px;
                margin-left: 10px;
            }

            .share-report-block {
                margin-left: 10px;

                .share-report-icon-inactive {
                    border: 1.5px solid #787878;
                    border-radius: 50%;
                    width: 25px;
                    height: 25px;
                    cursor: pointer;
                    background-image: data-uri("@{main-url-img}/share_report_icon.svg");

                    .count {
                        display: none;
                    }
                }

                .share-report-icon-active {
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    cursor: pointer;
                    background-image: data-uri("@{main-url-img}/share_report_icon_green.svg");
                    display: block;

                    .count {
                        padding-left: 1px;
                        text-align: center;
                        height: 15px;
                        width: 15px;
                        display: block;
                        color: #fff;
                        font-size: 10px;
                        position: absolute;
                        letter-spacing: 1px;
                        font-weight: bold;
                        background-color: #F29105;
                        border-radius: 50%;
                        margin-left: 17px;
                        margin-top: -3px;
                    }
                }
            }
        }

        .nav-pills {
            li {
                a {
                    padding-top: 13px;
                    color: #fff;
                    font-size: 12px;
                    font-weight: bold;
                    width: 85px;
                    height: 25px;
                    background-color: #525252;
                    border-radius: 15px;

                    &.active {
                        background-color: #00AFF0;
                        border-radius: 15px;

                        &:hover, &:active, &:focus, &:visited {
                            color: #fff;
                        }
                    }
                }

                &.active {
                    a {
                        background-color: #00AFF0;
                    }
                }
            }
        }

        .btn-custom {
            padding: 3px 17px;
            border: 1.5px solid #525252;
            background-color: #525252;
            border-radius: 15px;
            color: #fff;
            font-size: 12px;
            font-weight: bold;
            margin: 0 10px 0 10px;
        }

        button.active {
            border: 1.5px solid @main-blue;

            @media @media767 {
                float: initial !important;
                margin: 0 auto;
                display: block;
            }
        }

        .user-photo-btn {
            padding: 0;
            background: none;

            .user-photo-img {
                max-width: 100%;
                max-height: 100%;
                border-radius: 50%;
                height: 25px;
                width: 25px;
            }
        }

        .navbar-brown .row {
            div {
                text-align: center;

                &:first-child {
                    text-align: left;
                }

                &:last-child {
                    text-align: right;
                }
            }
        }
    }
}
