﻿.daily-notes {

    .rotation-page-swiper {
        width: 100%;
        height: 130px;

        .swiper-wrapper {
            .swiper-slide {
                background-color: #464646;
                border-radius: 5px;

                .edit-daily-note {
                    a {
                        width: 100%;
                        height: 100%;
                        text-decoration: none;
                        display: block;
                    }

                    .slide-title {
                        text-align: center;
                        padding-top: 7px;

                        span {
                            font-size: 12px;
                            font-weight: bold;
                            color: #fff;
                        }
                    }

                    .circle {
                        width: 50px;
                        height: 50px;
                        margin: 9px auto;
                        border-radius: 50%;
                    }

                    .circle-white {
                        background-color: #fff;
                        background-image: data-uri("@{main-url-img}/daily-notes-blue.svg");
                    }

                    .circle-grey {
                        background-color: #b4b4b4;
                        background-image: data-uri("@{main-url-img}/daily-notes-gray.svg");
                    }

                    .cursor-pointer {
                        cursor: pointer;
                    }
                }

                .actions-block {
                    margin-top: 15px;
                    display: flex;

                    .inner-block {
                        width: 33%;
                        text-align: right;
                        padding-right: 7px;
                    }

                    span {
                        position: relative;
                        color: #fff;
                        font-size: 10px;
                    }

                    .ok-active:before {
                        position: absolute;
                        content: "";
                        background-image: data-uri("@{main-url-img}/ok_active.svg");
                        width: 18px;
                        height: 18px;
                        left: -22px;
                    }

                    .ok-inactive:before {
                        position: absolute;
                        content: "";
                        background-image: data-uri("@{main-url-img}/ok_inactive.svg");
                        width: 18px;
                        height: 18px;
                        left: -22px;
                    }

                    .clip-active:before {
                        position: absolute;
                        content: "";
                        background-image: data-uri("@{main-url-img}/clip_active.svg");
                        width: 16px;
                        height: 18px;
                        left: -22px;
                    }

                    .clip-inactive:before {
                        position: absolute;
                        content: "";
                        background-image: data-uri("@{main-url-img}/clip_inactive.svg");
                        width: 16px;
                        height: 18px;
                        left: -22px;
                    }

                    .sound-active:before {
                        position: absolute;
                        content: "";
                        background-image: data-uri("@{main-url-img}/sound_active.svg");
                        width: 18px;
                        height: 16px;
                        left: -22px;
                    }

                    .sound-inactive:before {
                        position: absolute;
                        content: "";
                        background-image: data-uri("@{main-url-img}/sound_inactive.svg");
                        width: 18px;
                        height: 16px;
                        left: -22px;
                    }

                    .arrows-active:before {
                        position: absolute;
                        content: "";
                        background-image: data-uri("@{main-url-img}/arrows_active.svg");
                        width: 14px;
                        height: 16px;
                        left: -22px;
                    }

                    .arrows-inactive:before {
                        position: absolute;
                        content: "";
                        background-image: data-uri("@{main-url-img}/arrows_inactive.svg");
                        width: 14px;
                        height: 16px;
                        left: -22px;
                    }
                }
            }

            .today {
                .safety-item {
                    border-radius: 0px !important;
                    height: 100%;
                }

                .slide-title {
                    padding-top: 3px !important;
                    text-decoration: none !important;

                    &:hover {
                        text-decoration: none !important;
                    }
                }
            }

            .show-safety-message {
                text-decoration: none !important;
                font-weight: bold;

                a:hover, a:focus {
                    text-decoration: none !important;
                }
            }


            .safety-item {
                background-color: #f29105;
                text-align: center;
                border-radius: 5px;
                height: 100%;
                text-decoration: none !important;

                .show-safety-message {
                    .slide-title {
                        padding-top: 5px;
                        color: white;
                        text-decoration: none !important;

                        span a:hover {
                            color: #FFFFFF;
                            text-decoration: none !important;
                        }
                    }
                }

                .safety-item :hover {
                    text-decoration: none !important;
                }



                .today {
                    padding: 4px 4px 4px 4px;
                }

                .main-picture {
                    width: 85px;
                    height: 85px;
                    margin: 9px auto;
                }

                .many-messages {
                    background-image: data-uri("@{main-url-img}/bgd.svg");
                    width: 85px;
                    height: 85px;
                    margin: 9px auto;
                    background-position: center;
                    background-repeat: no-repeat;
                    font-size: 37px;
                    color: #ffffff;

                    & span {
                        display: block;
                        padding-top: 15px;
                    }
                }
            }
        }

        .today {
            border: 4px solid #00aff0 !important;
        }

        .long-slide {
            width: 465px !important;
        }

        .daily-notes-safe-trip {
            width: 70px;
            height: 70px;
            margin: 9px auto;
            margin-top: 20px;
            margin-left: 40px;
            background-repeat: no-repeat;
            background-image: data-uri("@{main-url-img}/daily-notes-safe-trip.svg");
        }
    }

    .rotation-page-swiper-next {
        position: absolute;
        width: 13px;
        height: 13px;
        background-image: data-uri("@{main-url-img}/arrow_right.svg");
        right: 10px;
        top: 69px;
        cursor: pointer;
    }

    .rotation-page-swiper-prev {
        position: absolute;
        width: 13px;
        height: 13px;
        background-image: data-uri("@{main-url-img}/arrow_left.svg");
        left: 10px;
        top: 69px;
        cursor: pointer;
    }

    .swiper-button-disabled {
        opacity: 0.75;
        cursor: default;
    }
}
