﻿.user-view-block {
    .title {
        display: inline;
        font-size: 16px;
        font-weight: bold;
        color: #464646;
    }

    .exit-rotation-btn, .text {
        border: none;
        background: none;
        color: #b4b4b4;
        font-weight: bold;
    }

    .exit-rotation-btn {
        cursor: pointer;
        cursor: hand;
    }
}