﻿@model TopicSearchDateRangeType

<div id="dateRangeFilterBar"></div>

@Model.ToString()

<script>
    $(function ()
    {
        var component = $('#dateRangeFilterBar').magicSuggest({
            valueField: 'Name',
            displayField: 'Name',
            cls: 'dateRangeFilterBar',
            maxSelection: 1,
            typeDelay: 100,
            allowFreeEntries: false,
            hideTrigger: true,
            toggleOnClick: true,
            placeholder: 'Date Range',
            data: '@Url.Action("DateRangeFilterBarItems", "TopicSearch")',
            value: ['@Html.Raw(Model)']
        });

        $(component).on('selectionchange', function ()
        {
            var selectedDateRangeFilter = this.getValue();

            var urlParams = window.Relay.TopicSearch.getAllUrlParams();

            urlParams.daterangefilter = selectedDateRangeFilter;

            window.Relay.TopicSearch.updateURL($.param(urlParams));


            @*var modelArray = [@Html.Raw(Model.GetValues())];

            if (!_.isEqual(modelArray.sort(), selectedIds.sort()))
            {
                delete urlParams.pagesize;

                delete urlParams.pagenumber;

                window.Relay.TopicSearch.updateURL($.param(urlParams));

                location.reload();
            }*@
        });

    });
</script>