﻿@model IEnumerable<Guid?>

<div id="topicGroupFilterBar"></div>

<script>
    $(function ()
    {
        var component = $('#topicGroupFilterBar').magicSuggest({
            valueField: 'Id',
            displayField: 'Name',
            cls: 'topicGroupFilterBar',
            maxSelection: 5,
            typeDelay: 100,
            allowFreeEntries: false,
            hideTrigger: false,
            toggleOnClick: true,
            placeholder: 'Handover Topic',
            data: '@Url.Action("TopicGroupFilterBarItems", "TopicSearch")',
            value: [@Html.Raw(Model.GetValues())]
        });

        $(component).on('selectionchange', function ()
        {   
            var selectedIds = this.getValue();

            var urlParams = window.Relay.TopicSearch.getAllUrlParams();

            urlParams.selectedtopicgroupsids = selectedIds;

            window.Relay.TopicSearch.updateURL($.param(urlParams));

            var modelArray = [@Html.Raw(Model.GetValues())];

            if (!_.isEqual(modelArray.sort(), selectedIds.sort()))
            {
                delete urlParams.pagesize;

                delete urlParams.pagenumber;

                window.Relay.TopicSearch.updateURL($.param(urlParams));

                location.reload();
            }
        });

    });
</script>