﻿@model TopicSearchViewModel
@{
    Layout = "~/Views/Shared/Layouts/Main/Authorized_Layout.cshtml";
}

<div class="topic-report-container" id="topicSearch">
    @Html.HiddenFor(m => m.PrintType)
    <div class="row padding-top-20">
        <div class="@(Model.SelectedTopicGroupsIds.Any() ? "col-md-10" : "col-md-12")">
            @Html.Partial("~/Views/Reports/TopicSearch/_TopicGroupFilterBar.cshtml", Model.SelectedTopicGroupsIds)
        </div>
        @if (Model.SelectedTopicGroupsIds.Any())
        {
            <div class="col-md-2">
                <button class="btn btn-save-pdf btn-default">Save PDF</button>
                @*<a href="@Html.ActionLinkWithModel("TopicSearchReportPdf", "TopicSearch", Model)" class="btn btn-save-pdf btn-default" target="_blank">Save PDF</a>*@
            </div>
        }
    </div>
    @if (Model.SelectedTopicGroupsIds.Any())
    {
        <div class="row padding-top-20">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="radio-btn-group">
                            @Html.Label("Print Options", new { @class = "title-select" })
                            <label class="radio-btn">
                                @Html.RadioButtonFor(m => m.PrintType, TopicSearchPrintType.portrait, new { @class = "print-radio" })
                                <span class="radio-label">Portrait</span>
                            </label>
                            <label class="radio-btn">
                                @Html.RadioButtonFor(m => m.PrintType, TopicSearchPrintType.landscape, new { @class = "print-radio" })
                                <span class="radio-label">Landscape</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @Html.Action("SearchTopics", "TopicSearch", Model)

</div>

@section Scripts
{
    <script src="~/Content/js/relay/reports/topic-search/topic-search.module.js"></script>

    <script>
        $(".print-radio").change(function ()
        {
            $('#PrintType').val($(this).val());

            var urlParams = window.Relay.TopicSearch.getAllUrlParams();

            urlParams.printtype = $(this).val();

            window.Relay.TopicSearch.updateURL($.param(urlParams));
        });

        $(".btn-save-pdf").click(function ()
        {
            var urlParams = window.Relay.TopicSearch.getAllUrlParams();

            var pdfUrl = '/TopicSearch/TopicSearchReportPdf/?' + $.param(urlParams);

            window.open(pdfUrl, '_blank');
        });
    </script>
}