.reset-password-page {
    height: 100%;
    width: 100%;

    .title-block {
        padding-top: 50px;
        font-size: 35px;
        color: white;
        padding-bottom: 40px;
    }


    .change-indicator {
        background-image: url("@{main-url-img}/change-blue.png");
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        height: 58px;
        width: 58px;
        margin: 0 auto;
        position: relative;
        bottom: 28px;

        &.valid {
            background-image: url("@{main-url-img}/change-orange.png") !important;
        }
    }


    .form-block {
        width: 380px;
        min-height: 300px;
        background: white;
        display: inline-block;
        border-radius: 6px;

        form {
            height: 100%;
            padding: 60px;

            .field-validation-error span {
                font-size: 14px !important;
            }


            .login-error {
                font-size: 14px;
                margin-bottom: 15px;
                margin-top: -30px;
                display: block;
                width: 320px;
                margin-left: -35px;
            }

            .password-validation {
                display: block;
                height: 50px;
                width: 380px;
                margin-left: -60px;
            }

            .form-group {
                margin: 0px;

                .form-control {
                    color: black;
                    text-align: center;
                    border: none;
                    background: none;
                    font-size: 16px;
                    box-shadow: none;
                    border-radius: 20px;
                    .placeholder(#525353);
                    padding: 0px;
                    height: 20px;
                }
            }

            .blue-line {
                height: 2px;
                background-color: #7fd6f6;
            }

            .btn-send {
                width: 120px;
                display: inline-block;
                font-size: 14px;
                font-weight: bold;
                text-transform: uppercase;
                margin: 0px;
                color: #ffffff;
                background: #035a7a;
                box-shadow: 0px 2px 0px #034862;
                line-height: 1.2em;
                height: 33px;
            }
        }
    }
}
