.sign-up-multi-tenant-page {
    height: 100%;
    width: 100%;

    .header-buttons {
        .btn-monthly, .btn-annually {
            width: 120px;
            display: inline-block;
            font-size: 14px;
            font-weight: bold;
            margin-left: 10px;
            color: #ffffff;
            background: #0096C8;
            line-height: 1.2em;
            height: 30px;
            margin-top: 15px;
            border-radius: 50px;

            &.active {
                background: #F29105 !important;
            }
        }

        .btn-currency, .btn-basket {
            width: 30px;
            display: inline-block;
            font-size: 14px;
            font-weight: bold;
            margin-left: 10px;
            color: #ffffff;
            background: #0096C8;
            line-height: 1.2em;
            height: 30px;
            margin-top: 15px;
            border-radius: 50px;

            &.active {
                background: #F29105 !important;
            }
        }

        .btn-basket {
            background-image: url("@{main-url-img}/BasketEmpty.svg");
        }

        .currencyDropdown, .basketDropdown {
            display: none;
        }
    }
}
