﻿@model EditCriticalControlViewModel

@*
*
*    safety ver 1
*
*@

@using (Html.BeginForm())
{
    <div class="new-critical-control">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        <div class="title-block-with-line">
            <div class="title-container"><span class="file-input-title">@ViewBag.Title</span></div>
        </div>
        <div class="field-container">
            @Html.LabelFor(model => model.Name, new { @class = "title-select" })
            @Html.TextBoxFor(model => model.Name, new { @class = "simple-input", @placeholder = "Add Name" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="tags-input-container tags-input">
            @Html.LabelFor(model => model.Teams, new { @class = "tags-input-title" })
            <div Id="tags-input" class="ms-ctn form-control ms-ctn-focus"></div>
            @Html.ValidationMessageFor(model => model.Teams)
        </div>
        @Html.HiddenFor(m => m.TeamsString)
        @Html.HiddenFor(m => m.AllTeamsString)
    </div>
}