﻿.ng-scope {
    .btn-circle {
        display: inline-block;
        width: 27px;
        height: 27px;
        top: 0;

        &:hover {
            opacity: 0.75;
        }

        .span {
            top: 0;
            width: 100%;
            height: 100%;

            &:before {
                content: "";
                width: 100%;
                height: 100%;
                display: block;
            }
        }
    }

    .plus-btn {
        .span {
            &:before {
                background-image: data-uri("@{main-url-img}/plus.svg");
            }
        }
    }
}
