﻿@model HandoverReportTaskModuleViewModel

@if (Model.Tasks != null && Model.Tasks.Any())
{
    <div class="module-block">
        <span class="module-title">@Model.Name</span>
        <div class="row no-margin">
            @foreach (var task in Model.Tasks)
            {
                <div class="col-xs-12 no-padding task">
                    @Html.Partial("~/Views/Reports/HandoverReport/_ReportTask.cshtml", task)
                </div>
            }
        </div>
    </div>
}