﻿@model HandoverReportTopicViewModel

@if (Model != null)
{
    <div class="topic-body @(Model.IsNullReport ? "text-grey" : "")">
        <div class="row no-margin">
            <div class="action">
                @if (Model.IsPinned.HasValue)
                {
                    <div class="topic-icon @(Model.IsPinned.Value ? "blue-pin" : "grey-pin")"></div>
                }
                else
                {
                    if (Model.IsNullReport)
                    {
                        <div class="topic-icon null-report"></div>
                    }
                    else
                    {
                        <div class="topic-icon white-pin"></div>
                    }
                }
            </div>
            <div class="body">
                <div class="row first-row">
                    <div class="topic-name">@Model.TopicGroupName</div>
                    <span>|</span>
                    <div class="topic-reference">@Model.Name</div>
                </div>
                <div class="row second-row">
                    <div class="topic-notes">
                        @if (!string.IsNullOrWhiteSpace(Model.Description))
                        {
                            @Html.ConvertTextToHtml(Model.Description)
                        }
                    </div>
                </div>
            </div>
            <div class="information">
                <div class="row no-margin">
                    @if (Model.HasTask)
                    {
                        <div class="has-tasks"></div>
                    }
                </div>
                <div class="row no-margin">
                    <div class="topic-tag">
                        @if (!string.IsNullOrWhiteSpace(Model.Tag))
                        {
                            <div class="tag">@Model.Tag</div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}