﻿@model EditMajorHazardV2ViewModel

<div Id="editMajorHazardV2Dialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static" class="modal fade major-hazard-v2-dialog">
    <div class="modal-dialog">
        <div class="theme">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row vertical-center">
                        <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div Id="modalTitle" class="modal-title">Edit Major Hazard</div>
                        </div>
                        <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                            <button type="submit" class="btn btn-save">Save</button>
                            <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">

                            <div class="row no-margin">
                                <div class="col col-lg-5 col-md-5 col-sm-5 col-xs-5 no-padding major-hazard-owner">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.HiddenFor(m => m.Id)
                                        <div class="select-type">
                                            @Html.LabelFor(m => m.OwnerId, new { @class = "title-select" })
                                            @Html.DropDownListFor(m => m.OwnerId, Model.Owners, "Choose MHO", new { @class = "select-list" })
                                            @Html.ValidationMessageFor(m => m.OwnerId)
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="table-thead row">
                                <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 title">Critical Controls</div>
                                <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 title">CCO</div>
                                <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 title">CCC(s)</div>
                            </div>
                            <div class="critical-controls-table row no-margin">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        @if (Model.CriticalControls.Any())
                                        {
                                            foreach (var criticalControl in Model.CriticalControls)
                                            {
                                                <div Id="@criticalControl.Id" class="row swiper-slide critical-control-item">
                                                    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 critical-control-name overflow">
                                                        <p class="overflow">@criticalControl.Name</p>
                                                    </div>
                                                    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 critical-control-owner">

                                                        <div class="critical-control-owner-name">@criticalControl.OwnerName</div>
                                                    </div>
                                                    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 critical-control-champion">
                                                        @foreach (var champion in criticalControl.Champions)
                                                        {
                                                            <div class="team-fill">@champion</div>
                                                        }
                                                    </div>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="no-critical-controls">No critical controls</div>
                                        }
                                    </div>
                                </div>
                                <div class="swiper-prev"></div>
                                <div class="swiper-next"></div>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12  col-xs-12">
                                        <div Id="form-input-safely" class="btn-plus-white center-block">
                                            <div class="span"></div>
                                        </div>
                                    </div>
                                </div>
                                <div Id="new-safely-popup-safely"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>