﻿@model IEnumerable<MajorHazardV2ViewModel>

@{
    Layout = "~/Views/Shared/Layouts/Main/Authorized_Layout.cshtml";
}

<div class="administration-content">
    <div Id="majorHazardPanel">
        <div class="major-hazard-content row">
            @foreach (var majorHazard in Model)
            {
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                    <div Id="@majorHazard.Id" class="major-hazard-item">
                        <img src="@majorHazard.IconUrl">
                        <div class="major-hazard-name overflow">@majorHazard.Name</div>
                    </div>
                    <div class="major-hazard-owner">
                        <div class="title">MHO</div>
                        <div class="name-field">@majorHazard.OwnerName</div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script src="~/Content/js/relay/safety/v2/dialogs/major-hazard-dialog-v2.module.js"></script>
<script src="~/Content/js/relay/safety/v2/major-hazard-v2.module.js"></script>
