﻿.choose-teammate-dialog {
    .modal-content {
        width: 600px !important;
        height: 100% !important;


        .team-item-container {
            .container-title {
                font-size: 10px;
                display: block;
                color: white;
                padding-bottom: 4px;
            }

            .user-photo {
                display: inline-block;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                border: 2px solid @simple-white;
                background-position: 1px 0;
                margin: 2px;
                overflow: hidden;

                .user-img {
                    min-width: 100%;
                    height: 100%;
                }
            }


            .user-photo-online {
                display: inline-block;
                width: 34px;
                height: 34px;
                border-radius: 50%;
                border: 2px solid transparent;
                opacity: 0.9;
                background-position: 1px 0;
                margin: 2px;
                overflow: hidden;

                .user-img {
                    min-width: 100%;
                    height: 100%;
                }
            }

            .selected-user {
                border: 2px solid #f29105 !important;
            }



            .user-photo-offline {
                display: inline-block;
                width: 34px;
                height: 34px;
                border-radius: 50%;
                border: 2px solid transparent;
                background-position: 1px 0;
                margin: 2px;
                overflow: hidden;

                .user-img {
                    min-width: 100%;
                    height: 100%;
                }
            }
        }

        .assigned-to-small-photo {
            width: 22px;
            height: 22px;
            border: 2px solid #ffffff;
            background-position: 1px 0px;
        }

        .assigned-to-large-photo {
            width: 80px;
            height: 80px;
            border: 2px solid #ffffff;
            background-position: 1px 0px;
        }
    }
}
