﻿@model IndodrillReport.BLL.ViewModels.ReportFieldsViewModel

<div id="reportComments" class="comments-table">
    <div class="table-title">COMMENTS</div>
    <div class="table-body">
        <table class="table">
            <tbody>
            <tr>
                <td class="user-name">Driller</td>
                <td class="comment-body">
                    @Html.TextAreaFor(m => m.DrillerComment, new { @class = "textarea simple-textarea", wrap = "hard", cols = "35", @rows = "3", @maxlength = "300" })
                </td>
            </tr>
            <tr>
                <td class="user-name">Client</td>
                <td class="comment-body">
                    @Html.TextAreaFor(m => m.ClientComment, new { @class = "textarea simple-textarea", wrap = "hard", cols = "35", @rows = "3", @maxlength = "300" })
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>