﻿<li><a id="ddrBtn" href="javascript:void(0)" class="ddr-btn">DDR</a></li>

<script>
    (function () {
        var shiftId = $(".shift-info-container").attr("shift-id");

        function loadReport() {

            var loadingAnimationTimeout = setTimeout(function () {
                $('#loading-animation').show();
            }, 200);

            $.ajax({
                url: "/Report/GetOrCreateReportForShift",
                method: "GET",
                data: {
                    shiftId: shiftId
                }
            })
            .done(function (data) {
                var div = $("#shiftReportBuilderData");
                div.html(data);
                div.children().first().show();
            })
            .fail(function () {
                var errorDialog = Relay.ErrorDialog();
                errorDialog.setCloseEvent(function () {
                    location.reload();
                });
                errorDialog.open();
            })
            .always(function () {
                clearTimeout(loadingAnimationTimeout);
                $('#loading-animation').hide();
            });
        }

        $(document).ready(function () {
            $("#ddrBtn").click(loadReport);

            var hashModel = Relay.UrlHash.getHashModel();

            if (hashModel.ReportsType === "DDR") {
                loadReport();
            }
        });
    })();
</script>