.title-block-with-line {
    margin: 10px 0;
    position: relative;
    border-bottom: 1px solid @main-blue;

    .title-container {
        position: absolute;
        width: 100%;
        text-align: center;
        top: -12px;

        .file-input-title {
            color: @main-blue;
            background-color: @main-brown;
            padding: 3px 10px;
            font-size: 10px;
            color: @main-blue;
        }
    }
}

.fileinput, .fileinput-new {

    &.input-group {
        border-bottom: 1px solid @inactive-name-of-tabs;
        margin-top: -5px;
    }

    .form-control {
        background: none;
        border: none;
        /*border-bottom: 1px solid @inactive-name-of-tabs;*/
        border-radius: 0;
        box-shadow: none;
        color: @simple-white;

        i {
            display: inline-block;
            cursor: pointer;

            &:before {
                content: none;
            }

            span {
                font-family: 'Proxima-Nova-Regular';
                font-size: 16px;
                color: @simple-white;
                letter-spacing: 0.01em;
            }
        }

        span.fileinput-filename {
        }
    }

    span.input-group-addon.btn.btn-default.btn-file {
        background: none;
        border: none;
        border-bottom: 1px solid @inactive-name-of-tabs;
        border-radius: 0;
        background-image: data-uri("@{main-url-img}/upload_inactive.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 13px;

        span.fileinput-new {
        }

        span.fileinput-exists {
        }

        input {
        }
    }
}

.fileinput-exists {
    .form-control {
        i {
            span {
                display: none;
            }
        }
    }
}
