.main-nav-bar {
    position: relative;
    z-index: 2100;

    .nav-bar-blue {
        background-color: @main-blue;

        .nav-bar-container {
            max-width: 1140px;
            margin: 0 auto;

            .logo-container {
                // margin-left: 65px;
                padding: 20px 0;
                height: 60px;
                float: left;
                position: relative;

                @media @media1270 {
                    margin-left: 65px;
                }

                @media @media480 {
                    padding: 10px 0;
                }

                @media @media400 {
                    display: none;
                }

                .logo {
                    background-image: url("@{main-url-img}/logo.svg");
                    background-repeat: no-repeat;
                    top: 1px;
                    left: -13px;
                    width: 116px;
                    height: 60px;
                    display: block;
                    position: absolute;

                    @media @media480 {
                        width: 100px;
                        height: 40px;
                    }
                }
            }

            .user-container {
                float: right;
                padding: 15px 0 0 0;
                position: relative;
                display: inline-block;

                @media @media480 {
                    padding: 7px 10px 0 0;
                }

                .notification-container {
                    display: inline-block;
                    margin-right: 10px;

                    .notification-inactive {
                        width: 30px;
                        height: 30px;
                        background-repeat: no-repeat;
                        background-image: data-uri("@{notification-img-url}/Notifications_Icon_Inactive.svg");
                        cursor: pointer;
                    }

                    .notification-active {
                        width: 30px;
                        height: 30px;
                        background-repeat: no-repeat;
                        background-image: data-uri("@{notification-img-url}/Notifications_Icon_Active.svg");
                        cursor: pointer;

                        &.show {
                            .counter-block {
                                .count {
                                    display: none;
                                }
                            }
                        }

                        .counter-block {
                            position: absolute;
                            left: 21px !important;
                            top: 14px !important;

                            .count {
                                text-align: center;
                                display: block;
                                 padding: 0px; 
                                border-radius: 2px;
                                color: #fff;
                                font-size: 11px;
                                font-weight: bold;
                                background-color: #464646;
                                width: 19px;
                                height: 16px;
                            }
                        }
                    }
                }

                .user-data {
                    padding-right: 3px;
                    position: absolute;
                    right: 45px;
                    top: 8px;

                    span {
                        color: @simple-white;
                        text-align: right;
                        display: block;
                        line-height: 28px;
                        font-family: 'Proxima-Nova-Regular';
                        font-size: 12pt;

                        &:first-child {
                            font-weight: bold;
                            font-size: 14pt;
                        }
                    }
                }

                .user-photo-container {
                    display: inline-block;
                    margin-left: auto;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    overflow: hidden;
                    //background-image: data-uri("@{main-url-img}/safety.svg");
                    background-position: 1px 0;

                    @media @media1270 {
                        margin-right: 25px;
                    }

                    .user-photo {
                        width: 30px;
                        height: 30px;
                        background-position: 1px 0px;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .nav-bar-brown {
        position: relative;
    }
}

#tabs {
    z-index: 2100;
}

.navbar-brown {
    background-color: @main-brown;
    border: none;
    border-radius: 0;
    padding: 10px 0;
    min-height: 40px;
    margin: 0;

    .nav-pills {
        float: none;
        text-align: center;
        line-height: 0;

        li {
            float: none;
            display: inline-block;
            background: none;

            a {
                color: @inactive-name-of-tabs;
                font-weight: bold;

                &:hover {
                    opacity: 0.75;
                    background: none;
                }

                &:focus, &:active {
                    background: none;
                }
                /*&:active {
                    padding-left: 0px;
                    padding-right: 0px;
                    border-bottom: 2px solid white;
                    border-radius: 0px;
                }*/
            }
        }

        .active {
            a {
                color: @simple-white;
                font-weight: bold;
                background: none;
                /*padding-left: 0px;
                padding-right: 0px;
                margin-left: 10px;
                margin-right: 10px;
                border-bottom: 2px solid white;
                border-radius: 0px;*/
                &:hover {
                    color: @simple-white;
                    background: none;
                    cursor: default;
                    opacity: 1;
                }

                &:focus, &:active {
                    color: @simple-white;
                    background: none;
                }
            }
        }

        .white {
            a {
                color: @simple-white;
                font-weight: bold;
                background: none;

                &:hover {
                    color: @simple-white;
                    background: none;
                    cursor: default;
                    opacity: 1;
                }

                &:focus, &:active {
                    color: @simple-white;
                    background: none;
                }
            }
        }
    }
}

.panel {
    .navbar-brown {
        .nav-pills {
            li {
                a {
                    font-weight: initial;
                }
            }

            .active {
                a {
                    font-weight: bold;
                }
            }

            .white {
                a {
                    font-weight: bold;
                }
            }
        }
    }
}

.container {
    .navbar-brown {
        .nav-pills {
            @media @media767 {
                margin: 10px;
            }
        }

        .row {
            div:last-child {
                text-align: right;
                letter-spacing: -0.25em;

                button {
                    width: 100px;
                    padding: 3px 0;
                    display: inline;
                    float: initial !important;
                    letter-spacing: 0.01em;

                    &:first-child {
                        margin: 0;
                    }
                }
            }
        }
    }
}


.btn-link {
    color: @simple-white;
    padding: 0;

    .glyphicon-list {
        margin: 20px 5px;

        &:before {
            content: "";
            background-image: data-uri("@{main-url-img}/menu_hamburger.svg");
            width: 20px;
            height: 15px;
            display: block;
            margin-top: 5px;
        }
    }
}

.main-menu-btn {
    cursor: pointer;
    position: absolute;
    top: -2px;
    left: 20px;

    @media @media480 {
        top: -5px;
    }
}


.margin-top-40 {
    margin-top: 40px;
}


.panel-primary {
    margin-top: 50px;
    border: none;
    border-radius: 6px;

    .panel-heading {
        padding: 8px 10px;
        background-color: @main-blue;
        border: none;
        position: relative;
        min-height: 44px;

        .panel-title {
            position: absolute;
            top: 10px;
            left: 35px;
            font-family: 'Proxima-Nova-Regular';
            font-weight: bold;
        }
    }

    .panel-body {
        padding: 10px 0;
        padding-bottom: 0;
        position: relative;
    }

    .main-panel {
        padding: 0;

        .navbar-brown {
        }
    }

    .grey-panel {
        padding: 0;
    }

    .table-block {
        padding: 0;

        @media @media991 {
            overflow-x: scroll;
        }
    }
}

.daily-notes {
    .panel-body {
        padding: 10px 35px;
    }
}

.timeline {
    .panel-body {
        padding: 10px 35px;
    }
}
