.main-menu {
    position: absolute;
    background-color: @main-brown;
    border-radius: 0 0 5px 5px;
    top: -1021px;
    left: 0px;
    padding: 20px;
    width: 150px;
    z-index: -1;

    .search-input {
        position: relative;

        input.search {
            width: 100%;
            font-size: 11px;
            border: none;
            border-radius: 20px;
            padding: 2px 10px 2px 28px;
            background-color: @background-search;
            color: @simple-white;
            font-family: 'Proxima-Nova-Regular';

            &::-webkit-input-placeholder {
                color: @simple-white;
            }

            &::-moz-placeholder {
                color: @simple-white;
            }

            &:-ms-input-placeholder {
                color: @simple-white;
            }
        }

        .input-search-btn {
            position: absolute;
            top: 4px;
            left: 5px;
            color: @simple-white;
            width: 17px;
            height: 17px;

            .inner {
                font-size: 15px;
                position: relative;
                display: inline-block;
                font-family: 'Glyphicons Halflings';
                font-style: normal;
                font-weight: 400;
                line-height: 1;
                position: relative;

                &:before {
                    position: absolute;
                    bottom: 2px;
                    left: 4px;
                    content: "";
                    background-image: data-uri("@{main-url-img}/main_search.svg");
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 13px;
                    height: 12px;
                    display: block;
                }
            }
        }
    }

    .menu-list {
        list-style-type: none;
        padding: 0;
        margin: 15px 0 0 0;

        li {
            a {
                text-decoration: none;
                font-size: 10px;
                letter-spacing: 0.12em;
                color: @simple-white;
                cursor: pointer;
                font-family: 'Proxima-Nova-Regular';


                &:hover {
                    opacity: 0.7;
                }
            }

            .item-blue {
                font-weight: bold;
                color: @main-blue;
            }

            .item-yellow {
                color: @warning-color;
            }

            .active {
                font-weight: bold !important;
                color: @main-blue !important;
            }
        }
    }
}

.main-menu-container {
}

#main-menu .active a {
    color: #00aff0 !important;
    font-weight: 700 !important;
}
