﻿<div class="panel panel-primary" style="opacity: 0.8!important">
    <div class="panel-heading clearfix">
        <div class="pull-left"><span class="panel-title" style="left: 15px">My Projects</span></div>
        <div class="pull-right">
            <button type="button" class="plus-btn btn-circle btn btn-link" disabled><span class="glyphicon span"></span></button>
        </div>
    </div>
    <div class="panel">
        <div class="myProjectsSwiper swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="user-card">
                        <div class="main-block text-center">
                            <span style="width: 100%;padding-top: 80px;font-size: 16px;font-weight: 700;">Coming Soon</span>
                            @*<div class="project-img">
                                    <div class="no-image"></div>
                                </div>
                                <div class="project-data">
                                    <div class="data-item"><span class="title">Underground Maintenance</span><span>Project Officer</span><span>16th Jun 2016 - 01st Jun 2017</span></div>
                                    <div class="data-item"><span class="title">Andrew Hunter</span><span>Project Manager</span></div>
                                </div>*@
                        </div>
                        <div class="bottom-block">
                            @*<div class="actions-block">
                                    <div class="inner-block"><span class="ok-inactive" data-toggle="modal" data-target="#popupTasks">0</span></div>
                                    <div class="inner-block"><span class="clip-active" data-toggle="modal" data-target="#popupAttachment">2</span></div>
                                    <div class="inner-block" style="opacity: 0.7 !important;cursor: not-allowed!important"><span class="sound-inactive" data-toggle="modal" data-target="#popupVoiceMessages">0</span></div>
                                </div>*@
                        </div>
                    </div>
                </div>
                @*<div class="swiper-slide">
                        <div class="user-card">
                            <div class="main-block">
                                <div class="project-img">
                                    <div class="no-image"></div>
                                </div>
                                <div class="project-data">
                                    <div class="data-item"><span class="title">Sears Tower</span><span>Project Officer</span><span>16th Aug 2015 - 04st May 2018</span></div>
                                    <div class="data-item"><span class="title">Tom Hardy</span><span>Project Manager</span></div>
                                </div>
                            </div>
                            <div class="bottom-block">
                                <div class="actions-block">
                                    <div class="inner-block"><span class="ok-inactive" data-toggle="modal" data-target="#popupTasks">0</span></div>
                                    <div class="inner-block"><span class="clip-inactive" data-toggle="modal" data-target="#popupAttachment">0</span></div>
                                    <div class="inner-block" style="opacity: 0.7 !important;cursor: not-allowed!important"><span class="sound-inactive" data-toggle="modal" data-target="#popupVoiceMessages">0</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="user-card">
                            <div class="main-block">
                                <div class="project-img">
                                    <div class="no-image"></div>
                                </div>
                                <div class="project-data">
                                    <div class="data-item"><span class="title">Borgata</span><span>Hotel</span><span>01th Apr 2014 - 02st Jul 2016</span></div>
                                    <div class="data-item"><span class="title">Tom Hardy</span><span>Project Manager</span></div>
                                </div>
                            </div>
                            <div class="bottom-block">
                                <div class="actions-block">
                                    <div class="inner-block"><span class="ok-inactive" data-toggle="modal" data-target="#popupTasks">0</span></div>
                                    <div class="inner-block"><span class="clip-active" data-toggle="modal" data-target="#popupAttachment">2</span></div>
                                    <div class="inner-block" style="opacity: 0.7 !important;cursor: not-allowed!important"><span class="sound-inactive" data-toggle="modal" data-target="#popupVoiceMessages">0</span></div>
                                </div>
                            </div>
                        </div>
                    </div>*@
            </div>
            @*<div class="myProjectsSwiper-actions">
                    <div class="myProjectsSwiper-prev"></div>
                    <div class="myProjectsSwiper-pagination"></div>
                    <div class="myProjectsSwiper-next"></div>
                </div>*@
        </div>
    </div>
</div>
