﻿@model IPagedList<TeamForWidgetViewModel>

@if (Model.Any())
{
    <div class="swiper-container myTeamWidget">
        @foreach (var user in Model)
        {
            <div class="widget-wrapper">
                <div class="widget-item">
                    <div class="user-card">
                        <div class="main-block">
                            <div class="user-photo">
                                <img src="@Url.Action("GetAvatarForEmployee", "Media", new { area = "", employeeId = user.UserId })" alt="@user.UserName" class="user-photo-img" />
                            </div>
                            <div class="user-data">
                                <div class="data-item">
                                    <span class="title">@user.UserName</span>
                                    <span>@user.PositionName</span>
                                    <span>@user.UserEmail</span>
                                </div>
                                <div class="data-item big-circle">
                                    <span>@user.RotarionPatternName</span>
                                </div>
                                <div class="data-item">
                                    <span class="title">@user.CompanyName</span>
                                    <span>@user.TeamStatus</span>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-block">
                            <div class="actions-block"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="myTeamWigdet-actions">
                @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount,
                       new AjaxOptions { UpdateTargetId = "gridcontainer" }).Options(o => o
                       .Action("MyTeamWidget")
                       .AddRouteValue("rotationId", Model.FirstOrDefault().RotationId)
                       .DisplayTemplate("BootstrapMyTeamWidgetPagination")
                       .MaxNrOfPages(1))
            </div>
        }
    </div>
}
else
{
    <div class="swiper-container myTeamSwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="user-card">
                    <div class="main-block text-center" style="width: 100%;height: 180px;display: flex;">
                        @*<span style="width: 100%;padding-top: 80px;font-size: 16px;font-weight: 700;">No user in your team</span>*@
                        <span style="width: 100%;padding-top: 80px;font-size: 16px;font-weight: 700;">No user in your team</span>
                    </div>
                    <div class="bottom-block" style="width: 100%;height: 30px;background-color: #464646;border-radius: 0 0 4px 4px;"></div>
                </div>
            </div>
        </div>
    </div>
}
