﻿<div class="panel panel-primary">
    <div class="panel-heading clearfix">
        <div class="pull-left"><span class="panel-title" style="left: 15px">My Team</span></div>
        <div class="pull-right">
            <button type="button" class="plus-btn btn-circle btn btn-link" disabled><span class="glyphicon span"></span></button>
        </div>
    </div>
    <div Id="gridcontainer" class="panel-main">
        @Html.Action("MyTeamWidget", new { rotationId = Model.RotationId })
    </div>
</div>