﻿@model TimelineViewModel

<div class="panel-body" Id="timeline-panel">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            @Html.Partial("~/Views/Rotation/Dashboard/_TimelineSlides.cshtml", Model)
        </div>
    </div>
    <div class="swiper-prev"></div>
    <div class="swiper-next"></div>
</div>