﻿@using MomentumPlus.Relay
@model TimelineViewModel

@{
    string typeClass = string.Empty;
}

@foreach (var month in Model.Months)
{
    <div class="swiper-slide" data-active="@month.IsCurrentMonth" style="width: auto!important">
        <div class="month-name">@month.MonthLabel</div>
        <div class="month-line"></div>
        <div class="month-container">
            @foreach (var period in month.Periods)
            {
                <div class="day-container
                            @(period.FirstDayNumber != 0 ? period.Type == TimeLinePeriodType.DayOn ? period.prevPeriodIsDayOn ?
                                "indent-left" : "on-indent-left" : "off-indent-left" : string.Empty)
                            @(period.LastDayNumber != 0 ? period.Type == TimeLinePeriodType.DayOn ? period.nextPeriodIsDayOn ?
                                "indent-right" : "on-indent-right" : "off-indent-right" : string.Empty)">
                    <div class="days-content">
                        @for (int i = 0; i < period.DaysCount; ++i)
                        {
                            {
                                typeClass = period.Type == TimeLinePeriodType.DayOn ? period.CurrentDayOffset > i ? "grey" : "blue" : string.Empty;
                            }

                            <div class="day @typeClass @(period.CurrentDayOffset == i ? "today" : string.Empty)">
                                @if (period.Type == TimeLinePeriodType.DayOn)
                                {
                                    if (period.Holidays.Contains(i))
                                    {
                                        <div class="weekday">s</div>
                                    }
                                    if (i == 0 && period.FirstDayNumber != 0)
                                    {
                                        <div class="day-number">@period.FirstDayNumber</div>
                                    }
                                    if (i == period.DaysCount - 1 && period.LastDayNumber != 0)
                                    {
                                        <div class="day-number">@period.LastDayNumber</div>
                                    }
                                }
                                <div class="day-line @typeClass"></div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
}