﻿@model DashboardViewModel

@{
    Layout = "~/Views/Shared/Layouts/Main/Authorized_Layout.cshtml";
}

@if (Model.IsViewMode)
{
    @Html.Partial("~/Views/Rotation/Shared/_ViewModePanel.cshtml", @Model.RotationOwnerFullName)
}
<div class="panel panel-primary timeline">
    @Html.HiddenFor(m => m.RotationId)
    <div class="panel-heading clearfix">
        <div class="pull-left">
            <span class="panel-title" style="left:15px!important">Timeline</span>
        </div>
        <div class="pull-right tooltipster" @Html.TooltipAttritutes("Edit Rotation")>
            <button type="button" class="edit-rotation-btn btn-circle btn btn-link" user-Id="@Model.UserId" @(Model.AllowEditRotation ? "" : "disabled")><span class="glyphicon span"></span></button>
        </div>
    </div>
    @Html.Action("TimeLinePanel", "Dashboard", new { rotationId = Model.RotationId })
</div>
<div class="row panels-block">
    <a class="col-xs-12 col-md-4" href="@Url.Action("Index", "Summary")" style="text-decoration: none!important">
        <div class="panels">
            <div class="main-img main-img-safety"></div>
            <div class="main-data">
                <div class="title">Safety</div>
                <div class="count"><span>@Model.SafetyCounter</span></div>
            </div>
        </div>
    </a>
    <a class="col-xs-12 col-md-4" href="@Url.Action("Index", "Summary")" style="text-decoration: none!important">
        <div class="panels">
            <div class="main-img main-img-core"></div>
            <div class="main-data">
                <div class="title">Core</div>
                <div class="count"><span>@Model.CoreCounter</span></div>
            </div>
        </div>
    </a>
    <a class="col-xs-12 col-md-4" href="@Url.Action("Index", "Summary")" style="text-decoration: none!important">
        <div class="panels">
            <div class="main-img main-img-tasks"></div>
            <div class="main-data">
                <div class="title">Tasks</div>
                <div class="count"><span>@Model.TaskCounter</span></div>
            </div>
        </div>
    </a>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6">
        @Html.Partial("~/Views/Rotation/Dashboard/_MyTeamWidget Panel.cshtml")
    </div>
    <div class="col-xs-12 col-md-6">
        @Html.Partial("~/Views/Rotation/Dashboard/_MyProjectsWidget.cshtml")
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".edit-rotation-btn").click(function () {
            var editDialog = Relay.EditSwingShiftDialog({
              userId: $(this).attr("user-Id")
            });

            editDialog.setCloseEvent(function () {
                location.reload();
            });

            editDialog.open();
        });
        $(".tooltipster").tooltipster();
    });
</script>

@Scripts.Render("~/bundles/scripts/timeline-panel")
