﻿@using MomentumPlus.Relay.Web.Extensions
@model rModuleViewModel

@{
    var currentController = ViewContext.RouteData.Values["controller"].ToString();
}


<div class="panel panel-default">
    <div class="panel-heading clearfix panel-heading-icon-right">
        <div class="row vertical-center">
            <div class="col col-lg-10 col-sm-10 col-md-10 col-xs-10">
                <span class="big-title">Tasks</span>
            </div>
            <div class="col col-lg-2 col-sm-2 col-md-2 col-xs-2">
                @if (@Model.ActiveTopicId.HasValue)
                {
                    <a href="javascript:void(0)" class="icon-right plus-btn btn-circle btn btn-link task-create-btn pull-right" topic="@Model.ActiveTopicId">
                        <span class="glyphicon span"></span>
                    </a>
                }
            </div>
        </div>


    </div>
    <div class="panel-body">
        <ul class="list-group">
            @if (Model.TasksList != null && Model.TasksList.Any())
            {
                foreach (var task in Model.TasksList)
                {
                    <li class="clearfix list-group-item">
                        <div class="row vertical-center">
                            <div class="col col-lg-10 col-sm-10 col-md-10 col-xs-10">
                                @task.Name
                            </div>
                            <div class="col col-lg-2 col-sm-2 col-md-2 col-xs-2">
                                <a href="javascript:void(0)">
                                    <span class="glyphicon glyphicon-pencil task-edit-btn pull-right" Id="@task.Id"></span>
                                </a>
                            </div>
                        </div>

                    </li>
                }


                @Html.Pager(Model.TasksList.PageSize, Model.TasksList.PageNumber, Model.TasksList.TotalItemCount).Options(o => o
                            .DisplayTemplate("TemplateBootstrapPagination")
                            .MaxNrOfPages(3)
                            .AlwaysAddFirstPageNumber()
                            .PageRouteValueKey("tasksPageNo")
                            .RouteValues(Request.QueryString.ToRouteValueDictionary(new[] { "tasksPageNo" })))


            }
            else
            {
                <li class="list-group-item text-center">
                    @if (Model.ActiveTopicId.HasValue)
                    {
                        @:No tasks in this topic.
                    }
                    else
                    {
                        @:Select a topic.
                    }
                </li>
            }
        </ul>
    </div>
</div>


<script>
    $(document).ready(function ()
    {
        $(".task-create-btn").click(createTaskFormDialog);
        $(".task-edit-btn").click(editTaskFormDialog);

        function createTaskFormDialog(e)
        {
            var formDialog = Relay.FormDialog({
                url: '/' + '@currentController' + '/' + 'CreateTaskDialog/?topic=' + $(this).attr('topic'),
                method: "GET",
                dialogId: "taskFormDialog"
            });
            formDialog.setSubmitEvent(function () {
                location.reload();
            });
            formDialog.open();
        }

        function editTaskFormDialog(e)
        {
            var formDialog = Relay.FormDialog({
                url: '/' + '@currentController' + '/' + 'EditTaskDialog/' + e.currentTarget.id,
                method: "GET",
                dialogId: "taskFormDialog"
            });
            formDialog.setSubmitEvent(function () {
                location.reload();
            });
            formDialog.open();
        }

    });
</script>