﻿@model rModuleViewModel

@{
    var currentController = ViewContext.RouteData.Values["controller"].ToString();
}

<div class="panel panel-default">
    <div class="panel-heading panel-heading-icon-right">
        <div class="row vertical-center">
            <div class="col col-lg-10 col-sm-10 col-md-10 col-xs-10">
                <span class="big-title">
                    @Html.TopicGroupsPanelTitle(Model.Type)
                </span>
            </div>
            <div class="col col-lg-2 col-sm-2 col-md-2 col-xs-2">
                <a href="javascript:void(0)" class="icon-right plus-btn btn-circle btn btn-link topic-group-create-btn pull-right" module="@Model.Id">
                    <span class="glyphicon span"></span>
                </a>
            </div>
        </div>


    </div>
    <div class="panel-body">
        <ul class="list-group">
            @if (Model.TopicGroupsList != null && Model.TopicGroupsList.Any())
            {
                foreach (var topicGroup in Model.TopicGroupsList)
                {
                    <li class="list-group-item list-group-item-action@(Model.ActiveTopicGroupId == topicGroup.Id ? " active" : "")">
                        <div class="row vertical-center">
                            <div class="col col-lg-10 col-sm-10 col-md-10 col-xs-10">
                                <a href="@Url.Action(ViewContext.RouteData.Values["action"].ToString(),
                                             Request.QueryString.AddOrUpdate(new Dictionary<string, object>
                                             {
                                                 {"topicGroup", topicGroup.Id},
                                                 {"topic", null},
                                                 {"topicsPageNo", 1}
                                             }))">
                                    @topicGroup.Name
                                </a>
                            </div>
                            <div class="col col-lg-2 col-sm-2 col-md-2 col-xs-2">
                                <a href="javascript:void(0)">
                                    <span class="glyphicon glyphicon-pencil topic-group-edit-btn pull-right" Id="@topicGroup.Id"></span>
                                </a>
                            </div>
                        </div>

                    </li>
                }


                @Html.Pager(Model.TopicGroupsList.PageSize, Model.TopicGroupsList.PageNumber, Model.TopicGroupsList.TotalItemCount).Options(o => o
                    .DisplayTemplate("TemplateBootstrapPagination")
                    .MaxNrOfPages(3)
                    .AlwaysAddFirstPageNumber()
                    .PageRouteValueKey("topicGroupsPageNo"))

            }
            else
            {
                <li class="list-group-item text-center">No topic groups in this module.</li>
            }
        </ul>
    </div>
</div>


<script>
    $(document).ready(function ()
    {
        $(".topic-group-create-btn").click(createTopicGroupFormDialog);
        $(".topic-group-edit-btn").click(editTopicGroupFormDialog);

        function createTopicGroupFormDialog(e)
        {
            var formDialog = Relay.FormDialog({
                url: '/' + '@currentController' + '/' + 'CreateTopicGroupDialog/?module=' + $(this).attr('module'),
                method: "GET",
                dialogId: "topicGroupFormDialog"
            });
            formDialog.setSubmitEvent(function () {
                location.reload();
            });
            formDialog.open();
        }

        function editTopicGroupFormDialog(e)
        {
            var formDialog = Relay.FormDialog({
                url: '/' + '@currentController' + '/' + 'EditTopicGroupDialog/' + e.currentTarget.id,
                method: "GET",
                dialogId: "topicGroupFormDialog"
            });
            formDialog.setSubmitEvent(function () {
                location.reload();
            });
            formDialog.open();
        }

    });
</script>