﻿.settings-dialog {
    .modal-content {
        width: 600px !important;
        min-height: 300px !important;
    }

    .modal-header {
        color: #545454;
        text-align: left;
        padding: 0px !important;
    }

    .modal-body {
        text-align: left !important;
        padding: 0px;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .modal-dialog {


        .navigation-block {

            .nav-tabs {
                padding-top: 0px !important;
                border-bottom: none !important;
            }

            .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover > a:active {
                border-width: 0;
                background: transparent;
            }

            .nav-tabs > li > a, .nav-tabs > li > a:active, .nav-tabs > li > a:focus {
                border: none;
                color: #fff;
                font-weight: 700;
                padding-top: 0px;
                font-size: 14px;
                padding-left: 0px;
                opacity: 0.5;
                margin-right: 15px;
                background: transparent;
            }

            .nav-tabs > li.active > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus, .nav-tabs > li > a:active {
                border: none;
                background: transparent;
                opacity: 1;
            }
        }

        .tab-content {
            padding-left: 0px !important;
            margin-bottom: 0px;
        }

        .profile-tab-block, .administration-tab-block {

            .upload-photo {
                .fileinput-new, .fileinput-exists {
                    .fileinput-preview {
                        width: 90px;
                        height: 90px;
                        border-radius: 50%;
                        padding: 0;
                        border: none;

                        &:hover {
                            cursor: pointer;
                            opacity: 0.7;
                        }
                    }

                    div {
                        .btn-file {
                            border: none;
                            background: none;

                            input {
                            }
                        }
                    }
                }
            }

            .upload-photo.middle-size {
                .fileinput-new, .fileinput-exists {
                    margin-top: 15px;
                    height: 70px;

                    .fileinput-preview {
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                        padding: 0;
                        border: none;

                        &:hover {
                            cursor: pointer;
                            opacity: 0.7;
                        }
                    }
                }
            }

            .bootstrap-select.btn-group .dropdown-toggle .filter-option {
                width: 85% !important;
                text-align: left !important;
                white-space: nowrap !important;
                overflow: hidden !important;
                text-overflow: ellipsis !important;
            }

            .nav-tabs {
                border-bottom: 1px solid #fff;
                padding: 0px !important;

                li.orange > a::after {
                    background: orange;
                    transform: scale(1);
                }

                li.orange:hover > a::after {
                    background: #00b0f0;
                    transform: scale(1);
                }

                li.orange.active > a::after {
                    background: #00b0f0;
                }
            }

            .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
                border-width: 0;
            }

            .nav-tabs > li > a {
                border: none;
                color: #fff;
                font-weight: 700;
                text-transform: uppercase;
                font-size: 11px;
            }

            .orange {
                /*color: orange !important;*/
            }

            .number-input {
                padding-right: 0px !important;
            }

            .nav-tabs > li {
                margin-bottom: 1px !important;
                padding-right: 25px;
            }

            .nav > li > a {
                padding-left: 0px;
                padding-right: 0px;
                background: transparent;
            }

            .nav-tabs > li.active > a, .nav-tabs > li > a:hover {
                border: none;
                background: transparent;
            }

            .nav-tabs > li > a::after {
                content: "";
                background: #00b0f0;
                height: 5px;
                position: absolute;
                width: 100%;
                left: 0px;
                bottom: -1px;
                transition: all 250ms ease 0s;
                transform: scale(0);
            }

            .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
                transform: scale(1);
            }

            .tab-nav > li > a::after {
                background: #21527d none repeat scroll 0% 0%;
                color: #fff;
            }

            .tab-content {
                padding: 20px 0;
                padding-bottom: 0px;

                .users-container {
                    position: relative;

                    .users-title-container {
                        display: flex;

                        .title-select {
                            color: #fff;
                            font-size: 10px;
                        }

                        .simple-column {
                            width: 15%;
                            padding-left: 10px;
                        }

                        .contributors-column {
                            width: 30%;
                        }
                    }

                    .users-content {
                        border-top: 2px solid #fff;
                        border-bottom: 2px solid #fff;

                        .swiper-container {
                            height: 145px;
                        }

                        .swiper-slide {
                            display: flex;
                            padding: 8px 0;
                            border-bottom: 1px solid @main-background;
                            height: 37px !important;
                            width: ~' calc(100% - 10px)';
                        }

                        .simple-column {
                            width: 15%;
                            padding-left: 10px;
                        }

                        .contributors-column {
                            width: 30%;
                        }
                    }

                    .usersSwiper-prev {
                        position: absolute;
                        width: 7px;
                        height: 4px;
                        top: 30px;
                        right: 0px;
                        background-image: data-uri("@{main-url-img}/arrow_top.svg");
                        cursor: pointer;
                        z-index: 1111111111111111;

                        &:hover {
                            opacity: 0.75;
                        }
                    }

                    .usersSwiper-next {
                        position: absolute;
                        width: 7px;
                        height: 4px;
                        bottom: 10px;
                        right: 0px;
                        background-image: data-uri("@{main-url-img}/arrow_down.svg");
                        cursor: pointer;
                        z-index: 1111111111111111;

                        &:hover {
                            opacity: 0.75;
                        }
                    }

                    .swiper-button-disabled {
                        cursor: default;
                    }
                }

                .list-container {
                    overflow-x: hidden;
                }

                .receivedSwiper .active-line {
                    border: 2px solid #f29105 !important;
                }
            }

            .card {
                background: #FFF none repeat scroll 0% 0%;
                margin-bottom: 20px;
            }


            .users-container .users-title-container .title-select {
                color: #fff;
                font-size: 10px;
            }

            .users-container .users-content .swiper-slide {
                border-bottom: 1px solid #fff;
            }

            .users-container .users-title-container {
                padding-bottom: 5px;
            }

            .user-list-container {
                overflow-y: auto;
                height: 150px;

                &::-webkit-scrollbar {
                    width: 1em;
                }

                &::-webkit-scrollbar-track {
                    background-color: grey;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: #454545;
                    border: 3px solid transparent;
                    border-radius: 9px;
                    background-clip: content-box;
                }
            }

            .users-container, .users-title-container {
                .user-type-column {
                    width: 5%;
                    padding-top: 4px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: #fff;
                }

                .user-full-name-column {
                    width: 35%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: #fff;
                    padding-right: 20px;
                }

                .user-email-column {
                    width: 35%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: #fff;
                    padding-right: 20px;
                }

                .user-last-login-column {
                    width: 20%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: #fff;
                }

                .user-delete-btn-column {
                    width: 5%;
                    color: #fff;
                    font-size: 30px;
                    padding: 0 !important;
                    cursor: pointer;
                    background: transparent !important;
                    border: 0 !important;
                    -webkit-appearance: none !important;
                    position: absolute;
                    top: -3px;
                    right: 0px;
                }
            }
        }

        .avatar-image {
            display: block;
            margin-left: auto;
            height: 120px;
            width: 120px;
            margin-right: auto;
        }

        .fileinput .thumbnail > img {
            max-height: 100%;
            width: 120px;
            height: 120px;
            border-radius: 50%;
        }

        .edit-photo {
            span {
                display: inline-block !important;
                color: white;
                font-size: 10px;
            }
        }

        .tags-input-title {
            color: white;
        }

        .field-validation-error {
            color: #f29105;
            font-size: 12px;
        }

        .change-password-btn {
            color: #464646;
            font-size: 12px;
            background: #ffffff;
            padding: 2px 10px !important;
            border-radius: 10px;
            font-size: 11px;
            font-weight: bold;
        }

        .change-password-btn:hover {
            background: #00b0f0;
            color: #fff;
        }

        .confirm-icon {
            position: absolute;
            right: 15px;
            margin-top: 4px;
            width: 14px;
            height: 14px;
        }

        .confirm-icon-ok {
            background-image: data-uri("@{main-url-img}/confirm-password-active.svg");
            position: absolute;
            right: 15px;
            margin-top: 4px;
            width: 14px;
            height: 14px;
        }
    }
}
