// main colors, where used:

// main background color for body
@main-background: #efefef;

// main background color for header
@main-blue: #00aff0;
@main-blue-rgba: rgba(0, 175, 240, 1);

// main background color for menu under the header
@main-brown: #464646;
@darkest-grey: #707070;
@main-brown-rgba: rgba(0, 0, 0, 0.2);

//color for inactive names of tabs
@inactive-name-of-tabs: #787878;

//color for active names of tabs
@active-name-of-tabs: @main-blue;

// color for all white inscriptions
@simple-white: #ffffff;

// colors for status of buttons, labels etc
// color of success  - green
@success-color: #009982;
// color of danger  - pink
@danger-color: #da0260;
// color of low  - grey
@low-color: @inactive-name-of-tabs;
// color of warning  - orange
@warning-color: #f29105;
// color of info  - blue
@info-color: @main-blue;
// color of success  - green
@success-color: #009982;

// colors for timeline
@month-background: #5f5f5f;
@day-month-grey: #717171;
@day-month-blue: #237a9b;

// underline of row for table
@inderline-row: #ededed;

// main color for notes column in the table
@main-notes: #525252;

// grey text in the table
@text-grey: #b4b4b4;

// blue text in the table
@text-blue: #11b4f1;

// popup background color
@main-background-popup: rgba(255,255,255,0.5);

// send button color (sign-in page)
@dark-brown: #373737;

// color for active item of dropdown menu
@active-item: #247999;

//background color of search input
@background-search: #333333;

// hover select
@hover-select: #7fd7f7;

// placeholder
@placeholder-color: #a9a9a9;



// horizontal line for report preview
@horizontal-line-grey: #a2a2a2;

// horizontal line of .module-block for report preview
@module-block-underline: #a3a3a3;