﻿@model IPagedList<IndodrillReport.BLL.ViewModels.RigTemplateItemViewModel>

@{
    Layout = "~/Views/IndodrillReport/MasterList/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading panel-heading-icon-right">
        <strong style="font-size: 20px !important;">
            Rigs
        </strong>
        <a href="javascript:void(0)" class="icon-right plus-btn btn-circle btn btn-link drill-rig-create-btn pull-right">
            <span class="glyphicon span"></span>
        </a>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            @if (Model != null && Model.Any())
            {
                foreach (var rigItem in Model)
                {
                    <li class="list-group-item">
                        @rigItem.RigName
                        <a class="edit-rig-btn" data-id="@rigItem.RigId" href="javascript:void(0)">
                            <span class="glyphicon glyphicon-pencil pull-right"></span>
                        </a>
                        <a class="remove-rig-btn" data-id="@rigItem.RigId" href="javascript:void(0)">
                            <span class="glyphicon glyphicon-remove pull-right margin-right-15"></span>
                        </a>
                    </li>
                }

                @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount).Options(o => o
                                    .DisplayTemplate("TemplateBootstrapPagination")
                                    .MaxNrOfPages(14)
                                    .AlwaysAddFirstPageNumber())

            }
            else
            {
                <li class="list-group-item text-center">No rigs</li>
            }
        </ul>

    </div>
</div>
<script>
    $(document).ready(function () {
        $(".drill-rig-create-btn").click(function () {
            var formDialog = Relay.FormDialog({
                url: "/RigTemplate/AddDrillRigFormDialog"
            });
            formDialog.setErrorEvent(function () {
                location.reload();
            });
            formDialog.setCloseEvent(function () {
                location.reload();
            });
            formDialog.open();
        });
        $(".edit-rig-btn").click(function () {
            var formDialog = Relay.FormDialog({
                url: "/RigTemplate/EditDrillRigFormDialog",
                data: {
                    rigId: $(this).attr("data-id")
                }
            });
            formDialog.setErrorEvent(function () {
                location.reload();
            });
            formDialog.setCloseEvent(function () {
                location.reload();
            });
            formDialog.open();
        });
        $(".remove-rig-btn").click(function () {
            var rigId = $(this).attr("data-id");
            var confirm = Relay.ConfirmDialog("Remove rig", "Do you want to remove Rig?", "Yes", "No");
            confirm.setOkEvent(function () {

                var loadingAnimationTimeout = setTimeout(function () {
                    $('#loading-animation').show();
                }, 200);

                $.ajax({
                    url: "/RigTemplate/RemoveRig",
                        method: "POST",
                        data: { rigId: rigId }
                    })
                    .done(function () {
                        location.reload();
                    })
                    .fail(function () {
                        var errorDialog = Relay.ErrorDialog();
                        errorDialog.setCloseEvent(function () {
                            location.reload();
                        });
                        errorDialog.open();
                    })
                    .always(function () {
                        clearTimeout(loadingAnimationTimeout);
                        $('#loading-animation').hide();
                    });

            });
            confirm.open();
        });
    });
</script>
