﻿@model IEnumerable<ProjectsTopicViewModel>

<div Id="projectsSection">
    <div class="panel-body grey-panel">
        <div class="navbar navbar-orange"><span class="label">@Html.EnumDescription(ModuleType.Project, "My {0}")</span></div>
    </div>
    <div class="table-block">
        @if (Model != null && Model.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th class="first">Actions</th>
                        <th class="second">Topic</th>
                        <th class="third">Reference</th>
                        <th class="fourth">Notes</th>
                        <th class="fifth">Intel</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var topic in Model)
                {
                        <tr>
                            <td class="first-td">
                                @Html.Hidden("Id", topic.Id)

                                @if (topic.IsNullReport)
                                {
                                    <button type="button"  topic-val="@topic.IsNullReport.ToString().ToLower()" class="btn btn-circle nr-btn tooltipster" @Html.TooltipAttritutes("Nil-report")>
                                        <span class="glyphicon span"></span>
                                    </button>
                                }
                                else
                                {
                                    <div class="btn none-btn btn-circle">
                                        <span class="glyphicon span"></span>
                                    </div>
                                }

                                <button type="button" class="btn btn-circle @(topic.IsFeedbackRequired ? "arrows-active-btn" : "arrows-inactive-btn") tooltipster" @Html.TooltipAttritutes("Hand-back")>
                                    <span class="glyphicon span"></span>
                                </button>
                                @if (topic.IsSharingTopic)
                                {
                                    <div class="is-shared">S</div>
                                }
                                else
                                {
                                    <div class="btn none-btn btn-circle">
                                        <span class="glyphicon span"></span>
                                    </div>
                                }
                            </td>
                            <td>
                                <div class="second-td">
                                    @topic.Project
                                </div>
                            </td>
                            <td>
                                <div class="third-td">
                                    @topic.Reference
                                </div>
                            </td>
                            <td class="fourth-td">
                                <p class="note-short">@topic.Notes</p>
                                <div class="field-of-edit">
                                    <textarea class="change-note" maxlength="1000"></textarea>
                                    <div topic-val="@topic.IsFinalized.ToString().ToLower()" class="accept-btn finalise-btn tooltipster" @Html.TooltipAttritutes("Finalise")></div>
                                </div>
                            </td>
                            <td class="fifth-td">

                                @Html.Action("ManagerCommentButton", "Topic",
                           new ManagerCommentButtonViewModel { ItemId = topic.Id.Value, HasComments = topic.HasComments })

                                <button type="button" topic-val="@topic.FromTeammateId.ToString()" class="btn btn-circle user-photo-btn team-btn tooltipster" @Html.TooltipAttritutes(@topic.FromTeammateFullName)>
                                    <img src="@Url.Action("GetAvatarForEmployee", "Media", new {area = "", employeeId = @topic.FromTeammateId, width = 50, height = 50})"
                                         class="user-photo-img" />
                                </button>
                                <div class="btn btn-circle more-btn tooltipster" @Html.TooltipAttritutes("Extras")>
                                    <span class="glyphicon span"></span>
                                </div>
                                <div class="other-actions pull-right">
                                    <button topic-val="@topic.HasLocation.ToString().ToLower()" class="action-btn location-btn tooltipster" @Html.TooltipAttritutes("Location")></button>
                                    <button topic-val="@topic.HasTasks.ToString().ToLower()" class="action-btn tasks-btn tooltipster" @Html.TooltipAttritutes("Tasks")></button>
                                    <button topic-val="@topic.HasAttachments.ToString().ToLower()" class="action-btn attachments-btn tooltipster" @Html.TooltipAttritutes("Attachments")></button>
                                    <button topic-val="@topic.HasVoiceMessages.ToString().ToLower()" class="action-btn voice-msg-btn tooltipster" @Html.TooltipAttritutes("Voice Messages") disabled style="cursor: not-allowed!important"></button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="text-center" style="margin: 10px">@Html.EnumDescription(ModuleType.Project, "No Received {0} Items")</div>
        }
    </div>
</div>