﻿@model IndodrillReport.BLL.ViewModels.PdfReportBitViewModel

<tr>
    <td class="type-body">
        @Model.Type
    </td>
    <td class="size-body">
        @Model.Size
    </td>
    <td class="serial-number-body">
        @Model.SerialNumber
    </td>
    <td class="on-body">
        @Model.On
    </td>
    <td class="off-body">
        @Model.Off
    </td>
    <td class="drilled-body">
        @Model.Drilled
    </td>
</tr>