﻿@model RotationCoreAddInlineTopicViewModel

<tr class="new-line">
    <td class="first-td">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.RotationId)
        <button type="button" @Html.TooltipAttritutes("Delete") class="btn btn-circle remove-btn tooltipster">
            <span class="glyphicon span"></span>
        </button>
        <button type="button" @Html.TooltipAttritutes("Hand-back") class="btn arrows-btn arrows-inactive-btn btn-circle tooltipster">
            <span class="glyphicon span"></span>
        </button>
        <button type="button" @Html.TooltipAttritutes("Pin") class="btn note-btn note-grey-btn btn-circle tooltipster">
            <span class="glyphicon span"></span>
        </button>
    </td>
    <td class="second-td">
        <div class="select-parameter">
            @Html.DropDownListFor(m => m.ProcessGroup, Model.ProcessGroups, null, new { @title = "Select", @class = "select-type" })
        </div>
    </td>
    <td class="third-td">
        @Html.TextBoxFor(model => model.ProcessLocation, new { @class = "input-field text-blue add-reference", @placeholder = "Add Reference" })
    </td>
    <td class="fourth-td">
        @Html.TextAreaFor(model => model.Notes, new { @class = "new-note text-blue add-note", @placeholder = "Add Notes", @maxlength = "1000" })
        <div class="accept-btn accept-btn-grey"></div>
    </td>
    <td class="fifth-td">
        <button type="button" class="inline-add-btn tooltipster" @Html.TooltipAttritutes("Add topic")>
            Add
        </button>
    </td>
</tr>