﻿@model IEnumerable<CoreTopicViewModel>

<div Id="coreSection">
    <div class="panel-body grey-panel">
        <div class="navbar navbar-orange" id="Core"><span class="label">@Html.EnumDescription(ModuleType.Core)</span></div>    </div>
    <div class="table-block">
        @if (Model != null && Model.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th class="first">Actions</th>
                        <th class="second">Topic</th>
                        <th class="third">Reference</th>
                        <th class="fourth">Notes</th>
                        <th class="fifth">Intel</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var topic in Model)
                    {
                        <tr>
                            <td class="first-td">
                                @Html.Hidden("Id", topic.Id)

                                @if (topic.IsNullReport)
                                {
                                    <button type="button"  topic-val="@topic.IsNullReport.ToString().ToLower()" class="btn btn-circle nr-btn tooltipster" @Html.TooltipAttritutes("Nil-report")>
                                        <span class="glyphicon span"></span>
                                    </button>
                                }
                                else
                                {
                                    if (topic.IsCustom)
                                    {
                                        <button type="button" topic-val="@topic.CarryforwardCounter.ToString()" class="btn arrow-btn tooltipster" @Html.TooltipAttritutes("Carry Forward")>
                                            <span class="glyphicon span"></span>
                                        </button>
                                    }
                                    else
                                    {
                                        <div class="btn none-btn btn-circle">
                                            <span class="glyphicon span"></span>
                                        </div>
                                    }
                                }
                                <button type="button" class="btn btn-circle @(topic.IsFeedbackRequired ? "arrows-active-btn" : "arrows-inactive-btn") tooltipster" @Html.TooltipAttritutes("Hand-back")>
                                    <span class="glyphicon span"></span>
                                </button>
                                <div class="btn none-btn btn-circle">
                                    <span class="glyphicon span"></span>
                                </div>
                            </td>
                            <td>
                                <div class="second-td">
                                    @topic.Category
                                </div>
                            </td>
                            <td>
                                <div class="third-td">
                                    @topic.Reference
                                </div>
                            </td>
                            <td class="fourth-td">
                                <p class="note-short">@topic.Notes</p>
                                <div class="field-of-edit">
                                    <textarea class="change-note" maxlength="1000"></textarea>
                                    <div topic-val="@topic.IsFinalized.ToString().ToLower()" class="accept-btn finalise-btn tooltipster" @Html.TooltipAttritutes("Finalise")></div>
                                </div>
                            </td>
                            <td class="fifth-td">

                                @Html.Action("ManagerCommentButton", "Topic",
                           new ManagerCommentButtonViewModel { ItemId = topic.Id.Value, HasComments = topic.HasComments })

                                <button type="button" class="btn user-without-photo-btn btn-circle tooltipster" topic-val="@topic.TeammateId.ToString()" @Html.TooltipAttritutes("Share") disabled>
                                    <span class="glyphicon span"></span>
                                </button>

                                <div class="btn btn-circle more-btn tooltipster" @Html.TooltipAttritutes("Extras")>
                                    <span class="glyphicon span"></span>
                                </div>
                                <div class="other-actions pull-right">
                                    <button topic-val="@topic.HasLocation.ToString().ToLower()" class="action-btn location-btn tooltipster" @Html.TooltipAttritutes("Location")></button>
                                    <button topic-val="@topic.HasTasks.ToString().ToLower()" class="action-btn tasks-btn tooltipster" @Html.TooltipAttritutes("Tasks")></button>
                                    <button topic-val="@topic.HasAttachments.ToString().ToLower()" class="action-btn attachments-btn tooltipster" @Html.TooltipAttritutes("Attachments")></button>
                                    <button topic-val="@topic.HasVoiceMessages.ToString().ToLower()" class="action-btn voice-msg-btn tooltipster" @Html.TooltipAttritutes("Voice Messages") disabled style="cursor: not-allowed!important"></button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="text-center" style="margin: 10px">@Html.EnumDescription(ModuleType.Core, "No {0} Topics")</div>
        }
    </div>
</div>