﻿@model QMEReportTaskModuleViewModel

@if (Model.Tasks != null && Model.Tasks.Any())
{
    <div class="module-block">
        @*<div class="page-break-avoid">

                @if (Model.Topics != null && Model.Topics.Any())
                {
                }
                else
                {
                    <div class="row padding-top-5 padding-bottom-10" style="page-break-inside: avoid !important;">
                        <div class="col-xs-12 padding-bottom-5 vertical-center text-center" style="font-size: 15px; justify-content: center;">
                            <span class="text-gray">No items in this section</span>
                        </div>
                    </div>
                }
            </div>*@

        <span class="module-title">@Model.Name</span>
        <div class="row no-margin">
            @foreach (var task in Model.Tasks)
                {
                    <div class="col-xs-12 no-padding task">
                        @Html.Partial("~/Views/Reports/QMEReport/_ReportTask.cshtml", task)
                    </div>
                }
        </div>

    </div>
}