﻿@model QMEReportTopicViewModel

@if (Model != null)
{
    <div class="topic-body @(Model.IsNullReport ? "text-grey" : "")">
        <div class="row first-row">
            <div class="topic-name">@Model.TopicGroupName</div>
            <span>|</span>
            <div class="topic-reference">@Model.Name</div>
        </div>
        @if (!string.IsNullOrWhiteSpace(Model.Description) || !string.IsNullOrWhiteSpace(Model.Tag))
        {
            <div class="row second-row">
                <div class="col-xs-9 no-padding topic-notes">
                    @if (!string.IsNullOrWhiteSpace(Model.Description))
                    {
                        @Html.ConvertTextToHtml(Model.Description)
                    }
                </div>
                <div class="col-xs-3 no-padding topic-tag">
                    @if (!string.IsNullOrWhiteSpace(Model.Tag))
                    {
                        <div class="tag">@Model.Tag</div>
                    }
                </div>
            </div>
        }
    </div>
}