﻿@model HSETopicDialogViewModel

<div Id="HSETopicFormDialog" tabindex="-1" role="dialog" aria-labelledby="labelTags" aria-hidden="true" data-keyboard="false" data-backdrop="static" class="modal fade rotation-topic-dialog">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.AssignedToId)
        @Html.HiddenFor(model => model.IsFeedbackRequired)
        @Html.HiddenFor(model => model.Enabled)

        if (Model.IsFromTemplate)
        {
            @Html.HiddenFor(model => model.RotationTopicGroupId)
        }

        <div class="modal-dialog">
            <div class="theme">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row vertical-center">
                            <div class="col col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div id="modalTitle" class="modal-title">@Html.EnumDescription(ModuleType.HSE, "Edit {0} Topic")</div>                            </div>
                            <div class="col col-lg-4 col-md-4 col-sm-6 col-xs-4 text-right">
                                <button type="submit" class="btn btn-save">Save</button>
                                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
                                <div class="select-type padding-right-15">
                                    <span class="title-select">Topic *</span>
                                    @Html.DropDownListFor(m => m.RotationTopicGroupId, Model.RotationTopicGroups, "Select Type", new { @class = "select-list" }.WithAttrIf("disabled", "", @Model.IsFromTemplate))
                                    @Html.ValidationMessageFor(m => m.RotationTopicGroupId)
                                </div>
                            </div>
                            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
                                <div class="field-container padding-left-15">
                                    <span class="title-select">Reference</span>
                                    @Html.TextBoxFor(model => model.Name, new { @class = "simple-input", @placeholder = "Enter Reference" })
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                            </div>
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                                <div class="field-container">
                                    <span class="title-select">@Html.LabelFor(model => model.Notes)</span>
                                    @Html.TextAreaFor(model => model.Notes, new { @class = "textarea simple-textarea", @rows = "3", @maxlength = "1000", @placeholder = "Enter Text (max. 1000 characters)" })
                                    @Html.ValidationMessageFor(model => model.Notes)
                                </div>
                            </div>
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                                <div class="field-container">
                                    <span class="title-select">@Html.LabelFor(model => model.ManagerComments)</span>
                                    @Html.TextAreaFor(model => model.ManagerComments, new { @class = "textarea simple-textarea textarea-stretch", @rows = "2", @maxlength = "300", @placeholder = "Enter Text (max. 300 characters)" }.WithAttrIf("readonly", "", !@Model.IsManagerCommentsEnabled))
                                    @Html.ValidationMessageFor(model => model.ManagerComments)
                                </div>
                            </div>
                            <div class="col col-lg-8 col-md-8 col-sm-8 col-xs-8 no-padding margin-top-20">
                                <div class="tags-input-container padding-right-15">
                                    @Html.LabelFor(model => model.Tags, new { @class = "title-select" })
                                    <div class="ms-ctn form-control ms-ctn-focus tags-input"></div>
                                    @Html.ValidationMessageFor(model => model.Tags)
                                </div>
                            </div>
                            <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding margin-top-20">
                                <div class="row conter-row  margin-top-20">
                                    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding text-right">
                                        <span class="@(Model.TasksCounter > 0 ? "has-tasks-image" : "no-tasks-image")"></span>
                                        <div class="counter">
                                            @Model.TasksCounter
                                        </div>
                                    </div>
                                    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding text-right">
                                        <span class="@(Model.AttacmentsCounter > 0 ? "has-attachments-image" : "no-attachments-image")"></span>
                                        <div class="counter">
                                            @Model.AttacmentsCounter 
                                        </div>
                                    </div>
                                    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding text-right">
                                        <span class="@(Model.VoiceMessagesCounter > 0 ? "has-voise-messages-image" : "no-voise-messages-image")"></span>
                                        <div class="counter">
                                            @Model.VoiceMessagesCounter
                                        </div>
                                    </div>
                                    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding text-right">
                                        <span class="@(Model.IsFeedbackRequired ? "has-feedback-required-image" : "no-feedback-required-image")"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $('#HSETopicFormDialog .tags-input').magicSuggest({
                placeholder: 'Enter Tags',
                maxSelection: 7,
                hideTrigger: true,
                toggleOnClick: true,
                name: "Tags",
                value: [@Html.Raw(Model.TagsString)]
            });
        </script>
    }
</div>