﻿@model IEnumerable<IndodrillReport.BLL.ViewModels.ReportBitViewModel>

<div id="bitsTable" class="bits-table">
    <div class="table-title">BITS</div>
    <div class="table-body">
        <table class="table">
            <thead>
                <tr>
                    <th class="btn-column"></th>
                    <th class="type-title">TYPE</th>
                    <th class="size-title">Size</th>
                    <th class="serial-number-title">Serial No.</th>
                    <th class="on-title">On (m)</th>
                    <th class="off-title">Off (m)</th>
                    <th class="drilled-title">Drilled (m)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    @Html.Partial("~/Views/IndodrillReport/DrillingReport/Tables/BitsTable/_BitsTableRow.cshtml", item)
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="1"></td>
                    <td colspan="6" class="plus-tr">
                        <button type="button" class="btn-plus center-block add-item-btn">
                            <span class="span"></span>
                        </button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>