﻿@model IndodrillReport.BLL.ViewModels.ReportBitViewModel

<tr row-id="@Model.Id.ToString()">
    <td class="btn-column">
        <div class="remove-icon"></div>
    </td>
    <td class="type-body">
        @Html.TextBoxFor(m => m.Type, new { @class = "simple-input", type = "text", maxlength = "30" })
    </td>
    <td class="size-body">
        @Html.TextBoxFor(m => m.Size, new { @class = "simple-input", type = "text", maxlength = "30" })
    </td>
    <td class="serial-number-body">
        @Html.TextBoxFor(m => m.SerialNumber, new { @class = "simple-input", type = "text", maxlength = "20" })
    </td>
    <td class="on-body">
        @Html.TextBoxFor(m => m.On, new { @class = "simple-input", type = "text", maxlength = "6" })
    </td>
    <td class="off-body">
        @Html.TextBoxFor(m => m.Off, new { @class = "simple-input", type = "text", maxlength = "6" })
    </td>
    <td class="drilled-body"></td>
</tr>