﻿@model FromToBlockViewModel

<div class="draft-from-to-block">
    <div class="user-photo-btn team-btn tooltipster" @Html.TooltipAttritutes("From " + @Model.RotationOwnerFullName)>
        <img src="@Url.Action("GetAvatarForEmployee", "Media", new {area = "", employeeId = @Model.RotationOwnerId, width = 100, height = 100})"
             class="user-photo-img"/>
    </div>

    <div class="arrow-left">&#10230;</div>

    <div class="user-photo-btn team-btn tooltipster" @Html.TooltipAttritutes("To " + @Model.RotationBackToBackFullName)>
        <img src="@Url.Action("GetAvatarForEmployee", "Media", new {area = "", employeeId = @Model.RotationBackToBackId, width = 100, height = 100})"
             class="user-photo-img" />
    </div>
</div>
