﻿@model DailyReportsPanelViewModel

<div Id="dailyReportPanel" class="panel panel-primary daily-reports">
    <div class="panel-heading clearfix">
        <div class="pull-left">
            <span class="panel-title" style="left:15px!important">Daily Reports</span>
        </div>
    </div>
    <div class="panel-body" style="display: none;">
        <div class="daily-swiper-container">
            <div class="swiper-container daily-report-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide long-slide">
                        <div class="daily-report-item">
                            <div class="slide-title">
                                Welcome to Daily Reports.
                            </div>
                            <div class="circle circle-blue"></div>
                        </div>
                    </div>
                    @foreach (var dailyReport in Model.DailyReports)
                    {
                        @Html.Partial("~/Views/Rotation/DailyReportsPanel/_DailyReportSlide.cshtml", dailyReport)
                    }
                </div>
            </div>
            <div class="daily-report-swiper-prev"></div>
            <div class="daily-report-swiper-next"></div>
        </div>
        <div class="daily-container no-padding">
            <div class="daily-item">
                <div class="block-from">Safety Summary</div>
                <div class="icon-block @(Model.UnreadSafetyMessagesCounter > 0 ? "active" : string.Empty)">@Model.UnreadSafetyMessagesCounter</div>
                <div class="block-to">unread messages</div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/relay/rotation/shift-report-builder/daily-reports-panel.module.js"></script>