﻿@model DailyReportViewModel

<div shift-Id="@Model.ShiftId" class="swiper-slide  @(Model.IsCurrentShift ? "active" : string.Empty)">
    @if (Model.SafetyMessages != null)
    {
        <div class="safety-message" safety-version="@Model.SafetyMessages.Version" date="@Model.StartDateTime.Date.ToISOString()">
            <div class="slide-title">
                @Model.Date
            </div>
            @if (Model.SafetyMessages.MessagesNumber == 1)
            {
                if (Model.SafetyMessages.Version == "V1")
                {
                    <img src="@Url.Action("GetImage", "Media", new { imageId = (Model.SafetyMessages as SafetyMessagesV1).ImageId, width = 100, height = 100 })" class="main-picture">
                }
                if (Model.SafetyMessages.Version == "V2")
                {
                    <img src="@((Model.SafetyMessages as SafetyMessagesV2).IconUrl)" class="main-picture">
                }
            }
            else
            {
                <div class="message-counter">@Model.SafetyMessages.MessagesNumber</div>
            }
        </div>
    }
    else
    {
        <div class="daily-report-item">
            <div class="slide-title">
                @Model.Date
            </div>
            <div class="circle circle-blue  @(Model.HasItems ? "circle-blue" : "circle-grey")"></div>
            <div class="daily-report-user">@Model.ShiftRecipientFullName</div>
        </div>
    }
</div>