﻿@model ReportPreviewViewModel


<div Id="popupReportPreview" tabindex="-1" role="dialog" aria-labelledby="labelTags" aria-hidden="true" data-keyboard="false" data-backdrop="static" class="modal fade report-preview-dialog">

    @Html.HiddenFor(m => m.RotationId)
    @Html.HiddenFor(m => m.SelectedRotationId)

    <div class="modal-dialog">
        <div class="black-theme">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row vertical-center">
                        <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div Id="modalTitle" class="modal-title">Report Preview</div>
                        </div>
                        <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                            <button type="submit" class="btn btn-save" rotation-Id="@Model.RotationId" isReceived="@Model.IsReceived.ToString()">Print</button>
                            <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="report-preview-template">
                        <div class="report-content">
                            <div class="header">
                                <div class="row no-margin">
                                    <div class="col-xs-7 align-block-centers header-block">
                                        <div class="row">
                                            <div class="col-xs-5">
                                                @if (!Model.CompanyLogoImageId.HasValue)
                                                {
                                                    <img class="logo" src="~/Content/img/svg/CompanyLogoBox.svg" />
                                                }
                                                else
                                                {
                                                    <img src="/Media/GetImage?imageId=@(Model.CompanyLogoImageId)&width=120&height=120&@(Guid.NewGuid())"
                                                         class="logo">
                                                }
                                            </div>
                                            <div class="col-xs-7">
                                                <span class="report-title bold">Handover Report</span>
                                                <span class="report-date margin-top-10 margin-bottom-10">@Model.Dates</span>
                                                <span class="report-type bold">@(Model.IsReceived || Model.IsRotationFinished ? "- Finalised Version -" : "- Draft Version -")</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row no-horizontal-margin margin-top-20">
                                    <div class="source-block col-xs-12 align-block-centers">
                                        @if (!Model.IsReceived)
                                        {
                                            <span class="source bold margin-right-5">
                                                From
                                            </span>
                                                <span class="name">
                                                    @Model.From
                                                </span>
                                                <span class="vertical-line margin-right-20 margin-left-20"></span>
                                                <span class="source bold margin-right-5">
                                                    To
                                                </span>
                                                <span class="name">
                                                    @Model.To
                                                </span>
                                        }
                                        else
                                        {
                                            <span class="name">
                                                @Model.To Received Report
                                            </span>
                                        }
                                    </div>
                                </div>
                            </div>
                            @Html.Partial("~/Views/Rotation/RotationReportBuilder/ReportPreview/_ReportModule.cshtml", Model.HSEModule)

                            @Html.Partial("~/Views/Rotation/RotationReportBuilder/ReportPreview/_ReportModule.cshtml", Model.CoreModule)

                            @Html.Partial("~/Views/Rotation/RotationReportBuilder/ReportPreview/_ReportModule.cshtml", Model.ProjectModule)

                            @Html.Partial("~/Views/Rotation/RotationReportBuilder/ReportPreview/_ReportModule.cshtml", Model.TeamModule)

                            @Html.Partial("~/Views/Rotation/RotationReportBuilder/ReportPreview/_ReportModule.cshtml", Model.DailyNotesModule)
                        </div>
                        <div class="report-preview-template-footer">
                            <div class="report-preview-footer margin-left-5">
                                <div class="row">
                                    <div class="col-xs-12 no-padding margin-top-10">
                                        <div class="main-logo">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(".btn-save").click(function ()
    {
        var rotationId = $(this).attr('rotation-Id');

        var isReceivedAtr = $(this).attr('isReceived');

        var isReceived = isReceivedAtr;

        var selectedRotationId = $("#SelectedRotationId").val();

        var pdfUrl = '/RotationReportBuilder/ReportPrint/?rotationId=' + rotationId + '&isReceived=' + isReceived + '&selectedRotationId=' + selectedRotationId;

        window.open(pdfUrl, '_blank');

    });

</script>
