﻿@model ReportPreviewViewModel

@{
    Layout = "~/Views/Shared/Layouts/Base/PrintLayout.cshtml";
}

<div class="report-print-block">
    <div class="report-preview-template">
        <div class="report-content">
            <div class="header">
                <div class="row no-margin">
                    <div class="col-xs-7 align-block-centers header-block">
                        <div class="row">
                            <div class="col-xs-5">
                                @if (!Model.CompanyLogoImageId.HasValue)
                                {
                                    <img class="logo" src="~/Content/img/svg/CompanyLogoBox.svg" />
                                }
                                else
                                {
                                    <img src="/Media/GetImage?imageId=@(Model.CompanyLogoImageId)&width=120&height=120&@(Guid.NewGuid())"
                                         class="logo">
                                }
                            </div>
                            <div class="col-xs-7">
                                <span class="report-title bold">Handover Report</span>
                                <span class="report-date margin-top-10 margin-bottom-10">@Model.Dates</span>
                                <span class="report-type bold">@(Model.IsReceived || Model.IsRotationFinished ? "- Finalised Version -" : "- Draft Version -")</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row no-horizontal-margin margin-top-20">
                    <div class="source-block col-xs-12 align-block-centers">
                        @if (!Model.IsReceived)
                        {
                            <span class="source bold margin-right-5">
                                From
                            </span>
                            <span class="name">
                                @Model.From
                            </span>
                            <span class="vertical-line margin-right-20 margin-left-20"></span>
                            <span class="source bold margin-right-5">
                                To
                            </span>
                            <span class="name">
                                @Model.To
                            </span>
                        }
                        else
                        {
                            <span class="name">
                                @Model.To Received Report
                            </span>
                        }
                    </div>
                </div>
            </div>
            @Html.Partial("~/Views/Rotation/RotationReportBuilder/ReportPreview/_ReportModule.cshtml", Model.HSEModule)

            @Html.Partial("~/Views/Rotation/RotationReportBuilder/ReportPreview/_ReportModule.cshtml", Model.CoreModule)

            @Html.Partial("~/Views/Rotation/RotationReportBuilder/ReportPreview/_ReportModule.cshtml", Model.ProjectModule)

            @Html.Partial("~/Views/Rotation/RotationReportBuilder/ReportPreview/_ReportModule.cshtml", Model.TeamModule)

            @Html.Partial("~/Views/Rotation/RotationReportBuilder/ReportPreview/_ReportModule.cshtml", Model.DailyNotesModule)
        </div>
    </div>
</div>