﻿@using Microsoft.Ajax.Utilities
@model ReportTopicViewModel

@if (Model != null)
{
    <div class="topic-block">
        <div class="row padding-top-10 vertical-center">
            <div class="col-xs-9 padding-bottom-5 vertical-center bold @(!Model.IsFinalized ? "italic" : null)">
                @if (Model.IsNullReport)
                {
                    <span class="icon n-report-icon margin-right-15"></span>
                }
                @if (Model.IsFeedbackRequired)
                {
                    <span class="icon hand-back-icon margin-right-15"></span>
                }
                @if (Model.IsPinned == true)
                {
                    <span class="icon pin-disable-icon margin-right-15"></span>
                }
                @if (Model.IsPinned == null && !Model.IsNullReport)
                {
                    <span class="icon pin-enable-icon margin-right-15"></span>
                }
                @if (Model.IsNullReport)
                {
                    <div class="text-gray null-report">@Model.Name</div>
                }
                else
                {
                    if (!Model.TopicGroupName.IsNullOrWhiteSpace())
                    {
                        <span class="message-title">@Model.TopicGroupName</span>
                        <span class="vertical-line margin-right-20 margin-left-20"></span>
                    }
                    <span>@Model.Name</span>
                }

            </div>
            <div class="col-xs-3 text-right">
                @if (!Model.IsFinalized)
                {
                    <span class="icon topic-type-icon"></span>
                }
                @if (Model.HasTasks)
                {
                    <span class="icon task-icon margin-left-15"></span>
                }
                @if (Model.HasAttachments)
                {
                    <span class="icon attachments-icon margin-left-15"></span>
                }
                @if (Model.HasVoiceMessages)
                {
                    <span class="icon voice-message-icon margin-left-15"></span>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12  @(!Model.IsFinalized ? "italic" : null)">
                <div style="color: black!important;">
                    @if (Model.IsNullReport)
                    {
                        <span style="display: block;padding-top: 5px;">Nothing to report this time</span>
                    }
                    else
                    {
                        <div style="padding-bottom: 10px!important;">
                            @Html.ConvertTextToHtml(Model.Description)
                        </div>

                    }
                </div>
            </div>
        </div>

        @if (Model.Tasks.Any())
        {
            foreach (var task in Model.Tasks)
            {
                @Html.Partial("~/Views/Rotation/RotationReportBuilder/ReportPreview/_ReportTask.cshtml", task)
            }
        }
    </div>
}