﻿@model TaskBoardCompleteHandbackTaskDialogViewModel

<div id="completeHandoverTaskFormDialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true" class="modal fade task-board-complete-handover-task-dialog" data-keyboard="false" data-backdrop="static">

    @using (Html.BeginForm("CompleteHandoverTaskDialog", "TaskBoard", FormMethod.Post, new { @id = "completeHandoverTaskForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.TaskOutcomesTab.ID)
        @Html.HiddenFor(m => m.TaskDetailTab.AssignedFrom)
        @Html.HiddenFor(m => m.TaskDetailTab.Deadline)
        @Html.HiddenFor(m => m.SelectedTabNumber)
        @Html.HiddenFor(m => m.TaskOutcomesTab.IsFeedbackRequired)
        @Html.HiddenFor(m => m.TopicDetailTab.ItemId)

        <div class="modal-dialog">
            <div class="theme">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row vertical-center">
                            <div class="col col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div id="modalTitle" class="modal-title">Complete Task</div>
                            </div>
                            <div class="col col-lg-4 col-md-4 col-sm-6 col-xs-4 text-right">
                                <button type="button" class="btn btn-save complete @(Model.TaskOutcomesTab.IsFeedbackRequired && Model.TaskOutcomesTab.Feedback == null ? string.Empty : "active-green")" value="@CompleteDialogOption.Complete.ToString()">Complete</button>
                                <button type="button" class="btn btn-save" value="@CompleteDialogOption.Save.ToString()">Save</button>
                                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="tab-block">
                                    <div class="navigation-block">
                                        <ul class="nav nav-tabs">
                                            <li class="@(Model.SelectedTabNumber == 0 ? "active" : "")" tabNumber="0"><a data-toggle="tab" href="#task-details">Task Details</a></li>
                                            <li class="@(Model.SelectedTabNumber == 1 ? "active" : "")" tabNumber="1"><a data-toggle="tab" href="#topic-details">Item Details</a></li>
                                            <li class="orange @(Model.SelectedTabNumber == 2 ? "active" : "")" tabNumber="2"><a data-toggle="tab" href="#outcomes">Outcomes</a></li>
                                            <li class="" tabNumber="3"><a data-toggle="tab" href="#logs">Log</a></li>
                                        </ul>
                                    </div>
                                    <div class="tab-content">
                                        <div id="task-details" class="tab-pane fade in @(@Model.SelectedTabNumber == 0 ? "active" : "")">
                                            @Html.Partial("~/Views/Rotation/TaskBoard/Dialogs/_TaskDetailsTab.cshtml", Model.TaskDetailTab)
                                        </div>
                                        <div id="topic-details" class="tab-pane fade in @(@Model.SelectedTabNumber == 1 ? "active" : "")">
                                            @Html.Partial("~/Views/Rotation/TaskBoard/Dialogs/_TopicDetailsTab.cshtml", Model.TopicDetailTab)
                                        </div>
                                        <div id="outcomes" class="tab-pane fade in @(@Model.SelectedTabNumber == 2 ? "active" : "")">
                                            @Html.Partial("~/Views/Rotation/TaskBoard/Dialogs/_TaskEditableOutcomesTab.cshtml", Model.TaskOutcomesTab)
                                        </div>
                                        <div id="logs" class="tab-pane fade in">
                                            @Html.Action("GetTaskLogs", "Tasks", new { taskId = Model.TaskOutcomesTab.ID })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <script>
        (function () {
            var isFeedbackRequired = $("#TaskOutcomesTab_IsFeedbackRequired").val() === "True";

            $(".btn-save").click(function () {
                $("#CompleteOption").val($(this).val());
                $("#completeHandoverTaskForm").submit();
            });
            
            $("#TaskOutcomesTab_Feedback").bind("input", function () {
                if (isFeedbackRequired) {
                    if ($(this).val())
                        $(".complete").addClass("active-green");
                    else
                        $(".complete").removeClass("active-green");
                }
                $(".save").addClass("active");
            });

            $('.nav-tabs > li').click(function () {
                var tabNumber = $(this).attr("tabNumber");
                $("#SelectedTabNumber").val(tabNumber);
            });

            $(".has-attachments-image", "#TaksDetailsTab").click(function () {
                var _this = this;
                $(_this).attr("style", "pointer-events: none;");
                var id = $("#TaskOutcomesTab_ID", "#completeHandoverTaskFormDialog").val();
                var attachmentsDialog = Relay.AttachmentsDialog(id, 2, 2);
                attachmentsDialog.setCloseEvent(function () {
                    $(_this).removeAttr("style");
                });
                attachmentsDialog.open();
            });

            $(".has-attachments-image", "#TopicDetailsDialog").click(function () {
                var _this = this;
                $(_this).attr("style", "pointer-events: none;");
                var id = $("#TopicDetailTab_ItemId", "#completeHandoverTaskFormDialog").val();
                var attachmentsDialog = Relay.AttachmentsDialog(id, 2, 1);
                attachmentsDialog.setCloseEvent(function () {
                    $(_this).removeAttr("style");
                });
                attachmentsDialog.open();
            });
        })();
    </script>
</div>