﻿@model TaskBoardEditTaskDialogViewModel

<div id="editTaskFormDialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true" class="modal fade task-board-edit-task-dialog" data-keyboard="false" data-backdrop="static">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.OwnerId)
        @Html.HiddenFor(m => m.AssignedTo)
        @Html.HiddenFor(m => m.StartLimitDate)
        @Html.HiddenFor(m => m.CanChangeAssignee)
        @Html.HiddenFor(m => m.IsProjectTask)
        @Html.HiddenFor(m => m.ItemId)

        <div class="modal-dialog">
            <div class="theme">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row vertical-center">
                            <div class="col col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div id="modalTitle" class="modal-title">Edit Task</div>
                            </div>
                            <div class="col col-lg-4 col-md-4 col-sm-6 col-xs-4 text-right">
                                <button type="submit" class="btn btn-save">Save</button>
                                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="tab-block">
                                    <div class="navigation-block">
                                        <ul class="nav nav-tabs">
                                            <li class="active" tabNumber="0"><a data-toggle="tab" href="#task-details">Task Details</a></li>
                                            @if (Model.ItemDetailsTab != null)
                                            {
                                                <li tabNumber="2"><a data-toggle="tab" href="#topic-details">Item Details</a></li>
                                            }
                                            <li tabNumber="1"><a data-toggle="tab" href="#logs">Log</a></li>
                                        </ul>
                                    </div>
                                    <div class="tab-content">
                                        <div id="task-details" class="tab-pane fade in active">
                                            <div class="row">
                                                <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                                    <div class="row no-margin">
                                                        <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
                                                            <div class="field-container">
                                                                @Html.LabelFor(m => m.Name, new { @class = "title-select" })
                                                                @Html.TextBoxFor(m => m.Name, new { @class = "simple-input", @placeholder = "Enter Name" })
                                                                @Html.ValidationMessageFor(m => m.Name)
                                                            </div>
                                                        </div>
                                                        <div class="col col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                            <div class="select-type">
                                                                @Html.LabelFor(m => m.Priority, new { @class = "title-select" })
                                                                @Html.EnumDropDownListFor(model => model.Priority, new { @class = "select-list" })
                                                                @Html.ValidationMessageFor(m => m.Priority)
                                                            </div>
                                                        </div>
                                                        <div class="col col-lg-1 col-md-1 col-sm-1 col-xs-1 no-padding">
                                                            <div class="avatar-block">
                                                                <div class="field-container">
                                                                    @Html.LabelFor(model => model.AssignedTo, new { @class = "title-select" })
                                                                    <a href="javascript:void(0)" class="team-btn">
                                                                        @if (Model.AssignedTo.HasValue)
                                                                        {
                                                                            <img src="/Media/GetAvatarForEmployee?employeeId=@(Model.AssignedTo)&amp;width=100&amp;height=100"
                                                                                 class="media-object img-circle assigned-to-large-photo">
                                                                        }
                                                                        else
                                                                        {
                                                                            <img src="~/Content/img/svg/no-assignee-image.svg" class="media-object img-circle assigned-to-large-photo no-assignee-image">
                                                                        }
                                                                    </a>
                                                                    @Html.ValidationMessageFor(m => m.AssignedTo)
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                                                    <div class="field-container">
                                                        @Html.LabelFor(model => model.Notes, new { @class = "title-select" })
                                                        @Html.TextAreaFor(model => model.Notes, new { @class = "textarea simple-textarea", @rows = "3", @maxlength = "500", @placeholder = "Enter Text (max. 500 characters)" })
                                                        @Html.ValidationMessageFor(model => model.Notes)
                                                    </div>
                                                </div>
                                                <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                                                    <div class="tags-input-container">
                                                        @Html.LabelFor(model => model.Tags, new { @class = "title-select" })
                                                        <div class="ms-ctn form-control ms-ctn-focus tags-input"></div>
                                                        @Html.ValidationMessageFor(model => model.Tags)
                                                    </div>
                                                </div>
                                                <div class="row no-margin">
                                                    <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding margin-top-20">
                                                        <div class="radio-btn-group">
                                                            @Html.LabelFor(m => m.SendingOption, new { @class = "title-select" })
                                                            <label>
                                                                @Html.RadioButtonFor(m => m.SendingOption, TaskSendingOptions.Now)
                                                                <span class="radio-label">Now</span>
                                                            </label>
                                                            <label>
                                                                @Html.RadioButtonFor(m => m.SendingOption, TaskSendingOptions.Pending)
                                                                <span class="radio-label">Schedule</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-top-20">
                                                        <div class="popup-actions" style="@(Model.SendingOption == TaskSendingOptions.Now ? "pointer-events: none; opacity: 0.5;" : string.Empty)">
                                                            @Html.LabelFor(model => model.SendDate, new { @class = "title-select" })
                                                            @Html.TextBox("SendDate", Model.SendDate.CalendarFormatWidthYear(), new { @class = "simple-input datepicker", @placeholder = "Select Send Date" })
                                                            @Html.ValidationMessageFor(m => m.SendDate)
                                                        </div>
                                                    </div>
                                                    <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-top-20">
                                                        <div class="popup-actions">
                                                            @Html.LabelFor(model => model.Deadline, new { @class = "title-select" })
                                                            @Html.TextBox("Deadline", Model.Deadline.CalendarFormatWidthYear(), new { @class = "simple-input datepicker", @placeholder = "Select Due Date" })
                                                            @Html.ValidationMessageFor(m => m.Deadline)
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row no-margin">
                                                    @if (!Model.IsProjectTask)
                                                    {
                                                        <div class="col col-lg-8 col-md-8 col-sm-8 col-xs-8 no-padding margin-top-20">
                                                            <div class="select-type topic-select">
                                                                @Html.LabelFor(m => m.SelectedTopicId, new { @class = "title-select" })
                                                                @Html.DropDownListFor(m => m.SelectedTopicId, Model.TopicsForAssignee, "--Unselect item--", new { @class = "select-list", @title = "Choose item" })
                                                            </div>
                                                        </div>
                                                    }
                                                    <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding margin-top-20">
                                                        <div class="row conter-row  margin-top-20">
                                                            @if (Model.AttacmentsCounter > 0)
                                                            {
                                                                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding text-right">
                                                                    <span class="@(Model.AttacmentsCounter > 0 ? "has-attachments-image" : "no-attachments-image")"></span>
                                                                    <div class="counter">
                                                                        @Model.AttacmentsCounter
                                                                    </div>
                                                                </div>
                                                            }
                                                            @if (Model.VoiceMessagesCounter > 0)
                                                            {
                                                                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding text-right">
                                                                    <span class="@(Model.VoiceMessagesCounter > 0 ? "has-voise-messages-image" : "no-voise-messages-image")"></span>
                                                                    <div class="counter">
                                                                        @Model.VoiceMessagesCounter
                                                                    </div>
                                                                </div>
                                                            }
                                                            @if (Model.IsFeedbackRequired)
                                                            {
                                                                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding text-right">
                                                                    <span class="@(Model.IsFeedbackRequired ? "has-feedback-required-image" : "no-feedback-required-image")"></span>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @if (Model.ItemDetailsTab != null)
                                        {
                                            <div id="topic-details" class="tab-pane fade in">
                                                @Html.Partial("~/Views/Rotation/TaskBoard/Dialogs/_TopicDetailsTab.cshtml", Model.ItemDetailsTab)
                                            </div>
                                        }
                                        <div id="logs" class="tab-pane fade in">
                                            @Html.Action("GetTaskLogs", "Tasks", new { taskId = Model.ID })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            setTimeout(function () {
                var dialog = $("#editTaskFormDialog");
                var canChangeAssignee = $("#CanChangeAssignee", dialog).val() === "True";
                
                $(".has-attachments-image", "#task-details").click(function () {
                    var _this = this;
                    $(_this).attr("style", "pointer-events: none;");
                    var id = $("#ID", "#editTaskFormDialog").val();
                    var attachmentsDialog = Relay.AttachmentsDialog(id, 2, 2);
                    attachmentsDialog.setCloseEvent(function () {
                        $(_this).removeAttr("style");
                    });
                    attachmentsDialog.open();
                });

                $(".has-attachments-image", "#topic-details").click(function () {
                    var _this = this;
                    $(_this).attr("style", "pointer-events: none;");
                    var id = $("#ItemId", "#editTaskFormDialog").val();
                    var attachmentsDialog = Relay.AttachmentsDialog(id, 2, 1);
                    attachmentsDialog.setCloseEvent(function () {
                        $(_this).removeAttr("style");
                    });
                    attachmentsDialog.open();
                });

                var ownerId = $("#OwnerId", dialog).val();
                var isWorkItemTask = $(".topic-select .select-list", dialog).selectpicker('val') ? true : false;
                var startLimitDate = Relay.DotNetDate.dateStringToDate("@Model.StartLimitDate.ToString()");
                var startSendLimitDate = new Date(startLimitDate); startSendLimitDate.setDate(startSendLimitDate.getDate() + 1);
                //-------
                function onPendingMechanism() {
                    $(".radio-btn-group", dialog).removeAttr("style");
                    $("#SendDate", dialog).parent().attr("style", "pointer-events: none; opacity: 0.5;");
                }
                function offPendingMechanism() {
                    $("input[name='SendingOption'][value='Now']", dialog).prop('checked', true);
                    $(".radio-btn-group", dialog).attr("style", "pointer-events: none; opacity: 0.5;");
                    $("#SendDate", dialog).val('');
                    $("#SendDate", dialog).parent().attr("style", "pointer-events: none; opacity: 0.5;");
                    deadline.datepicker("setStartDate", startLimitDate);
                }
                function setAssigneeImage(userId) {
                    if (canChangeAssignee) {
                        if (userId) {
                            $(".team-btn img", dialog).attr("src", "/Media/GetAvatarForEmployee?employeeId=" + userId + "&amp;width=100&amp;height=100");
                            $(".team-btn img", dialog).removeClass("no-assignee-image");
                        }
                        else {
                            $(".team-btn img", dialog).attr("src", "/Content/img/svg/no-assignee-image.svg");
                            $(".team-btn img", dialog).addClass("no-assignee-image");
                        }
                    }
                }
                //-------
                $(".topic-select select.select-list", dialog).on("changed.bs.select", function () {
                    if (canChangeAssignee) {
                        if ($(this).selectpicker('val')) {
                            if (ownerId == $("#AssignedTo", dialog).val()) {
                                $("#AssignedTo", dialog).val('');
                                setAssigneeImage();
                            }
                            isWorkItemTask = true;
                            offPendingMechanism();
                        }
                        else {
                            isWorkItemTask = false;
                            if (ownerId != $("#AssignedTo", dialog).val()) {
                                onPendingMechanism();
                            }
                            $(".topic-select .filter-option.pull-left", dialog).text("Choose item");
                        }
                    }
                });
                //-------
                var searchTags = $(".tags-input", dialog).magicSuggest({
                    placeholder: 'Enter tags',
                    maxSelection: 7,
                    hideTrigger: true,
                    toggleOnClick: true,
                    name: "Tags",
                    value: [@Html.Raw(Model.TagsString)]
                });

                $(searchTags).on('selectionchange', function (e, m, v) {
                    $("button[type=submit]", dialog).trigger("activate");
                });
                //-------
                $(".avatar-block", dialog).click(function () {
                    if (canChangeAssignee) {
                        var chooseTeammateDialog = Relay.ChooseTeammateDialog({
                            userId: ownerId,
                            selectedUserId: $("#AssignedTo", dialog).val(),
                            showMe: !isWorkItemTask,
                            showOnSite: true,
                            showOffSite: true,
                            showWithoutRotation: true
                        });

                        chooseTeammateDialog.setChooseEvent(assigneTo);
                        chooseTeammateDialog.open();
                    }
                });

                function assigneTo(userId) {
                    if (canChangeAssignee) {
                        $("#AssignedTo", dialog).val(userId);
                        setAssigneeImage(userId);
                        $("button[type=submit]", dialog).trigger("activate");

                        if (ownerId == userId || $(".topic-select select.select-list", dialog).selectpicker('val')) {
                            offPendingMechanism();
                        }
                        else {
                            onPendingMechanism();
                        }
                    }
                }
                //------
                var deadline = $("#Deadline", dialog).datepicker({
                    format: "dd M yyyy",
                    container: dialog,
                    todayBtn: false,
                    startDate: startLimitDate
                });

                var sendDate = $("#SendDate", dialog).datepicker({
                    format: "dd M yyyy",
                    container: dialog,
                    todayBtn: false,
                    startDate: startSendLimitDate
                });

                deadline.on('changeDate', function () {
                    $(this).datepicker('hide');
                    $("button[type=submit]", dialog).trigger("activate");
                });

                sendDate.on('changeDate', function () {
                    $("#Deadline", dialog).val('');
                    deadline.datepicker("setStartDate", $(this).datepicker('getDate'));
                    $(this).datepicker('hide');
                    $("button[type=submit]", dialog).trigger("activate");
                });
                //------
                $("input[name='SendingOption']", dialog).change(function () {
                    $("#Deadline", dialog).val('');
                    $("#SendDate", dialog).val('');

                    switch (this.value) {
                        case "Now":
                            $("#SendDate", dialog).parent().attr("style", "pointer-events: none; opacity: 0.5;");
                            deadline.datepicker("setStartDate", startLimitDate);
                            break;
                        case "Pending":
                            $("#SendDate", dialog).parent().removeAttr("style");
                            break;
                    }
                });
                //------ Init ---
                if (canChangeAssignee) {
                    if (ownerId == $("#AssignedTo", dialog).val() || $(".topic-select select.select-list", dialog).selectpicker('val')) {
                        offPendingMechanism();
                    }
                }
                //-------
            }, 100);
        </script>
    }
</div>