﻿@model TaskBoardCompleteTaskDetailTabViewModel

<div id="TaksDetailsTab">
    <div class="row">
        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="row no-margin">
                <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding padding-right-30">
                    <div class="field-container">
                        @Html.LabelFor(model => model.Name, new { @class = "title-select" })
                        @Html.TextBox("TaskDetailTab.Name", Model.Name, new { @class = "simple-input", @readonly = "" })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>
                <div class="col col-lg-5 col-md-5 col-sm-5 col-xs-5 no-padding padding-right-30">
                    <div class="select-type">
                        @Html.LabelFor(m => m.Priority, new { @class = "title-select" })
                        @Html.DropDownList("TaskDetailTab.Priority", new[] {
                            new SelectListItem { Text = TaskPriority.Low.ToString(), Value = TaskPriority.Low.ToString() },
                            new SelectListItem { Text = TaskPriority.Normal.ToString(), Value = TaskPriority.Normal.ToString() },
                            new SelectListItem { Text = TaskPriority.Important.ToString(), Value = TaskPriority.Important.ToString() },
                            new SelectListItem { Text = TaskPriority.Critical.ToString(), Value = TaskPriority.Critical.ToString() },
                            new SelectListItem { Text = TaskPriority.Urgent.ToString(), Value = TaskPriority.Urgent.ToString() }
                        }, new { @class = "select-list", @disabled = "" })
                        @Html.ValidationMessageFor(m => m.Priority)
                    </div>
                </div>
                <div class="col col-lg-1 col-md-1 col-sm-1 col-xs-1 no-padding">
                    <div class="avatar-block">
                        <span class="title-select" style="font-size: 8px !important; margin-bottom: 5px;">Assigned by</span>
                        <a href="javascript:void(0)" class="team-btn">
                            <img src="/Media/GetAvatarForEmployee?employeeId=@(Model.AssignedFrom)&amp;width=90&amp;height=90"
                                 class="media-object img-circle assigned-to-large-photo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 no-padding">
            <div class="field-container">
                @Html.LabelFor(model => model.TaskNotes, new { @class = "title-select" })
                @Html.TextArea("TaskDetailTab.TaskNotes", Model.TaskNotes, new { @class = "textarea simple-textarea", @rows = "3", @maxlength = "500", @placeholder = "No Notes", @readonly = "" })
                @Html.ValidationMessageFor(model => model.TaskNotes)
            </div>
        </div>
        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 no-padding">
            <div class="tags-input-container padding-right-15">
                @Html.LabelFor(model => model.Tags, new { @class = "title-select" })
                <div class="ms-ctn form-control ms-ctn-focus tags-input"></div>
                @Html.ValidationMessageFor(model => model.Tags)
            </div>
        </div>
        <div class="col col-lg-4 col-md-4 col-sm-5 col-xs-4 margin-top-20 no-padding">
            <div class="popup-actions">
                <span class="title-select">@Html.LabelFor(m => m.Deadline)</span>
                <div class="simple-input" id="DueDate">@Model.Deadline.CalendarFormatWidthYear()</div>
            </div>
        </div>
        <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding margin-top-20">
            <div class="row conter-row  margin-top-20">
                @if (Model.AttacmentsCounter > 0)
                {
                    <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding text-right">
                        <span class="@(Model.AttacmentsCounter > 0 ? "has-attachments-image" : "no-attachments-image")" style="cursor: pointer;"></span>
                        <div class="counter">
                            @Model.AttacmentsCounter
                        </div>
                    </div>
                }
                @if (Model.VoiceMessagesCounter > 0)
                {
                    <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding text-right">
                        <span class="@(Model.VoiceMessagesCounter > 0 ? "has-voise-messages-image" : "no-voise-messages-image")"></span>
                        <div class="counter">
                            @Model.VoiceMessagesCounter
                        </div>
                    </div>
                }
                @if (Model.IsFeedbackRequired)
                {
                    <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding text-right">
                        <span class="@(Model.IsFeedbackRequired ? "has-feedback-required-image" : "no-feedback-required-image")"></span>
                    </div>
                }
            </div>
        </div>
    </div>

    <script>
        ;(function () {
            $('#TaksDetailsTab .tags-input').magicSuggest({
                placeholder: 'No Tags',
                maxSelection: 10,
                hideTrigger: true,
                toggleOnClick: true,
                disabled: true,
                name: "Tags",
                value: [@Html.Raw(Model.TagsString)]
            });
        })();
    </script>
</div>