.safety-message-date-v2-dialog {

    .page-content {


        .modal-dialog {
            width: 600px;
        }

        .modal-body {
            padding-bottom: 0px !important;
            padding-top: 4px !important;
        }

        .safety-message-dialog-title {
            height: 40px;
            margin: 8px 0 0 5px;
            align-items: center;
            font-size: 10px;
            letter-spacing: 0.009em;
            box-sizing: border-box;

            .title-name {
                color: white;
                vertical-align: text-top;
                padding: 20px 0 0 0px;
                width: 70%;
                height: 40px;
                float: left;
                box-sizing: border-box;
            }

            .title-icon {
                color: white;
                vertical-align: text-top;
                padding: 20px 0 0 0px;
                box-sizing: border-box;
                height: 40px;

                &.expired {
                    color: white;
                    vertical-align: text-top;
                    padding: 15px 0 0 0px;
                    box-sizing: border-box;
                    height: 40px;

                    .view {
                        display: inline-block;
                        padding-left: 15px;
                    }

                    .other {
                        padding-left: 0px;
                    }
                }

                .view {
                    display: inline-block;
                    padding-left: 35px;
                }

                .other {
                    padding-left: 5px;
                    display: inline-block;
                }
            }
        }

        .swiper-container {
            height: 200px;
            border-bottom: 2px #A3A3A3 solid !important;
            border-top: 2px #A3A3A3 solid !important;

            .swiper-wrapper {
                display: inline-block;

                .safety-message-dialog-body {
                    min-height: 40px;
                    max-height: 40px;
                    align-items: center;
                    font-size: 14px;
                    box-sizing: border-box;
                    border-bottom: 1px solid#858585;
                    display: flex;

                    .group-name {
                        color: #ffffff;
                        vertical-align: text-top;
                        padding: 10px 0px;
                        max-width: ~' calc(100% - 60px)';
                        box-sizing: border-box;
                        cursor: pointer;
                        overflow: hidden;
                        word-wrap: normal;
                        min-width: ~' calc(100% - 60px)';
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                    .safety-btn-group {
                        padding-left: 20px !important;

                        &.expired {
                            .view {
                                margin-left: 15px;
                            }
                        }

                        .view {
                            width: 16px;
                            height: 16px;
                            color: #ffffff;
                            background-image: data-uri("@{main-url-img}/view-item-dark.svg");
                            background-size: contain;
                            box-sizing: border-box;
                            cursor: pointer;
                            display: inline-block;
                            margin-left: 32px;
                        }

                        .edit {
                            width: 16px;
                            height: 16px;
                            color: #ffffff;
                            background-image: data-uri("@{main-url-img}/edit-pencil-dark.svg");
                            background-size: contain;
                            box-sizing: border-box;
                            margin-left: 5px;
                            cursor: pointer;
                            display: inline-block;
                        }

                        .reschedule {
                            color: #ffffff;
                            margin-left: 15px;
                            cursor: pointer;
                            font-size: 13px;
                            display: inline-block;
                            top: -1px;
                        }
                    }
                }
            }
        }

        .swiper-prev {
            cursor: pointer;
            top: 50px;
            right: 1px;
            position: absolute;
            border: none;
            width: 8px;
            height: 5px;
            background-image: data-uri("@{main-url-img}/arrow_down.svg");
            z-index: 2;
            transform: rotate(180deg);
        }

        .swiper-next {
            cursor: pointer;
            bottom: 10px;
            right: 1px;
            position: absolute;
            border: none;
            width: 8px;
            height: 5px;
            background-image: data-uri("@{main-url-img}/arrow_down.svg");
            z-index: 2;
        }
    }
}
