﻿@model EditShiftDatesViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ShiftId)
    @Html.HiddenFor(m => m.CurrentDate)
    @Html.HiddenFor(m => m.EndLimitDate)

    @Html.HiddenFor(m => m.EndShiftDateReadOnly)
    @Html.HiddenFor(m => m.NextShiftDateReadOnly)

    @Html.HiddenFor(m => m.StartShiftDate)
    @Html.HiddenFor(m => m.EndShiftDate)
    @Html.HiddenFor(m => m.NextShiftDate)
    @Html.HiddenFor(m => m.BeginningOfNextShiftLimitDate)


    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <div class="row">
            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                <div class="field-container">
                    <span class="title-select">Start of your shift</span>
                    <div class="date-container">
                        <div Id="StartShiftDateDay" class="simple-input"></div>
                        <div Id="StartShiftDateMonth" class="simple-input"></div>
                        <div Id="StartShiftDateYear" class="simple-input"></div>
                    </div>
                    @Html.ValidationMessageFor(m => m.StartShiftDate)
                    <div class="time-container">
                        <div class="select-type time-select">
                            @Html.DropDownList("StartShiftDateHours", Enumerable.Range(0, 24).Select(i =>
                            new SelectListItem
                            {
                                Value = i.ToString(),
                                Text = i.ToString("D2")
                            }), "HH", new { @class = "select-list hours-list" })
                        </div>
                        :
                        <div class="select-type time-select">
                            @Html.DropDownList("StartShiftDateMinutes", Enumerable.Range(0, 12).Select(i =>
                            new SelectListItem
                            {
                                Value = (i * 5).ToString(),
                                Text = (i * 5).ToString("D2")
                            }), "MM", new { @class = "select-list minutes-list" })
                        </div>
                    </div>
                    <div class="choose-date-btn start-date-btn">Choose Date</div>
                </div>
            </div>
            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                <div class="field-container">
                    <span class="title-select">End of your shift</span>
                    <div class="date-container">
                        <div Id="EndShiftDateDay" class="simple-input"></div>
                        <div Id="EndShiftDateMonth" class="simple-input"></div>
                        <div Id="EndShiftDateYear" class="simple-input"></div>
                    </div>
                    @Html.ValidationMessageFor(m => m.EndShiftDate)
                    <div class="time-container">
                        <div class="select-type time-select">
                            @Html.DropDownList("EndShiftDateHours", Enumerable.Range(0, 24).Select(i =>
                            new SelectListItem
                            {
                                Value = i.ToString(),
                                Text = i.ToString("D2")
                            }), "HH", new { @class = "select-list hours-list" })
                        </div>
                        :
                        <div class="select-type time-select">
                            @Html.DropDownList("EndShiftDateMinutes", Enumerable.Range(0, 12).Select(i =>
                            new SelectListItem
                            {
                                Value = (i * 5).ToString(),
                                Text = (i * 5).ToString("D2")
                            }), "MM", new { @class = "select-list minutes-list" })
                        </div>
                    </div>
                    <div class="choose-date-btn end-date-btn">Choose Date</div>
                </div>
            </div>
            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                <div class="field-container">
                    <span class="title-select">Beginning of next shift</span>
                    <div class="date-container">
                        <div Id="NextShiftDateDay" class="simple-input"></div>
                        <div Id="NextShiftDateMonth" class="simple-input"></div>
                        <div Id="NextShiftDateYear" class="simple-input"></div>
                    </div>
                    @Html.ValidationMessageFor(m => m.NextShiftDate)
                    <div class="time-container">
                        <div class="select-type time-select">
                            @Html.DropDownList("NextShiftDateHours", Enumerable.Range(0, 24).Select(i =>
                            new SelectListItem
                            {
                                Value = i.ToString(),
                                Text = i.ToString("D2")
                            }), "HH", new { @class = "select-list hours-list" })
                        </div>
                        :
                        <div class="select-type time-select">
                            @Html.DropDownList("NextShiftDateMinutes", Enumerable.Range(0, 12).Select(i =>
                            new SelectListItem
                            {
                                Value = (i * 5).ToString(),
                                Text = (i * 5).ToString("D2")
                            }), "MM", new { @class = "select-list minutes-list" })
                        </div>
                    </div>
                    <div class="choose-date-btn next-date-btn">Choose Date</div>
                </div>
            </div>
            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding margin-top-20">
                <div class="radio-btn-group">
                    @Html.LabelFor(model => model.RepeatTimes, new { @class = "title-select" })
                    <label>
                        @Html.RadioButton("RepeatShift", true, Model.RepeatTimes > 0, new { @Id = "RepeatShiftMultiple" })
                        <span class="radio-label">Multiple</span>
                    </label>
                    <label>
                        @Html.RadioButton("RepeatShift", false, Model.RepeatTimes == 0, new { @Id = "RepeatShiftNever" })
                        <span class="radio-label">Never</span>
                    </label>
                </div>
            </div>
            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                <div class="radio-btn-group repeat-count">
                    <label style="display: none;">
                        @Html.RadioButtonFor(model => model.RepeatTimes, 0, new { @Id = "RepeatTimes0" })
                    </label>
                    <label>
                        @Html.RadioButtonFor(model => model.RepeatTimes, 1)
                        <span class="radio-label">once</span>
                    </label>
                    <label>
                        @Html.RadioButtonFor(model => model.RepeatTimes, 2)
                        <span class="radio-label">twice</span>
                    </label>
                    <label>
                        @Html.RadioButtonFor(model => model.RepeatTimes, 3)
                        <span class="radio-label">3 times</span>
                    </label>
                    <label>
                        @Html.RadioButtonFor(model => model.RepeatTimes, 4)
                        <span class="radio-label">4 times</span>
                    </label>
                    <label>
                        @Html.RadioButtonFor(model => model.RepeatTimes, 5)
                        <span class="radio-label">5 times</span>
                    </label>
                    <label>
                        @Html.RadioButtonFor(model => model.RepeatTimes, 6)
                        <span class="radio-label">6 times</span>
                    </label>
                    <label>
                        @Html.RadioButtonFor(model => model.RepeatTimes, 7)
                        <span class="radio-label">7 times</span>
                    </label>
                    <label>
                        @Html.RadioButtonFor(model => model.RepeatTimes, 8)
                        <span class="radio-label">8 times</span>
                    </label>
                    <label>
                        @Html.RadioButtonFor(model => model.RepeatTimes, 9)
                        <span class="radio-label">9 times</span>
                    </label>
                    <label>
                        @Html.RadioButtonFor(model => model.RepeatTimes, 10)
                        <span class="radio-label">10 times</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div Id="miniCalendar" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding inline-mini-calendar" style="pointer-events: none;"></div>
}