.panels-block {
    margin-top: 50px;

    .panels {
        background-color: @main-blue;
        width: 100%;
        height: 160px;
        border-radius: 6px;
        display: flex;
        padding: 18px 30px;
        margin-bottom: 30px;

        .main-img {
            width: 100px;
            height: 110px;
            margin-top: 7px;
        }

        .main-img-safety {
            background: url("@{main-url-img}/safety.svg") no-repeat;
        }

        .main-img-core {
            background: url("@{main-url-img}/core.svg") no-repeat;
        }

        .main-img-tasks {
            background: url("@{main-url-img}/tasks.svg") no-repeat;
        }

        .main-data {
            width: ~"calc(100% - 100px)";
            padding: 0 5px 0 30px;

            .title {
                color: @simple-white;
                font-size: 21px;
                font-weight: bold;
                border-bottom: 2px solid @main-brown;
                padding-bottom: 2px;
            }

            .title-new {
                position: relative;

                &:after {
                    position: absolute;
                    content: "";
                    width: 29px;
                    height: 24px;
                    background: url("@{main-url-img}/new.svg");
                    bottom: -24px;
                    right: 7px;
                }
            }

            .count {
                width: 70px;
                height: 70px;
                border: 2px solid @simple-white;
                border-radius: 50%;
                margin-top: 13px;
                text-align: center;

                span {
                    color: @simple-white;
                    font-size: 32px;
                    font-weight: bold;
                    line-height: 64px;
                }
            }
        }
    }
}
