﻿@using MomentumPlus.Relay.BLL.Extensions.NativeTypesExtensions
@model IEnumerable<RotationTaskViewModel>

<div Id="receivedTasksListDialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true" class="modal fade rotation-topic-tasks-dialog">
    <div class="modal-dialog">
        <div class="theme">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row vertical-center">
                        <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div Id="modalTitle" class="modal-title">Tasks</div>
                        </div>
                        <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                            <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                            <div class="tasks-dialog-container">
                                <div class="topic-tasks-container">
                                    <div class="list-container">
                                        <div class="horizontal-title-container">
                                            <span class="title-select name-block">Name</span>
                                            <span class="title-select simple-column">Status</span>
                                            <span class="title-select simple-column">Due Date</span>
                                            <span class="title-select simple-column">Priority</span>
                                        </div>
                                        <div class="tasks-list-content">
                                            <div class="swiper-container">
                                                <div class="swiper-wrapper">
                                                    @if (!Model.Any())
                                                    {
                                                        <p>No tasks associated with this item</p>
                                                    }
                                                    @foreach (var task in Model)
                                                    {
                                                        <div class="swiper-slide">
                                                            <div task="@task.Id" class="name-block task-name">
                                                                <p class="note">@task.Name</p>
                                                            </div>
                                                            <div class="simple-column status">
                                                                @task.CompleteStatus
                                                            </div>
                                                            <div class="simple-column date-column">
                                                                @task.Deadline.Value.FormatWithMonth()
                                                            </div>
                                                            <div class="simple-column priority-column">
                                                                @Html.TaskPriorityBtn(task.Priority)
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-prev"></div>
                                        <div class="swiper-next"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="empty-div"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>