﻿@model RotationTaskDetailsViewModel

<div Id="taskDetailsDialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true" class="modal fade rotation-task-dialog">
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.TopicId)

    <div class="modal-dialog">
        <div class="theme">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row vertical-center">
                        <div class="col col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <div Id="modalTitle" class="modal-title">View Task</div>
                        </div>
                        <div class="col col-lg-4 col-md-4 col-sm-6 col-xs-4 text-right">
                            <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                            <div class="tab-block">
                                <div class="navigation-block">
                                    <ul class="nav nav-tabs">
                                        <li class="@(Model.SelectedTabNumber == 1 ? "active" : "")" tabNumber="1"><a data-toggle="tab" href="#topic-details">Item Details</a></li>
                                        <li class="@(Model.SelectedTabNumber == 0 ? "active" : "")" tabNumber="0"><a data-toggle="tab" href="#task-details">Task Details</a></li>
                                        <li class="orange @(Model.SelectedTabNumber == 2 ? "active" : "")" tabNumber="2"><a data-toggle="tab" href="#outcomes">Handback</a></li>
                                        <li><a data-toggle="tab" href="#task-logs">Log</a></li>
                                    </ul>
                                </div>
                                <div class="tab-content">
                                    <div Id="topic-details" class="tab-pane fade in @(@Model.SelectedTabNumber == 1 ? "active" : "")">
                                        @Html.Partial("~/Views/Rotation/Tasks/_TopicDetailsDialog.cshtml", Model.TopicDetails)
                                    </div>
                                    <div Id="task-details" class="tab-pane fade in @(@Model.SelectedTabNumber == 0 ? "active" : "")">
                                        <div class="row">
                                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                                <div class="row no-margin">
                                                    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
                                                        <div class="field-container">
                                                            <span class="title-select">@Html.LabelFor(model => model.Name)</span>
                                                            @Html.TextBoxFor(model => model.Name, new {@class = "simple-input", @readonly = ""})
                                                            @Html.ValidationMessageFor(model => model.Name)
                                                        </div>
                                                    </div>
                                                    <div class="col col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                        <div class="popup-actions">
                                                            <span class="title-select">@Html.LabelFor(model => model.Deadline)</span>
                                                            <div class="simple-input">@Model.Deadline.CalendarFormatWidthYear()</div>
                                                        </div>
                                                    </div>
                                                    <div class="col col-lg-1 col-md-1 col-sm-1 col-xs-1 no-padding">
                                                        <div class="avatar-block" style="@(Model.IsRotationMode ? "" : "pointer-events: none;")">
                                                            <span class="title-select" style="font-size: 8px !important; margin-bottom: 5px;">Assigned by</span>
                                                            <a href="javascript:void(0)" class="team-btn">
                                                                <img src="/Media/GetAvatarForEmployee?employeeId=@(Model.AssignedFrom)&amp;width=90&amp;height=90"
                                                                     class="media-object img-circle assigned-to-large-photo">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                                                <div class="select-type">
                                                    <span class="title-select">@Html.LabelFor(m => m.Priority)</span>
                                                    @Html.EnumDropDownListFor(model => model.Priority, new {@class = "select-list", @disabled = ""})
                                                    @Html.ValidationMessageFor(m => m.Priority)
                                                </div>
                                            </div>
                                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                                                <div class="field-container">
                                                    <span class="title-select">@Html.LabelFor(model => model.TaskNotes)</span>
                                                    @Html.TextAreaFor(model => model.TaskNotes, new {@class = "textarea simple-textarea", @rows = "3", @maxlength = "500", @placeholder = "No Notes", @readonly = ""})
                                                    @Html.ValidationMessageFor(model => model.TaskNotes)
                                                </div>
                                            </div>
                                            @if (Model.IsSwingMode)
                                            {
                                                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding margin-top-20">
                                                    <div class="tags-input-container padding-right-15">
                                                        @Html.LabelFor(model => model.Tags, new {@class = "title-select"})
                                                        <div class="ms-ctn form-control ms-ctn-focus tags-input"></div>
                                                        @Html.ValidationMessageFor(model => model.Tags)
                                                    </div>
                                                </div>
                                                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding margin-top-20">
                                                    <div class="radio-btn-group">
                                                        @Html.Label("Sending Options", new {@class = "title-select"})
                                                        <label>
                                                            @Html.RadioButtonFor(m => m.SendingOption, TaskSendingOptions.Now, new {@disabled = ""})
                                                            <span class="radio-label">Now</span>
                                                        </label>
                                                        <label>
                                                            @Html.RadioButtonFor(m => m.SendingOption, TaskSendingOptions.EndOfSwing, new {@disabled = ""})
                                                            <span class="radio-label">End of Swing</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col col-lg-8 col-md-8 col-sm-8 col-xs-8 no-padding margin-top-20">
                                                    <div class="tags-input-container padding-right-15">
                                                        @Html.LabelFor(model => model.Tags, new {@class = "title-select"})
                                                        <div class="ms-ctn form-control ms-ctn-focus tags-input"></div>
                                                        @Html.ValidationMessageFor(model => model.Tags)
                                                    </div>
                                                </div>
                                            }
                                            <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding margin-top-20">
                                                <div class="row conter-row  margin-top-20">
                                                    @if (Model.AttacmentsCounter > 0)
                                                    {
                                                        <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding text-right">
                                                            <span class="@(Model.AttacmentsCounter > 0 ? "has-attachments-image" : "no-attachments-image")"></span>
                                                            <div class="counter">
                                                                @Model.AttacmentsCounter
                                                            </div>
                                                        </div>
                                                    }
                                                    @if (Model.VoiceMessagesCounter > 0)
                                                    {
                                                        <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding text-right">
                                                            <span class="@(Model.VoiceMessagesCounter > 0 ? "has-voise-messages-image" : "no-voise-messages-image")"></span>
                                                            <div class="counter">
                                                                @Model.VoiceMessagesCounter
                                                            </div>
                                                        </div>
                                                    }
                                                    @if (Model.IsFeedbackRequired)
                                                    {
                                                        <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding text-right">
                                                            <span class="@(Model.IsFeedbackRequired ? "has-feedback-required-image" : "no-feedback-required-image")"></span>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div Id="outcomes" class="tab-pane fade in @(@Model.SelectedTabNumber == 2 ? "active" : "")">
                                        <div class="row">
                                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                                <div class="field-container">
                                                    <span class="title-select">@(Model.IsFeedbackRequired ? "Handback Notes*" : "Handback Notes")</span>
                                                    @Html.TextAreaFor(model => model.Feedback, new {@class = "textarea simple-textarea", @rows = "3", @maxlength = "500", @placeholder = "No Handback Notes", @readonly = ""})
                                                    @Html.ValidationMessageFor(model => model.Feedback)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding margin-top-20">
                                                <div class="row conter-row  margin-top-20">
                                                    @if (Model.AttacmentsCounter > 0)
                                                    {
                                                        <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding text-right">
                                                            <span class="@(Model.AttacmentsCounter > 0 ? "has-attachments-image" : "no-attachments-image")"></span>
                                                            <div class="counter">
                                                                @Model.AttacmentsCounter
                                                            </div>
                                                        </div>
                                                    }
                                                    @if (Model.VoiceMessagesCounter > 0)
                                                    {
                                                        <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding text-right">
                                                            <span class="@(Model.VoiceMessagesCounter > 0 ? "has-voise-messages-image" : "no-voise-messages-image")"></span>
                                                            <div class="counter">
                                                                @Model.VoiceMessagesCounter
                                                            </div>
                                                        </div>
                                                    }
                                                    @if (Model.IsFeedbackRequired)
                                                    {
                                                        <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding text-right">
                                                            <span class="@(Model.IsFeedbackRequired ? "has-feedback-required-image" : "no-feedback-required-image")"></span>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="task-logs" class="tab-pane fade in">
                                        @Html.Action("GetTaskLogs", "Tasks", new {taskId = Model.Id})
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#taskDetailsDialog .tags-input').magicSuggest({
            placeholder: 'No tags',
            maxSelection: 10,
            hideTrigger: true,
            toggleOnClick: true,
            disabled: true,
            name: "Tags",
            value: [@Html.Raw(Model.TagsString)]
        });

        $('.nav-tabs > li').click(function() {
            var tabNumber = $(this).attr("tabNumber");
            $("#SelectedTabNumber").val(tabNumber);
        });

        $(".has-attachments-image", "#outcomes").click(function () {
            var _this = this;
            $(_this).attr("style", "pointer-events: none;");
            var id = $("#Id", "#taskDetailsDialog").val();
            var attachmentsDialog = Relay.AttachmentsDialog(id, 2, 2);
            attachmentsDialog.setCloseEvent(function () {
                $(_this).removeAttr("style");
            });
            attachmentsDialog.open();
        });

        $(".has-attachments-image", "#task-details").click(function () {
            var _this = this;
            $(_this).attr("style", "pointer-events: none;");
            var id = $("#Id", "#taskDetailsDialog").val();
            var attachmentsDialog = Relay.AttachmentsDialog(id, 2, 2);
            attachmentsDialog.setCloseEvent(function () {
                $(_this).removeAttr("style");
            });
            attachmentsDialog.open();
        });

        $(".has-attachments-image", "#topic-details").click(function () {
            var _this = this;
            $(_this).attr("style", "pointer-events: none;");
            var id = $("#TopicId", "#taskDetailsDialog").val();
            var attachmentsDialog = Relay.AttachmentsDialog(id, 2, 1);
            attachmentsDialog.setCloseEvent(function () {
                $(_this).removeAttr("style");
            });
            attachmentsDialog.open();
        });
    </script>
</div>
