﻿@model IEnumerable<IndodrillReport.BLL.ViewModels.PdfReportApprovalViewModel>

<div id="approvalsTable" class="approvals-table">
    <div class="table-title">APPROVALS</div>
    <div class="table-body">
        <table class="table">
            <tbody>
                @foreach (var item in Model)
                {
                    <tr row-id="@item.Id.ToString()">
                        <td class="position-body">@item.Name</td>
                        <td class="check-body">
                            @if (item.IsApproved)
                            {
                                <div class="approvals-checked">
                                    <div></div>
                                </div>
                            }
                            else
                            {
                                <div class="approvals-not-checked"></div>
                            }
                        </td>
                        <td class="signature-body">@Html.TextBox("Signature", item.Signature, new { @class = "simple-input", @maxlength = "50" })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>