﻿@model IndodrillReport.BLL.ViewModels.PdfReportFieldsViewModel

<div id="reportComments" class="comments-table">
    <div class="table-title">COMMENTS</div>
    <div class="table-body">
        <table class="table">
            <tbody>
            <tr>
                <td class="user-name">Driller</td>
                <td class="comment-body">
                    @Model.DrillerComment
                </td>
            </tr>
            <tr>
                <td class="user-name">Client</td>
                <td class="comment-body">
                    @Model.ClientComment
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>