﻿@model IndodrillReport.BLL.ViewModels.ReportsListViewModel

@{
    Layout = "~/Views/Shared/Layouts/Main/Authorized_Layout.cshtml";
}

<link href="~/Content/styles/indodrill-reports.css" rel="stylesheet" />

<div class="indodrill-reports-page-content">
    <div class="indodrill-reports-header" align="right">
        <div class="create-report-btn" align="right">
            <a href="@Url.Action("AddReport", "Reports")">
                Create DDR
            </a>
        </div>
    </div>
    <div class="indodrill-reports-table" style="display: none;">
        <table class="table">
            <thead>
                <tr class="table-header">
                    <td class="date-title">
                        <div class="select-type">
                            Date Created
                        </div>
                    </td>
                    <td class="driller-title">
                        <div class="select-type">
                            @Html.DropDownListFor(m => m.Filters.Driller, Model.Filters.Drillers, new { @class = "select-list", title = "Driller" })
                        </div>
                    </td>
                    <td class="created-by-title">
                        Created By
                    </td>
                    <td class="drill-rig-title">
                        <div class="select-type">
                            @Html.DropDownListFor(m => m.Filters.DrillRig, Model.Filters.DrillRigs, new { @class = "select-list", title = "Drill Rig" })
                        </div>
                    </td>
                    <td class="client-title">
                        <div class="select-type">
                            @Html.DropDownListFor(m => m.Filters.Client, Model.Filters.Clients, new { @class = "select-list", title = "Client" })
                        </div>
                    </td>
                    <td class="location-title">
                        <div class="select-type">
                            @Html.DropDownListFor(m => m.Filters.Location, Model.Filters.Locations, new { @class = "select-list", title = "Location" })
                        </div>
                    </td>
                    <td class="action-title"></td>
                </tr>
            </thead>
            <tbody class="table-content">
                <tr class="spacer-row"></tr>
                @if (Model.ReportsItems.Any())
                {
                    foreach (var item in Model.ReportsItems)
                    {
                        <tr class="report-row">
                            <td class="date-body">@item.CreatedDate</td>
                            <td class="driller-body">
                                @if (item.DrillerId.HasValue)
                                {
                                    <img src="@Url.Action("GetAvatarForEmployee", "Media", new { employeeId = item.DrillerId, area = "" })" alt="@item.DrillerName" />
                                }
                                <div class="user-name">
                                    @( string.IsNullOrEmpty(item.DrillerName) ? "-" : item.DrillerName )
                                </div>
                            </td>
                            <td class="created-by-body">
                                <img src="@Url.Action("GetAvatarForEmployee", "Media", new {employeeId = item.CreatorId, area = ""})" alt="@item.CreatorName" />
                                <div class="user-name">
                                    @( string.IsNullOrEmpty(item.CreatorName) ? "-" : item.CreatorName )
                                </div>
                            </td>
                            <td class="drill-rig-body">
                                @(string.IsNullOrEmpty(item.DrillRig) ? "-" : item.DrillRig)
                            </td>
                            <td class="client-body">
                                @( string.IsNullOrEmpty(item.ClientName) ? "-" : item.ClientName )
                            </td>
                            <td class="location-body">
                                @( string.IsNullOrEmpty(item.Location) ? "-" : item.Location )
                            </td>
                            <td class="action-body">
                                <a href="@Url.Action("ReportPage", "Report", new {reportId = item.Id})">
                                    <div class="go-to-report"></div>
                                </a>
                                @if (item.IsComplete)
                                {
                                    <a>
                                        <div class="check-mark-icon"></div>
                                    </a>
                                }
                                else
                                {
                                    <div class="remove-btn" report-id="@item.Id">
                                        <div class="complete remove-icon"></div>
                                    </div>
                                }
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr class="report-row">
                        <td colspan="7">
                            <div class="text-center">
                                No DDRs to display
                            </div>
                        </td>
                    </tr>
                }
                <tr class="spacer-row"></tr>
            </tbody>
        </table>
    </div>
    @if (Model.ReportsItems.TotalItemCount > 5)
    {
        <div class="footer-block">
            <div class="view-block">
                <div class="eyes"></div>
                <div class="count-block">
                    <a href="@Url.Action("Index", "Reports", new { pageSize = 5 })"><div class="counter @(Model.ReportsItems.PageSize == 5 ? "active" : string.Empty )">5</div></a>
                    <a href="@Url.Action("Index", "Reports", new { pageSize = 10 })"><div class="counter @(Model.ReportsItems.PageSize == 10 ? "active" : string.Empty )">10</div></a>
                    <a href="@Url.Action("Index", "Reports", new { pageSize = 15 })"><div class="counter @(Model.ReportsItems.PageSize == 15 ? "active" : string.Empty )">15</div></a>
                    <a href="@Url.Action("Index", "Reports", new { pageSize = Model.ReportsItems.TotalItemCount > 15 ? Model.ReportsItems.TotalItemCount : 16 })"><div class="counter @(Model.ReportsItems.PageSize > 15 ? "active" : string.Empty )">All</div></a>
                </div>
            </div>
            <div class="pagination-block">
                <div class="pagination-pages">
                    @Html.Pager(Model.ReportsItems.PageSize, Model.ReportsItems.PageNumber, Model.ReportsItems.TotalItemCount).Options(o => o
                        .DisplayTemplate("BootstrapPagination")
                        .MaxNrOfPages(1)
                        .DisplayFirstAndLastPage())
                </div>
            </div>
        </div>
    }

    <script src="~/Content/js/relay/indodrill-report/indodrill-reports.module.js"></script>
</div>
