﻿@model IndodrillReport.BLL.ViewModels.ReportMaterialViewModel

<tr row-id="@Model.Id.ToString()">
    <td class="btn-column">
        <div class="remove-icon"></div>
    </td>
    <td class="item-body">
        @Html.TextBoxFor(m => m.Name, new { @class = "simple-input", type = "text", maxlength = "50" })
    </td>
    <td class="units-body">
        @Html.TextBoxFor(m => m.Units, new { @class = "simple-input", type = "text", maxlength = "10" })
    </td>
    <td class="qty-body">
        @Html.TextBoxFor(m => m.Quantity, new { @class = "simple-input", type = "text", maxlength = "6" })
    </td>
</tr>