﻿
@{
    Layout = "~/Views/Shared/Layouts/Main/Authorized_Layout.cshtml";
}

<div class="report-container" style="display: none;">
    <div class="report-side-menu">
        <ul class="nav nav-tabs" role="tablist">
            @Html.MvcSiteMap().Menu(
        templateName: "BootstrapMenuHelperModel",
        startingNode: Html.MvcSiteMap().SiteMap.CurrentNode.ParentNode,
        startingNodeInChildLevel: true,
        showStartingNode: true
    )
        </ul>
    </div>

    <div class="page-content">
        @RenderBody()
    </div>

    <script src="~/Content/js/relay/reports/global-reports/global-reports.module.js"></script>

    @section Scripts
    {
        @RenderSection("Scripts", required: false)
    }
</div>