﻿.topic-report-container {

    .page-content {
        margin-top: 30px;

        @media (max-width: 999px) {
            overflow-x: scroll;
        }

        overflow-x: visible;


        .table {
            margin-bottom: 0px;
        }

        .table-header {
            background-color: white;
            color: #454545;
            height: 30px;

            td:first-child {
                border-bottom-left-radius: 4px;
                border-top-left-radius: 4px;
            }

            td:last-child {
                border-bottom-right-radius: 4px;
                border-top-right-radius: 4px;
            }

            td {
                font-size: 12px;
                font-weight: bold;
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 0px;

                .select-type .bootstrap-select.btn-group {
                    border: none;
                }

                .bootstrap-select.btn-group .dropdown-toggle {
                    .btn .dropdown-toggle {
                        padding-bottom: 0px;
                        margin-bottom: -5px;
                        padding-top: 0px;
                        padding-left: 0px;
                    }

                    .filter-option {
                        font-size: 12px;
                        font-weight: bold;
                        color: #464646;
                        height: 22px;
                        padding-right: 15px;
                        overflow: hidden;
                        word-wrap: normal;
                        max-width: 170px;
                        min-width: initial;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                    .caret {
                        right: 35px;
                        margin-top: -9px;
                    }
                }

                .select-class {
                    padding-bottom: 0px;
                    margin-bottom: -5px;
                    padding-top: 0px;
                    padding-left: 0px;
                    background: none;

                    &:focus, &:hover {
                        background: none;
                    }

                    .bs-caret {
                        .caret {
                            background-image: data-uri("@{main-url-img}/down_arrow_light.svg");
                        }
                    }
                }

                .open {
                    .bs-caret {
                        .caret {
                            background-image: data-uri("@{main-url-img}/up_arrow_light.svg");
                        }
                    }
                }

                .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
                    width: 100% !important;
                }

                .dropdown-menu {

                    &.open {
                        border: 1.5px solid #464646;
                        box-shadow: none !important;
                        padding-top: 1px;
                        padding-bottom: 1px;
                        padding-right: 1px;
                        background-color: #fff;

                        ul {
                            background-color: #fff;

                            li .selected {
                                background-color: #00AFF0 !important;
                            }
                        }
                    }

                    li {
                        a {
                            color: #464646;

                            &:hover {
                                background-color: transparent;
                                opacity: 0.5;
                                color: #00aff0;
                            }

                            &:active {
                                background-color: transparent;
                            }

                            &:focus {
                                background: transparent;
                                color: #00aff0;
                            }
                        }

                        &.active {
                            a {
                                background-color: #fff;
                                color: #00aff0;
                            }
                        }
                    }

                    &::-webkit-scrollbar {
                        width: 1em;
                    }

                    &::-webkit-scrollbar-track {
                        background-color: grey;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: #454545;
                        border: 3px solid transparent;
                        border-radius: 9px;
                        background-clip: content-box;
                    }

                    a {
                        padding-left: 10px;
                    }

                    .no-results {
                        background-color: #fff;
                        color: #464646;
                        height: 25px;
                        width: 260px;
                        padding-left: 2px;
                    }
                }

                .bs-searchbox {

                    input {
                        background-color: #fff;
                        color: #464646;
                        height: 25px;
                        width: 260px;
                        border: none;
                        border-bottom: 1px solid #464646;
                        border-radius: 0;
                        box-shadow: none;
                        padding-left: 0px;
                        padding-right: 0px;
                    }
                }
            }

            .date-title {
                width: 150px;
                max-width: 150px;
                padding-right: 0px;
            }

            .creator-title {
                width: 90px;
                max-width: 90px;
            }

            .topic-name-title {
                width: 200px;
                max-width: 200px;
            }

            .topic-type-title {
                width: 200px;
                max-width: 200px;
            }

            .notes-title {
                width: 520px;
                max-width: 520px;
            }
        }

        .table-content {
            .spacer-row {
                height: 5px;
            }

            .empty-content {
                text-align: center;
                font-size: 14px;
                font-weight: bold;
                margin: 0px auto;
                padding: 0px;
                height: 20px;
            }

            .report-row {
                padding: 10px 0;
                background-color: white;
                border-bottom: 3px solid #efefef;

                td:first-child {
                    border-bottom-left-radius: 4px;
                    border-top-left-radius: 4px;
                }

                td:last-child {
                    border-bottom-right-radius: 4px;
                    border-top-right-radius: 4px;
                }

                td {
                    height: 56px;
                    font-size: 14px;
                    font-weight: normal;
                    padding: 10px 20px;
                    vertical-align: top;
                    border-top: none;
                    min-height: 56px;
                    max-height: 138px;
                }

                .date-body {
                    width: 150px;
                    max-width: 150px;
                    padding-right: 0px;
                }

                .creator-body {
                    width: 90px;
                    max-width: 90px;

                    img {
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                    }
                }

                .topic-name-body {
                    width: 200px;
                    max-width: 200px;
                    overflow: hidden;
                    word-wrap: normal;
                    min-width: initial;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .topic-type-body {
                    width: 200px;
                    max-width: 200px;
                    overflow: hidden;
                    word-wrap: normal;
                    min-width: initial;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .notes-body {
                    width: 520px;
                    max-width: 520px;
                    word-wrap: break-word;
                    word-break: break-word;
                }
            }

            .pagination-block {
                background-color: white;
            }
        }
    }
}
