.scheduler-panels {
    .panel {
        margin-top: 15px;
        margin-bottom: 0px;
        background-color: #fff;
        border-radius: 6px;

        &:first-child {
            margin-top: 30px;
        }

        &.active {
            border: 3px solid #F29105;

            .panel-body {
                margin: -3px;

                .schedule-edit-timeline {
                    position: absolute;
                    background-color: #F29105;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    cursor: pointer;
                    padding: 7px;
                    top: -15px;
                    right: 13px;

                    .edit-icon {
                        width: 16px;
                        height: 16px;
                        background-image: data-uri("@{main-url-img}/pencil-white.svg");
                    }
                }
            }
        }

        .panel-body {
            padding: 0px 50px 0px 155px;

            .scheduler-user-info {
                width: 120px;
                text-align: center;
                position: absolute;
                top: 10px;
                left: 0px;

                &.active {
                    cursor: pointer;
                }

                .user-img {
                    padding-bottom: 10px;

                    img {
                        width: 27px;
                        height: 27px;
                        border-radius: 50%;
                    }
                }

                .user-name {
                    font-size: 12px;
                    font-weight: bold;
                    color: #464646;
                    overflow: hidden;
                    word-wrap: normal;
                    max-width: 121px;
                    min-width: initial;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    text-align: center;
                }

                .user-last-activity {
                    width: 90px;
                    color: #464646;
                    font-size: 12px;
                    font-weight: normal;
                    margin: 0px auto;
                }
            }

            .swiper-container {

                .swiper-slide {
                    display: flex;
                    position: relative;
                    height: 100px;

                    .month-name {
                        position: absolute;
                        color: #464646;
                        font-size: 12px;
                        font-weight: bold;
                        top: 7px;
                        left: 9px;
                        width: 80px;
                    }

                    .month-line {
                        height: 10px;
                        width: 4px;
                        position: absolute;
                        background-color: #464646;
                        border-radius: 2px;
                        top: 10px;
                    }

                    .month-container {
                        display: flex;

                        .day-container {
                            display: inline-block;
                            margin-top: 24px;
                            height: 60px;
                            background-color: #464646;

                            &:first-child {
                                &.on-indent-left {
                                    margin-left: -2px;
                                }
                            }

                            &:first-child {
                                &.off-indent-left {
                                    margin-left: 6px;
                                }
                            }

                            &:last-child {
                                &.on-indent-right {
                                    margin-right: -2px;
                                }
                            }

                            &:last-child {
                                &.off-indent-right {
                                    margin-right: 6px;
                                }
                            }

                            .days-content {
                                display: flex;
                            }

                            &.indent-left {
                                margin-left: 2px;
                                border-bottom-left-radius: 2px;
                                border-top-left-radius: 2px;

                                .day {
                                    &:first-child {
                                        margin-left: 0px;

                                        .day-line {
                                            border-bottom-left-radius: 2px;
                                            border-top-left-radius: 2px;
                                        }
                                    }
                                }
                            }

                            &.indent-right {
                                margin-right: 2px;
                                border-bottom-right-radius: 2px;
                                border-top-right-radius: 2px;

                                .day {
                                    &:last-child {
                                        margin-right: 0px;

                                        .day-line {
                                            border-top-right-radius: 2px;
                                            border-bottom-right-radius: 2px;
                                        }
                                    }
                                }
                            }

                            &.on-indent-right {
                                margin-right: 0px;
                                border-bottom-right-radius: 2px;
                                border-top-right-radius: 2px;

                                .day {
                                    &:last-child {
                                        margin-right: 4px;

                                        .day-line {
                                            border-top-right-radius: 2px;
                                            border-bottom-right-radius: 2px;
                                        }
                                    }
                                }
                            }

                            &.on-indent-left {
                                margin-left: 0px;
                                border-bottom-left-radius: 2px;
                                border-top-left-radius: 2px;

                                .day {
                                    &:first-child {
                                        margin-left: 4px;

                                        .day-line {
                                            border-bottom-left-radius: 2px;
                                            border-top-left-radius: 2px;
                                        }
                                    }
                                }
                            }

                            &.off-indent-right {
                                margin-right: 4px;
                                border-bottom-right-radius: 2px;
                                border-top-right-radius: 2px;

                                .day {
                                    &:last-child {
                                        margin-right: -4px;

                                        .day-line {
                                            border-top-right-radius: 2px;
                                            border-bottom-right-radius: 2px;
                                        }
                                    }
                                }
                            }

                            &.off-indent-left {
                                margin-left: 4px;
                                border-bottom-left-radius: 2px;
                                border-top-left-radius: 2px;

                                .day {
                                    &:first-child {
                                        margin-left: -4px;

                                        .day-line {
                                            border-bottom-left-radius: 2px;
                                            border-top-left-radius: 2px;
                                        }
                                    }
                                }
                            }

                            .day {
                                font-size: 12px;
                                font-weight: bold;
                                display: inline-block;
                                width: 20px;
                                height: 50px;
                                margin-top: 5px;
                                border-radius: 2px;
                                margin-left: 2px;
                                margin-right: 2px;
                                color: #fff;

                                &.today {
                                    .day-number {
                                        color: #F29105;
                                    }

                                    .day-line {
                                        &:before {
                                            background-color: #F29105;
                                            content: "";
                                            width: 8px;
                                            height: 8px;
                                            position: absolute;
                                            border-radius: 50%;
                                            bottom: -2px;
                                        }
                                    }
                                }

                                .day-number {
                                    position: absolute;
                                    color: #fff;
                                    font-size: 12px;
                                    font-weight: bold;
                                    width: 16px;
                                    height: 16px;
                                    top: 64px;
                                    text-align: center;
                                    margin-left: 2px;
                                }

                                .weekday {
                                    position: absolute;
                                    color: #fff;
                                    font-size: 12px;
                                    font-weight: bold;
                                    text-align: center;
                                    top: 33px;
                                    width: 16px;
                                    height: 16px;
                                    margin-left: 2px;
                                    text-transform: uppercase;
                                }

                                .day-line {
                                    position: absolute;
                                    display: inline-block;
                                    width: 27px;
                                    height: 5px;
                                    bottom: 6px;

                                    &.blue {
                                        background-color: #00AFF0;
                                    }

                                    &.grey {
                                        background-color: #B4B4B4;
                                    }
                                }

                                &.blue {
                                    background-color: #00AFF0;

                                    &.today {
                                        .day-number {
                                            color: #fff;
                                        }
                                    }
                                }

                                &.grey {
                                    background-color: #B4B4B4;

                                    &.today {
                                        .day-number {
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .swiper-next {
                position: absolute;
                width: 7px;
                height: 12px;
                background-image: data-uri("@{main-url-img}/arrow_right1.svg");
                right: 15px;
                top: 44px;
                cursor: pointer;
                background-repeat: no-repeat;
            }

            .swiper-prev {
                background-repeat: no-repeat;
                position: absolute;
                width: 7px;
                height: 12px;
                background-image: data-uri("@{main-url-img}/arrow_left1.svg");
                left: 130px;
                top: 44px;
                cursor: pointer;
            }

            .swiper-button-disabled {
                opacity: 0.2 !important;
                cursor: not-allowed !important;
                z-index: 300;
            }
        }
    }
}
