﻿<div id="summaryTable" class="summary-table">
    <div class="table-title">SUMMARY - OFFICE USE ONLY</div>
    <div class="table-body">
        <table class="table">
            <thead>
            <tr>
                <th class="activity-title">ACTIVITY</th>
                <th class="cost-code-title">COST CODE</th>
                <th class="hours-title">HOURS</th>
                <th class="metres-title">METRES</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>