﻿@model IEnumerable<IndodrillReport.BLL.ViewModels.PdfReportActivityViewModel>

<div id="activityTable" class="activity-table">
    <div class="table-title">ACTIVITY</div>
    <div class="table-body">
        <table class="table">
            <thead>
                <tr>
                    <th class="activity-title">Activity</th>
                    <th class="cost-code-title">Cost Code</th>
                    <th class="start-time-title">Start Time</th>
                    <th class="end-time-title">End Time</th>
                    <th class="hours-title">Hours</th>
                    <th class="from-title">From (m)</th>
                    <th class="to-title">To (m)</th>
                    <th class="cored-title">Cored (m)</th>
                    <th class="recovered-title">Recovered (m)</th>
                    <th class="core-size-title">Core Size</th>
                    <th class="drilling-details-title">Drilling Details</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var activityItem in Model)
                {
                    @Html.Partial("~/Views/IndodrillReport/PdfReport/Tables/ActivityTable/_ActivityTableRow.cshtml", activityItem)
                }
            </tbody>
        </table>
    </div>
</div>