﻿@model IndodrillReport.BLL.ViewModels.PdfReportActivityViewModel

<tr>
    <td class="activity-body">
        @Model.TemplateName
    </td>
    <td class="cost-code-body">
        @Model.CostCode
    </td>
    <td class="start-time-body field-container">
        @Model.StartTime
    </td>
    <td class="end-time-body field-container">
        @Model.EndTime
    </td>
    <td class="hours-body">
        @Model.Hours
    </td>
    <td class="from-body">
        @Model.From
    </td>
    <td class="to-body">
        @Model.To
    </td>
    <td class="cored-body">
        @Model.Cored
    </td>
    <td class="recovered-body">
        @Model.Recovered
    </td>
    <td class="core-size-body">
        @Model.CoreSize
    </td>
    <td class="drilling-details-body">
        @Model.DrillingDetails
    </td>
</tr>