﻿@model IndodrillReport.BLL.ViewModels.DrillingReportViewModel

<link href="~/Content/styles/indodrill-reports.css" rel="stylesheet" />

<div id="indodrillReport" report-id="@Model.ReportFields.ReportId.ToString()" valid-fields="@Model.ValidateFields.ToString()" class="drilling-report-page" style="display: none;">
    <div class="row no-margin">
        <div class="col col-lg-3 col-md-4 col-sm-5 no-padding">
            @Html.Partial("~/Views/IndodrillReport/DrillingReport/_AboutCompany.cshtml", Model.CompanyInfo)
        </div>
        <div class="col col-lg-9 col-md-8 col-sm-7 no-padding">
            @Html.Partial("~/Views/IndodrillReport/DrillingReport/_ReportFields.cshtml", Model.ReportFields)
        </div>
    </div>

    <div class="row no-margin">
        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            @Html.Partial("~/Views/IndodrillReport/DrillingReport/Tables/ActivityTable/_ActivityTable.cshtml", Model.Activities)
        </div>
    </div>

    <div class="row no-margin">
        <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
            <div class="row no-margin">
                @Html.Partial("~/Views/IndodrillReport/DrillingReport/Tables/MaterialsTable/_MaterialsTable.cshtml", Model.UsedMaterials)
            </div>
            <div class="row no-margin">
                @Html.Partial("~/Views/IndodrillReport/DrillingReport/Tables/LeftInHoleTable/_LeftInHoleTable.cshtml", Model.LeftMaterials)
            </div>
        </div>
        <div class="col col-lg-5 col-md-5 col-sm-5 col-xs-12 no-padding">
            @Html.Partial("~/Views/IndodrillReport/DrillingReport/Tables/BitsTable/_BitsTable.cshtml", Model.Bits)
        </div>
        <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-12 no-padding">
            @Html.Partial("~/Views/IndodrillReport/DrillingReport/Tables/_SummaryTable.cshtml")
        </div>
    </div>

    <div class="row no-margin">
        <div class="col col-lg-5 col-md-5 col-sm-5 col-xs-12 no-padding">
            @Html.Partial("~/Views/IndodrillReport/DrillingReport/Tables/_ApprovalsTable.cshtml", Model.Approvals)
        </div>
        <div class="col col-lg-7 col-md-7 col-sm-7 col-xs-12 no-padding">
            @Html.Partial("~/Views/IndodrillReport/DrillingReport/Tables/_CommentTable.cshtml", Model.ReportFields)
        </div>
    </div>
</div>

<script src="~/Content/js/relay/indodrill-report/indodrill-report.module.js"></script>