﻿@model string

<div class="panel-heading clearfix">
    <div class="pull-left">
        <span class="panel-title" style="left:15px!important">Report</span>
    </div>
    <div class="pull-right">
        <button type="button" data-id="@Model" class="document-btn btn-circle btn btn-link tooltipster" @Html.TooltipAttritutes("Report Preview")>
            <span class='glyphicon span'></span>
        </button>
    </div>
</div>
<div class="panel-body main-panel">
    <div class="navbar navbar-brown">
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".document-btn").click(function () {
            Relay.FormDialog({
                url: "/PdfReport/ReportPreview?reportId=" + $(this).attr("data-id"),
                dialogId: "indodrillReportPreview"
            }).open();
        });
    });
</script>
