﻿@model string

<div id="completeBlock" class="row no-margin complete-block" report-id="@Model">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding white-block">
        <div class="remove-btn">
            Discard
        </div>
        <div class="complete-btn">
            Complete
        </div>
    </div>
</div>