﻿@model IEnumerable<IndodrillReport.BLL.ViewModels.PdfReportBitViewModel>

<div id="bitsTable" class="bits-table">
    <div class="table-title">BITS</div>
    <div class="table-body">
        <table class="table">
            <thead>
                <tr>
                    <th class="type-title">TYPE</th>
                    <th class="size-title">Size</th>
                    <th class="serial-number-title">Serial No.</th>
                    <th class="on-title">On (m)</th>
                    <th class="off-title">Off (m)</th>
                    <th class="drilled-title">Drilled (m)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    @Html.Partial("~/Views/IndodrillReport/PdfReport/Tables/BitsTable/_BitsTableRow.cshtml", item)
                }
            </tbody>
        </table>
    </div>
</div>