#reportBuilderPanel {
    .panel-heading {
        .btn-circle {
            display: inline-block;
            width: 27px;
            height: 27px;
            top: 0;

            &:hover {
                opacity: 0.75;
            }

            .span {
                top: 0;
                width: 100%;
                height: 100%;

                &:before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    display: block;
                }
            }
        }

        .plus-btn {
            .span {
                &:before {
                    background-image: data-uri("@{main-url-img}/plus.svg");
                }
            }
        }

        .filter-btn {
            margin-right: 4px;

            .span {
                &:before {
                    background-image: data-uri("@{main-url-img}/filter-icon.svg");
                }
            }
        }

        .document-btn {
            .span {
                &:before {
                    background-image: data-uri("@{main-url-img}/document-icon-blue.svg");
                }
            }
        }

        .qme-pdf-report {
            .span {
                &:before {
                    background-image: data-uri("@{main-url-img}/qme_report_icon_blue.svg");
                }
            }
        }

        .btn-link {
            color: @simple-white;
            padding: 0;

            .glyphicon-list {
                margin: 20px 5px;

                &:before {
                    content: "";
                    background-image: data-uri("@{main-url-img}/menu_hamburger.svg");
                    width: 20px;
                    height: 15px;
                    display: block;
                    margin-top: 5px;
                }
            }
        }
    }

    .main-panel {
        .nav-pills {
            li {
                a {
                    color: @simple-white;
                    font-size: 10px;
                    width: 85px;
                    border: 1.5px solid @inactive-name-of-tabs;
                    background: none;
                    border-radius: 15px;
                }
            }

            li.active {
                a {
                    padding: 10px 9px;
                    width: 85px;
                    border: 1.5px solid @main-blue;
                    background: none;
                    border-radius: 15px;
                    color: @simple-white;
                    font-size: 10px;

                    &:hover, &:active, &:focus, &:visited {
                        color: @simple-white;
                    }
                }
            }
        }

        .btn-custom {
            padding: 3px 17px;
            border: 1.5px solid @inactive-name-of-tabs;
            background: none;
            border-radius: 15px;
            color: @simple-white;
            font-size: 10px;
            margin: 0 10px 0 10px;
        }

        .period-block {
            background: none;
            text-align: left !important;
            position: relative;
            display: inline-block;
            height: 25px;
            vertical-align: middle;
            margin-left: 10px;

            .btn-custom {
                padding: 3px 3px;
                letter-spacing: 0px;
                margin: 0px;
                width: 130px;
            }
        }

        button.active {
            border: 1.5px solid @main-blue;

            @media @media767 {
                float: initial !important;
                margin: 0 auto;
                display: block;
            }
        }

        #fromToBlock {
            display: inline-block;
            vertical-align: middle;
            float: left;
            text-align: left;
            margin-right: -10px;
            position: relative;

            .draft-from-to-block {
                text-align: left;
                margin-left: 10px;

                .arrow-left {
                    display: inline-block;
                    color: white;
                    font-size: 16px;
                    font-weight: 700;
                    padding: 0 5px;
                    width: 30px;
                }

                .user-photo-btn {
                    padding: 0;
                    background: none;
                    display: inline-block;

                    .user-photo-img {
                        max-width: 100%;
                        max-height: 100%;
                        border-radius: 50%;
                        height: 25px;
                        width: 25px;
                        border: 1.5px solid #787878;
                    }
                }
            }
        }

        .share-report-block {
            display: inline-block;
            text-align: left;
            float: left;
            margin-left: 10px;
            position: relative;

            .share-report-icon-inactive {
                border: 1.5px solid #787878;
                border-radius: 50%;
                width: 25px;
                height: 25px;
                cursor: pointer;
                background-image: data-uri("@{main-url-img}/share_report_icon.svg");

                .count {
                    display: none;
                }
            }

            .share-report-icon-active {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                cursor: pointer;
                background-image: data-uri("@{main-url-img}/share_report_icon_green.svg");
                display: block;

                .count {
                    padding-left: 1px;
                    text-align: center;
                    height: 15px;
                    width: 15px;
                    display: block;
                    color: #fff;
                    font-size: 10px;
                    position: absolute;
                    letter-spacing: 1px;
                    font-weight: bold;
                    background-color: #F29105;
                    border-radius: 50%;
                    margin-left: 17px;
                    margin-top: -3px;
                }
            }
        }
    }

    .navbar-brown .row {
        div {
            text-align: center;

            &:first-child {
                text-align: left;
            }

            &:last-child {
                text-align: right;
            }
        }
    }
}
