﻿@model TaskBoardPopoverViewModel
@using MomentumPlus.Relay.BLL.Extensions.NativeTypesExtensions

<div id="taskBoardFilter" class="task-board-content" data-placement="bottom">
    <div class="filter-content">
        @foreach (TaskBoardFilterOptions option in Enum.GetValues(typeof(TaskBoardFilterOptions)))
        {
            if (Model.Section == TaskBoardSection.Assigned || option != TaskBoardFilterOptions.PendingTasks)
            {
                if (Model.Section == TaskBoardSection.Received && option == TaskBoardFilterOptions.AllTasks)
                {
                    <div class="filter-row @(Model.FilterOption == option ? "active" : string.Empty)" id="@option.ToString()">
                        All Received Tasks
                    </div>
                }
                else if (Model.Section == TaskBoardSection.Assigned && option == TaskBoardFilterOptions.AllTasks)
                {
                    <div class="filter-row @(Model.FilterOption == option ? "active" : string.Empty)" id="@option.ToString()">
                        All Send Tasks
                    </div>
                }
                else
                {
                    <div class="filter-row @(Model.FilterOption == option ? "active" : string.Empty)" id="@option.ToString()">
                        @option.GetEnumDescription()
                    </div>
                }
            }
        }
    </div>
    <script>
        $("#taskBoardFilter .filter-row").click(function () {
            var searchQuery = Relay.UrlQuery.getQueryModel();
            searchQuery.filter = $(this).attr("id");
            Relay.UrlQuery.updateQueryModel(searchQuery);
        });
    </script>
</div>
