﻿@model IndodrillReport.BLL.ViewModels.PdfReportMaterialViewModel

<tr>
    <td class="item-body">
        @Model.Name
    </td>
    <td class="units-body">
        @Model.Units
    </td>
    <td class="qty-body">
        @Model.Quantity
    </td>
</tr>