﻿@model GlobalReportsListViewModel

@{
    Layout = "~/Views/Reports/GlobalReports/_Layout.cshtml";
}

<div class="page-content">
    <div class="global-report-table">
        <table class="table">
            <thead>
                <tr class="table-header">
                    <td class="date-title">Date</td>
                    <td class="received-from-title">
                        <div class="select-type">
                            @Html.DropDownListFor(m => m.FilterUserId,
                                    Model.Users.Select(i =>
                                    new SelectListItem
                                    {
                                        Value = i.Value,
                                        Text = i.Text
                                    }), "Handover creator", new { @class = "select-list" })
                        </div>
                    </td>
                    <td class="handover-recipient-title">Handover Recipient</td>
                    <td class="rotation-type-title">
                        <div class="select-type">
                            @Html.DropDownListFor(m => m.FilterRotationType, new[] {
                                new SelectListItem { Text = RotationType.Swing.ToString(), Value = RotationType.Swing.ToString() },
                                new SelectListItem { Text = RotationType.Shift.ToString(), Value = RotationType.Shift.ToString() }
                            }, "Rotation", new { @class = "select-list" })
                        </div>
                    </td>
                    <td class="items-title"># Items</td>
                    <td class="tasks-title"># Tasks</td>
                    <td class="action-icon-title"></td>
                </tr>
            </thead>
            <tbody class="table-content">
                <tr class="spacer-row"></tr>
                @if (Model.ReportsItems.Any())
                {
                    foreach (var item in Model.ReportsItems)
                    {
                        <tr class="report-row">
                            <td class="date-body">@item.DateString</td>
                            <td class="received-from-body">
                                <img src="@Url.Action("GetAvatarForEmployee", "Media", new { employeeId = (item as TeamGlobalReportItemViewModel).HandoverCreatorId })" />
                                <div class="user-name">@((item as TeamGlobalReportItemViewModel).HandoverCreatorName)</div>
                            </td>
                            <td class="handover-recipient-body">
                                @if ((item as TeamGlobalReportItemViewModel).HandoverRecipientId != Guid.Empty)
                                {
                                    <img src="@Url.Action("GetAvatarForEmployee", "Media", new {employeeId = (item as TeamGlobalReportItemViewModel).HandoverRecipientId})" />
                                }
                                <div class="user-name">@((item as TeamGlobalReportItemViewModel).HandoverRecipientName)</div>
                            </td>
                            <td class="rotation-type-body">@item.RotationType</td>
                            <td class="items-body">
                                <div class="circle">
                                    <div class="count">@item.ItemsNumber</div>
                                </div>
                            </td>
                            <td class="tasks-body">
                                <div class="circle">
                                    <div class="count">@item.TasksNumber</div>
                                </div>
                            </td>
                            <td class="action-icon-body @(item.IsQME ? "qme-action" : "")">
                                <a class="go-to-report" href="@Url.Action("Draft", "ReportBuilder", new { reportId = item.SourceId, reportType = item.RotationType })"></a>
                                <div class="pdf-report" source-Id="@item.SourceId" source-type="@item.RotationType"></div>
                                @if (item.IsQME)
                                {
                                    <div class="qme-pdf-report" source-Id="@item.SourceId" source-type="@item.RotationType"></div>
                                }
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr class="report-row">
                        <td colspan="7" class="text-center">
                            <strong>@(Model.FilterUserId.HasValue ? "This user doesn't have any reports" : "No reports to display.")</strong>
                        </td>
                    </tr>
                }

                <tr class="spacer-row"></tr>
            </tbody>
        </table>
    </div>
    @if (Model.ReportsItems.TotalItemCount > 5)
    {
        <div class="footer-block">
            <div class="view-block">
                <div class="eyes"></div>
                <div class="count-block">
                    <a href="@Url.Action("TeamReport", "GlobalReports", new { pageSize = 5, filterUserId = Model.FilterUserId, filterRotationType = Model.FilterRotationType })"><div class="counter @(Model.ReportsItems.PageSize == 5 ? "active" : "" )">5</div></a>
                    <a href="@Url.Action("TeamReport", "GlobalReports", new { pageSize = 10, filterUserId = Model.FilterUserId, filterRotationType = Model.FilterRotationType })"><div class="counter @(Model.ReportsItems.PageSize == 10 ? "active" : "" )">10</div></a>
                    <a href="@Url.Action("TeamReport", "GlobalReports", new { pageSize = 15, filterUserId = Model.FilterUserId, filterRotationType = Model.FilterRotationType })"><div class="counter @(Model.ReportsItems.PageSize == 15 ? "active" : "" )">15</div></a>
                    <a href="@Url.Action("TeamReport", "GlobalReports", new { pageSize = (Model.ReportsItems.TotalItemCount != 0 ? Model.ReportsItems.TotalItemCount : 5), filterUserId = Model.FilterUserId, filterRotationType = Model.FilterRotationType })"><div class="counter @(Model.ReportsItems.PageSize == Model.ReportsItems.TotalItemCount && Model.ReportsItems.TotalItemCount != 5 && Model.ReportsItems.TotalItemCount != 10 && Model.ReportsItems.TotalItemCount != 15 ? "active" : "" )">All</div></a>
                </div>
            </div>
            <div class="pagination-block">
                <div class="pagination-pages">
                    @Html.Pager(Model.ReportsItems.PageSize, Model.ReportsItems.PageNumber, Model.ReportsItems.TotalItemCount).Options(o => o
                     .DisplayTemplate("BootstrapPagination")
                     .MaxNrOfPages(1)
                     .DisplayFirstAndLastPage()
                     .AddRouteValue("filterUserId", Model.FilterUserId)
                     .AddRouteValue("filterRotationType", Model.FilterRotationType))
                </div>
            </div>
        </div>
    }

</div>
