﻿@model bool

<div class="main-nav-bar">
    @if (!Model)
    {
        <div Id="main-menu-btn" class="btn-link main-menu-btn"><span Id="main-menu-icon" class="glyphicon glyphicon-list"></span></div>
    }

    <div Id="user-info" class="nav-bar-blue">
        <div class="nav-bar-container clearfix">
            <div class="logo-container">
                @if (Model)
                {
                    <div class="logo"></div>
                }
                else
                {
                    <a href="\" class="logo"></a>
                }
            </div>
            <div class="user-container">
                @Html.Action("NotificationWidget", "Notification", new { area = "" })
                <div class="user-photo-container">
                    <img src="@Url.Action("GetMyAvatar", "Media", new {area = "", width = 100, height = 100})"
                         class="media-object img-circle user-photo" />
                </div>
            </div>
        </div>
    </div>
    <div class="nav-bar-brown">
        @if (!Model)
        {
            <div Id="main-menu" class="main-menu">
                <div class="search-input" style="opacity: 0.7;">
                    <input class="search" placeholder="Search" disabled="true" />
                    <div class="input-search-btn">
                        <div class="inner"></div>
                    </div>
                </div>
                <ul class="menu-list">
                    @Html.MvcSiteMap().Menu("BootstrapMenuHelperModel", startingNodeLevel: 1, maxDepth: 1)
                    <li>
                        <a href="@Url.Action("LogOff", "Account")" class="item-yellow">
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        }
    </div>
</div>