﻿@{
    Layout = "~/Views/Shared/Layouts/Base/BaseLayout.cshtml";
}
@section head
{
    @Styles.Render("~/bundles/styles/layouts/auth-main")

    @RenderSection("Styles", required: false)

    <link href="~/Content/styles/main.css" rel="stylesheet" />

    <link href="~/Content/styles/@(ViewBag.styleTheme != null ? ViewBag.styleTheme : "white-theme").css" rel="stylesheet" />
}
@Html.Action("GetNavifationBar", "Menu", new { area = "" })

<nav Id="tabs" role="navigation" class="navbar navbar-brown">
    <ul class="nav nav-pills">
        @Html.MvcSiteMap().Menu("BootstrapMenuHelperModel", startingNodeLevel: 2, maxDepth: 1)
    </ul>
</nav>
<div Id="rootContent" class="content">
    <div class="container">
        @Html.Action("ConfirmShiftRotation", "Rotation", new { area = "" })
        @RenderBody()
    </div>
</div>

@Scripts.Render("~/signalr/hubs")
@Scripts.Render("~/bundles/scripts/layouts/auth-main")
@Scripts.Render("~/bundles/scripts/shared/dialogs")
@RenderSection("Scripts", required: false)
