﻿@{
    Layout = "~/Views/Shared/Layouts/Base/BaseLayout.cshtml";
}


@section head
{
    @Styles.Render("~/bundles/styles/layouts/not-auth-main")

    <link href="~/Content/styles/main.css" rel="stylesheet" />
}

<div class="ih-button" onclick="window.open('http://ihandover.co', '_blank');"></div>
<div class="sign-in-center-block">
    <div class="container text-center">
        @RenderBody()
    </div>
</div>


@Scripts.Render("~/bundles/scripts/layouts/not-auth-main")


