﻿@{
    Layout = "~/Views/Shared/Layouts/Base/MultiTenantLayout.cshtml";
}


@section head
{
    @Styles.Render("~/bundles/styles/layouts/not-auth-main")

    <link href="~/Content/styles/main.css" rel="stylesheet" />
}

<div class="multi-tenant-container">
    @RenderBody()
</div>

@Scripts.Render("~/bundles/scripts/layouts/not-auth-main")
@RenderSection("Scripts", required: false)

