﻿
@{
    Layout = "~/Views/Shared/Layouts/Main/Authorized_Layout.cshtml";
}

<link href="~/Content/styles/indodrill-reports.css" rel="stylesheet" />

<ul class="nav nav-tabs" role="tablist">
  @Html.MvcSiteMap().Menu(
        templateName: "BootstrapMenuHelperModel",
        startingNode: Html.MvcSiteMap().SiteMap.CurrentNode.ParentNode,
        startingNodeInChildLevel: true,
        showStartingNode: true
    )
</ul>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        @RenderBody()
      </div>
    </div>
  </div>
</div>