﻿@model TemplatesViewModel
@{
    Layout = "~/Views/Shared/Layouts/Main/Authorized_Layout.cshtml";
}


<div class="panel panel-default" style="margin-top: 30px">

    @using (Html.BeginForm("Index", "Templates", new { Id = "templateForm", template = @Model.SelectedTemplate, module = @Model.SelectedModule }, FormMethod.Get))    {

        <div class="panel-heading panel-heading-icon-right">
            <div class="row vertical-center">
                <div class="col col-lg-5 col-sm-7 col-md-7 col-xs-10">
                    @Html.DropDownListFor(
                        model => model.SelectedTemplate,
                        Model.Templates,
                        "Select a Template",
                        new { @class = "form-control", onchange = "this.form.submit();" })
                </div>
                @if (Model.Template != null)
                {
                    <div class="col col-lg-2 col-sm-2 col-md-2 col-xs-2 no-padding">
                        <a href="javascript:void(0)" class="no-decoration icon-right btn btn-link template-edit-btn pull-left" Id="@Model.Template.Id">
                            <span class="glyphicon glyphicon-pencil span"></span>
                        </a>
                    </div>
                }
                <div class="col col-lg-offset-5 col-lg-2 col-sm-offset-3 col-sm-2 col-md-offset-3 col-md-2 col-xs-2">
                    <a href="javascript:void(0)" class="icon-right plus-btn btn-circle btn btn-link template-create-btn pull-right">
                        <span class="glyphicon span"></span>
                    </a>
                </div>
            </div>


        </div>

    }

    @if (Model.Template != null && !Model.SelectedModule.HasValue)
    {
        @Html.Partial("~/Views/Framework/Templates/Shared/_Modules.cshtml", Model)
    }

    @if (Model.SelectedModule.HasValue)
    {
        @Html.Partial("~/Views/Framework/Templates/Shared/_Module.cshtml", Model)
    }



    @if (Model.Template != null && !Model.SelectedModule.HasValue)
    {
        <div class="panel-footer">
            <br />
        </div>
    }


</div>


@section Scripts
{
    <script>
        $(document).ready(function ()
        {
            $(".template-create-btn").click(createTemplateFormDialog);
            $(".template-edit-btn").click(editTemplateFormDialog);

            function createTemplateFormDialog()
            {
                var formDialog = Relay.FormDialog({
                    url: "/Templates/CreateTemplateDialog",
                    method: "GET",
                    dialogId: "templateFormDialog"
                });

                formDialog.setSubmitEvent(function ()
                {
                    var newTemplateId = $("#templateFormDialog #Id").val();
                    window.location.href = '/Framework/Templates?SelectedTemplate=' + newTemplateId;
                });
                formDialog.open();
            }

            function editTemplateFormDialog(e)
            {
                var formDialog = Relay.FormDialog({
                    url: "/Templates/EditTemplateDialog/" + e.currentTarget.id,
                    method: "GET",
                    dialogId: "templateFormDialog"
                });
                formDialog.setSubmitEvent(function ()
                {
                    location.reload();
                });
                formDialog.open();
            }
        });

    </script>



}
