﻿@model IPagedList<IndodrillReport.BLL.ViewModels.ClientItemViewModel>

@{
    Layout = "~/Views/IndodrillReport/MasterList/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading panel-heading-icon-right">
        <strong style="font-size: 20px !important;">
            Clients
        </strong>
        <a href="javascript:void(0)" class="icon-right plus-btn btn-circle btn btn-link client-create-btn pull-right">
            <span class="glyphicon span"></span>
        </a>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            @if (Model != null && Model.Any())
                {
                    foreach (var clientItem in Model)
                    {
                        <li class="list-group-item">
                            @clientItem.ClientName
                            <a class="edit-client-btn" data-id="@clientItem.ClientId" href="javascript:void(0)">
                                <span class="glyphicon glyphicon-pencil pull-right"></span>
                            </a>
                            <a class="remove-client-btn" data-id="@clientItem.ClientId" href="javascript:void(0)">
                                <span class="glyphicon glyphicon-remove pull-right margin-right-15"></span>
                            </a>
                        </li>
                    }

                    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount).Options(o => o
                                    .DisplayTemplate("TemplateBootstrapPagination")
                                    .MaxNrOfPages(14)
                                    .AlwaysAddFirstPageNumber())

                }
                else
                {
                    <li class="list-group-item text-center">No clients</li>
                }
        </ul>

    </div>
</div>
<script src="~/Content/js/relay/indodrill-report/indodrill-client-dialog.module.js"></script>
<script>
    $(document).ready(function () {
        $(".client-create-btn").click(function() {
            var dialog = Relay.IndodrillClientDialog();
            dialog.setCloseEvent(function () {
                location.reload();
            });
            dialog.open();
        });

        $(".edit-client-btn").click(function () {
            var dialog = Relay.IndodrillClientDialog($(this).attr("data-id"));
            dialog.setCloseEvent(function () {
                location.reload();
            });
            dialog.open();
        });
        $(".remove-client-btn").click(function () {
            var clientId = $(this).attr("data-id");
            var confirm = Relay.ConfirmDialog("Remove client", "Do you want to remove Client?", "Yes", "No");
            confirm.setOkEvent(function () {

                var loadingAnimationTimeout = setTimeout(function () {
                    $('#loading-animation').show();
                }, 200);

                $.ajax({
                    url: "/ClientTemplate/RemoveClient",
                        method: "POST",
                        data: { clientId: clientId }
                    })
                    .done(function () {
                        location.reload();
                    })
                    .fail(function () {
                        var errorDialog = Relay.ErrorDialog();
                        errorDialog.setCloseEvent(function () {
                            location.reload();
                        });
                        errorDialog.open();
                    })
                    .always(function () {
                        clearTimeout(loadingAnimationTimeout);
                        $('#loading-animation').hide();
                    });

            });
            confirm.open();
        });
    });
</script>
