﻿@model SafetyCalendarV2ViewModel

@Html.Hidden("Date", Model.Date.ToISOString())
<div class="safety-schedule-message-mini-calendar">
    <table cellspacing="0">
        <thead>
            <tr>
                <td colspan="7" class="pagination-cell">
                    <div class="calendar-controls">
                        @{
                            DateTime firstActiveDate = Model.CurrentDate.AddDays(1);
                            bool isFirstMonth = Model.Date.Year == firstActiveDate.Year && Model.Date.Month == firstActiveDate.Month;
                        }
                        <button type="button" class="@(isFirstMonth ? "inactive" : "") calendar-previous"></button>
                        <div class="month-name">@Model.MonthYear</div>
                        <button type="button" class="calendar-next"></button>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Dates.Length; i += 7)
            {
                <tr>
                    @for (int j = 0; j < 7; ++j)
                    {
                        string cellClass = string.Empty;

                        if(Model.Date == Model.Dates[i + j].Date)
                        {
                            cellClass += "blue";
                        }
                        else
                        {
                            if (Model.Dates[i + j].MessagesNumber > 0)
                            {
                                cellClass += "orange";
                            }
                            if(Model.Dates[i + j].Date.Month != Model.Date.Month || Model.Dates[i + j].Date <= Model.CurrentDate)
                            {
                                cellClass += " gray";
                            }
                        }

                        <td date="@Model.Dates[i+j].Date.ToISOString()" class="@cellClass">
                            @Model.Dates[i + j].Date.Day
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
