﻿@model IEnumerable<SafetyMessageV2ViewModel>

<div Id="safetyMessageV2Dialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true" class="modal fade safety-message-v2-dialog">
    <div class="page-content">
        <div class="modal-dialog modal-sm">
            <div class="theme">
                @{
                    int safetyCounter = 0;
                    int safetyNumber = Model.Count();
                }

                @foreach (var safetyMessage in Model)
                {
                    <div class="modal-content no-padding" safety-Id="@safetyMessage.Id" style="display: none;">
                        <div class="modal-header">
                            <div class="row no-margin">
                                <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding left-block">
                                    @if (++safetyCounter != safetyNumber)
                                    {
                                        <button type="button" class="arrow-forward-btn next-safety"></button>
                                    }
                                </div>
                                <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
                                    <div class="row no-margin">
                                        <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
                                            <div class="padding-left-20 margin-top-20 bold">Critical Control</div>
                                        </div>
                                        <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6  no-padding text-right">
                                            @if (safetyCounter == safetyNumber)
                                            {
                                                <button type="button" aria-hidden="true" class="btn margin-right-20 btn-close" style="margin-top: 23px;"></button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="row no-margin">
                                <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding left-block yellow-block">
                                    <img src="@safetyMessage.IconUrl" class="message-icon">
                                    <div class="title">Major Hazard</div>
                                    <div class="title">@safetyMessage.MajorHazardName</div>
                                </div>
                                <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 right-block">
                                    <div class="title">@safetyMessage.CriticalControlName</div>
                                    <div class="message">@safetyMessage.Message</div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <script>
        (function () {
            var current = $("#safetyMessageV2Dialog .modal-content").first();

            current.show();

            $("#safetyMessageV2Dialog .next-safety,#safetyMessageV2Dialog .btn-close").click(function () {

                var safetyMessageId = current.attr('safety-Id');

                $.ajax({
                    url: '/SafetyMessageV2/SetSafetyMessageShowForUser',
                    method: 'POST',
                    data: { safetyMessageId: safetyMessageId },
                })
                .done(function (result) {
                    $(current).hide();
                    current = $(current).next();
                    if (current.length) {
                        current.show();
                    }
                    else {
                        $("#safetyMessageV2Dialog").modal("hide");
                    }
                })
                .fail(function () {
                    var errorDialog = Relay.ErrorDialog();
                    errorDialog.setCloseEvent(function () {
                        location.reload();
                    });
                    errorDialog.open();
                });
            });
        })();
    </script>
</div>
