﻿@model SafetyMessageRescheduleV2ViewModel

<div Id="rescheduleSafetyMessageV2Dialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static" class="modal fade safety-reschedule-message-v2-dialog">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="modal-dialog ">
            <div class="theme">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row vertical-center">
                            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="modal-title">Reschedule Safety Message</div>
                            </div>
                            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                                <button type="submit" class="btn btn-save">Save</button>
                                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="row">
                                    <div class="col col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 major-hazard no-padding">
                                            <div class="field-container">
                                                @Html.HiddenFor(m => m.MajorHazardId)
                                                @Html.LabelFor(m => m.MajorHazardId, new { @class = "title-select" })
                                                @Html.TextBoxFor(m => m.MajorHazardName, new { @class = "simple-input", @readonly = "" })
                                            </div>
                                        </div>
                                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding critical-control">
                                            <div class="field-container">
                                                @Html.HiddenFor(m => m.CriticalControlId)
                                                @Html.LabelFor(m => m.CriticalControlId, new { @class = "title-select" })
                                                @Html.TextBoxFor(m => m.CriticalControlName, new { @class = "simple-input", @readonly = "" })
                                            </div>
                                        </div>
                                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding critical-control-owner">
                                            @Html.LabelFor(m => m.CriticalControlOwnerName, new { @class = "title-select" })
                                            @if (!string.IsNullOrEmpty(Model.CriticalControlOwnerName))
                                            {
                                                <div class="critical-control-owner-name">@Model.CriticalControlOwnerName</div>
                                            }
                                            else
                                            {
                                                <div class="empty-critical-control-owner-name">Critical Control Owner</div>
                                            }
                                        </div>
                                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding critical-control-champion-list">
                                            @Html.LabelFor(m => m.CriticalControlChampions, new { @class = "title-select" })
                                            @if (Model.CriticalControlChampions.Any())
                                            {
                                                foreach (string championName in Model.CriticalControlChampions)
                                                {
                                                    <div class="critical-control-champion">@championName</div>
                                                }
                                            }
                                            else
                                            {
                                                <div class="empty-critical-control-champions">Critical Control Champion(s)</div>
                                            }
                                        </div>
                                    </div>
                                    <div class="col col-lg-5 col-md-5 col-sm-5 col-xs-5 mini-calendar">
                                        @Html.Action("GetMinCalendar", new { date = Model.Date })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 sefety-message-text">
                                        <div class="field-container">
                                            @Html.LabelFor(m => m.Message, new { @class = "title-select" })
                                            @Html.TextAreaFor(m => m.Message, new { @class = "textarea simple-textarea", @rows = "3", @maxlength = "250", @placeholder = "Enter Message (250 characters)" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <script src="~/Content/js/relay/safety/v2/dialogs/calendar-mini-v2.module.js"></script>
    <script>
        (function () {
            //------------------------------------------
            setTimeout(initChampionsList, 200);
            //------------------------------------------
            function initChampionsList() {

                var removedElements = 0;
                var elementsHeight = 0;

                $("#rescheduleSafetyMessageV2Dialog .critical-control-champion").each(function (index, element) {
                    var elementHeight = $(element).width() + 10;

                    if (elementsHeight + elementHeight < 260) {
                        elementsHeight += elementHeight;
                    }
                    else {
                        $(element).remove();
                        removedElements++;
                    }
                });

                if (removedElements) {
                    var numberDiv = document.createElement("div");
                    numberDiv.className = "critical-control-champion";
                    numberDiv.textContent = '+' + removedElements.toString();

                    $("#rescheduleSafetyMessageV2Dialog .critical-control-champion-list")[0].appendChild(numberDiv);
                }
            }
            //------------------------------------------
        })();
    </script>
</div>
