﻿@{
    Layout = "~/Views/Shared/Layouts/Main/Authorized_Layout.cshtml";
}

<div class="safety-scheduler-v2-page">
    <div class="page-content">
        <div class="scheduler-container">
            <div class="container-calendar-v2">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 calendar-container">
                        @Html.Action("GetFullCalendar", "SafetyShedulerV2")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/relay/url-hash.module.js"></script>
<script src="~/Content/js/relay/safety/v2/scheduler-v2.module.js"></script>