﻿@model IPagedList<CompanyViewModel>
@{

    Layout = "~/Views/Framework/MasterLists/_Layout.cshtml";
}


<div class="panel panel-default">
    <div class="panel-heading panel-heading-icon-right">
        <strong style="font-size: 20px !important;">
            Companies
        </strong>
        <a href="javascript:void(0)" class="icon-right plus-btn btn-circle btn btn-link company-create-btn pull-right">
            <span class="glyphicon span"></span>
        </a>

    </div>
    <div class="panel-body">
        <ul class="list-group">
            @if (Model != null && Model.Any())
            {
                foreach (var company in Model)
                {
                    <li class="list-group-item">
                        @company.Name
                        <a class="company-edit-btn" Id="@company.Id" href="javascript:void(0)">
                            <span class="glyphicon glyphicon-pencil pull-right"></span>
                        </a>
                    </li>
                }

                @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount).Options(o => o
                    .DisplayTemplate("TemplateBootstrapPagination")
                    .MaxNrOfPages(14)
                    .AlwaysAddFirstPageNumber())

            }
            else
            {
                <li class="list-group-item text-center">No companies..</li>
            }
        </ul>

    </div>
</div>
<script>
    $(window).load(function ()
    {
        $(".company-create-btn").click(createCompanyFormDialog);
        $(".company-edit-btn").click(editCompanyFormDialog);

        function createCompanyFormDialog(e)
        {
            var formDialog = Relay.FormDialog({
                url: "/Companies/CreateCompanyDialog",
                method: "GET",
                dialogId: "companyFormDialog"
            });
            formDialog.setSubmitEvent(function ()
            {
                location.reload();
            });
            formDialog.open();
        }

        function editCompanyFormDialog(e)
        {
            var formDialog = Relay.FormDialog({
                url: "/Companies/EditCompanyDialog/" + e.currentTarget.id,
                method: "GET",
                dialogId: "companyFormDialog"
            });
            formDialog.setSubmitEvent(function ()
            {
                location.reload();
            });
            formDialog.open();
        }
    });
</script>