﻿@model ShiftReportPanelViewModel

<div Id="shiftReportBuilderPanel" class="panel panel-primary">
    <div class="shift-info-container" shift-Id="@Model.ShiftId" read-mode="True" empty-panel="false"></div>
    <div class="panel-heading clearfix">
        <div class="pull-left">
            <span class="panel-title">My Handover</span>
        </div>
        <div class="pull-right">
            @*<button type="button" class="plus-btn btn-circle btn btn-link" disabled>
                <span class="glyphicon span"></span>
            </button>*@
            <button type="button" class="filter-btn btn-circle btn btn-link">
                <span class="glyphicon span"></span>
            </button>
            <button type="button" class="document-btn btn-circle btn btn-link tooltipster" @Html.TooltipAttritutes("Report Preview")>
                <span class='glyphicon span'></span>
            </button>
            @if (Model.IsQME)
            {
                <button type="button" class="qme-pdf-report btn-circle btn btn-link">
                    <span class='glyphicon span'></span>
                </button>
            }
        </div>
    </div>
    <div class="panel-body main-panel">
        <div class="navbar navbar-brown">
            <div class="row no-margin">
                <div class="col-xs-4 no-padding left-block">
                    <div class="row no-margin">
                        <div class="no-padding" style="display: inline-block; float: left;">
                            <div class="date-block"></div>
                            <span></span>
                            <div class="name-block"></div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-xs-12 no-padding pencil-block"></div>
                        <div class="col-lg-3 col-md-3 col-xs-12 no-padding share-report-block"></div>
                    </div>
                </div>
                <div class="col-xs-4 no-padding" Id="section-filter">
                    <ul class="nav nav-pills">
                        <li><a id="draftBtn" href="javascript:void(0)" class="draft-btn">Draft</a></li>
                        <li><a id="receivedBtn" href="javascript:void(0)" class="received-btn">Received</a></li>
                        @foreach (MomentumPlus.Relay.Interfaces.ICustomReport report in CustomReportConfig.Reports())
                        {
                            if (!string.IsNullOrEmpty(report.ShiftReportBtnPartialView()))
                            {
                                @Html.Partial(report.ShiftReportBtnPartialView())
                            }
                        }
                    </ul>
                </div>
                <div class="col-xs-4 no-padding">
                    <button type="button" class="btn btn-custom pull-right finalise-all-btn">Finalise All</button>
                    <button type="button" class="btn btn-custom pull-right expand-all-btn">Expand All</button>
                </div>
            </div>
        </div>
    </div>
    <div Id="shiftReportBuilderData"></div>
</div>