﻿@model ShiftReceivedPanelViewModel

@{
    ShiftReceivedSlideViewModel slide = Model.RecivedShifts.FirstOrDefault();
}

<div class="report-panel">
    @if (!Model.RecivedShifts.Any())
    {
        <div class="received-empty-container">
            There are no received shift reports
        </div>
    }
    else if (Model.RecivedShifts.Count() == 1)
    {
        <div class="one-received-info" handover-date="@slide.Date" handover-from="@("From " + slide.HandoverFromName)"></div>
        @Html.Partial("~/Views/Rotation/ShiftReportBuilder/_ReceivedPanelSections.cshtml", Model);
    }
    else
    {
        <div class="received-history-container">
            <div class="list-container">
                <div class="title-container">
                    <span class="date-title">Date</span>
                    <span class="handover-creator-title">Handover Creator</span>
                    <span class="contributors-title">Contributors</span>
                    <span class="count-items-title">N° of items</span>
                    <span class="count-tasks-title">N° of Tasks</span>
                </div>
                <div class="body-container">
                    <div class="swiper-container received-swiper">
                        <div class="swiper-wrapper">
                            @foreach (var shift in Model.RecivedShifts)
                            {
                                <div class="swiper-slide" shift-Id="@shift.Id">
                                    <div class="date-body">@shift.Date</div>
                                    <div class="handover-creator-body">
                                        <img src="@Url.Action("GetAvatarForEmployee", "Media", new { employeeId = shift.HandoverFromID })" alt="@shift.HandoverFromName" />
                                        <div class="user-name">@shift.HandoverFromName</div>
                                    </div>
                                    <div class="contributors-body">
                                        @foreach (var contributor in shift.Contributors)
                                        {
                                            <img src="@Url.Action("GetAvatarForEmployee", "Media", new { employeeId = contributor.ContributorID })" alt="@contributor.ContributorName" />
                                            <div class="user-name">@contributor.ContributorName</div>
                                        }
                                    </div>
                                    <div class="count-items-body">
                                        <div class="count">@shift.TopicCounter</div>
                                    </div>
                                    <div class="count-tasks-body">
                                        <div class="count">@shift.TaskCounter</div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="received-swiper-prev"></div>
                    <div class="received-swiper-next"></div>
                </div>
            </div>
        </div>
        @Html.Partial("~/Views/Rotation/ShiftReportBuilder/_ReceivedPanelSections.cshtml", Model);
    }
</div>