﻿@model AccountDetailsViewModel

<div style="display: block;" class="tab-pane active" Id="administrationDetails">
    <div class="row">
        <div class="col col-lg-6 col-sm-6 col-md-6 col-xs-6">
            <div class="row">
                <div class="col col-lg-12 col-sm-12 col-md-12 col-xs-12">
                    <div class="field-container">
                        <span class="title-select">@Html.LabelFor(model => model.VersionDetails)</span>
                        @Html.TextBoxFor(model => model.VersionDetails, new { @class = "simple-input", @readonly = "readonly" })
                    </div>
                </div>
                <div class="col col-lg-12 col-sm-12 col-md-12 col-xs-12 margin-top-20">
                    <div class="field-container">
                        <span class="title-select">@Html.LabelFor(model => model.PurchaseDate)</span>
                        @Html.TextBoxFor(model => model.PurchaseDate, new { @class = "simple-input", @readonly = "readonly" })
                    </div>
                </div>
                <div class="col col-lg-12 col-sm-12 col-md-12 col-xs-12 margin-top-20">
                    <div class="field-container">
                        <span class="title-select">@Html.LabelFor(model => model.LicenceEndDate)</span>
                        @Html.TextBoxFor(model => model.LicenceEndDate, new { @class = "simple-input", @readonly = "readonly" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-lg-6 col-sm-6 col-md-6 col-xs-6">
            <div class="row">
                <div class="col col-lg-12 col-sm-12 col-md-12 col-xs-12">
                    <div class="field-container">
                        <span class="title-select">@Html.LabelFor(model => model.PlanType)</span>
                        @Html.TextBoxFor(model => model.PlanType, new { @class = "simple-input", @readonly = "readonly" })
                    </div>
                </div>
                <div class="col col-lg-12 col-sm-12 col-md-12 col-xs-12 margin-top-20">
                    <div class="field-container">
                        <span class="title-select">@Html.LabelFor(model => model.TechnicalSupport)</span>
                        @Html.TextBoxFor(model => model.TechnicalSupport, new { @class = "simple-input", @readonly = "readonly" })
                    </div>
                </div>
                <div class="col col-lg-12 col-sm-12 col-md-12 col-xs-12 margin-top-20">
                    <div class="row">
                        <div class="col col-lg-6 col-sm-6 col-md-6 col-xs-6">
                            <div class="field-container">
                                <span class="title-select">@Html.LabelFor(model => model.Templates)</span>
                                @Html.TextBoxFor(model => model.Templates, new { @class = "simple-input", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col col-lg-6 col-sm-6 col-md-6 col-xs-6">
                            <div class="field-container">
                                <span class="title-select">@Html.LabelFor(model => model.Handovers)</span>
                                @Html.TextBoxFor(model => model.Handovers, new { @class = "simple-input", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>