﻿@model ThirdPartySettingsViewModel


<div style="display: block;" class="tab-pane" Id="administrationThirdParty">
    @using (Html.BeginForm("ThirdPartyTab", "Administration", FormMethod.Post))
    {
        @Html.AntiForgeryToken()


        <div class="row">
            <div class="col col-lg-6 col-sm-6 col-md-6 col-xs-6">
                <div class="row">
                    <div class="col col-lg-12 col-sm-12 col-md-12 col-xs-12">
                        <div class="field-container">
                            <span class="title-select">@Html.LabelFor(model => model.TwilioAccount)</span>
                            @Html.TextBoxFor(model => model.TwilioAccount, new { @class = "simple-input", @placeholder = Html.DisplayNameFor(n => n.TwilioAccount) })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-lg-12 col-sm-12 col-md-12 col-xs-12 margin-top-20">
                        <div class="field-container">
                            <span class="title-select">@Html.LabelFor(model => model.TwilioEndPoint)</span>
                            @Html.TextBoxFor(model => model.TwilioEndPoint, new { @class = "simple-input", @placeholder = Html.DisplayNameFor(n => n.TwilioEndPoint) })
                            @Html.ValidationMessageFor(m => m.TwilioEndPoint)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-lg-12 col-sm-12 col-md-12 col-xs-12 margin-top-20">
                        <div class="field-container">
                            <span class="title-select">@Html.LabelFor(model => model.TwilioPhoneNumber)</span>
                            @Html.TextBoxFor(model => model.TwilioPhoneNumber, new { @class = "simple-input", type = "phone", @placeholder = Html.DisplayNameFor(n => n.TwilioPhoneNumber) })
                            @Html.ValidationMessageFor(model => model.TwilioPhoneNumber)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-6 col-sm-6 col-md-6 col-xs-6">
                <div class="row">
                    <div class="col col-lg-12 col-sm-12 col-md-12 col-xs-12">
                        <div class="field-container">
                            <span class="title-select">@Html.LabelFor(model => model.SMSGateway)</span>
                            @Html.TextBoxFor(model => model.SMSGateway, new { @class = "simple-input", @placeholder = Html.DisplayNameFor(n => n.SMSGateway) })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-lg-6 col-sm-6 col-md-6 col-xs-6 margin-top-20">
                        <div class="field-container">
                            <span class="title-select">@Html.LabelFor(model => model.SMSPerUserPerDay)</span>
                            @Html.TextBoxFor(model => model.SMSPerUserPerDay, new { @class = "simple-input number-input", @min = "1", @max = "200", @type = "number", @placeholder= "SMS quantity" })
                            @Html.ValidationMessageFor(model => model.SMSPerUserPerDay)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
