﻿@model IEnumerable<UserDetailsViewModel>

<div style="display: block;" class="tab-pane" Id="administrationUsers">
    <div class="users-container">
        <div class="list-container">
            <div class="users-title-container">
                <span class="title-select user-type-column"></span>
                <span class="title-select user-full-name-column">Full Name</span>
                <span class="title-select user-email-column">Email</span>
                <span class="title-select user-last-login-column">Last Login</span>
                <span class="title-select user-delete-btn-column"></span>
            </div>
            <div class="users-content">
                <div class="user-list-container">
                    @foreach (var user in Model)
                    {
                        <div user-Id="@user.Id" class="swiper-slide swiper-slide-active">
                            <span class="title-select user-type-column">@Html.RoleAlias(user.Role)</span>
                            <div class="user-full-name-column">@user.FullName</div>
                            <span class="user-email-column">@user.Email</span>
                            <div class="user-last-login-column">@user.LastLogin</div>
                            <div class="user-delete-btn-column">×</div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <script>
        (function () {
            $("#administrationUsers .user-delete-btn-column").click(function () {
                var _this = this;
                var name = $(this).parent().find(".user-full-name-column").text();

                var confirmDialog = Relay.ConfirmDialog(
                    "",
                    "User '" + name + "' will be removed. Are you sure?",
                    "Yes",
                    "No"
                );
                confirmDialog.setOkEvent(function () {
                    removeUser($(_this).parent().attr("user-Id"));
                }.bind(this));
                confirmDialog.open();
            });

            function removeUser(Id) {
                $.ajax({
                    url: "/Administration/RemoveUser",
                    method: "POST",
                    data: { userId: Id }
                })
                    .done(function (data) {
                        reloadSection();
                    })
                    .fail(function () {
                        Relay.ErrorDialog().open();
                    });
            }

            function reloadSection() {
                var adminSection = $("#administrationUsers");

                $.ajax({
                    url: "/Administration/UsersTab",
                    method: "GET"
                })
                    .done(function (data) {
                        adminSection.parent().html($(data));
                    })
                    .fail(function () {
                        Relay.ErrorDialog().open();
                    });
            }
        })();
    </script>
</div>