﻿@model VersionDetailsViewModel

<div style="display: block;" class="tab-pane active" Id="administrationVersionDetails">
    @using (Html.BeginForm("VersionDetailsTab", "Administration", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col col-lg-6 col-sm-6 col-md-6 col-xs-6">
                <div class="row">
                    <div class="col col-lg-12 col-sm-12 col-md-12 col-xs-12">
                        <div class="field-container">
                            <span class="title-select">@Html.LabelFor(model => model.LicenceEndDate)</span>
                            @{ Html.EnableClientValidation(false); }
                            @Html.TextBox("LicenceEndDate", Model.LicenceEndDate.CalendarFormatWidthYear(), new { @class = "simple-input datepicker", @placeholder = Html.DisplayNameFor(n => n.LicenceEndDate) })
                            @Html.ValidationMessageFor(m => m.LicenceEndDate)
                            @{ Html.EnableClientValidation(true); }
                        </div>
                    </div>
                    <div class="col col-lg-12 col-sm-12 col-md-12 col-xs-12 margin-top-20">
                        <div class="field-container">
                            <span class="title-select">@Html.LabelFor(model => model.iHandoverAccountManager)</span>
                            @Html.TextBoxFor(model => model.iHandoverAccountManager, new { @class = "simple-input", @placeholder = Html.DisplayNameFor(n => n.iHandoverAccountManager) })
                        </div>
                    </div>
                    <div class="col col-lg-12 col-sm-12 col-md-12 col-xs-12 margin-top-20">
                        <div class="row">
                            <div class="col col-lg-6 col-sm-6 col-md-6 col-xs-6">
                                <div class="field-container">
                                    <span class="title-select">@Html.LabelFor(model => model.MaximumTemplates)</span>
                                    @Html.TextBoxFor(model => model.MaximumTemplates, new { @class = "simple-input number-input", @min = "1", @max = "100", @type = "number", @placeholder = "Max Templates" })
                                    @Html.ValidationMessageFor(model => model.MaximumTemplates)
                                </div>
                            </div>
                            <div class="col col-lg-6 col-sm-6 col-md-6 col-xs-6">
                                <div class="field-container">
                                    <span class="title-select">@Html.LabelFor(model => model.MaximumHandovers)</span>
                                    @Html.TextBoxFor(model => model.MaximumHandovers, new { @class = "simple-input number-input", @min = "1", @max = "200", @type = "number", @placeholder = "Max Handovers" })
                                    @Html.ValidationMessageFor(model => model.MaximumHandovers)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-6 col-sm-6 col-md-6 col-xs-6">
                <div class="row">
                    <div class="col col-lg-12 col-sm-12 col-md-12 col-xs-12">
                        <div class="field-container">
                            <span class="title-select">@Html.LabelFor(model => model.DomainUrl)</span>
                            @Html.TextBoxFor(model => model.DomainUrl, new { @class = "simple-input", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col col-lg-12 col-sm-12 col-md-12 col-xs-12 margin-top-20">
                        <div class="field-container">
                            <span class="title-select">@Html.LabelFor(model => model.HostingProvider)</span>
                            @Html.TextBoxFor(model => model.HostingProvider, new { @class = "simple-input", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $('.datepicker').datepicker({
                format: "dd M yyyy",
                todayBtn: "linked",
                container: "#settingsDialog",
                todayHighlight: true
            }).on('changeDate', function ()
            {
                $(this).datepicker('hide');
            });
        </script>
  }
</div>
