﻿@model IndodrillReport.BLL.ViewModels.ReportActivityViewModel

<tr row-id="@Model.Id">
    <td class="btn-column">
        <div class="remove-icon"></div>
    </td>
    <td class="activity-body">
        @Html.DropDownListFor(m => m.TemplateId, Model.Templates, new { @title = " ", @class = "select-list" })
    </td>
    <td class="cost-code-body">
        @Model.CostCode
    </td>
    <td class="start-time-body field-container">
        @Html.DropDownListFor(m => m.StartTime, Enumerable.Range(0, 96).Select(i =>
            new SelectListItem
            {
                Value = (15 * i).ToString(),
                Text = string.Format("{0:D2}:{1:D2}", i * 15 / 60, i * 15 % 60)
            }), new { @title=" ", @class = "select-list time-list" })
    </td>
    <td class="end-time-body field-container">
        @Html.DropDownListFor(m => m.EndTime, Enumerable.Range(0, 96).Select(i =>
            new SelectListItem
            {
                Value = (15 * i).ToString(),
                Text = string.Format("{0:D2}:{1:D2}", i * 15 / 60, i * 15 % 60)
            }), new { @title = " ", @class = "select-list time-list" })
    </td>
    <td class="hours-body"></td>
    <td class="from-body">
        @Html.TextBoxFor(m => m.From, new { @class = "simple-input", type = "text", maxlength = "6" })
    </td>
    <td class="to-body">
        @Html.TextBoxFor(m => m.To, new { @class = "simple-input", type = "text", maxlength = "6" })
    </td>
    <td class="cored-body"></td>
    <td class="recovered-body">
        @Html.TextBoxFor(m => m.Recovered, new { @class = "simple-input", type= "text", maxlength = "6" })
    </td>
    <td class="core-size-body">
        @Html.TextBoxFor(m => m.CoreSize, new { @class = "simple-input", type = "string", maxlength = "10" })
    </td>
    <td class="drilling-details-body">
        @Html.TextAreaFor(m => m.DrillingDetails, new { @class = "textarea simple-textarea", wrap = "hard", cols = "35", rows = "3", maxlength = "300" })
    </td>
</tr>