﻿@model SettingsDialogAccessViewModel

<ul class="nav nav-tabs">
    @if (Model.Admin.AccountTab)
    {
        <li class="active"><a href="#administrationDetails" tab-url="/Administration/DetailsTab" data-toggle="tab">Account</a></li>
    }
    @if (Model.Admin.VersionDetailsTab)
    {
        <li><a href="#administrationVersionDetails" tab-url="/Administration/VersionDetailsTab" data-toggle="tab">Version Details</a></li>
    }
    @if (Model.Admin.ThirdPartyTab)
    {
        <li><a href="#administrationThirdParty" tab-url="/Administration/ThirdPartyTab" data-toggle="tab">Third Party</a></li>
    }
    @if (Model.Admin.PreferencesTab)
    {
        <li><a href="#administrationPreferences" tab-url="/Administration/PreferencesTab" data-toggle="tab">Preferences</a></li>
    }
    @if (Model.Admin.UsersTab)
    {
        <li><a href="#administrationUsers" tab-url="/Administration/UsersTab" data-toggle="tab">Users</a></li>
    }
    @*@if (Model.Admin.UpgradeTab)
    {
        <li class="orange"><a href="#administrationUpgrade" tab-url="/Administration/UpgradeTab" data-toggle="tab">Upgrade</a></li>
    }*@
</ul>
<div class="tab-content">
    @if (Model.Admin.AccountTab)
    {
        @Html.Action("DetailsTab", "Administration")
    }
</div>