﻿@model IndodrillReport.BLL.ViewModels.ClientFormDialogViewModel

<div id="editClientFormDialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static" class="modal fade client-form-dialog">
    <div class="modal-dialog">
        <div class="theme">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row vertical-center">
                        <div class="col col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <div Id="modalTitle" class="modal-title">Edit Client</div>
                        </div>
                        <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
                            <button type="submit" class="btn btn-save">Save</button>
                            <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding client-form">
                            @Html.Partial("~/Views/IndodrillReport/MasterList/Client/_ClientForm.cshtml", Model)
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-50">
                            <div class="table-thead row">
                                <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding title">Locations</div>
                            </div>
                            <div class="location-table row no-margin">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        @Html.Partial("~/Views/IndodrillReport/MasterList/Client/_LocationsSwiper.cshtml", Model.Locations)
                                    </div>
                                </div>
                                <div class="swiper-prev"></div>
                                <div class="swiper-next"></div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                            <div class="btn-plus-block">
                                <div class="plus-icon"></div>
                            </div>
                            <div Id="new-location-for-client">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
