﻿@model IEnumerable<SelectListItem>


@if (Model.Any())
{
    foreach (var location in Model)
    {
        <div location-id="@location.Value" class="row swiper-slide location-item">
            <div class="col col-lg-11 col-md-11 col-sm-11 col-xs-11 no-padding location-name">
                @location.Text
            </div>
            <div class="col col-lg-1 col-md-1 col-sm-1 col-xs-1 no-padding remove-location">
                <div class="remove-icon"></div>
            </div>
        </div>
    }
}
else
{
    <div class="no-critical-controls">No location</div>
}
