﻿@model IndodrillReport.BLL.ViewModels.LocationViewModel

@using (Html.BeginForm())
{
    <div class="new-location-item" id="newLocationItem">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ClientId)
        @Html.HiddenFor(m => m.LocationId)

        <div class="title-block-with-line">
            <div class="line-container">
                <div class="title">@ViewBag.Title</div>
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                <div class="field-container">
                    @Html.LabelFor(m => m.LocationName, new {@class = "title-select"})
                    @Html.TextBoxFor(m => m.LocationName, new {@class = "simple-input", placeholder = "Enter Location Name"})
                    @Html.ValidationMessageFor(m => m.LocationName)
                    <div class="add-new-item"></div>
                </div>
            </div>
        </div>
    </div>
}