﻿@model IPagedList<IndodrillReport.BLL.ViewModels.ActivityItemViewModel>

@{
    Layout = "~/Views/IndodrillReport/MasterList/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading panel-heading-icon-right">
        <strong style="font-size: 20px !important;">
            Activities
        </strong>
        <a href="javascript:void(0)" class="icon-right plus-btn btn-circle btn btn-link activity-create-btn pull-right">
            <span class="glyphicon span"></span>
        </a>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            @if (Model != null && Model.Any())
            {
                foreach (var activityItem in Model)
                {
                    <li class="list-group-item">
                        @activityItem.ActivityName
                        <a class="edit-activity-btn" data-id="@activityItem.ActivityId" href="javascript:void(0)">
                            <span class="glyphicon glyphicon-pencil pull-right"></span>
                        </a>
                        <a class="remove-activity-btn" data-id="@activityItem.ActivityId" href="javascript:void(0)">
                            <span class="glyphicon glyphicon-remove pull-right margin-right-15"></span>
                        </a>
                    </li>
                }

                @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount).Options(o => o
                                .DisplayTemplate("TemplateBootstrapPagination")
                                .MaxNrOfPages(14)
                                .AlwaysAddFirstPageNumber())

            }
            else
            {
                <li class="list-group-item text-center">No activities</li>
            }
        </ul>

    </div>
</div>
<script>
    $(document).ready(function () {
        $(".activity-create-btn").click(function() {
            var formDialog = Relay.FormDialog({
                url: "/ActivityTemplate/AddActivityFormDialog"
            });
            formDialog.setErrorEvent(function () {
                location.reload();
            });
            formDialog.setCloseEvent(function () {
                location.reload();
            });
            formDialog.open();
        });
        $(".edit-activity-btn").click(function () {
            var formDialog = Relay.FormDialog({
                url: "/ActivityTemplate/EditActivityFormDialog",
                data: {
                    activityId: $(this).attr("data-id")
                }
            });
            formDialog.setErrorEvent(function () {
                location.reload();
            });
            formDialog.setCloseEvent(function() {
                location.reload();
            });
            formDialog.open();
        });
        $(".remove-activity-btn").click(function () {
            var activityId = $(this).attr("data-id");
            var confirm = Relay.ConfirmDialog("Remove activity", "Do you want to remove Activity?", "Yes", "No");
            confirm.setOkEvent(function () {

                var loadingAnimationTimeout = setTimeout(function () {
                    $('#loading-animation').show();
                }, 200);

                $.ajax({
                    url: "/ActivityTemplate/RemoveActivity",
                        method: "POST",
                        data: { activityId: activityId }
                    })
                    .done(function () {
                        location.reload();
                    })
                    .fail(function () {
                        var errorDialog = Relay.ErrorDialog();
                        errorDialog.setCloseEvent(function () {
                            location.reload();
                        });
                        errorDialog.open();
                    })
                    .always(function () {
                        clearTimeout(loadingAnimationTimeout);
                        $('#loading-animation').hide();
                    });

            });
            confirm.open();
        });
    });
</script>
