.rotation-dialog {
    .modal-content {
        width: 600px !important;
        height: 450px !important;

        .radio-btn-group {
            color: white;
            font-size: 14px;

            .radio-label {
                position: relative;
                top: 4px;
                padding-right: 10px;
                margin-left: -4px;
            }

            .beta-icon {
                background-image: data-uri("@{main-url-img}/beta_icon.svg");
                width: 30px;
                background-repeat: no-repeat;
                height: 12px;
                position: absolute;
                top: -2px;
                left: 85px;
            }

            input {
                width: 14px;
                height: 14px;
                margin-right: 5px;
                position: relative;
                top: 7px;
            }


            input[type="radio"]:checked:before {
                content: "";
                display: block;
                position: relative;
                top: 3px;
                left: 3px;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background: #00AFF0;
            }

            .option-name {
                vertical-align: middle;
                padding-right: 15px;
            }
        }
    }
}
