﻿@model IndodrillReport.BLL.ViewModels.RigTemplateFormDialogViewModel

<div Id="activityFormDialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true" class="modal fade drill-rig-form-dialog">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        <div class="modal-dialog">
            <div class="theme">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row vertical-center">
                            <div class="col col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div Id="modalTitle" class="modal-title">@ViewBag.Title</div>
                            </div>
                            <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
                                <button type="submit" class="btn btn-save">Save</button>
                                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="field-container">
                                    @Html.LabelFor(m => m.Name, new { @class = "title-select" })
                                    @Html.TextBoxFor(m => m.Name, new { @class = "simple-input", @placeholder = "Enter Rig Name" })
                                    @Html.ValidationMessageFor(m => m.Name)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
