﻿#globalReportBuilderPanel {
    .report-panel {
        #safetySection, #coreSection, #teamSection, #projectsSection, #tasksSection {

            .grey-panel {
                .navbar-orange {
                    border-radius: 0;
                    min-height: 30px;
                    margin: 0;
                    border-top: solid 4px #F29105;

                    span {
                        margin: 5px 0 0 0;
                        font-size: 13px;
                        color: #F29105;
                        margin-left: 10px;
                        padding-left: 0px;
                        text-transform: uppercase;
                    }
                }
            }

            .table-block {
                @media (max-width: 1199px) {
                    overflow-x: scroll;
                    overflow-y: hidden;
                }
            }

            .no-items {
                margin-top: 10px;
                text-align: center;
                margin-bottom: 10px;
            }

            .table {
                margin-bottom: 0;

                thead {
                    tr {
                        th {
                            font-family: 'Proxima-Nova-Regular';
                            border: none;
                            font-size: 10px;
                            padding: 6px 0px;
                            padding-top: 5px;

                            &.actions-title {
                                padding: 5px 0px 6px 10px !important;
                                width: 100px;
                                min-width: 110px;
                            }

                            &.type-title {
                                width: 115px;
                                min-width: 115px;
                                max-width: 115px;
                            }

                            &.reference-title {
                                width: 115px;
                                min-width: 115px;
                                max-width: 115px;
                            }

                            &.status-title {
                                width: 100px;
                                min-width: 100px;
                                max-width: 100px;
                            }

                            &.priority-title {
                                width: 115px;
                                min-width: 115px;
                                max-width: 115px;
                            }

                            &.notes-title {
                                width: 675px;
                                min-width: 675px;
                                max-width: 675px;
                            }

                            &.intel-title {
                                width: 110px;
                                min-width: 110px;
                                padding: 5px 0px 6px 0px !important;
                            }
                        }
                    }
                }

                tbody {
                    tr {
                        border-bottom: 0.5px solid #DBDBDB;

                        td {
                            padding: 8px;
                            font-size: 14px;
                            line-height: 1.3em;
                            vertical-align: middle;
                            border-top: none;
                            font-family: 'Proxima-Nova-Regular';

                            .text-blue {
                                color: #00aff0 !important;
                            }

                            .input-field {
                                width: 80px;
                                border: none;

                                &:focus {
                                    outline: 0;
                                }

                                &[placeholder] {
                                    text-overflow: ellipsis;
                                    font-size: 10pt;
                                    line-height: 1.3em;
                                    font-family: 'Proxima-Nova-Regular';
                                }

                                &::-moz-placeholder {
                                    text-overflow: ellipsis;
                                }

                                &:-moz-placeholder {
                                    text-overflow: ellipsis;
                                }

                                &:-ms-input-placeholder {
                                    text-overflow: ellipsis;
                                }
                            }

                            .new-note {
                                width: 100%;
                                height: 45px;
                                resize: none;
                                border: none;
                                padding-top: 15px;
                                margin-left: -2px;
                                overflow-y: hidden;

                                &:focus {
                                    outline: 0;
                                }
                            }
                        }

                        .text-blue {
                            * {
                                color: #00AFF0 !important;
                            }

                            color: #00AFF0 !important;


                            .btn-priority {
                                color: @simple-white !important;
                            }
                        }

                        .text-grey {
                            * {
                                color: #464646 !important;
                            }

                            color: #464646 !important;


                            .btn-priority {
                                color: @simple-white !important;
                            }
                        }

                        .actions-body {
                            padding-left: 10px;
                            padding: 5px 0px 6px 10px !important;

                            button:nth-child(2) {
                                margin: 0 1px;
                            }
                            //=========================== btn-circle ===========================
                            .btn-circle {
                                display: inline-block;
                                width: 25px;
                                height: 25px;
                                top: 0;

                                &:hover {
                                    opacity: 0.75;
                                }

                                .span {
                                    top: 0;
                                    width: 100%;
                                    height: 100%;

                                    &:before {
                                        content: "";
                                        width: 100%;
                                        height: 100%;
                                        display: block;
                                    }
                                }
                            }
                            //=========================== nil report icon ======================
                            .nr-black-btn {
                                width: 25px;
                                height: 25px;
                                padding: 0;
                                background: none;
                                margin: 0 0 8px 0;

                                .span {
                                    position: relative;

                                    &:before {
                                        position: absolute;
                                        content: "";
                                        width: 23px;
                                        height: 23px;
                                        background-image: data-uri("@{main-url-img}/NR.svg");
                                    }
                                }
                            }

                            .nr-active-btn {
                                padding: 0;
                                background: none;

                                .span {
                                    background-color: @main-blue;
                                    border-radius: 50%;
                                    position: relative;

                                    &:before {
                                        font-family: 'Proxima-Nova-Regular';
                                        font-weight: 700;
                                        content: 'NR';
                                        position: absolute;
                                        color: @main-brown;
                                        line-height: 10px;
                                        top: 7px;
                                        font-size: 11px;
                                    }
                                }
                            }

                            .nr-inactive-btn {
                                padding: 0;
                                background: none;

                                .span {
                                    background-color: @text-grey;
                                    border-radius: 50%;
                                    position: relative;

                                    &:before {
                                        font-family: 'Proxima-Nova-Regular';
                                        font-weight: 700;
                                        content: 'NR';
                                        position: absolute;
                                        color: @simple-white;
                                        line-height: 10px;
                                        top: 7px;
                                        font-size: 11px;
                                    }
                                }

                                &:hover {
                                    .span {
                                        background-color: @main-blue;

                                        &:before {
                                            color: @main-brown;
                                        }
                                    }
                                }
                            }
                            //=========================== pin icon btn =========================
                            .pin-active-btn {
                                padding: 0;
                                background: none;

                                .span {
                                    &:before {
                                        background-image: data-uri("@{main-url-img}/note_active.svg");
                                    }
                                }
                            }

                            .pin-inactive-btn {
                                padding: 0;
                                background: none;

                                .span {
                                    &:before {
                                        background-image: data-uri("@{main-url-img}/note_inactive.svg");
                                    }
                                }
                            }

                            .pin-grey-btn {
                                padding: 0;
                                background: none;

                                .span {
                                    &:before {
                                        background-image: data-uri("@{main-url-img}/note_grey.svg");
                                    }
                                }
                            }
                            //=========================== hand-back icon btn ===================
                            .hand-back-active-btn {
                                width: 25px;
                                height: 24px;
                                padding: 0;
                                background: none;

                                .span {
                                    &:before {
                                        background-image: data-uri("@{main-url-img}/arrows_active.svg");
                                        background-repeat: no-repeat;
                                        background-position: center;
                                    }
                                }
                            }

                            .hand-back-inactive-btn {
                                width: 25px;
                                height: 24px;
                                padding: 0;
                                background: none;

                                .span {
                                    &:before {
                                        background-image: data-uri("@{main-url-img}/arrows_inactive.svg");
                                        background-repeat: no-repeat;
                                        background-position: center;
                                    }
                                }
                            }
                            //=========================== remove icon btn ======================
                            .remove-btn {
                                width: 25px;
                                height: 25px;
                                padding: 0;
                                background: none;

                                .span {
                                    &:before {
                                        background-image: data-uri("@{main-url-img}/remove_inactive.svg");
                                        background-repeat: no-repeat;
                                        background-position: center;
                                    }
                                }

                                &:hover {
                                    .span {
                                        &:before {
                                            background-image: data-uri("@{main-url-img}/remove_active.svg");
                                        }
                                    }
                                }
                            }
                            //============================ none icon ===========================
                            .none-btn {
                                padding: 0;
                                background: none;
                                cursor: default;

                                &:hover {
                                    opacity: 1;
                                }

                                .span {
                                    &:before {
                                        border-top: 1px solid @text-grey;
                                        margin: 11px 5px;
                                        width: 15px;
                                    }
                                }
                            }
                        }

                        .type-body {
                            vertical-align: middle;
                            color: @main-brown;
                            font-weight: bold;
                            max-width: 120px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            padding: 6px 0px;
                            padding-right: 5px;

                            &.tr-blue-text {
                                color: #00AFF0;
                            }
                        }

                        .reference-body {
                            vertical-align: middle;
                            color: @main-brown;
                            font-weight: bold;
                            max-width: 120px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            padding: 6px 0px;
                            padding-right: 5px;

                            &.tr-blue-text {
                                color: #00AFF0;
                            }
                        }

                        .notes-body {
                            vertical-align: middle;
                            color: @main-notes;
                            min-width: 210px;
                            padding: 6px 0px;
                            max-width: 210px;

                            p {
                                margin: 0;
                            }

                            .note-short {
                                position: relative;
                                overflow: hidden;
                                padding: 6px 0 6px 0;

                                ul {
                                    margin-bottom: 0px !important;
                                }
                            }

                            .note-short-ellipses {
                                &:after {
                                    position: absolute;
                                    pointer-events: all;
                                    content: '...';
                                    bottom: 4px;
                                    right: 17px;
                                    background-color: #fff;
                                    padding: 0;
                                    cursor: pointer;
                                }
                            }

                            .note-full {
                                height: auto;
                                border: 1px dashed @main-blue;
                                padding: 3px;

                                &:after {
                                    position: absolute;
                                    pointer-events: all;
                                    content: '';
                                    background-image: data-uri("@{main-url-img}/ok_blue.svg");
                                    bottom: 2px;
                                    right: 2px;
                                    padding: 0 5px 0 5px;
                                    width: 10px;
                                    height: 10px;
                                }
                            }

                            .field-of-edit {
                                display: none;
                            }
                        }

                        .status-body {
                            font-size: 14px;
                            font-weight: normal;
                            color: #464646;

                            .none-btn {
                                padding: 0;
                                background: none;
                                cursor: default;

                                &:hover {
                                    opacity: 1;
                                }

                                .span {
                                    &:before {
                                        border-top: 1px solid @text-grey;
                                        margin: 11px 5px;
                                        width: 15px;
                                    }
                                }
                            }
                        }

                        .priority-body {
                            font-size: 12px;
                            font-weight: bold;

                            .btn-priority {
                                width: 80px;
                                height: 25px;
                                font-size: 10px;
                                border-radius: 12px;
                                font-weight: bold;
                                pointer-events: none;
                                cursor: default;
                                text-align: center;
                                padding-top: 5px;
                            }

                            .btn-success {
                                border: none;
                                background-color: @success-color;

                                &:hover {
                                    background-color: @success-color;
                                }
                            }

                            .btn-danger {
                                border: none;
                                background-color: @danger-color;

                                &:hover {
                                    background-color: @danger-color;
                                }
                            }

                            .btn-low {
                                border: none;
                                background-color: @low-color;
                                color: @simple-white;

                                &:hover {
                                    background-color: @low-color;
                                    color: @simple-white;
                                }
                            }

                            .btn-warning {
                                border: none;
                                background-color: @warning-color;

                                &:hover {
                                    background-color: @warning-color;
                                }
                            }

                            .btn-info {
                                border: none;
                                background-color: @info-color;

                                &:hover {
                                    background-color: @info-color;
                                }
                            }
                        }

                        .intel-body {
                            padding: 5px 0px 6px 0px !important;
                            text-align: center;

                            div, button {
                                margin-right: 5px;
                            }

                            div:last-child {
                                margin-right: 0px;
                            }

                            .btn-circle {
                                display: inline-block;
                                border: none;
                                width: 25px;
                                height: 25px;
                                top: 0;

                                &:hover {
                                    opacity: 0.75;
                                }

                                .span {
                                    top: 0;
                                    width: 100%;
                                    height: 100%;

                                    &:before {
                                        content: "";
                                        width: 100%;
                                        height: 100%;
                                        display: block;
                                    }
                                }
                            }
                            //=================== add-inline-topic btn ======================
                            .inline-add-btn {
                                width: 85px;
                                height: 25px;
                                color: white;
                                border: 0;
                                border-radius: 15px;
                                background-color: #B4B4B4;

                                &:hover {
                                    background-color: #00aff0;
                                }
                            }
                            //=================== btn-status =============================
                            .btn-status {
                                width: 70px;
                                height: 25px;
                                font-size: 10px;
                                border-radius: 12px;
                                font-weight: bold;
                                color: @inactive-name-of-tabs;
                                border: 1px solid @inactive-name-of-tabs;
                                text-align: center;
                                padding-top: 4px;
                            }

                            .other-actions {
                                display: none;
                                background-color: #F0F0F0;
                                z-index: 1;
                                border-radius: 20px;
                                padding-top: 4px;
                                width: 110px;
                                text-align: center;

                                button {
                                    margin: 0;
                                }

                                .action-btn {
                                    display: inline-block;
                                    width: 20px;
                                    height: 20px;
                                    background-position: center;
                                    cursor: pointer;
                                    border: none;
                                    background: none;

                                    &:hover {
                                        opacity: 0.75;
                                    }
                                }
                                //======================== location icon btn =======================
                                .location-active-btn {
                                    background-image: data-uri("@{main-url-img}/pin_active.svg");
                                    background-repeat: no-repeat;
                                    background-position: center;
                                }

                                .location-inactive-btn {
                                    background-image: data-uri("@{main-url-img}/pin_inactive.svg");
                                    background-repeat: no-repeat;
                                    background-position: center;
                                }
                                //======================== task icon btn ===========================
                                .task-black-btn {
                                    width: 18px;
                                    height: 18px;
                                    background-image: data-uri("@{main-url-img}/ok_black.svg");
                                    background-repeat: no-repeat;
                                }

                                .task-inactive-btn {
                                    width: 18px;
                                    height: 18px;
                                    background-image: data-uri("@{main-url-img}/ok_inactive.svg");
                                    background-repeat: no-repeat;
                                }

                                .task-active-btn {
                                    width: 18px;
                                    height: 18px;
                                    background-image: data-uri("@{main-url-img}/ok_active.svg");
                                    background-repeat: no-repeat;
                                }
                                //===================== attachment icon btn ========================
                                .attachment-active-btn {
                                    background-image: data-uri("@{main-url-img}/clip_active.svg");
                                    background-repeat: no-repeat;
                                }

                                .attachment-inactive-btn {
                                    background-image: data-uri("@{main-url-img}/clip_inactive.svg");
                                    background-repeat: no-repeat;
                                }
                                //==================== voice messages icon btn =====================
                                .voice-messages-active-btn {
                                    background-image: data-uri("@{main-url-img}/sound_active.svg");
                                    background-repeat: no-repeat;
                                }

                                .voice-messages-inactive-btn {
                                    background-image: data-uri("@{main-url-img}/sound_inactive.svg");
                                    background-repeat: no-repeat;
                                }
                            }
                            //=================== manager comment  icon btn ====================
                            .comment-active-btn {
                                padding: 0;
                                background: none;

                                .span {
                                    &:before {
                                        background-image: data-uri("@{main-url-img}/comment_active.svg");
                                    }
                                }
                            }

                            .comment-inactive-btn {
                                padding: 0;
                                background: none;

                                .span {
                                    &:before {
                                        background-image: data-uri("@{main-url-img}/comment_inactive.svg");
                                    }
                                }
                            }
                            //======================= assigned icon ============================
                            .user-photo-btn {
                                padding: 0;
                                background: none;

                                .user-photo-img {
                                    max-width: 100%;
                                    max-height: 100%;
                                    border-radius: 50%;
                                    height: 25px;
                                    width: 25px;
                                }
                            }

                            .user-without-photo-btn {
                                padding: 0;
                                background: none;

                                .span {
                                    &:before {
                                        background-image: data-uri("@{main-url-img}/share_icon_inactive.svg");
                                    }
                                }
                            }
                            //=========================== share icon btn =======================
                            .share-btn {
                                display: inline-block;
                                width: 27px;
                                height: 27px;
                                text-align: center;
                                vertical-align: middle;
                                cursor: pointer;
                                line-height: 1.42857143;

                                &:hover {
                                    opacity: 0.75;
                                }
                            }

                            .share-inactive-btn {
                                padding: 0;
                                background-image: data-uri("@{main-url-img}/share_icon_inactive.svg");
                                background-repeat: no-repeat;

                                .counter-block {
                                    display: none;
                                }
                            }

                            .share-active-btn {
                                padding: 0;
                                background-image: data-uri("@{main-url-img}/share_icon_active.svg");
                                background-repeat: no-repeat;

                                .counter-block {
                                    text-align: center;
                                    display: block;
                                    font-size: 9px;
                                    font-weight: bold;
                                    color: #fff;
                                    background-color: #464646;
                                    border-radius: 50%;
                                    width: 16px;
                                    height: 16px;
                                    margin-left: 15px;
                                    margin-top: -2px;
                                    padding-top: 2px;
                                }
                            }
                            //=========================== extra icon btn =======================
                            .more-active-btn {
                                padding: 0;
                                background: none;

                                .span {
                                    &:before {
                                        background-image: data-uri("@{main-url-img}/more_active.svg");
                                    }
                                }
                            }

                            .more-inactive-btn {
                                padding: 0;
                                background: none;

                                .span {
                                    &:before {
                                        background-image: data-uri("@{main-url-img}/more_inactive.svg");
                                    }
                                }
                            }
                            //============================ none icon ===========================
                            .none-btn {
                                padding: 0;
                                background: none;
                                cursor: default;

                                &:hover {
                                    opacity: 1;
                                }

                                .span {
                                    &:before {
                                        border-top: 1px solid @text-grey;
                                        margin: 11px 5px;
                                        width: 15px;
                                    }
                                }
                            }
                            //======================== star icon btn =======================
                            .star-active-btn {
                                background-image: data-uri("@{main-url-img}/star-icon-active.svg");
                                background-repeat: no-repeat;
                                background-position: center;
                            }

                            .star-inactive-btn {
                                background-image: data-uri("@{main-url-img}/star-icon-inactive.svg");
                                background-repeat: no-repeat;
                                background-position: center;
                            }
                            //==================================================================
                        }
                    }

                    .text-muted {
                        color: @text-grey;
                    }

                    .text-primary {
                        color: @text-blue;

                        &:hover {
                            color: @text-blue;
                        }
                    }

                    .edit-tr {

                        td {
                            vertical-align: middle;
                        }

                        .actions-body {
                            padding-top: 8px;
                        }

                        .type-body {
                            padding-top: 6px;
                        }

                        .reference-body {
                            padding-top: 6px;
                        }

                        .notes-body {
                            padding-top: 8px;
                            padding-bottom: 6px;

                            .note, .note-short {
                                display: none;
                            }

                            .field-of-edit {
                                display: block;
                                height: 100px;
                                position: relative;
                                padding-right: 30px;

                                textarea {
                                    width: 100%;
                                    min-width: 100%;
                                    resize: none;
                                    height: 100%;
                                    min-height: 100%;
                                    resize: none;
                                    border: 1px dashed @main-blue;
                                    padding: 5px;
                                    background-color: @simple-white;
                                }

                                .accept-btn {
                                    position: absolute;
                                    bottom: 2px;
                                    right: 32px;
                                    cursor: pointer;
                                    width: 14px;
                                    height: 14px;
                                    background-color: #fff;
                                    border: 2px solid #FFF;

                                    &:hover {
                                        opacity: 0.75;
                                    }
                                }

                                .accept-btn-blue {
                                    background-image: data-uri("@{main-url-img}/ok_blue.svg");
                                }

                                .accept-btn-grey {
                                    background-image: data-uri("@{main-url-img}/ok_grey.svg");
                                }
                            }
                        }

                        .intel-body {

                            .other-actions {
                                margin-top: 10px;
                                display: block;
                                text-align: center;
                            }
                        }
                    }

                    .tr-blue-text {
                        .type-body, .reference-body, .notes-body, .status-body {
                            color: @main-blue;
                        }

                        .btn-priority {
                            color: @simple-white;
                        }
                    }

                    .tr-grey-text {
                        .type-body, .reference-body, .notes-body, .status-body {
                            color: #b4b4b4;
                        }

                        .btn-priority {
                            color: @simple-white;
                        }
                    }

                    .new-line {
                        td {
                            &.action-body {
                                padding: 6px 10px !important;
                            }
                        }


                        .type-body {
                            overflow: initial !important;
                        }

                        .reference-body {
                            padding-top: 0px;
                        }

                        .notes-body {
                            padding-top: 0 !important;
                            padding-bottom: 0 !important;

                            .new-note {
                                font-family: 'Proxima-Nova-Regular';
                                font-size: 10pt;
                                line-height: 20px;
                                background: none;
                                display: block;
                                height: 52px;
                                padding-top: 12px;
                            }

                            .new-note-110 {
                                height: 110px;
                            }
                        }

                        .intel-body {
                            vertical-align: middle !important;
                        }

                        .bootstrap-select {
                            .dropdown-toggle {
                                .caret {
                                    right: 8px;
                                    margin-top: -6px;
                                }

                                .filter-option {
                                    font-size: 10pt;
                                    line-height: 1.3em;
                                    color: @placeholder-color;
                                }
                            }
                        }
                    }
                }

                th {
                    color: @darkest-grey;
                    font-size: 10pt;
                    white-space: nowrap;
                    padding: 10px;
                }

                .grey-title {
                    color: @inactive-name-of-tabs;
                    border-bottom: 1px solid @inactive-name-of-tabs;
                }

                .glyphicon {
                    color: @main-blue;
                }
            }

            .navbar-white {
                background-color: @simple-white;
                margin: 0;
                min-height: 40px;
                //=========================== btn-plus =============================
                .btn-plus {
                    margin-top: 6px;
                    width: 25px;
                    height: 25px;
                    background: none;
                    border: none;

                    &:hover {
                        opacity: 0.75;
                    }

                    .span {
                        width: 100%;
                        height: 100%;
                        display: block;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-image: data-uri("@{main-url-img}/plus_grey.svg");
                    }
                }
                //==================================================================
            }
        }

        #tasksSection {

            .table {
                thead {
                    tr {
                        th {
                            &.notes-title {
                                width: 440px;
                                min-width: 440px;
                                max-width: 440px;
                            }
                        }
                    }
                }

                tbody {
                    tr {
                        td {
                            border-bottom: none;
                            padding: 8px 0px;
                        }
                    }
                }
            }
        }
    }

    #globalReportBuilderData {
        .report-panel {
            #safetySection, #coreSection, #teamSection, #projectsSection, #tasksSection, #dailyNotesSection {
                .grey-panel {
                    .navbar-orange {
                        border-radius: 0;
                        min-height: 30px;
                        margin: 0;
                        border-top: solid 4px #F29105;

                        span {
                            margin: 5px 0 0 0;
                            font-size: 13px;
                            color: #F29105;
                            margin-left: 10px;
                            padding-left: 0px;
                            text-transform: uppercase;
                        }
                    }
                }

                .table {
                    margin-bottom: 0;

                    thead {
                        tr {
                            th {
                                font-family: 'Proxima-Nova-Regular';
                                border: none;
                                font-size: 8pt;
                                padding: 6px 25px;
                                padding-top: 5px;
                            }
                        }

                        .first {
                            width: 130px;
                            min-width: 130px;
                            padding: 6px 22px 6px 10px;
                        }

                        .second {
                            width: 130px;
                            min-width: 130px;
                            max-width: 130px;
                            padding: 6px 22px 6px 10px;
                        }

                        .third {
                            width: 130px;
                            min-width: 130px;
                            max-width: 130px;
                        }

                        .fifth {
                            width: 124px;
                            min-width: 124px;
                            padding: 6px 10px 6px 23px;
                        }

                        .fifteen {
                            width: 15%;
                        }
                    }

                    tbody {
                        tr {
                            td {
                                padding: 6px 25px;
                                font-size: 10pt;
                                line-height: 1.3em;
                                vertical-align: middle;
                                border-top: none;
                                border-bottom: 0.5px solid @inderline-row;
                                font-family: 'Proxima-Nova-Regular';

                                .text-blue {
                                    color: #00aff0 !important;
                                }
                            }

                            .input-field {
                                width: 80px;
                                border: none;

                                &:focus {
                                    outline: 0;
                                }

                                &[placeholder] {
                                    text-overflow: ellipsis;
                                    font-size: 10pt;
                                    line-height: 1.3em;
                                    font-family: 'Proxima-Nova-Regular';
                                }

                                &::-moz-placeholder {
                                    text-overflow: ellipsis;
                                }

                                &:-moz-placeholder {
                                    text-overflow: ellipsis;
                                }

                                &:-ms-input-placeholder {
                                    text-overflow: ellipsis;
                                }
                            }

                            .new-note {
                                width: 100%;
                                height: 45px;
                                resize: none;
                                border: none;
                                padding-top: 15px;
                                margin-left: -2px;
                                overflow-y: hidden;

                                &:focus {
                                    outline: 0;
                                }
                            }
                            /*.new-note-two-lines {
                            padding-top: 5px;
                        }

                        .new-note-110 {
                            height: 110px;
                            overflow-y: initial;
                        }*/
                            .fifth-td {
                                padding-top: 6px;
                            }
                        }

                        .first-td {
                            padding: 6px 22px 6px 9px;

                            button:nth-child(2) {
                                margin: 0 1px;
                            }
                            //=========================== btn-circle ===========================
                            .btn-circle {
                                display: inline-block;
                                width: 27px;
                                height: 27px;
                                top: 0;

                                &:hover {
                                    opacity: 0.75;
                                }

                                .span {
                                    top: 0;
                                    width: 100%;
                                    height: 100%;

                                    &:before {
                                        content: "";
                                        width: 100%;
                                        height: 100%;
                                        display: block;
                                    }
                                }
                            }
                            //==================================================================
                            //=========================== nil report icon ======================
                            .nr-black-btn {
                                width: 24px;
                                height: 24px;
                                padding: 0;
                                background: none;
                                margin: 0 0 8px 0;

                                .span {
                                    position: relative;

                                    &:before {
                                        position: absolute;
                                        content: "";
                                        width: 23px;
                                        height: 23px;
                                        background-image: data-uri("@{main-url-img}/NR.svg");
                                    }
                                }
                            }

                            .nr-active-btn {
                                padding: 0;
                                background: none;

                                .span {
                                    background-color: @main-blue;
                                    border-radius: 50%;
                                    position: relative;

                                    &:before {
                                        font-family: 'Proxima-Nova-Regular';
                                        font-weight: 700;
                                        content: 'NR';
                                        position: absolute;
                                        color: @main-brown;
                                        line-height: 10px;
                                        top: 8px;
                                        font-size: 11px;
                                    }
                                }
                            }

                            .nr-inactive-btn {
                                padding: 0;
                                background: none;

                                .span {
                                    background-color: @text-grey;
                                    border-radius: 50%;
                                    position: relative;

                                    &:before {
                                        font-family: 'Proxima-Nova-Regular';
                                        font-weight: 700;
                                        content: 'NR';
                                        position: absolute;
                                        color: @simple-white;
                                        line-height: 10px;
                                        top: 8px;
                                        font-size: 11px;
                                    }
                                }

                                &:hover {
                                    .span {
                                        background-color: @main-blue;

                                        &:before {
                                            color: @main-brown;
                                        }
                                    }
                                }
                            }
                            //==================================================================
                            //=========================== pin icon btn =========================
                            .note-active-btn {
                                padding: 0;
                                background: none;

                                .span {
                                    &:before {
                                        background-image: data-uri("@{main-url-img}/note_active.svg");
                                    }
                                }
                            }

                            .note-inactive-btn {
                                padding: 0;
                                background: none;

                                .span {
                                    &:before {
                                        background-image: data-uri("@{main-url-img}/note_inactive.svg");
                                    }
                                }
                            }

                            .note-grey-btn {
                                padding: 0;
                                background: none;

                                .span {
                                    &:before {
                                        background-image: data-uri("@{main-url-img}/note_grey.svg");
                                    }
                                }
                            }
                            //==================================================================
                            //=========================== hand-back icon btn ===================
                            .arrows-active-btn {
                                width: 25px;
                                height: 24px;
                                padding: 0;
                                background: none;

                                .span {
                                    &:before {
                                        background-image: data-uri("@{main-url-img}/arrows_active.svg");
                                        background-repeat: no-repeat;
                                        background-position: center;
                                    }
                                }
                            }

                            .arrows-inactive-btn {
                                width: 25px;
                                height: 24px;
                                padding: 0;
                                background: none;

                                .span {
                                    &:before {
                                        background-image: data-uri("@{main-url-img}/arrows_inactive.svg");
                                        background-repeat: no-repeat;
                                        background-position: center;
                                    }
                                }
                            }
                            //==================================================================
                            //=========================== remove icon btn ======================
                            .remove-btn {
                                width: 27px;
                                height: 27px;
                                padding: 0;
                                background: none;

                                .span {
                                    &:before {
                                        background-image: data-uri("@{main-url-img}/remove_inactive.svg");
                                        background-repeat: no-repeat;
                                        background-position: center;
                                    }
                                }

                                &:hover {
                                    .span {
                                        &:before {
                                            background-image: data-uri("@{main-url-img}/remove_active.svg");
                                        }
                                    }
                                }
                            }
                            //==================================================================
                            //============================ none icon ===========================
                            .none-btn {
                                padding: 0;
                                background: none;
                                cursor: default;

                                &:hover {
                                    opacity: 1;
                                }

                                .span {
                                    &:before {
                                        border-top: 1px solid @text-grey;
                                        margin: 11px 5px;
                                        width: 15px;
                                    }
                                }
                            }
                            //==================================================================
                        }

                        .second-td {
                            color: @main-brown;
                            font-weight: bold;
                            max-width: 120px;
                        }

                        .third-td {
                            color: @main-brown;
                            font-weight: bold;
                            max-width: 120px;
                            overflow: hidden;
                        }

                        .fourth-td {
                            color: @main-notes;
                            min-width: 210px;
                            padding-top: 0;
                            padding-bottom: 0;
                            max-width: 210px;

                            p {
                                margin: 0;
                            }

                            .note-short {
                                position: relative;
                                overflow: hidden;
                                padding: 4px;
                                padding-left: 0;

                                ul {
                                    margin-bottom: 0px !important;
                                }
                            }

                            .note-short-ellipses {
                                &:after {
                                    position: absolute;
                                    pointer-events: all;
                                    content: '...';
                                    bottom: 4px;
                                    right: 17px;
                                    background-color: #fff;
                                    padding: 0;
                                    cursor: pointer;
                                }
                            }

                            .note-full {
                                height: auto;
                                border: 1px dashed @main-blue;
                                padding: 3px;

                                &:after {
                                    position: absolute;
                                    pointer-events: all;
                                    content: '';
                                    background-image: data-uri("@{main-url-img}/ok_blue.svg");
                                    bottom: 2px;
                                    right: 2px;
                                    padding: 0 5px 0 5px;
                                    width: 10px;
                                    height: 10px;
                                }
                            }

                            .field-of-edit {
                                display: none;
                            }
                        }

                        .fifth-td {
                            padding: 6px 10px 6px 23px;

                            .btn-circle {
                                display: inline-block;
                                border: none;
                                width: 25px;
                                height: 25px;
                                top: 0;

                                &:hover {
                                    opacity: 0.75;
                                }

                                .span {
                                    top: 0;
                                    width: 100%;
                                    height: 100%;

                                    &:before {
                                        content: "";
                                        width: 100%;
                                        height: 100%;
                                        display: block;
                                    }
                                }
                            }

                            button {
                                margin: 0 2px;
                            }

                            button:first-child {
                                margin-left: 0;
                            }
                            //=================== add-inline-topic btn ======================
                            .inline-add-btn {
                                width: 85px;
                                height: 25px;
                                color: white;
                                border: 0;
                                border-radius: 15px;
                                background-color: #B4B4B4;

                                &:hover {
                                    background-color: #00aff0;
                                }
                            }
                            //==============================================================
                            //=================== btn-priority =============================
                            .btn-priority {
                                width: 80px;
                                height: 25px;
                                font-size: 10px;
                                border-radius: 12px;
                                font-weight: bold;
                                pointer-events: none;
                            }

                            .btn-status {
                                width: 70px;
                                height: 25px;
                                font-size: 10px;
                                border-radius: 12px;
                                font-weight: bold;
                                color: @inactive-name-of-tabs;
                                border: 1px solid @inactive-name-of-tabs;
                                text-align: center;
                                padding-top: 4px;
                                /*margin-top: 25px;*/
                            }

                            .btn-success {
                                border: none;
                                background-color: @success-color;

                                &:hover {
                                    background-color: @success-color;
                                }
                            }

                            .btn-danger {
                                border: none;
                                background-color: @danger-color;

                                &:hover {
                                    background-color: @danger-color;
                                }
                            }

                            .btn-low {
                                border: none;
                                background-color: @low-color;
                                color: @simple-white;

                                &:hover {
                                    background-color: @low-color;
                                    color: @simple-white;
                                }
                            }

                            .btn-warning {
                                border: none;
                                background-color: @warning-color;

                                &:hover {
                                    background-color: @warning-color;
                                }
                            }

                            .btn-info {
                                border: none;
                                background-color: @info-color;

                                &:hover {
                                    background-color: @info-color;
                                }
                            }

                            .simple-label-btn {
                                cursor: default;
                            }
                            //==================================================================
                            .other-actions {
                                display: none;
                                border-bottom: 1.5px solid @main-brown;
                                padding: 15px 0px 1px 0;
                                margin: 0 0 30px 0;
                                background-color: @simple-white;
                                z-index: 1;

                                button {
                                    margin: 0;
                                }

                                .action-btn {
                                    display: inline-block;
                                    width: 20px;
                                    height: 20px;
                                    background-position: center;
                                    cursor: pointer;
                                    border: none;
                                    background: none;

                                    &:hover {
                                        opacity: 0.75;
                                    }
                                }
                                //======================== location icon btn =======================
                                .pin-active-action-btn {
                                    background-image: data-uri("@{main-url-img}/pin_active.svg");
                                    background-repeat: no-repeat;
                                    background-position: center;
                                }

                                .pin-inactive-action-btn {
                                    background-image: data-uri("@{main-url-img}/pin_inactive.svg");
                                    background-repeat: no-repeat;
                                    background-position: center;
                                }
                                //==================================================================
                                //======================== task icon btn ===========================
                                .ok-black-action-btn {
                                    width: 18px;
                                    height: 18px;
                                    background-image: data-uri("@{main-url-img}/ok_black.svg");
                                    background-repeat: no-repeat;
                                }

                                .ok-inactive-action-btn {
                                    width: 18px;
                                    height: 18px;
                                    background-image: data-uri("@{main-url-img}/ok_inactive.svg");
                                    background-repeat: no-repeat;
                                }

                                .ok-active-action-btn {
                                    width: 18px;
                                    height: 18px;
                                    background-image: data-uri("@{main-url-img}/ok_active.svg");
                                    background-repeat: no-repeat;
                                }
                                //==================================================================
                                //===================== attachment icon btn ========================
                                .clip-active-action-btn {
                                    background-image: data-uri("@{main-url-img}/clip_active.svg");
                                    background-repeat: no-repeat;
                                }

                                .clip-inactive-action-btn {
                                    background-image: data-uri("@{main-url-img}/clip_inactive.svg");
                                    background-repeat: no-repeat;
                                }
                                //==================================================================
                                //==================== voice messages icon btn =====================
                                .sound-active-action-btn {
                                    background-image: data-uri("@{main-url-img}/sound_active.svg");
                                    background-repeat: no-repeat;
                                }

                                .sound-inactive-action-btn {
                                    background-image: data-uri("@{main-url-img}/sound_inactive.svg");
                                    background-repeat: no-repeat;
                                }
                                //==================================================================
                            }
                            //=================== manager comment  icon btn ====================
                            .comment-active-btn {
                                padding: 0;
                                background: none;

                                .span {
                                    &:before {
                                        background-image: data-uri("@{main-url-img}/comment_active.svg");
                                    }
                                }
                            }

                            .comment-inactive-btn {
                                padding: 0;
                                background: none;

                                .span {
                                    &:before {
                                        background-image: data-uri("@{main-url-img}/comment_inactive.svg");
                                    }
                                }
                            }
                            //==================================================================
                            //======================= assigned icon ============================
                            .user-photo-btn {
                                padding: 0;
                                background: none;

                                .user-photo-img {
                                    max-width: 100%;
                                    max-height: 100%;
                                    border-radius: 50%;
                                    height: 25px;
                                    width: 25px;
                                }
                            }

                            .user-without-photo-btn {
                                padding: 0;
                                background: none;

                                .span {
                                    &:before {
                                        background-image: data-uri("@{main-url-img}/share_icon_inactive.svg");
                                    }
                                }
                            }
                            //==================================================================
                            //=========================== share icon btn =======================
                            .share-btn {
                                display: inline-block;
                                width: 27px;
                                height: 27px;
                                text-align: center;
                                vertical-align: middle;
                                cursor: pointer;
                                line-height: 1.42857143;

                                &:hover {
                                    opacity: 0.75;
                                }
                            }

                            .share-inactive-btn {
                                padding: 0;
                                background-image: data-uri("@{main-url-img}/share_icon_inactive.svg");
                                background-repeat: no-repeat;

                                .counter-block {
                                    display: none;
                                }
                            }

                            .share-active-btn {
                                padding: 0;
                                background-image: data-uri("@{main-url-img}/share_icon_active.svg");
                                background-repeat: no-repeat;

                                .counter-block {
                                    text-align: center;
                                    display: block;
                                    font-size: 9px;
                                    font-weight: bold;
                                    color: #fff;
                                    background-color: #464646;
                                    border-radius: 50%;
                                    width: 16px;
                                    height: 16px;
                                    margin-left: 15px;
                                    margin-top: -2px;
                                    padding-top: 2px;
                                }
                            }
                            //==================================================================
                            //=========================== extra icon btn =======================
                            .more-active-btn {
                                padding: 0;
                                background: none;

                                .span {
                                    &:before {
                                        background-image: data-uri("@{main-url-img}/more_active.svg");
                                    }
                                }
                            }

                            .more-inactive-btn {
                                padding: 0;
                                background: none;

                                .span {
                                    &:before {
                                        background-image: data-uri("@{main-url-img}/more_inactive.svg");
                                    }
                                }
                            }
                            //==================================================================
                            //======================== location icon btn =======================
                            .pin-active-action-btn {
                                background-image: data-uri("@{main-url-img}/pin_active.svg");
                                background-repeat: no-repeat;
                                background-position: center;
                            }

                            .pin-inactive-action-btn {
                                background-image: data-uri("@{main-url-img}/pin_inactive.svg");
                                background-repeat: no-repeat;
                                background-position: center;
                            }
                            //==================================================================
                            //============================ none icon ===========================
                            .none-btn {
                                padding: 0;
                                background: none;
                                cursor: default;

                                &:hover {
                                    opacity: 1;
                                }

                                .span {
                                    &:before {
                                        border-top: 1px solid @text-grey;
                                        margin: 11px 5px;
                                        width: 15px;
                                    }
                                }
                            }
                            //==================================================================
                        }

                        .fifteen-td {
                            width: 15%;
                        }

                        .text-muted {
                            color: @text-grey;
                        }

                        .text-primary {
                            color: @text-blue;

                            &:hover {
                                color: @text-blue;
                            }
                        }

                        .edit-tr {
                            td {
                                vertical-align: middle;
                                padding-top: 12px;
                            }

                            .second-td {
                                margin-top: -1px;
                            }

                            .third-td {
                                margin-top: -1px;
                            }

                            .fourth-td {
                                padding-top: 6px;
                                padding-bottom: 6px;

                                .note, .note-short {
                                    display: none;
                                }

                                .field-of-edit {
                                    display: block;
                                    height: 100px;
                                    position: relative;

                                    textarea {
                                        width: 100%;
                                        min-width: 100%;
                                        resize: none;
                                        height: 100%;
                                        min-height: 100%;
                                        resize: none;
                                        border: 1px dashed @main-blue;
                                        padding: 5px;
                                        background-color: @simple-white;
                                    }

                                    .accept-btn {
                                        position: absolute;
                                        bottom: 1px;
                                        right: 1px;
                                        cursor: pointer;
                                        width: 14px;
                                        height: 14px;
                                        background-color: #fff;
                                        border: 2px solid #FFF;

                                        &:hover {
                                            opacity: 0.75;
                                        }
                                    }

                                    .accept-btn-blue {
                                        background-image: data-uri("@{main-url-img}/ok_blue.svg");
                                    }

                                    .accept-btn-grey {
                                        background-image: data-uri("@{main-url-img}/ok_grey.svg");
                                    }
                                }
                            }

                            .fifth-td {
                                .other-actions {
                                    display: block;
                                }
                            }
                        }

                        .tr-blue-text {
                            * {
                                color: @main-blue;
                            }

                            .btn-priority {
                                color: @simple-white;
                            }
                        }

                        .tr-grey-text {
                            * {
                                color: @text-grey;
                            }

                            .btn-priority {
                                color: @simple-white;
                            }
                        }
                    }

                    th {
                        color: @darkest-grey;
                        font-size: 10pt;
                        white-space: nowrap;
                        padding: 10px;
                    }

                    .grey-title {
                        color: @inactive-name-of-tabs;
                        border-bottom: 1px solid @inactive-name-of-tabs;
                    }

                    .glyphicon {
                        color: @main-blue;
                    }
                }

                .navbar-white {
                    background-color: @simple-white;
                    margin: 0;
                    min-height: 40px;
                    //=========================== btn-plus =============================
                    .btn-plus {
                        margin-top: 6px;
                        width: 25px;
                        height: 25px;
                        background: none;
                        border: none;

                        &:hover {
                            opacity: 0.75;
                        }

                        .span {
                            width: 100%;
                            height: 100%;
                            display: block;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-image: data-uri("@{main-url-img}/plus_grey.svg");
                        }
                    }
                    //==================================================================
                }

                .new-line {
                    td {
                        padding: 1px 25px;

                        &:first-child {
                            padding: 6px 10px !important;
                            //padding: 1px 8px !important;
                        }

                        &:last-child {
                            padding: 6px 10px 6px 23px !important;
                        }
                    }

                    .second-td {
                        overflow: initial !important;
                        padding: 1px 23px 1px 23px !important;
                    }

                    .fourth-td {
                        padding-top: 0 !important;
                        padding-bottom: 0 !important;

                        .new-note {
                            font-family: 'Proxima-Nova-Regular';
                            font-size: 10pt;
                            line-height: 20px;
                            background: none;
                            display: block;
                            height: 52px;
                        }

                        .new-note-110 {
                            height: 110px;
                        }
                    }

                    .fifth-td {
                        vertical-align: middle !important;
                    }

                    .bootstrap-select {
                        .dropdown-toggle {
                            .caret {
                                right: 18px;
                                margin-top: -6px;
                            }

                            .filter-option {
                                font-size: 10pt;
                                line-height: 1.3em;
                                color: @placeholder-color;
                            }
                        }
                    }
                }
            }
        }
    }
}
