﻿#globalReportBuilderPanel {
    .report-panel {
        .received-empty-container {
            padding-top: 20px;
            padding-bottom: 20px;
            text-align: center;
        }

        .received-history-container {
            padding: 10px 30px 0 0;
            position: relative;
            height: 185px;

            .title-container {
                min-width: 890px;
                padding-left: 10px;
                display: flex;

                .date-title {
                    width: 130px;
                    display: inline-block;
                    color: #464646;
                    font-size: 10px;
                    font-weight: bold;
                }

                .handover-creator-title {
                    width: 220px;
                    display: inline-block;
                    color: #464646;
                    font-size: 10px;
                    font-weight: bold;
                }

                .contributors-title {
                    width: 585px;
                    display: inline-block;
                    color: #464646;
                    font-size: 10px;
                    font-weight: bold;
                }

                .count-items-title {
                    width: 70px;
                    display: inline-block;
                    color: #464646;
                    font-size: 10px;
                    font-weight: bold;
                }

                .count-tasks-title {
                    width: 70px;
                    display: inline-block;
                    color: #464646;
                    font-size: 10px;
                    font-weight: bold;
                }
            }

            .body-container {
                min-width: 890px;

                .swiper-container {
                    height: 160px;
                    padding-left: 10px;

                    .overflow {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        padding-right: 5px;
                    }

                    .swiper-wrapper {
                        display: inline-block;

                        .swiper-slide {
                            height: 50px;
                            display: flex;
                            padding: 10px 0;
                            cursor: pointer;
                            border-bottom: 1px solid @main-background;

                            &.active {
                                border: 2px solid #F29105 !important;
                            }

                            .date-body {
                                width: 130px;
                                display: inline-block;
                                padding-top: 6px;
                            }

                            .handover-creator-body {
                                width: 220px;
                                display: inline-block;

                                img {
                                    width: 30px;
                                    height: 30px;
                                    border-radius: 50%;
                                    background-repeat: no-repeat;
                                    margin-bottom: 14px;
                                }

                                .user-name {
                                    font-size: 14px;
                                    font-weight: normal;
                                    display: inline-block;
                                    overflow: hidden;
                                    word-wrap: normal;
                                    max-width: 140px;
                                    min-width: initial;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    padding-top: 5px;
                                }
                            }

                            .contributors-body {
                                width: 585px;
                                display: inline-block;

                                img {
                                    width: 30px;
                                    height: 30px;
                                    border-radius: 50%;
                                    background-repeat: no-repeat;
                                }

                                .user-name {
                                    font-size: 14px;
                                    font-weight: normal;
                                    display: inline-block;
                                }
                            }

                            .count-items-body {
                                width: 70px;
                                display: inline-block;
                                margin-left: 15px;

                                .count {
                                    background-color: #F0F0F0;
                                    width: 30px;
                                    height: 30px;
                                    border-radius: 50%;
                                    text-align: center;
                                    padding-top: 5px;
                                }
                            }

                            .count-tasks-body {
                                width: 70px;
                                display: inline-block;
                                margin-left: 15px;

                                .count {
                                    background-color: #F0F0F0;
                                    width: 30px;
                                    height: 30px;
                                    border-radius: 50%;
                                    text-align: center;
                                    padding-top: 5px;
                                }
                            }
                        }
                    }
                }

                .received-swiper-prev {
                    position: absolute;
                    width: 8px;
                    height: 5px;
                    top: 20px;
                    right: 20px;
                    background-image: data-uri("@{main-url-img}/arrow_top_brown.svg");
                    cursor: pointer;
                    z-index: 9999;

                    &:hover {
                        opacity: 0.75;
                    }
                }

                .received-swiper-next {
                    position: absolute;
                    width: 8px;
                    height: 5px;
                    bottom: 20px;
                    right: 20px;
                    background-image: data-uri("@{main-url-img}/arrow_down_brown.svg");
                    cursor: pointer;
                    z-index: 9999;

                    &:hover {
                        opacity: 0.75;
                    }
                }

                .swiper-button-disabled {
                    cursor: default;
                }
            }
        }

        .received-panel-selected-shift {

            #safetySection, #coreSection, #teamSection, #projectsSection, #tasksSection {
                .grey-panel {
                    .navbar-orange {
                        border-radius: 0;
                        min-height: 30px;
                        margin: 0;
                        border-top: solid 4px #F29105;

                        span {
                            margin: 5px 0 0 0;
                            font-size: 13px;
                            color: #F29105;
                            margin-left: 10px;
                            padding-left: 0px;
                            text-transform: uppercase;
                        }
                    }
                }

                .table {
                    margin-bottom: 0;

                    thead {
                        tr {
                            th {
                                font-family: 'Proxima-Nova-Regular';
                                border: none;
                                font-size: 10px;
                                padding: 6px 0px;
                                padding-top: 5px;

                                &:first-child {
                                    padding: 5px 0px 6px 10px;
                                }

                                &:last-child {
                                    padding: 5px 0px 6px 0px;
                                }

                                &.actions-title {
                                    width: 100px;
                                    min-width: 110px;
                                }

                                &.type-title {
                                    width: 115px;
                                    min-width: 115px;
                                    max-width: 115px;
                                }

                                &.reference-title {
                                    width: 115px;
                                    min-width: 115px;
                                    max-width: 115px;
                                }

                                &.status-title {
                                    width: 100px;
                                    min-width: 100px;
                                    max-width: 100px;
                                }

                                &.priority-title {
                                    width: 115px;
                                    min-width: 115px;
                                    max-width: 115px;
                                }

                                &.notes-title {
                                    width: 675px;
                                    min-width: 675px;
                                    max-width: 675px;
                                }

                                &.intel-title {
                                    width: 110px;
                                    min-width: 110px;
                                }
                            }
                        }
                    }

                    tbody {
                        tr {
                            td {
                                padding: 6px 0px;
                                font-size: 14px;
                                line-height: 1.3em;
                                vertical-align: middle;
                                border-top: none;
                                border-bottom: 0.5px solid #DBDBDB;
                                font-family: 'Proxima-Nova-Regular';

                                &:first-child {
                                    padding: 5px 0px 6px 10px;
                                }

                                &:last-child {
                                    padding: 5px 0px 6px 0px;
                                }

                                .text-blue {
                                    color: #00aff0 !important;
                                }
                            }

                            .actions-body {
                                div:first-child {
                                    margin-left: 10px;
                                }

                                button:nth-child(2) {
                                    margin: 0 1px;
                                }
                                //=========================== btn-circle ===========================
                                .btn-circle {
                                    display: inline-block;
                                    width: 25px;
                                    height: 25px;
                                    top: 0;

                                    &:hover {
                                        opacity: 0.75;
                                    }

                                    .span {
                                        top: 0;
                                        width: 100%;
                                        height: 100%;

                                        &:before {
                                            content: "";
                                            width: 100%;
                                            height: 100%;
                                            display: block;
                                        }
                                    }
                                }
                                //=========================== nil report icon ======================
                                .nr-black-btn {
                                    width: 25px;
                                    height: 25px;
                                    padding: 0;
                                    background: none;
                                    margin: 0 0 8px 0;

                                    .span {
                                        position: relative;

                                        &:before {
                                            position: absolute;
                                            content: "";
                                            width: 23px;
                                            height: 23px;
                                            background-image: data-uri("@{main-url-img}/NR.svg");
                                        }
                                    }
                                }

                                .nr-active-btn {
                                    padding: 0;
                                    background: none;

                                    .span {
                                        background-color: @main-blue;
                                        border-radius: 50%;
                                        position: relative;

                                        &:before {
                                            font-family: 'Proxima-Nova-Regular';
                                            font-weight: 700;
                                            content: 'NR';
                                            position: absolute;
                                            color: @main-brown;
                                            line-height: 10px;
                                            top: 7px;
                                            font-size: 11px;
                                        }
                                    }
                                }

                                .nr-inactive-btn {
                                    padding: 0;
                                    background: none;

                                    .span {
                                        background-color: @text-grey;
                                        border-radius: 50%;
                                        position: relative;

                                        &:before {
                                            font-family: 'Proxima-Nova-Regular';
                                            font-weight: 700;
                                            content: 'NR';
                                            position: absolute;
                                            color: @simple-white;
                                            line-height: 10px;
                                            top: 7px;
                                            font-size: 11px;
                                        }
                                    }

                                    &:hover {
                                        .span {
                                            background-color: @main-blue;

                                            &:before {
                                                color: @main-brown;
                                            }
                                        }
                                    }
                                }
                                //=========================== pin icon btn =========================
                                .pin-active-btn {
                                    padding: 0;
                                    background: none;

                                    .span {
                                        &:before {
                                            background-image: data-uri("@{main-url-img}/note_active.svg");
                                        }
                                    }
                                }

                                .pin-inactive-btn {
                                    padding: 0;
                                    background: none;

                                    .span {
                                        &:before {
                                            background-image: data-uri("@{main-url-img}/note_inactive.svg");
                                        }
                                    }
                                }

                                .pin-grey-btn {
                                    padding: 0;
                                    background: none;

                                    .span {
                                        &:before {
                                            background-image: data-uri("@{main-url-img}/note_grey.svg");
                                        }
                                    }
                                }
                                //=========================== hand-back icon btn ===================
                                .hand-back-active-btn {
                                    width: 25px;
                                    height: 24px;
                                    padding: 0;
                                    background: none;

                                    .span {
                                        &:before {
                                            background-image: data-uri("@{main-url-img}/arrows_active.svg");
                                            background-repeat: no-repeat;
                                            background-position: center;
                                        }
                                    }
                                }

                                .hand-back-inactive-btn {
                                    width: 25px;
                                    height: 24px;
                                    padding: 0;
                                    background: none;

                                    .span {
                                        &:before {
                                            background-image: data-uri("@{main-url-img}/arrows_inactive.svg");
                                            background-repeat: no-repeat;
                                            background-position: center;
                                        }
                                    }
                                }
                                //=========================== remove icon btn ======================
                                .remove-btn {
                                    width: 25px;
                                    height: 25px;
                                    padding: 0;
                                    background: none;

                                    .span {
                                        &:before {
                                            background-image: data-uri("@{main-url-img}/remove_inactive.svg");
                                            background-repeat: no-repeat;
                                            background-position: center;
                                        }
                                    }

                                    &:hover {
                                        .span {
                                            &:before {
                                                background-image: data-uri("@{main-url-img}/remove_active.svg");
                                            }
                                        }
                                    }
                                }
                                //============================ none icon ===========================
                                .none-btn {
                                    padding: 0;
                                    background: none;
                                    cursor: default;

                                    &:hover {
                                        opacity: 1;
                                    }

                                    .span {
                                        &:before {
                                            border-top: 1px solid @text-grey;
                                            margin: 11px 5px;
                                            width: 15px;
                                        }
                                    }
                                }
                                //=========================== is shared ============================
                                .is-shared {
                                    display: inline-block;
                                    width: 25px;
                                    height: 25px;
                                    padding: 0;
                                    text-align: center;
                                    vertical-align: middle;
                                    cursor: pointer;
                                    line-height: 1.828571;
                                    background-color: #F29105;
                                    color: #fff;
                                    border-radius: 50%;
                                    font-size: 14px;

                                    &:hover {
                                        opacity: 0.75;
                                    }
                                }
                            }

                            .type-body {
                                color: @main-brown;
                                font-weight: bold;
                                max-width: 120px;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                padding-right: 5px;
                            }

                            .reference-body {
                                color: @main-brown;
                                font-weight: bold;
                                max-width: 120px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                padding-right: 5px;
                            }

                            .notes-body {
                                vertical-align: middle;
                                color: @main-notes;
                                min-width: 210px;
                                padding: 6px 0px;
                                max-width: 210px;

                                p {
                                    margin: 0;
                                }

                                .note-short {
                                    position: relative;
                                    overflow: hidden;
                                    padding: 6px 0 6px 0;

                                    ul {
                                        margin-bottom: 0px !important;
                                    }
                                }

                                .note-short-ellipses {
                                    &:after {
                                        position: absolute;
                                        pointer-events: all;
                                        content: '...';
                                        bottom: 4px;
                                        right: 17px;
                                        background-color: #fff;
                                        padding: 0;
                                        cursor: pointer;
                                    }
                                }

                                .note-full {
                                    height: auto;
                                    border: 1px dashed @main-blue;
                                    padding: 3px;

                                    &:after {
                                        position: absolute;
                                        pointer-events: all;
                                        content: '';
                                        background-image: data-uri("@{main-url-img}/ok_blue.svg");
                                        bottom: 2px;
                                        right: 2px;
                                        padding: 0 5px 0 5px;
                                        width: 10px;
                                        height: 10px;
                                    }
                                }

                                .field-of-edit {
                                    display: none;
                                }
                            }

                            .status-body {
                                font-size: 14px;
                                font-weight: normal;
                                color: #464646;
                            }

                            .priority-body {
                                font-size: 12px;
                                font-weight: bold;

                                .btn-priority {
                                    width: 80px;
                                    height: 25px;
                                    font-size: 10px;
                                    border-radius: 12px;
                                    font-weight: bold;
                                    pointer-events: none;
                                    cursor: default;
                                    text-align: center;
                                    padding-top: 5px;
                                }

                                .btn-success {
                                    border: none;
                                    background-color: @success-color;

                                    &:hover {
                                        background-color: @success-color;
                                    }
                                }

                                .btn-danger {
                                    border: none;
                                    background-color: @danger-color;

                                    &:hover {
                                        background-color: @danger-color;
                                    }
                                }

                                .btn-low {
                                    border: none;
                                    background-color: @low-color;
                                    color: @simple-white;

                                    &:hover {
                                        background-color: @low-color;
                                        color: @simple-white;
                                    }
                                }

                                .btn-warning {
                                    border: none;
                                    background-color: @warning-color;

                                    &:hover {
                                        background-color: @warning-color;
                                    }
                                }

                                .btn-info {
                                    border: none;
                                    background-color: @info-color;

                                    &:hover {
                                        background-color: @info-color;
                                    }
                                }
                            }

                            .intel-body {
                                .btn-circle {
                                    display: inline-block;
                                    border: none;
                                    width: 25px;
                                    height: 25px;
                                    top: 0;

                                    &:hover {
                                        opacity: 0.75;
                                    }

                                    .span {
                                        top: 0;
                                        width: 100%;
                                        height: 100%;

                                        &:before {
                                            content: "";
                                            width: 100%;
                                            height: 100%;
                                            display: block;
                                        }
                                    }
                                }

                                button {
                                    margin: 0 2px;
                                }

                                button:first-child {
                                    margin-left: 0;
                                }
                                //=================== add-inline-topic btn ======================
                                .inline-add-btn {
                                    width: 85px;
                                    height: 25px;
                                    color: white;
                                    border: 0;
                                    border-radius: 15px;
                                    background-color: #B4B4B4;

                                    &:hover {
                                        background-color: #00aff0;
                                    }
                                }
                                //=================== btn-status =============================
                                .btn-status {
                                    width: 70px;
                                    height: 25px;
                                    font-size: 10px;
                                    border-radius: 12px;
                                    font-weight: bold;
                                    color: @inactive-name-of-tabs;
                                    border: 1px solid @inactive-name-of-tabs;
                                    text-align: center;
                                    padding-top: 4px;
                                }

                                .other-actions {
                                    display: none;
                                    background-color: #F0F0F0;
                                    z-index: 1;
                                    margin-top: 10px;
                                    border-radius: 20px;
                                    padding-top: 4px;
                                    margin-right: 13px;

                                    button {
                                        margin: 0;
                                    }

                                    :first-child {
                                        margin-left: 5px;
                                    }

                                    .action-btn {
                                        display: inline-block;
                                        width: 20px;
                                        height: 20px;
                                        background-position: center;
                                        cursor: pointer;
                                        border: none;
                                        background: none;

                                        &:hover {
                                            opacity: 0.75;
                                        }
                                    }
                                    //======================== location icon btn =======================
                                    .location-active-btn {
                                        background-image: data-uri("@{main-url-img}/pin_active.svg");
                                        background-repeat: no-repeat;
                                        background-position: center;
                                    }

                                    .location-inactive-btn {
                                        background-image: data-uri("@{main-url-img}/pin_inactive.svg");
                                        background-repeat: no-repeat;
                                        background-position: center;
                                    }
                                    //======================== task icon btn ===========================
                                    .task-black-btn {
                                        width: 18px;
                                        height: 18px;
                                        background-image: data-uri("@{main-url-img}/ok_black.svg");
                                        background-repeat: no-repeat;
                                    }

                                    .task-inactive-btn {
                                        width: 18px;
                                        height: 18px;
                                        background-image: data-uri("@{main-url-img}/ok_inactive.svg");
                                        background-repeat: no-repeat;
                                    }

                                    .task-active-btn {
                                        width: 18px;
                                        height: 18px;
                                        background-image: data-uri("@{main-url-img}/ok_active.svg");
                                        background-repeat: no-repeat;
                                    }
                                    //===================== attachment icon btn ========================
                                    .attachment-active-btn {
                                        background-image: data-uri("@{main-url-img}/clip_active.svg");
                                        background-repeat: no-repeat;
                                    }

                                    .attachment-inactive-btn {
                                        background-image: data-uri("@{main-url-img}/clip_inactive.svg");
                                        background-repeat: no-repeat;
                                    }
                                    //==================== voice messages icon btn =====================
                                    .voice-messages-active-btn {
                                        background-image: data-uri("@{main-url-img}/sound_active.svg");
                                        background-repeat: no-repeat;
                                    }

                                    .voice-messages-inactive-btn {
                                        background-image: data-uri("@{main-url-img}/sound_inactive.svg");
                                        background-repeat: no-repeat;
                                    }
                                }
                                //=================== manager comment  icon btn ====================
                                .comment-active-btn {
                                    padding: 0;
                                    background: none;

                                    .span {
                                        &:before {
                                            background-image: data-uri("@{main-url-img}/comment_active.svg");
                                        }
                                    }
                                }

                                .comment-inactive-btn {
                                    padding: 0;
                                    background: none;

                                    .span {
                                        &:before {
                                            background-image: data-uri("@{main-url-img}/comment_inactive.svg");
                                        }
                                    }
                                }
                                //======================= assigned icon ============================
                                .user-photo-btn {
                                    padding: 0;
                                    background: none;

                                    .user-photo-img {
                                        max-width: 100%;
                                        max-height: 100%;
                                        border-radius: 50%;
                                        height: 25px;
                                        width: 25px;
                                    }
                                }

                                .user-without-photo-btn {
                                    padding: 0;
                                    background: none;

                                    .span {
                                        &:before {
                                            background-image: data-uri("@{main-url-img}/share_icon_inactive.svg");
                                        }
                                    }
                                }
                                //=========================== share icon btn =======================
                                .share-btn {
                                    display: inline-block;
                                    width: 27px;
                                    height: 27px;
                                    text-align: center;
                                    vertical-align: middle;
                                    cursor: pointer;
                                    line-height: 1.42857143;

                                    &:hover {
                                        opacity: 0.75;
                                    }
                                }

                                .share-inactive-btn {
                                    padding: 0;
                                    background-image: data-uri("@{main-url-img}/share_icon_inactive.svg");
                                    background-repeat: no-repeat;

                                    .counter-block {
                                        display: none;
                                    }
                                }

                                .share-active-btn {
                                    padding: 0;
                                    background-image: data-uri("@{main-url-img}/share_icon_active.svg");
                                    background-repeat: no-repeat;

                                    .counter-block {
                                        text-align: center;
                                        display: block;
                                        font-size: 9px;
                                        font-weight: bold;
                                        color: #fff;
                                        background-color: #464646;
                                        border-radius: 50%;
                                        width: 16px;
                                        height: 16px;
                                        margin-left: 15px;
                                        margin-top: -2px;
                                        padding-top: 2px;
                                    }
                                }
                                //=========================== extra icon btn =======================
                                .more-active-btn {
                                    padding: 0;
                                    background: none;

                                    .span {
                                        &:before {
                                            background-image: data-uri("@{main-url-img}/more_active.svg");
                                        }
                                    }
                                }

                                .more-inactive-btn {
                                    padding: 0;
                                    background: none;

                                    .span {
                                        &:before {
                                            background-image: data-uri("@{main-url-img}/more_inactive.svg");
                                        }
                                    }
                                }
                                //============================ none icon ===========================
                                .none-btn {
                                    padding: 0;
                                    background: none;
                                    cursor: default;

                                    &:hover {
                                        opacity: 1;
                                    }

                                    .span {
                                        &:before {
                                            border-top: 1px solid @text-grey;
                                            margin: 11px 5px;
                                            width: 15px;
                                        }
                                    }
                                }
                                //======================== star icon btn =======================
                                .star-active-btn {
                                    background-image: data-uri("@{main-url-img}/star-icon-active.svg");
                                    background-repeat: no-repeat;
                                    background-position: center;
                                }

                                .star-inactive-btn {
                                    background-image: data-uri("@{main-url-img}/star-icon-inactive.svg");
                                    background-repeat: no-repeat;
                                    background-position: center;
                                }
                                //==================================================================
                            }

                            .text-muted {
                                color: @text-grey;
                            }

                            .text-primary {
                                color: @text-blue;

                                &:hover {
                                    color: @text-blue;
                                }
                            }
                        }

                        .edit-tr {
                            td {
                                vertical-align: middle;
                                padding-top: 12px;
                            }

                            .actions-body {
                                padding-top: 6px;
                            }

                            .type-body {
                                padding-top: 6px;
                            }

                            .reference-body {
                                padding-top: 6px;
                            }

                            .notes-body {

                                .note, .note-short {
                                    display: none;
                                }

                                .field-of-edit {
                                    display: block;
                                    height: 100px;
                                    position: relative;
                                    padding-right: 30px;

                                    textarea {
                                        width: 100%;
                                        min-width: 100%;
                                        resize: none;
                                        height: 100%;
                                        min-height: 100%;
                                        resize: none;
                                        border: 1px dashed @main-blue;
                                        padding: 5px;
                                        background-color: @simple-white;
                                    }

                                    .accept-btn {
                                        position: absolute;
                                        bottom: 2px;
                                        right: 32px;
                                        cursor: pointer;
                                        width: 14px;
                                        height: 14px;
                                        background-color: #fff;
                                        border: 2px solid #FFF;

                                        &:hover {
                                            opacity: 0.75;
                                        }
                                    }

                                    .accept-btn-blue {
                                        background-image: data-uri("@{main-url-img}/ok_blue.svg");
                                    }

                                    .accept-btn-grey {
                                        background-image: data-uri("@{main-url-img}/ok_grey.svg");
                                    }
                                }
                            }

                            .intel-body {

                                .other-actions {
                                    display: block;
                                }
                            }
                        }

                        .tr-blue-text {
                            .type-body, .reference-body, .notes-body, .status-body {
                                color: @main-blue;
                            }

                            .btn-priority {
                                color: @simple-white;
                            }
                        }

                        .tr-grey-text {
                            .type-body, .reference-body, .notes-body, .status-body {
                                color: #b4b4b4;
                            }

                            .btn-priority {
                                color: @simple-white;
                            }
                        }
                    }

                    th {
                        color: @darkest-grey;
                        font-size: 10pt;
                        white-space: nowrap;
                        padding: 10px;
                    }

                    .grey-title {
                        color: @inactive-name-of-tabs;
                        border-bottom: 1px solid @inactive-name-of-tabs;
                    }

                    .glyphicon {
                        color: @main-blue;
                    }
                }

                .navbar-white {
                    background-color: @simple-white;
                    margin: 0;
                    min-height: 40px;
                    //=========================== btn-plus =============================
                    .btn-plus {
                        margin-top: 6px;
                        width: 25px;
                        height: 25px;
                        background: none;
                        border: none;

                        &:hover {
                            opacity: 0.75;
                        }

                        .span {
                            width: 100%;
                            height: 100%;
                            display: block;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-image: data-uri("@{main-url-img}/plus_grey.svg");
                        }
                    }
                    //==================================================================
                }
            }

            #tasksSection {
                .table {
                    thead {
                        tr {
                            th {
                                &.notes-title {
                                    width: 460px;
                                    min-width: 460px;
                                    max-width: 460px;
                                }
                            }
                        }
                    }

                    tbody {
                        tr {
                            .intel-body {
                                .other-actions {
                                    :first-child {
                                        margin-left: 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
