﻿
<div Id="projectTasksPanel" class="panel panel-primary follower-tasks-panel">
    <div class="panel-heading clearfix">
        <div class="pull-left">
            <span class="panel-title" style="left:15px!important">Tasks</span>
        </div>
        <div class="pull-right">
            <div class="plus-btn"></div>
            <div class="filter-btn"></div>
        </div>
    </div>
    <div class="panel-body">
        <div class="navbar navbar-brown" style="display: none;">
            <div class="row no-margin">
                <div class="tasks-side-menu">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="">
                            <a id="btnPlanned" href="javascript:void(0)" title="Planned">Planned</a>
                        </li>
                        <li class="">
                            <a id="btnAdHoc" href="javascript:void(0)" title="Ad Hoc">Ad Hoc</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="table-block">
        </div>
        <div class="empty-project-tasks-label">
            Select Project from above
        </div>
    </div>
    <div class="tasks-footer" style="display: none;">
        <div class="view-block">
            <div class="eyes"></div>
            <div class="count-block" min-page-size="5" max-page-size="10">
                <a href="javascript:void(0)"><div class="counter">5</div></a>
                <a href="javascript:void(0)"><div class="counter">10</div></a>
                <a href="javascript:void(0)"><div class="counter">All</div></a>
            </div>
        </div>
        <div class="pagination-block">
            <div class="pagination-pages">
                <a class="first-page" href="javascript:void(0)"></a>
                <a class="prev-page" href="javascript:void(0)"></a>
                <div class="page">
                    <div class="current-page"></div> /
                    <div class="total-page"></div>
                </div>
                <a class="next-page" href="javascript:void(0)"></a>
                <a class="last-page" href="javascript:void(0)"></a>
            </div>
        </div>
    </div>
</div>