﻿@model AttachmentViewModel

@{
    var controller = ViewContext.RouteData.Values["controller"].ToString();
    var action = ViewContext.RouteData.Values["action"].ToString();
}

@using (Html.BeginForm(action, controller, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.TargetId);

    <div class="title-block-with-line">
        <div class="title-container">
            <span class="file-input-title">New</span>
        </div>
    </div>
    <div class="field-container margin-top-20">
        <span class="title-select">@Html.LabelFor(model => model.Name)</span>
        @Html.TextBoxFor(model => model.Name, new { @class = "simple-input", @placeholder = "Enter Name" })
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <span class="title-select large-margin">@Html.LabelFor(model => model.File)</span>
    <div data-provides="fileinput" class="fileinput fileinput-new input-group">
        <div data-trigger="fileinput" class="form-control">
            <i class="glyphicon glyphicon-file fileinput-exists">
                <span>Choose file</span>
            </i>
            <span class="fileinput-filename"></span>
            @Html.ValidationMessageFor(m => m.File)
        </div>
        <span class="input-group-addon" style="display:none">
            @Html.TextBoxFor(m => m.File, new { type = "file" })
        </span>
        @*<span class="input-group-addon btn btn-default btn-file"></span>*@
        <span class="input-group-addon btn-default btn-file btn-upload"></span>
        <div class="file-extensions">Allowed File Formats: .pdf, .doc, .docx, .txt, .rtf, .jpg, .jpeg, .png, .mp3, .mp4, .wav, .wma, .wmv, .amv, .avi, .mpg, .mpeg, .3gp, .3g2</div>
    </div>
}
