﻿@model IEnumerable<AttachmentViewModel>


<div Id="attachmentsListDialog" tabindex="-1" role="dialog" aria-labelledby="labelTags" aria-hidden="true" data-keyboard="false" data-backdrop="static" class="modal fade attachments-dialog">
    <div class="modal-dialog ">
        <div class="theme">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row vertical-center">
                        <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div Id="modalTitle" class="modal-title">Attachments</div>
                        </div>
                        <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                            <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                            <div class="attachments-container">
                                <div class="list-container">
                                    <div class="horizontal-title-container">
                                        <span class="name-block col-lg-9 col-md-9 col-sm-9 col-xs-9 no-padding">Name</span>
                                        <span class="simple-column col-lg-1 col-md-1 col-sm-1 col-xs-1 no-padding">Added on</span>
                                        <span class="singl-button col-lg-1 col-md-1 col-sm-1 col-xs-1 no-padding"></span>
                                        <span class="singl-button col-lg-1 col-md-1 col-sm-1 col-xs-1 no-padding"></span>
                                    </div>
                                    <div class="attachments-list-content">
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper">
                                                @if (!Model.Any())
                                                {
                                                    <p>No attachments.</p>
                                                }
                                                @foreach (var attachment in Model)
                                                {
                                                    <div class="swiper-slide">
                                                        <div class="name-block">
                                                            <p class="note">@attachment.Name</p>
                                                        </div>
                                                        <div class="simple-column">
                                                            <p>@attachment.AddedTime</p>
                                                        </div>
                                                        <div class="singl-button">
                                                            <a href="/Media/GetFile/@attachment.FileId" download="@attachment.FileName" class="download-link-btn"></a>
                                                        </div>
                                                        <div Id="@attachment.Id.ToString()" class="singl-button remove-attachment-btn">
                                                            <div class="btn-close"></div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="swiper-prev"></div>
                                        <div class="swiper-next"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                            <div class="add-new-attachment">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="btn-plus-white center-block add-attachment-btn">
                                            <div class="span"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="add-attachment"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>