﻿@model CreateEmployeeViewModel

<div Id="createEmployeeFormDialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true" class="modal fade employee-dialog">
    @using (Html.BeginForm("CreateEmployeeDialog", "Employees", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)

        <div class="modal-dialog">
            <div class="theme">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row vertical-center">
                            <div class="col col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <div Id="modalTitle" class="modal-title">Create Employee</div>
                            </div>
                            <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 text-right">
                                <button type="submit" class="btn btn-save">Save</button>
                                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center no-padding">
                                <div class="upload-photo">
                                    <div data-provides="fileinput" class="fileinput fileinput-new">
                                        <div data-trigger="fileinput" class="fileinput-preview thumbnail"></div>
                                        <div style="display: none">
                                            <span class="btn btn-default btn-file">
                                                <input Id="@Html.IdFor(model => model.ImageId)" name="ProfileImage" type="file" accept="image/*" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div style="cursor: pointer;" onclick="javascript: $('#ImageId').click();">
                                    <span class="btn btn-choose-image"></span>
                                    <span class="choose-image-title">edit photo</span>
                                </div>
                            </div>
                            <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 col-xs-offset-1">
                                <div class="row">
                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                        <div class="field-container">
                                            <span class="title-select">@Html.LabelFor(model => model.Name)</span>
                                            @Html.TextBoxFor(model => model.Name, new {@class = "simple-input", @placeholder = "Enter Name"})
                                            @Html.ValidationMessageFor(model => model.Name)
                                        </div>
                                    </div>
                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                                        <div class="field-container">
                                            <span class="title-select">@Html.LabelFor(model => model.Surname)</span>
                                            @Html.TextBoxFor(model => model.Surname, new {@class = "simple-input", @placeholder = "Enter Surname"})
                                            @Html.ValidationMessageFor(model => model.Surname)
                                        </div>
                                    </div>
                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                                        <div class="field-container">
                                            <span class="title-select">@Html.LabelFor(m => m.Email)</span>
                                            @Html.TextBoxFor(m => m.Email, new {@class = "simple-input", @placeholder = "Enter Email"})
                                            @Html.ValidationMessageFor(m => m.Email)
                                        </div>
                                    </div>
                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                                        <div class="field-container">
                                            <span class="title-select">@Html.LabelFor(m => m.Password)</span>
                                            @Html.PasswordFor(m => m.Password, new {@class = "simple-input", @placeholder = "Enter Password"})
                                            @Html.ValidationMessageFor(m => m.Password)
                                        </div>
                                    </div>
                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                                        <div class="field-container">
                                            <span class="title-select">@Html.LabelFor(m => m.PasswordConfirm)</span>
                                            @Html.PasswordFor(m => m.PasswordConfirm, new {@class = "simple-input", @placeholder = "Confirm Password"})
                                            @Html.ValidationMessageFor(m => m.PasswordConfirm)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 col-xs-offset-1 fix-col">
                                <div class="row">
                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                        <div class="select-type">
                                            <span class="title-select">@Html.LabelFor(m => m.CompanyId)</span>
                                            @Html.DropDownListFor(m => m.CompanyId, Model.Companies, "Select Company", new { @class = "select-list" })
                                            @Html.ValidationMessageFor(m => m.CompanyId)
                                        </div>
                                    </div>
                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                                        <div class="select-type">
                                            <span class="title-select">@Html.LabelFor(m => m.PositionId)</span>
                                            @Html.DropDownListFor(m => m.PositionId, Model.Positions, "Select Position", new { @class = "select-list" })
                                            @Html.ValidationMessageFor(m => m.PositionId)
                                        </div>
                                    </div>
                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                                        <div class="select-type">
                                            <span class="title-select">@Html.LabelFor(m => m.TeamId)</span>
                                            @Html.DropDownListFor(m => m.TeamId, Model.Teams, "Select Team", new { @class = "select-list" })
                                            @Html.ValidationMessageFor(m => m.TeamId)
                                        </div>
                                    </div>

                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                                        <div class="select-type">
                                            <span class="title-select">@Html.LabelFor(m => m.RotationPatternId)</span>
                                            @Html.DropDownListFor(m => m.RotationPatternId, Model.RotationPatterns, "Select Rotation Pattern", new { @class = "select-list" })
                                            @Html.ValidationMessageFor(m => m.RotationPatternId)
                                        </div>
                                    </div>

                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                                        <div class="select-type">
                                            <span class="title-select">@Html.LabelFor(m => m.UserTypeId)</span>
                                            @Html.DropDownListFor(m => m.UserTypeId, Model.UserTypes, "Select User Type", new { @class = "select-list" })
                                            @Html.ValidationMessageFor(m => m.UserTypeId)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
