﻿@{
    Layout = "~/Views/Shared/Layouts/Main/Authorized_Layout.cshtml";
}



@section Styles
{
    <style>
        .panel-heading a strong {
            font-size: 20px;
        }
    </style>
}


<div ng-app="EmployeesApp">
    <employees-app></employees-app>
</div>



@section Scripts
{
    <script src="~/Content/lib/angular/angular.js"></script>
    <script src="~/Content/js/relay/rotation-manager/modules/employees-app/employees-app.module.js"></script>
    <script src="~/Content/js/relay/rotation-manager/modules/employees-app/components/employees-panel/employees-panel.component.js"></script>
    <script src="~/Content/js/relay/rotation-manager/modules/employees-app/components/teams-panel/teams-panel.component.js"></script>
}
