﻿.empty-report-builder {
    .panel-heading {
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
    }

    .panel-title {
        left: 15px !important;
    }

    .report-panel {
        .message-block {
            margin: 10px;
            height: 120px;
            padding-top: 40px;
            font-size: 18px;
            font-weight: bold;
            font-family: 'Proxima-Nova-Regular' !important;
        }
    }
}
