﻿@model VoiceMessageViewModel

@{
    var controller = ViewContext.RouteData.Values["controller"].ToString();
    var action = ViewContext.RouteData.Values["action"].ToString();
}

@using (Html.BeginForm(action, controller, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.TargetId);

    <div class="title-block-with-line">
        <div class="title-container">
            <span class="file-input-title">New</span>
        </div>
    </div>
    <div class="field-container">
        <span class="title-select">@Html.LabelFor(model => model.Name)</span>
        @Html.TextBoxFor(model => model.Name, new { @class = "simple-input" })
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <span class="title-select large-margin">@Html.LabelFor(model => model.File)</span>
    <div data-provides="fileinput" class="fileinput fileinput-new input-group">
        <div data-trigger="fileinput" class="form-control">
            <i class="glyphicon glyphicon-file fileinput-exists">
                <span>Choose file</span>
            </i>
            <span class="fileinput-filename"></span>
            @Html.ValidationMessageFor(m => m.File)
        </div>
        <span class="input-group-addon" style="display:none">
            @Html.TextBoxFor(m => m.File, new { type = "file" })
        </span>
        <span class="input-group-addon btn btn-default btn-file"></span>
    </div>
}

