﻿@model IEnumerable<VoiceMessageViewModel>

<div Id="voiceMessagesListDialog" tabindex="-1" role="dialog" aria-labelledby="labelTags" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn-close"></button>
                <h4 Id="labelTags" class="modal-title-left">Voice Messages</h4>
            </div>
            <div class="modal-body-left">
                <span class="title-select">Player</span>
                <div class="player-container"></div>
                <div class="voices-list-container large-margin">
                    <div class="voice-messages-container">
                        <div class="list-container">
                            <div class="horizontal-title-container">
                                <span class="title-select name-block">Name</span>
                                <span class="title-select simple-column">Added</span>
                                <span class="title-select simple-column">Pin</span>
                                <span class="title-select singl-button"></span>
                                <span class="title-select singl-button"></span>
                            </div>
                            <div class="voice-messages-content">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        @if (!Model.Any())
                                        {
                                            <p>No attachments.</p>
                                        }
                                        @foreach (var attachment in Model)
                                        {
                                            <div class="swiper-slide">
                                                <div class="name-block">
                                                    <p class="note">@attachment.Name</p>
                                                </div>
                                                <div class="simple-column">@attachment.AddedTime</div>
                                                <div class="simple-column">@attachment.Pin</div>
                                                <div class="singl-button">
                                                    <a href="/Media/GetFile/@attachment.FileId" download="@attachment.FileName" class="download-link-btn"></a>
                                                </div>
                                                <div Id="@attachment.Id.ToString()" class="singl-button remove-message-btn">
                                                    <div class="btn-close"></div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="swiper-prev"></div>
                                <div class="swiper-next"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="add-new-voice-message">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="btn-plus-white center-block add-voice-message-btn">
                                <div class="span"></div>
                            </div>
                        </div>
                    </div>
                    <div class="add-voice-message"></div>
                </div>
            </div>
        </div>
    </div>
</div>