﻿@model IEnumerable<IndodrillReport.BLL.ViewModels.ReportMaterialViewModel>

<div id="leftInHoleTable" class="left-in-hole-table">
    <div class="table-title">LEFT IN HOLE</div>
    <div class="table-body">
        <table class="table">
            <thead>
                <tr>
                    <th class="btn-column"></th>
                    <th class="item-title">Item</th>
                    <th class="units-title">Units</th>
                    <th class="qty-title">Qty</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    @Html.Partial("~/Views/IndodrillReport/DrillingReport/Tables/LeftInHoleTable/_LeftInHoleTableRow.cshtml", item)
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="1"></td>
                    <td colspan="3" class="plus-tr">
                        <button type="button" class="btn-plus center-block add-item-btn">
                            <span class="span"></span>
                        </button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>