﻿.attachments-dialog {

    .modal-content {
        width: 600px !important;
        min-height: 300px !important;

        .modal-body {
            padding-bottom: 0px !important;

            .attachments-container {
                .list-container {
                    overflow: hidden;

                    .horizontal-title-container {
                        display: flex;
                        border-bottom: 2px solid #A2A2A2;
                        padding-bottom: 5px;
                        font-size: 10px;
                        color: #fff;

                        &.removed {
                            .name-block {
                                width: 510px;
                            }

                            .singl-button {

                                &:last-child {
                                    display: none;
                                }
                            }
                        }

                        .title-select {
                            background-color: @main-brown;
                        }
                    }

                    .attachments-list-content {

                        .swiper-container {
                            height: 165px;
                            border-bottom: 2px solid #A2A2A2;

                            .swiper-slide {
                                font-size: 14px;
                                color: @simple-white;
                                display: flex;
                                height: auto !important;
                                border-bottom: 1px solid @inactive-name-of-tabs;
                                width: ~' calc(100% - 15px)';

                                &.removed {
                                    .name-block {
                                        width: 480px;
                                    }

                                    .simple-column {
                                        width: 60px;
                                    }

                                    .singl-button {
                                        padding-left: 0px;

                                        .remove-attachment-btn {
                                            display: none;
                                        }
                                    }
                                }

                                .name-block {
                                    padding-top: 10px;
                                    padding-right: 10px;
                                    width: 480px;
                                }

                                .simple-column {
                                    padding-top: 10px;
                                    width: 60px;
                                }

                                .singl-button {
                                    padding-left: 15px;

                                    .download-link-btn {
                                        display: block;
                                        margin: 7px auto;
                                        width: 12px;
                                        height: 20px;
                                        background-image: data-uri("@{main-url-img}/download_inactive.svg");
                                        cursor: pointer;

                                        &:hover {
                                            opacity: 0.7;
                                        }
                                    }

                                    .btn-close {
                                        cursor: pointer;
                                        width: 12px;
                                        height: 12px;
                                        background: none;
                                        background-repeat: no-repeat;
                                        border: none;
                                        background-image: data-uri("@{main-url-img}/modal-close-white.svg");
                                        margin: 13px 9px;

                                        &:hover {
                                            opacity: 0.7;
                                        }
                                    }
                                }

                                p {
                                    &.note {
                                        margin: 0 0 5px !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .swiper-prev {
                z-index: 1;
                position: absolute;
                width: 7px;
                height: 4px;
                top: 37px;
                right: 0px;
                background-image: data-uri("@{main-url-img}/arrow_top.svg");
                cursor: pointer;
            }

            .swiper-next {
                z-index: 1;
                position: absolute;
                width: 7px;
                height: 4px;
                bottom: 21px;
                right: 0px;
                background-image: data-uri("@{main-url-img}/arrow_down.svg");
                cursor: pointer;
            }
        }

        .add-new-attachment {
            padding-top: 10px;

            .btn-plus-white {
                margin-top: 3px;
                width: 25px;
                height: 25px;
                background: none;
                border: none;
                cursor: pointer;

                &:hover {
                    opacity: 0.75;
                }

                .span {
                    width: 100%;
                    height: 100%;
                    display: block;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 10px;
                    background-image: data-uri("@{main-url-img}/plus_white.svg");
                }
            }

            .add-attachment {
                margin-bottom: 28px;

                .title-block-with-line {
                    margin: 10px -20px;
                    border-bottom: 2px solid #00aff0;

                    .file-input-title {
                        padding: 3px 25px;
                    }
                }

                .fileinput .form-control, .fileinput-new .form-control {
                    padding-left: 0px !important;
                    height: 30px !important;
                }

                .fileinput .form-control i span, .fileinput-new .form-control i span {
                    font-size: 14px !important;
                    font-weight: normal !important;
                    padding-left: 1px;
                }

                .fileinput {
                    .file-extensions {
                        display: block;
                        font-size: 10px;
                        position: absolute;
                        top: 35px;
                        left: 0px;
                        color: #787878;
                    }

                    &.fileinput-exists {
                        border-bottom: 1px #00AFF0 solid !important;
                    }

                    &.form-control {
                        &.fileinput-new {
                            &.form-control {
                                border: none !important;
                            }
                        }
                    }
                }

                .btn-upload {
                    background-color: #464646 !important;
                    border: none !important;
                    background-image: data-uri("@{main-url-img}/upload_inactive.svg");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 13px;
                    right: 3px;
                    cursor: pointer;
                }
            }
        }
    }
}
