.rotation-topic-dialog {
    .modal-content {
        width: 600px !important;
        min-height: 450px !important;
        /*max-height: 600px !important;*/

        .modal-body {

            .has-tasks-image,
            .no-tasks-image,
            .has-attachments-image,
            .no-attachments-image,
            .has-voise-messages-image,
            .no-voise-messages-image,
            .has-feedback-required-image,
            .no-feedback-required-image {
                width: 18px;
                height: 18px;
                display: inline-block;
                background-repeat: no-repeat;
                background-position: center;
            }

            .has-tasks-image {
                cursor: pointer;
                background-image: data-uri("@{main-url-img}/ok_active.svg");
            }

            .no-tasks-image {
                background-image: data-uri("@{main-url-img}/ok_inactive.svg");
            }

            .has-attachments-image {
                cursor: pointer;
                background-image: data-uri("@{main-url-img}/clip_active.svg");
            }

            .no-attachments-image {
                background-image: data-uri("@{main-url-img}/clip_inactive.svg");
            }

            .has-voise-messages-image {
                cursor: pointer;
                background-image: data-uri("@{main-url-img}/sound_active.svg");
            }

            .no-voise-messages-image {
                background-image: data-uri("@{main-url-img}/sound_inactive.svg");
            }

            .has-feedback-required-image {
                background-image: data-uri("@{main-url-img}/arrows_active.svg");
            }

            .no-feedback-required-image {
                background-image: data-uri("@{main-url-img}/arrows_inactive.svg");
            }

            .conter-row {
                margin-right: 0px;

                .counter {
                    font-size: 10px;
                    color: #ffffff;
                    position: absolute;
                    display: inline-block;
                    top: 3px;
                    padding-left: 6px;
                }
            }
        }
    }
}
