﻿@model IEnumerable<IndodrillReport.BLL.ViewModels.PdfReportMaterialViewModel>

<div id="leftInHoleTable" class="left-in-hole-table">
    <div class="table-title">LEFT IN HOLE</div>
    <div class="table-body">
        <table class="table">
            <thead>
                <tr>
                    <th class="item-title">Item</th>
                    <th class="units-title">Units</th>
                    <th class="qty-title">Qty</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    @Html.Partial("~/Views/IndodrillReport/PdfReport/Tables/LeftInHoleTable/_LeftInHoleTableRow.cshtml", item)
                }
            </tbody>
        </table>
    </div>
</div>