﻿.client-form-dialog {
    .modal-content {
        min-height: 450px;
        max-height: 540px;

        .margin-top-50 {
            margin-top: 50px;
        }

        .table-thead {
            border-bottom: 2px solid #A3A3A3;
            padding-bottom: 7px;
            color: white;
            margin: 0px;

            .title {
                display: inline-block;
                padding-left: 0px;
                padding-right: 0px;
                font-size: 10px;
            }
        }

        .overflow {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            word-wrap: normal;
        }

        .location-table {
            display: table;
            width: 100%;
            border-bottom: 2px solid #A3A3A3;
            position: relative;

            .swiper-container {
                height: 240px;

                .no-locations {
                    color: #fff;
                }

                .location-item {
                    border-bottom: 2px solid #787878;
                    color: #ffffff;
                    width: ~'calc(100% - 20px)';
                    margin: 0px;
                    height: 40px;

                    .location-name {
                        margin-top: 10px;
                        cursor: pointer;
                    }

                    .remove-location {
                        margin-top: 15px;
                        margin-left: -10px;

                        .remove-icon {
                            cursor: pointer;
                            float: right;
                            width: 10px;
                            height: 10px;
                            background: none;
                            background-repeat: no-repeat;
                            border: none;
                            background-image: data-uri("@{main-url-img}/modal-close-white.svg");
                        }
                    }
                }
            }

            .swiper-prev {
                cursor: pointer;
                top: 17px;
                right: 1px;
                position: absolute;
                border: none;
                width: 7px;
                height: 4px;
                background-image: data-uri("@{main-url-img}/arrow_down.svg");
                z-index: 2;
                transform: rotate(180deg);
            }

            .swiper-next {
                cursor: pointer;
                bottom: 17px;
                right: 1px;
                position: absolute;
                border: none;
                width: 7px;
                height: 4px;
                background-image: data-uri("@{main-url-img}/arrow_down.svg");
                z-index: 2;
            }
        }

        .btn-plus-block {
            padding-top: 15px;
            height: 30px;
            background: none;
            border: none;
            cursor: pointer;
            margin-bottom: -28px;

            &:hover {
                opacity: 0.75;
            }

            .plus-icon {
                width: 100%;
                height: 100%;
                display: block;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 10px;
                background-image: data-uri("@{main-url-img}/plus_white.svg");
            }
        }

        .new-location-item {
            margin-top: 43px;

            .title-block-with-line {
                margin-left: -20px;
                margin-right: -20px;
                border-bottom: 2px solid #00aff0;

                .line-container {
                    position: absolute;
                    width: 100%;
                    text-align: center;
                    top: -12px;

                    .title {
                        background-color: #464646;
                        padding: 3px 10px;
                        font-size: 10px;
                        color: #00aff0;
                        display: inline-block;
                    }
                }
            }

            .field-container {
                text-align: left;

                .add-new-item {
                    width: 16px;
                    height: 16px;
                    background-image: data-uri("@{main-url-img}/plus_white.svg");
                    background-repeat: no-repeat;
                    border-radius: 50%;
                    position: absolute;
                    background-position: center;
                    background-size: 10px;
                    top: 19px;
                    right: 0px;
                    cursor: pointer;
                }
            }
        }
    }
}
