﻿.indodrill-reports-table {
    @media (max-width: 1200px) {
        overflow-x: scroll;
    }

    overflow-x: hidden;


    .table {
        margin-bottom: 0px;
    }

    .table-header {
        background-color: white;
        color: #454545;
        height: 30px;

        td:first-child {
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
        }

        td:last-child {
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
        }

        td {
            font-size: 12px;
            font-weight: bold;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 0px;

            .select-type .bootstrap-select.btn-group {
                border: none;
            }

            .bootstrap-select.btn-group .dropdown-toggle {
                .btn .dropdown-toggle {
                    padding-bottom: 0px;
                    margin-bottom: -5px;
                    padding-top: 0px;
                    padding-left: 0px;
                }

                .filter-option {
                    font-size: 12px;
                    font-weight: bold;
                    color: #464646;
                    height: 22px;
                    padding-right: 15px;
                    overflow: hidden;
                    word-wrap: normal;
                    max-width: 170px;
                    min-width: initial;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .caret {
                    right: 0px;
                    margin-top: -9px;
                }
            }

            .select-class {
                padding-bottom: 0px;
                margin-bottom: -5px;
                padding-top: 0px;
                padding-left: 0px;
                background: none;

                &:focus, &:hover {
                    background: none;
                }

                .bs-caret {
                    .caret {
                        background-image: data-uri("@{main-url-img}/down_arrow_light.svg");
                    }
                }
            }

            .open {
                .bs-caret {
                    .caret {
                        background-image: data-uri("@{main-url-img}/up_arrow_light.svg");
                    }
                }
            }

            .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
                width: 100% !important;
            }

            .dropdown-menu {

                &.open {
                    border: 1.5px solid #464646;
                    box-shadow: none !important;
                    padding-top: 1px;
                    padding-bottom: 1px;
                    padding-right: 1px;
                    background-color: #fff;
                    width: 150px;

                    ul {
                        background-color: #fff;

                        li .selected {
                            background-color: #00AFF0 !important;
                        }
                    }
                }

                li {
                    span {
                        overflow: hidden;
                        word-wrap: normal;
                        max-width: 130px;
                        min-width: initial;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                    a {
                        color: #464646;

                        &:hover {
                            background-color: transparent;
                            opacity: 0.5;
                            color: #00aff0;
                        }

                        &:active {
                            background-color: transparent;
                        }

                        &:focus {
                            background: transparent;
                            color: #00aff0;
                        }
                    }

                    &.active {
                        a {
                            background-color: #fff;
                            color: #00aff0;
                        }
                    }
                }

                &::-webkit-scrollbar {
                    width: 1em;
                }

                &::-webkit-scrollbar-track {
                    background-color: grey;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: #454545;
                    border: 3px solid transparent;
                    border-radius: 9px;
                    background-clip: content-box;
                }

                a {
                    padding-left: 10px;
                }

                .no-results {
                    background-color: #fff;
                    color: #464646;
                    height: 25px;
                    width: 260px;
                    padding-left: 2px;
                }
            }

            .bs-searchbox {

                input {
                    background-color: #fff;
                    color: #464646;
                    height: 25px;
                    width: 260px;
                    border: none;
                    border-bottom: 1px solid #464646;
                    border-radius: 0;
                    box-shadow: none;
                    padding-left: 0px;
                    padding-right: 0px;
                }
            }
        }

        .date-title {
            width: 130px;
            min-width: 130px;

            .bootstrap-select.btn-group .dropdown-toggle {
                .caret {
                    right: 20px;
                }

                .filter-option {
                    max-width: 60px;
                    width: 60px;
                    min-width: 60px;
                }
            }
        }

        .driller-title {
            width: 235px;
            min-width: 235px;

            .bootstrap-select.btn-group .dropdown-toggle {
                .caret {
                    right: 75px;
                }

                .filter-option {
                    max-width: 60px;
                    width: 60px;
                    min-width: 60px;
                }
            }
        }

        .created-by-title {
            width: 235px;
            min-width: 235px;
        }

        .drill-rig-title {
            width: 120px;
            min-width: 120px;

            .bootstrap-select.btn-group .dropdown-toggle {
                .caret {
                    right: 20px;
                }

                .filter-option {
                    max-width: 60px;
                    width: 60px;
                    min-width: 60px;
                }
            }
        }

        .client-title {
            width: 170px;
            min-width: 170px;

            .bootstrap-select.btn-group .dropdown-toggle {
                .caret {
                    right: 75px;
                }

                .filter-option {
                    max-width: 60px;
                    width: 60px;
                    min-width: 60px;
                }
            }
        }

        .location-title {
            width: 100px;
            min-width: 100px;

            .bootstrap-select.btn-group .dropdown-toggle {
                .caret {
                    right: 15px;
                }

                .filter-option {
                    max-width: 60px;
                    width: 60px;
                    min-width: 60px;
                }
            }
        }

        .action-title {
            width: 120px;
            min-width: 120px;
        }
    }

    .table-content {
        .spacer-row {
            height: 5px;
        }

        .empty-content {
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            margin: 0px auto;
            padding: 0px;
            height: 20px;
        }

        .report-row {
            padding: 10px 0;
            background-color: white;
            border-bottom: 3px solid #efefef;

            td:first-child {
                border-bottom-left-radius: 4px;
                border-top-left-radius: 4px;
            }

            td:last-child {
                border-bottom-right-radius: 4px;
                border-top-right-radius: 4px;
            }

            td {
                height: 56px;
                font-size: 14px;
                font-weight: normal;
                padding: 10px 20px;
                vertical-align: middle;
                border-top: none;
            }

            .date-body {
                width: 130px;
            }

            .driller-body {
                width: 235px;

                img {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }

                .user-name {
                    display: inline-block;
                    overflow: hidden;
                    word-wrap: normal;
                    max-width: 150px;
                    min-width: initial;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    margin-bottom: -8px;
                }
            }

            .created-by-body {
                width: 235px;

                img {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }

                .user-name {
                    display: inline-block;
                    overflow: hidden;
                    word-wrap: normal;
                    max-width: 150px;
                    min-width: initial;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    margin-bottom: -8px;
                }
            }

            .drill-rig-body {
                width: 120px;
                overflow: hidden;
                word-wrap: normal;
                max-width: 120px;
                min-width: initial;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .client-body {
                width: 170px;
                overflow: hidden;
                word-wrap: normal;
                max-width: 170px;
                min-width: initial;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .location-body {
                width: 100px;
                overflow: hidden;
                word-wrap: normal;
                max-width: 100px;
                min-width: initial;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .action-body {
                width: 120px;
                padding: 1px 0 0 0;
                text-align: right;

                a {
                    margin-right: 10px;
                    color: #fff;

                    &:last-child {
                        margin-right: 20px;
                    }
                }

                .remove-btn {
                    margin-right: 10px;
                    width: 28px;
                    height: 28px;
                    display: inline-block;

                    &:last-child {
                        margin-right: 20px;
                    }
                }

                .pdf-report {
                    cursor: pointer;
                    display: inline-block;
                    width: 28px;
                    height: 28px;
                    background-image: url("@{main-url-img}/pdf_report_icon.svg");
                    background-repeat: no-repeat;

                    &:hover {
                        opacity: 0.7;
                    }
                }

                .go-to-report {
                    cursor: pointer;
                    display: inline-block;
                    width: 28px;
                    height: 28px;
                    background-image: data-uri("@{main-url-img}/go_to_report_icon.svg");
                    background-repeat: no-repeat;

                    &:hover {
                        opacity: 0.7;
                    }
                }

                .check-mark-icon {
                    display: inline-block;
                    width: 28px;
                    height: 28px;
                    background-image: data-uri("@{main-url-img}/check_mark_icon.svg");
                    background-repeat: no-repeat;

                    &:hover {
                        opacity: 0.7;
                    }
                }

                .remove-icon {
                    cursor: pointer;
                    display: inline-block;
                    width: 28px;
                    height: 28px;
                    background-image: data-uri("@{main-url-img}/remove_active.svg");
                    background-repeat: no-repeat;

                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }

        .pagination-block {
            background-color: white;
        }
    }
}


.bs-container {
    .select-type .bootstrap-select.btn-group {
        border: none;
    }

    .bootstrap-select.btn-group .dropdown-toggle {
        .btn .dropdown-toggle {
            padding-bottom: 0px;
            margin-bottom: -5px;
            padding-top: 0px;
            padding-left: 0px;
        }

        .filter-option {
            font-size: 12px;
            font-weight: bold;
            color: #464646;
            height: 22px;
            padding-right: 15px;
            overflow: hidden;
            word-wrap: normal;
            max-width: 170px;
            min-width: initial;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .caret {
            right: 0px;
            margin-top: -9px;
        }
    }

    .select-class {
        padding-bottom: 0px;
        margin-bottom: -5px;
        padding-top: 0px;
        padding-left: 0px;
        background: none;

        &:focus, &:hover {
            background: none;
        }

        .bs-caret {
            .caret {
                background-image: data-uri("@{main-url-img}/down_arrow_light.svg");
            }
        }
    }

    .open {
        .bs-caret {
            .caret {
                background-image: data-uri("@{main-url-img}/up_arrow_light.svg");
            }
        }
    }

    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: 100% !important;
    }

    .dropdown-menu {

        &.open {
            border: 1.5px solid #464646;
            box-shadow: none !important;
            padding-top: 1px;
            padding-bottom: 1px;
            padding-right: 1px;
            background-color: #fff;
            width: 150px;

            ul {
                background-color: #fff;

                li .selected {
                    background-color: #00AFF0 !important;
                }
            }
        }

        li {
            span {
                overflow: hidden;
                word-wrap: normal;
                max-width: 130px;
                min-width: initial;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            a {
                color: #464646;

                &:hover {
                    background-color: transparent;
                    opacity: 0.5;
                    color: #00aff0;
                }

                &:active {
                    background-color: transparent;
                }

                &:focus {
                    background: transparent;
                    color: #00aff0;
                }
            }

            &.active {
                a {
                    background-color: #fff;
                    color: #00aff0;
                }
            }
        }

        &::-webkit-scrollbar {
            width: 1em;
        }

        &::-webkit-scrollbar-track {
            background-color: grey;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #454545;
            border: 3px solid transparent;
            border-radius: 9px;
            background-clip: content-box;
        }

        a {
            padding-left: 10px;
        }

        .no-results {
            background-color: #fff;
            color: #464646;
            height: 25px;
            width: 260px;
            padding-left: 2px;
        }
    }

    .bs-searchbox {

        input {
            background-color: #fff;
            color: #464646;
            height: 25px;
            width: 260px;
            border: none;
            border-bottom: 1px solid #464646;
            border-radius: 0;
            box-shadow: none;
            padding-left: 0px;
            padding-right: 0px;
        }
    }
}
