﻿.report-print-block {
    .report-preview-template {
        padding: 0px;

        .company-logo {
            width: 138px;
            height: 110px;
            border: solid 1px #95989A;

            .logo {
                width: 136px;
                height: 108px;
            }

            .no-logo {
                text-align: center;
                padding-top: 40px;
                color: #464646;
            }
        }

        .company-info {
            width: 235px;
            margin-top: 45px;

            .company-name {
                font-size: 18px;
                font-weight: bold;
                font-family: "Trebuchet MS";
                color: #464646;
            }

            .company-address, .company-phone, .company-email, .company-site {
                font-size: 14px;
                font-family: "Trebuchet MS";
                color: #464646;
            }
        }

        .report-fields {
            .client-block, .location-block, .week-date-ds-block, .date-block, .shift-block, .week-date-ns-block, .drill-rig-block, .week-date-combines-block, .hole-id-block, .angle-block, .driller-assistant-block, .last-bit-change-block, .bit-mtd-block, .helpers-block {
                pointer-events: none;
                font-weight: normal !important;
                color: #464646 !important;
                font-size: 14px !important;
            }

            .report-name {
                font-size: 20px;
                font-weight: bold;
                font-family: "Trebuchet MS";
                color: #464646;
            }

            .title-select {
                color: #464646;
            }

            .report-number {
                font-size: 16px;
                font-weight: bold;
                font-family: "Trebuchet MS";
                color: #464646;
            }

            .simple-input {
                color: #464646;
                .placeholder(#464646);
            }

            .driller-block {
                margin-bottom: 3px;
                pointer-events: none;

                .select-list {
                    button {
                        &:focus {
                            outline: none !important;
                        }
                    }
                }

                .filter-option {
                    font-weight: normal !important;
                    color: #464646 !important;
                    font-size: 14px !important;
                }
            }

            .tags-input-container {
                padding-left: 0px;
                padding-top: 0px;
                padding-bottom: 0px;

                .helpers-tag {
                    border-bottom: solid 1px #464646;

                    .helper-fill {
                        background-color: #00aff0;
                        display: inline-block;
                        border-radius: 3px;
                        margin: 4px;
                        padding-left: 5px;
                        padding-right: 5px;
                        font-size: 12px;
                        font-weight: bold;
                        color: #fff;
                    }
                }

                .title-select {
                    margin-bottom: 5px;
                }
            }
        }

        .activity-table {
            margin-top: 70px;
            page-break-inside: avoid !important;

            .table-title {
                font-size: 18px;
                font-weight: bold;
                font-family: "Trebuchet MS";
                text-align: center;
                color: #464646;
            }

            .table-body {
                thead {
                    th {
                        border-bottom: solid 2px #464646 !important;
                        border-top: solid 2px #464646 !important;
                        border-left: solid 1px #464646 !important;
                        border-right: solid 1px #464646 !important;
                        text-align: center;
                        vertical-align: middle;
                        font-family: "Trebuchet MS";
                        font-size: 14px;
                        font-weight: normal;
                        height: 40px;
                        padding: 0px;
                        color: #464646;

                        &:first-child {
                            border-left: 2px solid #464646 !important;
                        }

                        &:last-child {
                            border-right: 2px solid #464646 !important;
                        }

                        &.activity-title {
                            width: 80px;
                        }

                        &.cost-code-title {
                            width: 80px;
                        }

                        &.start-time-title {
                            width: 80px;
                        }

                        &.end-time-title {
                            width: 80px;
                        }

                        &.from-title {
                            width: 80px;
                        }

                        &.to-title {
                            width: 80px;
                        }

                        &.hours-title {
                            width: 80px;
                        }

                        &.cored-title {
                            width: 80px;
                        }

                        &.recovered-title {
                            width: 80px;
                        }

                        &.core-size-title {
                            width: 80px;
                        }

                        &.drilling-details-title {
                            width: 240px;
                        }
                    }
                }

                tbody {
                    tr {
                        &:last-child {
                            td {
                                border-bottom: solid 2px #464646 !important;
                            }
                        }
                    }

                    td {
                        border-bottom: solid 1px #464646 !important;
                        border-left: solid 1px #464646 !important;
                        border-right: solid 1px #464646 !important;
                        text-align: center;
                        vertical-align: middle;
                        font-family: "Trebuchet MS";
                        font-size: 12px;
                        font-weight: normal;
                        color: #464646;
                        height: 40px;
                        padding: 0px;

                        &:first-child {
                            border-left: 2px solid #464646 !important;
                        }

                        &:last-child {
                            border-right: 2px solid #464646 !important;
                        }

                        &.activity-body {
                            pointer-events: none;
                        }

                        &.cost-code-body {
                            pointer-events: none;
                        }

                        &.start-time-body {
                            pointer-events: none;
                        }

                        &.end-time-body {
                            pointer-events: none;
                        }

                        &.from-body {
                            pointer-events: none;
                        }

                        &.to-body {
                            pointer-events: none;
                        }

                        &.hours-body {
                        }

                        &.cored-body {
                        }

                        &.recovered-body {
                            pointer-events: none;
                        }

                        &.core-size-body {
                            pointer-events: none;
                        }

                        &.drilling-details-body {
                            pointer-events: none;
                            text-align: left;
                        }

                        &.start-time-body, &.end-time-body {
                            pointer-events: none;
                        }
                    }
                }
            }
        }

        .materials-table {
            margin-top: 60px;
            padding-right: 40px;
            page-break-inside: avoid !important;

            .table-title {
                font-size: 18px;
                font-weight: bold;
                font-family: "Trebuchet MS";
                text-align: center;
                color: #464646;
            }

            .table-body {
                thead {
                    th {
                        border-bottom: solid 2px #464646 !important;
                        border-top: solid 2px #464646 !important;
                        border-left: solid 1px #464646 !important;
                        border-right: solid 1px #464646 !important;
                        text-align: center;
                        vertical-align: middle;
                        font-family: "Trebuchet MS";
                        font-size: 14px;
                        font-weight: normal;
                        height: 40px;
                        padding: 0px;
                        color: #464646;

                        &:first-child {
                            border-left: 2px solid #464646 !important;
                        }

                        &:last-child {
                            border-right: 2px solid #464646 !important;
                        }

                        &.item-title {
                            width: 110px;
                        }

                        &.units-title {
                            width: 55px;
                        }

                        &.qty-title {
                            width: 55px;
                        }
                    }
                }

                tbody {
                    tr {
                        &:last-child {
                            td {
                                border-bottom: solid 2px #464646 !important;
                            }
                        }
                    }

                    td {
                        border-bottom: solid 1px #464646 !important;
                        border-left: solid 1px #464646 !important;
                        border-right: solid 1px #464646 !important;
                        text-align: center;
                        vertical-align: middle;
                        font-family: "Trebuchet MS";
                        font-size: 12px;
                        font-weight: normal;
                        color: #464646;
                        height: 40px;
                        padding: 0px;

                        &:first-child {
                            border-left: 2px solid #464646 !important;
                        }

                        &:last-child {
                            border-right: 2px solid #464646 !important;
                        }

                        &.item-body {
                            pointer-events: none;
                        }

                        &.units-body {
                            pointer-events: none;
                        }

                        &.qty-body {
                            pointer-events: none;
                        }
                    }
                }
            }
        }

        .bits-table {
            margin-top: 60px;
            margin-right: 50px;
            page-break-inside: avoid;

            .table-title {
                font-size: 18px;
                font-weight: bold;
                font-family: "Trebuchet MS";
                text-align: center;
                color: #464646;
            }

            .table-body {
                thead {
                    th {
                        border-bottom: solid 2px #464646 !important;
                        border-left: solid 1px #464646 !important;
                        border-top: solid 2px #464646 !important;
                        border-right: solid 1px #464646 !important;
                        text-align: center;
                        vertical-align: middle;
                        font-family: "Trebuchet MS";
                        font-size: 14px;
                        font-weight: normal;
                        height: 40px;
                        padding: 0px;
                        color: #464646;

                        &:first-child {
                            border-left: 2px solid #464646 !important;
                        }

                        &:last-child {
                            border-right: 2px solid #464646 !important;
                        }

                        &.type-title {
                            width: 55px;
                        }

                        &.size-title {
                            width: 65px;
                        }

                        &.serial-number-title {
                            width: 75px;
                        }

                        &.on-title {
                            width: 55px;
                        }

                        &.off-title {
                            width: 55px;
                        }

                        &.drilled-title {
                            width: 75px;
                        }
                    }
                }

                tbody {
                    tr {
                        &:last-child {
                            td {
                                border-bottom: solid 2px #464646 !important;
                            }
                        }
                    }

                    td {
                        border-bottom: solid 1px #464646 !important;
                        border-left: solid 1px #464646 !important;
                        border-right: solid 1px #464646 !important;
                        text-align: center;
                        vertical-align: middle;
                        font-family: "Trebuchet MS";
                        font-size: 12px;
                        font-weight: normal;
                        color: #464646;
                        height: 40px;
                        padding: 0px;

                        &:first-child {
                            border-left: 2px solid #464646 !important;
                        }

                        &:last-child {
                            border-right: 2px solid #464646 !important;
                        }

                        &.type-body {
                            pointer-events: none;
                        }

                        &.size-body {
                            pointer-events: none;
                        }

                        &.serial-number-body {
                            pointer-events: none;
                        }

                        &.on-body {
                            pointer-events: none;
                        }

                        &.off-body {
                            pointer-events: none;
                        }

                        &.drilled-body {
                            pointer-events: none;
                        }
                    }
                }
            }
        }

        .summary-table {
            margin-top: 60px;
            page-break-inside: avoid !important;

            .table-title {
                font-size: 18px;
                font-weight: bold;
                font-family: "Trebuchet MS";
                text-align: center;
                color: #464646;
            }

            .table-body {
                border: solid 2px #464646;

                thead {
                    th {
                        border-bottom: solid 2px #464646 !important;
                        border-left: solid 1px #464646 !important;
                        border-right: solid 1px #464646 !important;
                        text-align: center;
                        vertical-align: middle;
                        font-family: "Trebuchet MS";
                        font-size: 14px;
                        font-weight: normal;
                        height: 40px;
                        padding: 0px;
                        color: #464646;

                        &:first-child {
                            border-left: none !important;
                        }

                        &:last-child {
                            border-right: none !important;
                        }

                        &.activity-title {
                            width: 115px;
                        }

                        &.cost-code-title {
                            width: 88px;
                        }

                        &.hours-title {
                            width: 62px;
                        }

                        &.metres-title {
                            width: 65px;
                        }
                    }
                }

                tbody {
                    tr {
                        &:last-child {
                            td {
                                border-bottom: none !important;
                            }
                        }
                    }

                    td {
                        border-bottom: solid 1px #464646 !important;
                        border-left: solid 1px #464646 !important;
                        border-right: solid 1px #464646 !important;
                        text-align: center;
                        vertical-align: middle;
                        font-family: "Trebuchet MS";
                        font-size: 12px;
                        font-weight: normal;
                        color: #464646;
                        height: 40px;
                        padding: 0px;

                        &:first-child {
                            border-left: none !important;
                        }

                        &:last-child {
                            border-right: none !important;
                        }
                    }
                }
            }
        }

        .left-in-hole-table {
            margin-top: 60px;
            padding-right: 40px;
            page-break-inside: avoid !important;

            .table-title {
                font-size: 18px;
                font-weight: bold;
                font-family: "Trebuchet MS";
                text-align: center;
                color: #464646;
            }

            .table-body {
                thead {
                    th {
                        border-bottom: solid 2px #464646 !important;
                        border-top: solid 2px #464646 !important;
                        border-left: solid 1px #464646 !important;
                        border-right: solid 1px #464646 !important;
                        text-align: center;
                        vertical-align: middle;
                        font-family: "Trebuchet MS";
                        font-size: 14px;
                        font-weight: normal;
                        height: 40px;
                        padding: 0px;
                        color: #464646;

                        &:first-child {
                            border-left: 2px solid #464646 !important;
                        }

                        &:last-child {
                            border-right: 2px solid #464646 !important;
                        }

                        &.item-title {
                            width: 110px;
                        }

                        &.units-title {
                            width: 55px;
                        }

                        &.qty-title {
                            width: 55px;
                        }
                    }
                }

                tbody {
                    tr {
                        &:last-child {
                            td {
                                border-bottom: solid 2px #464646 !important;
                            }
                        }
                    }

                    td {
                        border-bottom: solid 1px #464646 !important;
                        border-left: solid 1px #464646 !important;
                        border-right: solid 1px #464646 !important;
                        text-align: center;
                        vertical-align: middle;
                        font-family: "Trebuchet MS";
                        font-size: 12px;
                        font-weight: normal;
                        color: #464646;
                        height: 40px;
                        padding: 0px;

                        &:first-child {
                            border-left: 2px solid #464646 !important;
                        }

                        &:last-child {
                            border-right: 2px solid #464646 !important;
                        }

                        &.item-body {
                            pointer-events: none;
                        }

                        &.units-body {
                            pointer-events: none;
                        }

                        &.qty-body {
                            pointer-events: none;
                        }
                    }
                }
            }
        }

        .approvals-table {
            margin-top: 60px;
            padding-right: 40px;
            page-break-inside: avoid !important;

            .table-title {
                font-size: 18px;
                font-weight: bold;
                font-family: "Trebuchet MS";
                text-align: center;
                color: #464646;
            }

            .table-body {
                border: solid 2px #464646 !important;

                tbody {
                    tr {
                        &:last-child {
                            td {
                                border-bottom: none !important;
                            }
                        }
                    }

                    td {
                        border-bottom: solid 1px #464646 !important;
                        border-left: solid 1px #464646 !important;
                        border-right: solid 1px #464646 !important;
                        text-align: center;
                        vertical-align: middle;
                        font-family: "Trebuchet MS";
                        font-size: 12px;
                        font-weight: normal;
                        color: #464646;
                        height: 40px;
                        padding: 0px;

                        &:first-child {
                            border-left: none !important;
                        }

                        &:last-child {
                            border-right: none !important;
                        }

                        &.position-body {
                            width: 160px;
                        }

                        &.check-body {
                            width: 40px;
                            min-width: 40px;
                            max-width: 40px;
                            pointer-events: none;

                            .approvals-checked {
                                margin: 0px auto;
                                width: 17px;
                                height: 17px;
                                border: 1px solid #464646;
                                background: #fff;
                                border-radius: 3px;
                                box-shadow: inset 0 1px 3px rgba(46,46,46,.3);

                                div {
                                    width: 17px;
                                    height: 17px;
                                    background-repeat: no-repeat;
                                    background-image: data-uri("@{main-url-img}/check_icon.svg");
                                    margin-top: -3px;
                                    margin-left: 2px;
                                }
                            }

                            .approvals-not-checked {
                                margin: 0px auto;
                                width: 17px;
                                height: 17px;
                                border: 1px solid #464646;
                                background: #fff;
                                border-radius: 3px;
                                box-shadow: inset 0 1px 3px rgba(46,46,46,.3);
                            }
                        }


                        &.signature-body {
                            width: 160px;
                            pointer-events: none;

                            .simple-input {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }

        .comments-table {
            margin-top: 60px;
            page-break-inside: avoid !important;

            .table-title {
                color: #464646;
                font-size: 18px;
                font-weight: bold;
                font-family: "Trebuchet MS";
                text-align: center;
            }

            .table-body {
                border: solid 2px #464646 !important;

                tbody {
                    tr {
                        &:last-child {
                            td {
                                border-bottom: none !important;
                            }
                        }
                    }

                    td {
                        border-bottom: solid 1px #464646 !important;
                        border-left: solid 1px #464646 !important;
                        border-right: solid 1px #464646 !important;
                        text-align: center;
                        vertical-align: middle;
                        font-family: "Trebuchet MS";
                        font-size: 12px;
                        font-weight: normal;
                        color: #464646;
                        height: 40px;
                        padding: 0px;

                        &:first-child {
                            border-left: none !important;
                        }

                        &:last-child {
                            border-right: none !important;
                        }

                        &.user-name {
                            width: 100px;
                        }

                        &.comment-body {
                            width: 535px;
                            pointer-events: none;
                            text-align: left;
                            padding-left: 5px;

                            .simple-input {
                                padding-left: 5px;
                                padding-right: 5px;
                            }

                            .textarea {
                                overflow-y: auto !important;
                            }

                            &::-webkit-scrollbar {
                                width: 1em;
                            }

                            &::-webkit-scrollbar-track {
                                background-color: grey;
                            }

                            &::-webkit-scrollbar-thumb {
                                background-color: #454545;
                                border: 3px solid transparent;
                                border-radius: 9px;
                                background-clip: content-box;
                            }
                        }
                    }
                }
            }
        }

        .table-body {
            .table {
                page-break-inside: avoid !important;
                margin-bottom: 0px;

                .simple-input {
                    color: #464646;
                    border-bottom: none;
                }

                .simple-textarea {
                    padding: 0px !important;
                    margin-bottom: 0px !important;

                    &.input-validation-error {
                        background: url("@{main-url-img}/line-orange.png") !important;
                    }
                }

                .textarea {
                    word-wrap: break-word;
                    overflow-y: visible !important;
                    color: #464646;
                    border: none;
                    background: none;
                    height: 40px;
                    resize: none;
                    padding-left: 5px !important;
                    padding-right: 5px !important;

                    &::-webkit-scrollbar {
                        width: 1em;
                    }

                    &::-webkit-scrollbar-track {
                        background-color: grey;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: #454545;
                        border: 3px solid transparent;
                        border-radius: 9px;
                        background-clip: content-box;
                    }
                }

                .input-field {
                    width: 80px;
                    border: none;

                    &:focus {
                        outline: 0;
                    }

                    &[placeholder] {
                        text-overflow: ellipsis;
                        line-height: 1.3em;
                        font-family: 'Proxima-Nova-Regular';
                    }

                    &::-moz-placeholder {
                        text-overflow: ellipsis;
                    }

                    &:-moz-placeholder {
                        text-overflow: ellipsis;
                    }

                    &:-ms-input-placeholder {
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}
