.modal {
    .modal-dialog {
        .theme {
            .modal-content {
                background-color: #fff !important;

                .title-select {
                    color: #464646 !important;
                }

                .simple-input, .simple-textarea {
                    .placeholder(#464646);

                    ::-webkit-input-placeholder {
                        color: #464646;
                    }

                    ::-moz-placeholder {
                        color: #464646;
                    }

                    :-ms-input-placeholder {
                        color: #464646;
                    }

                    :-moz-placeholder {
                        color: #464646;
                    }
                }

                .modal-header {
                    color: #464646 !important;
                    text-align: left;
                    padding: 0px !important;

                    a {
                        color: #464646 !important;
                    }

                    a:focus {
                        color: #464646 !important;
                    }

                    .btn-save {
                        color: #b4b4b4;
                    }

                    .btn-close {
                        background-image: data-uri("@{main-url-img}/close_dark.svg");
                    }
                }

                .modal-body {
                    color: #464646;

                    .tab-content {
                        a {
                            color: #464646 !important;
                        }

                        a:focus {
                            color: #464646 !important;
                        }

                        .nav.nav-tabs {
                            border-bottom: 1px solid #464646 !important;
                        }

                        .coming-soon {
                            color: #464646;
                        }

                        .users-container {
                            div, span {
                                color: #464646;
                            }
                        }

                        .tags-input-container {
                            input {
                                color: #464646;
                            }
                        }
                    }

                    .simple-input {
                        color: #464646 !important;
                    }

                    .select-list {
                        color: #464646 !important;

                        .filter-option {
                            color: #464646 !important;
                        }

                        .dropdown-menu.open {
                            background-color: #fff !important;

                            .dropdown-menu.inner {
                                background-color: #fff !important;

                                a {
                                    color: #464646;
                                }

                                .selected {
                                    color: #00aff0;

                                    a, span {
                                        color: #00aff0;
                                    }
                                }
                            }
                        }

                        .bs-searchbox {
                            input {
                                color: #464646;
                                background-color: #fff;
                                border-bottom: 1px solid #464646;
                            }
                        }

                        .no-results {
                            background-color: #fff;
                            color: #464646;
                        }
                    }

                    .simple-textarea {
                        color: #464646 !important;
                    }

                    .radio-btn-group {
                        .radio-label {
                            color: #464646;
                        }
                    }

                    .field-container {
                        .change-password-btn {
                            background: #464646 !important;
                            color: #fff !important;

                            &:hover {
                                background: #00b0f0 !important;
                                color: #fff !important;
                            }
                        }
                    }

                    .thumbnail {
                        background-color: #464646;
                    }

                    .btn-choose-image {
                        background-image: data-uri("@{main-url-img}/edit_pencil_dark.svg");
                    }

                    .choose-image-title {
                        color: #464646;
                    }

                    .btn-reset-password {
                        background-color: #464646;
                        color: #fff;
                    }

                    .edit-photo {
                        color: #464646;

                        span {
                            color: #464646;
                        }
                    }

                    .title-block-with-line {
                        .file-input-title {
                            background-color: #fff;
                        }
                    }

                    .tags-input-container {
                        .tags-input-title {
                            color: #464646;
                        }

                        .dropdown-menu {
                            background-color: #fff;
                        }

                        .ms-sel-ctn {
                            input {
                                color: #464646;
                                .placeholder(#464646);

                                ::-webkit-input-placeholder {
                                    color: #464646;
                                }

                                ::-moz-placeholder {
                                    color: #464646;
                                }

                                :-ms-input-placeholder {
                                    color: #464646;
                                }

                                :-moz-placeholder {
                                    color: #464646;
                                }
                            }
                        }

                        .ms-ctn {
                            .ms-sel-ctn {
                                input::placeholder {
                                    color: #464646;
                                }

                                input {
                                    color: #464646;
                                    .placeholder(#464646);

                                    ::-webkit-input-placeholder {
                                        color: #464646;
                                    }

                                    ::-moz-placeholder {
                                        color: #464646;
                                    }

                                    :-ms-input-placeholder {
                                        color: #464646;
                                    }

                                    :-moz-placeholder {
                                        color: #464646;
                                    }
                                }
                            }
                        }
                    }

                    .title-name, .title-icon, .group-name {
                        color: #464646;
                    }

                    .overflow, .checkbox, .counter {
                        color: #464646 !important;
                    }

                    .swiper-slide {
                        color: #464646 !important;

                        .recipient-remove-action {
                            color: #464646 !important;
                        }

                        .user-last-login-column {
                            padding-left: 20px;
                        }

                        .user-email-column {
                            padding-left: 10px;
                        }
                    }

                    .title-select {
                        background-color: #fff !important;
                        color: #464646 !important;
                    }

                    .navigation-block {
                        .nav-tabs {
                            border-bottom: 1px solid #464646;

                            a {
                                color: #464646;
                            }
                        }
                    }

                    .log-row, .empty-logs {
                        color: #464646;
                    }

                    .horizontal-title-container {
                        color: #464646;
                    }

                    .btn-upload {
                        background-color: #fff !important;
                        background-image: data-uri("@{main-url-img}/upload_dark.svg");
                        background-size: 20px;
                    }

                    .fileinput.fileinput-new.input-group, .fileinput-exists {
                        .form-control, span, div {
                            color: #464646;
                        }
                    }

                    .swiper-next, .team-members-swiper-next, .recipient-swiper-next {
                        background-image: data-uri("@{main-url-img}/down_arrow_light.svg");
                        width: 14px;
                        height: 16px;
                    }

                    .swiper-prev, .team-members-swiper-prev, .recipient-swiper-prev {
                        background-image: data-uri("@{main-url-img}/up_arrow_light.svg");
                        width: 14px;
                        height: 16px;
                        -ms-transform: rotate(0deg);
                        -webkit-transform: rotate(0deg);
                        transform: rotate(0deg);
                    }

                    .search-control {
                        color: #464646;
                        .placeholder(#787878);

                        ::-webkit-input-placeholder {
                            color: #464646;
                        }

                        ::-moz-placeholder {
                            color: #464646;
                        }

                        :-ms-input-placeholder {
                            color: #464646;
                        }

                        :-moz-placeholder {
                            color: #464646;
                        }
                    }

                    .container-title {
                        color: #464646;
                    }

                    .select-class {
                        .bs-caret {
                            .caret {
                                background-image: data-uri("@{main-url-img}/dropdown_arrow.svg");
                            }
                        }
                    }

                    .open {
                        .bs-caret {
                            .caret {
                                background-image: data-uri("@{main-url-img}/dropdown_arrow.svg");
                                -ms-transform: rotate(180deg);
                                -webkit-transform: rotate(180deg);
                                transform: rotate(180deg);
                            }
                        }
                    }

                    .critical-control-owner-name, .team-fill {
                        color: #fff;
                    }

                    .safety-btn-group, .safety-message-dialog-body {
                        .view {
                            background-image: data-uri("@{main-url-img}/mag_glass_dark.svg");
                        }

                        .edit {
                            background-image: data-uri("@{main-url-img}/edit_pencil_dark.svg");
                        }
                    }

                    .reschedule.glyphicon-calendar {
                        color: #464646;
                    }

                    .btn-plus-white, .add-attachment-btn, .add-task-btn {
                        div {
                            background-image: data-uri("@{main-url-img}/plus_grey.svg");
                        }
                    }

                    .no-tasks-image {
                        background-image: data-uri("@{main-url-img}/task-inactive.svg");
                    }

                    .has-tasks-image {
                        background-image: data-uri("@{main-url-img}/task-active.svg");
                    }

                    .singl-button, .remove-attachment-btn {
                        .btn-close {
                            background-image: data-uri("@{main-url-img}/close_dark.svg") !important;
                        }
                    }

                    .recipient-block {
                        .user-name {
                            color: #464646 !important;
                        }
                    }

                    .mini-calendar {
                        thead {
                            th {
                                color: #464646;
                                border: 0px solid #fff;
                                background: #fff;
                                font-weight: bold;
                            }

                            .calendar-controls {
                                color: #fff;
                                background-color: #464646;

                                .calendar-previous {
                                    background-image: data-uri("@{main-url-img}/arrow_left.svg");
                                    width: 14px;
                                    height: 14px;
                                    vertical-align: middle;
                                    margin-top: -2px;
                                }

                                .calendar-next {
                                    background-image: data-uri("@{main-url-img}/arrow_right.svg");
                                    width: 14px;
                                    height: 14px;
                                    vertical-align: middle;
                                    margin-top: -2px;
                                }
                            }
                        }

                        tbody {
                            tr {
                                padding: 0px;

                                &:last-child {
                                    td {
                                        border-bottom: none;
                                    }
                                }

                                td {
                                    font-size: 12px;
                                    text-align: center;
                                    vertical-align: middle;
                                    background-color: #F0F0F0;
                                    color: #000;
                                    font-weight: bold;
                                    cursor: pointer;
                                    width: 25px;
                                    height: 25px;
                                    border-right: 5px solid #fff;
                                    border-left: none;
                                    border-top: none;
                                    border-bottom: 5px solid #fff;

                                    &:last-child {
                                        border-right: none;
                                        width: 25px;
                                    }

                                    &.today {
                                        background-position: 81px 0px;
                                        color: #F0F0F0;
                                    }

                                    &.orange {
                                        background-color: orange;
                                        color: #fff;
                                    }

                                    &.blue {
                                        background-color: #00aff0;
                                        color: #fff;
                                    }

                                    &.gray {
                                        background-color: #B4B4B4;
                                        color: #fff;
                                        font-weight: normal;
                                        cursor: not-allowed;

                                        &.orange {
                                            background-color: orange;
                                            color: #fff;
                                            opacity: 0.5;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .handover-recipients-title {
                        color: #464646;
                        border-bottom: 1px solid #464646;
                    }

                    .handover-recipients-container {
                        border-bottom: 1px solid #464646;

                        .no-handover-recipient {
                            color: #464646;
                            text-align: center;
                        }
                    }

                    .safety-btn-group {
                        .view {
                            background-image: data-uri("@{main-url-img}/mag_glass_dark.svg");
                        }

                        .edit {
                            background-image: data-uri("@{main-url-img}/edit_pencil_dark.svg");
                        }
                    }

                    .upgrade-text {
                        color: #464646;
                    }

                    .download-link-btn {
                        background-image: data-uri("@{main-url-img}/download_dark.svg") !important;
                    }
                    .inline-mini-calendar, .datepicker-dropdown, .datepicker {
                        .datepicker-days {
                            .table-condensed {
                                thead {
                                    tr:nth-child(2) {
                                        background: #464646;

                                        .next {
                                            background-color: #464646;
                                            background-size: 10px;
                                            background-image: data-uri("@{main-url-img}/arrow_right.svg");
                                        }

                                        .prev {
                                            background-color: #464646;
                                            background-size: 10px;
                                            background-image: data-uri("@{main-url-img}/arrow_left.svg");
                                        }

                                        .datepicker-switch {
                                            color: #fff;
                                            background-color: #464646;
                                        }
                                    }

                                    tr:last-child {
                                        color: #464646;
                                        background-color: #fff;

                                        .dow {
                                            color: #464646;
                                            background-color: #fff;
                                        }
                                    }
                                }

                                tbody {
                                    tr {
                                        .day {
                                            border: 5px solid #fff;
                                            background-color: #F0F0F0;
                                            color: #464646;
                                        }

                                        .old, .disabled, .new {
                                            background-color: #b4b4b4;
                                            color: #fff;
                                        }

                                        .active {
                                            background-color: #00aff0;
                                            color: #fff;
                                        }
                                    }
                                }
                            }

                            .datepicker-months, .datepicker-years, .datepicker-decades, .datepicker-centuries {
                                .table-condensed {
                                    background: black !important;

                                    thead {
                                        tr:last-child {
                                            color: #464646;
                                            background-color: #464646;

                                            .datepicker-switch {
                                                color: #fff;
                                                background-color: #464646;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.datepicker-dropdown, .datepicker {
    background-color: #fff !important;

    .datepicker-days {
        .table-condensed {
            thead {
                tr:nth-child(2) {
                    background-color: #464646;

                    .next {
                        background-color: #464646;
                        background-size: 10px;
                        border-radius: 0px;

                        &.disabled {
                            pointer-events: none;
                            cursor: not-allowed;
                            opacity: 0.5;
                        }
                    }

                    .prev {
                        background-color: #464646;
                        background-size: 10px;
                        border-radius: 0px;
                        /*visibility: visible !important;*/
                        &.disabled {
                            pointer-events: none;
                            cursor: not-allowed;
                            opacity: 0.5;
                        }
                    }

                    .datepicker-switch {
                        color: #fff;
                        background-color: #464646;
                        border-radius: 0px;
                    }
                }

                tr:last-child {
                    color: #464646;
                    background-color: #fff;

                    .dow {
                        color: #464646;
                        background-color: #fff;
                    }
                }
            }

            tbody {
                tr {
                    .day {
                        border: 5px solid #fff;
                        background-color: #F0F0F0;
                        color: #464646;
                    }

                    .old, .disabled, .new {
                        background-color: #b4b4b4;
                        color: #fff;
                    }

                    .active {
                        background-color: #00aff0;
                        color: #fff;
                    }
                }
            }
        }
    }

    .datepicker-months, .datepicker-years, .datepicker-decades, .datepicker-centuries {
        .table-condensed {
            background: black !important;
        }
    }
}
