﻿@model EditCriticalControlV2ViewModel

@using (Html.BeginForm())
{
    <div class="new-critical-control-item">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.MajorHazardId)
        <div class="title-block-with-line">
            <div class="title-container"><span class="file-input-title">@ViewBag.Title</span></div>
        </div>
        <div class="row">
            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 field-container">
                @Html.LabelFor(model => model.Name, new { @class = "title-select" })
                @Html.TextBoxFor(model => model.Name, new { @class = "simple-input", @placeholder = "Add Name" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 critical-control-owner">
                <div class="select-type">
                    @Html.LabelFor(m => m.OwnerId, new { @class = "title-select" })
                    @Html.DropDownListFor(model => model.OwnerId, Model.AllUsers, "Choose CCO", new { @class = "select-list" })
                    @Html.ValidationMessageFor(model => model.OwnerId)
                </div>
            </div>
            <div class="critical-control-champion select-type col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                @Html.LabelFor(m => m.ChampionsIds, new { @class = "title-select" })
                @Html.ListBoxFor(model => model.ChampionsIds, Model.AllUsers, new { @class = "select-list", @multiple = "", @title = "Choose CCC(s)" })
                @Html.ValidationMessageFor(m => m.ChampionsIds)
            </div>
        </div>
    </div>
}