﻿@model IEnumerable<HSETopicViewModel>

<div Id="safetySection">
    <div class="panel-body grey-panel">
        <div class="navbar navbar-orange" id="Safety"><span class="label">@Html.EnumDescription(ModuleType.HSE)</span></div>
    </div>
    <div class="table-block">
        <table class="table">
            <thead>
                <tr>
                    <th class="first">Actions</th>
                    <th class="second">Topic</th>
                    <th class="third">Reference</th>
                    <th class="fourth">Notes</th>
                    <th class="fifth">Intel</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    foreach (var topic in Model)
                    {
                        <tr>
                            <td class="first-td">
                                @Html.Hidden("Id", topic.Id)

                                @if (topic.IsCustom)
                                {
                                    <button type="button" class="btn btn-circle remove-btn tooltipster" @Html.TooltipAttritutes("Delete")>
                                        <span class="glyphicon span"></span>
                                    </button>
                                }
                                else
                                {
                                    <button type="button" topic-val="@topic.IsNullReport.ToString().ToLower()" class="btn btn-circle nr-btn tooltipster" @Html.TooltipAttritutes("Nil-report")>
                                        <span class="glyphicon span"></span>
                                    </button>
                                }

                                <button type="button" topic-val="@topic.IsFeedbackRequired.ToString().ToLower()" class="btn btn-circle arrows-btn tooltipster" @Html.TooltipAttritutes("Hand-back")>
                                    <span class="glyphicon span"></span>
                                </button>
                                @if (topic.IsPinned.HasValue)
                                {
                                    <button type="button" topic-val="@topic.IsPinned.Value.ToString().ToLower()" class="btn note-btn btn-circle tooltipster" @Html.TooltipAttritutes("Pin")>
                                        <span class="glyphicon span"></span>
                                    </button>
                                }
                                else
                                {
                                    <button type="button" class="btn note-inactive-btn btn-circle tooltipster" @Html.TooltipAttritutes("Pin")>
                                        <span class="glyphicon span"></span>
                                    </button>
                                }
                            </td>
                            <td>
                                <div class="second-td">
                                    @topic.Type
                                </div>
                            </td>
                            <td style="cursor: pointer;">
                                <div class="third-td">
                                    @topic.Reference
                                </div>
                            </td>
                            <td class="fourth-td">
                                <p class="note-short">@topic.Notes</p>
                                <div class="field-of-edit">
                                    <textarea class="change-note" maxlength="1000"></textarea>
                                    <div topic-val="@topic.IsFinalized.ToString().ToLower()" class="accept-btn finalise-btn"></div>
                                </div>
                            </td>
                            <td class="fifth-td">

                                @Html.Action("ManagerCommentButton", "Topic",
                                 new ManagerCommentButtonViewModel { ItemId = topic.Id.Value, HasComments = topic.HasComments })

                                <div class="tooltipster share-btn" topic-val="@topic.SharedCounter" @Html.TooltipAttritutes("Share")>
                                    <span class="counter-block"></span>
                                </div>


                                <div class="btn btn-circle more-btn tooltipster" @Html.TooltipAttritutes("Extras")>
                                    <span class="glyphicon span"></span>
                                </div>
                                <div class="other-actions pull-right">
                                    <button topic-val="@topic.HasLocation.ToString().ToLower()" class="action-btn location-btn tooltipster" @Html.TooltipAttritutes("Location")></button>
                                    <button topic-val="@topic.HasTasks.ToString().ToLower()" class="action-btn tasks-btn tooltipster" @Html.TooltipAttritutes("Tasks")></button>
                                    <button topic-val="@topic.HasAttachments.ToString().ToLower()" class="action-btn attachments-btn tooltipster" @Html.TooltipAttritutes("Attachments")></button>
                                    <button topic-val="@topic.HasVoiceMessages.ToString().ToLower()" class="action-btn voice-msg-btn tooltipster" @Html.TooltipAttritutes("Voice Messages") disabled style="cursor: not-allowed !important"></button>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <div class="text-center" style="margin: 10px">@Html.EnumDescription(ModuleType.HSE, "No Received {0} Items")</div>
                }
            </tbody>
        </table>
        <div class="navbar navbar-white">

        </div>
    </div>
</div>