﻿@model PositionViewModel

<div Id="positionFormDialog" tabindex="-1" role="dialog" aria-labelledby="labelTags" aria-hidden="true" data-keyboard="false" data-backdrop="static" class="modal fade position-dialog">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)

        <div class="modal-dialog">
            <div class="theme">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row vertical-center">
                            <div class="col col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <div Id="modalTitle" class="modal-title">@ViewBag.Title</div>
                            </div>
                            <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 text-right">
                                <button type="submit" class="btn btn-save">Save</button>
                                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="field-container">
                                    <span class="title-select">@Html.LabelFor(model => model.Name)</span>
                                    @Html.TextBoxFor(model => model.Name, new { @class = "simple-input", @placeholder = "Enter Position Name" })
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                            </div>
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                                <div class="select-type">
                                    <span class="title-select">@Html.LabelFor(m => m.SiteId)</span>
                                    @Html.DropDownListFor(m => m.SiteId, Model.Sites, "Select Site", new { @class = "select-list" })
                                    @Html.ValidationMessageFor(m => m.SiteId)
                                </div>
                            </div>
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                                <div class="select-type">
                                    <span class="title-select">@Html.LabelFor(m => m.TemplateId)</span>
                                    @Html.DropDownListFor(m => m.TemplateId, Model.Templates, "Select Template", new { @class = "select-list" })
                                    @Html.ValidationMessageFor(m => m.TemplateId)
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
</div>