﻿<div Id="currencyDropdown" class="currencyDropdown">
    <div class="title">
        Currency
    </div>
    <ul class="currency-list">
        <li class="active">US $</li>
        <li>AUD $</li>
        <li>GBR $</li>
        <li>EUR $</li>
    </ul>
</div>