﻿<div class="sign-up-wizard-step-4">
    <div class="row text-center">
        <div class="col col-xs-12">
            <div class="start-block">
                Thank you for purchasing Relay. <br/>
                Please check your inbox to get started.
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col col-xs-12">
            <div class="buttons-block">
                <div class="btn btn-continue">
                    Continue
                </div>
            </div>
        </div>
    </div>
</div>
