﻿<div class="sign-up-wizard-step-3">

    <div class="row">
        <div class="col-xs-12">
            <div class="user-details-block">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Full Name*">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="E-mail*">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Company*">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Position*">
                        </div>
                    </div>
                </div>
            </div>


            <div class="payment-details-block">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Card Number*">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Name on Card*">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Start Date">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Exp Date*">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Issue Number">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="CCV*">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col col-xs-12">
            <div class="buttons-block">
                <a class="btn btn-pay">
                    Pay
                </a>
            </div>
        </div>
    </div>
</div>
