﻿<div class="sign-up-wizard-step-1">
    <div class="row">
        <div class="col-xs-12">
            <div class="user-subscription-type-block" ng-click="ctrl.changeUserSubscriptionType(0)" ng-class="ctrl.SignUpModel.UserSubscriptionType == 0 ? 'selected' : ''">
                <div class="price-block">
                    <div class="price-label">
                        {{ ctrl.SignUpModel.UserSubscriptionPrices.SinglePrice }}
                    </div>
                    <div class="currency-symbol">$</div>
                    <div class="currency-label">USD</div>
                    <div class="from-label">from</div>
                    <div class="period-label">/month</div>
                </div>
                <div class="description-block">
                    <div class="type-title">
                        Single
                    </div>
                    <div class="type-stats">
                        <div class="manager-counter">
                            <span class="number">1</span>
                            Manager
                        </div>
                        <div class="user-counter">
                            <span class="number">1</span>
                            User
                        </div>
                    </div>
                </div>
                <div ng-show="ctrl.SignUpModel.UserSubscriptionType == 0" class="selected-icon"></div>
            </div>
            <div class="user-subscription-type-block" ng-click="ctrl.changeUserSubscriptionType(1)" ng-class="ctrl.SignUpModel.UserSubscriptionType == 1 ? 'selected' : ''">
                <div class="price-block">
                    <div class="price-label">
                        {{ ctrl.SignUpModel.UserSubscriptionPrices.B2bPrice }}
                    </div>
                    <div class="currency-symbol">$</div>
                    <div class="currency-label">USD</div>
                    <div class="from-label">from</div>
                    <div class="period-label">/month</div>
                </div>
                <div class="description-block">
                    <div class="type-title">
                        Back-to-Back
                    </div>
                    <div class="type-stats">
                        <div class="manager-counter">
                            <span class="number">1</span>
                            Manager
                        </div>
                        <div class="user-counter">
                            <span class="number">2</span>
                            User
                        </div>
                    </div>
                </div>
                <div ng-show="ctrl.SignUpModel.UserSubscriptionType == 1" class="selected-icon"></div>
            </div>
            <div class="user-subscription-type-block" ng-click="ctrl.changeUserSubscriptionType(2)" ng-class="ctrl.SignUpModel.UserSubscriptionType == 2 ? 'selected' : ''">
                <div class="price-block">
                    <div class="price-label">
                        {{ ctrl.SignUpModel.UserSubscriptionPrices.TeamPrice }}
                    </div>
                    <div class="currency-symbol">$</div>
                    <div class="currency-label">USD</div>
                    <div class="from-label">from</div>
                    <div class="period-label">/month</div>
                </div>
                <div class="description-block">
                    <div class="type-title">
                        Team
                    </div>
                    <div class="type-stats team-stats">
                        <div class="manager-counter">
                            <span class="number">{{ctrl.SignUpModel.ManagersUsersCount}}</span>
                            Manager
                            <div class="row">
                                <div class="col-xs-12">
                                    <rzslider rz-slider-model="ctrl.SignUpModel.ManagersUsersCount" 
                                              rz-slider-options="{hideLimitLabels : true, floor : 1, ceil:5, hidePointerLabels : true }"></rzslider>
                                </div>
                            </div>
                        </div>
                        <div class="user-counter">
                            <div class="user-counter-text">
                                <span class="number">{{ctrl.SignUpModel.SimpleUsersCount}}</span>
                                User
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <rzslider class="user-slider" rz-slider-model="ctrl.SignUpModel.SimpleUsersCount"
                                              rz-slider-options="{hideLimitLabels : true, floor: 1, ceil:25, hidePointerLabels : true }"></rzslider>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="ctrl.SignUpModel.UserSubscriptionType == 2" class="selected-icon"></div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col col-xs-12">
            <div class="buttons-block">
                <button class="btn btn-next" ng-disabled="ctrl.SignUpModel.UserSubscriptionType === null" ui-sref="app.step2" ng-click="ctrl.goToSecondStep()">
                    Next
                </button>
            </div>
        </div>
    </div>
</div>
