﻿<div class="sign-up-wizard-step-2">
    <div class="row">
        <div class="col-xs-12">
            <div class="subscription-type-block" ng-click="ctrl.changeSubscriptionLevelType(0)" ng-class="ctrl.SignUpModel.SubscriptionLevelType == 0 ? 'selected' : ''">
                <div class="price-block">
                    <div class="price-label">
                        {{ ctrl.SignUpModel.SubscriptionLevelPrices.Basic }}
                    </div>
                    <div class="currency-symbol">$</div>
                    <div class="currency-label">USD</div>
                    <div class="from-label">from</div>
                    <div class="period-label">/month</div>
                </div>
                <div class="description-block">
                    <div class="type-title">
                        Basic
                    </div>
                    <div class="type-stats">
                        <div class="handover-items-counter">
                            <span class="number">10</span>
                            Handover Items
                        </div>
                        <div class="handover-tasks-counter">
                            <span class="number">3</span>
                            Handover Tasks
                        </div>
                        <div class="email-shares-counter">
                            &mdash;
                        </div>
                        <div class="month-archive-counter">
                            &mdash;
                        </div>
                        <div class="carry-forward-counter">
                            &mdash;
                        </div>
                        <div class="branding-info">
                            Relay Branding
                        </div>
                    </div>
                </div>
                <div class="selected-icon" ng-show="ctrl.SignUpModel.SubscriptionLevelType == 0"></div>

            </div>
            <div class="subscription-type-block" ng-click="ctrl.changeSubscriptionLevelType(1)" ng-class="ctrl.SignUpModel.SubscriptionLevelType == 1 ? 'selected' : ''">
                <div class="price-block">
                    <div class="price-label">
                        {{ ctrl.SignUpModel.SubscriptionLevelPrices.Premium }}
                    </div>
                    <div class="currency-symbol">$</div>
                    <div class="currency-label">USD</div>
                    <div class="from-label">from</div>
                    <div class="period-label">/month</div>
                </div>
                <div class="description-block">
                    <div class="type-title">
                        Premium
                    </div>
                    <div class="type-stats">
                        <div class="handover-items-counter">
                            <span class="number">20</span>
                            Handover Items
                        </div>
                        <div class="handover-tasks-counter">
                            <span class="number">10</span>
                            Handover Tasks
                        </div>
                        <div class="email-shares-counter">
                            <span class="number">3</span>
                            Email Shares
                        </div>
                        <div class="month-archive-counter">
                            <span class="number">6</span>
                            Month Archive
                        </div>
                        <div class="carry-forward-counter">
                            <span class="number">3</span>
                            Carry Forward
                        </div>
                        <div class="branding-info">
                            Relay/Company Branding
                        </div>
                    </div>
                </div>
                <div class="selected-icon" ng-show="ctrl.SignUpModel.SubscriptionLevelType == 1"></div>
                <div class="popular-label"><span>Popular</span></div>
            </div>
            <div class="subscription-type-block" ng-click="ctrl.changeSubscriptionLevelType(2)" ng-class="ctrl.SignUpModel.SubscriptionLevelType == 2 ? 'selected' : ''">
                <div class="price-block">
                    <div class="price-label">
                        {{ ctrl.SignUpModel.SubscriptionLevelPrices.Ultimate }}
                    </div>
                    <div class="currency-symbol">$</div>
                    <div class="currency-label">USD</div>
                    <div class="from-label">from</div>
                    <div class="period-label">/month</div>
                </div>
                <div class="description-block">
                    <div class="type-title">
                        Ultimate
                    </div>
                    <div class="type-stats">
                        <div class="handover-items-counter">
                            <span class="number">Unl</span>
                            Handover Items
                        </div>
                        <div class="handover-tasks-counter">
                            <span class="number">Unl</span>
                            Handover Tasks
                        </div>
                        <div class="email-shares-counter">
                            <span class="number">Unl</span>
                            Email Shares
                        </div>
                        <div class="month-archive-counter">
                            <span class="number">Full</span>
                            Archive
                        </div>
                        <div class="carry-forward-counter">
                            <span class="number">Unl</span>
                            Carry Forward
                        </div>
                        <div class="branding-info">
                            Company Branding
                        </div>
                    </div>
                </div>
                <div class="selected-icon" ng-show="ctrl.SignUpModel.SubscriptionLevelType == 2"></div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col col-xs-12">
            <div class="buttons-block">
                <button class="btn btn-buy active" ui-sref="app.step3" ng-disabled="ctrl.SignUpModel.SubscriptionLevelType === null" ng-click="ctrl.changeStep(2)">
                    Buy now
                </button>
            </div>
        </div>
    </div>
</div>
