﻿@model LoginViewModel

@{
    Layout = "~/Views/Shared/Layouts/Main/NotAuthorized_MultiTenant_Layout.cshtml";
}


<div class="sign-up-multi-tenant-page" ng-app="RelayMultiTenantApp">

    <div ng-controller="SignUpCtrl as ctrl">

        <div class="relay-logo-block">
            <div class="row">
                <div class="col-xs-4">
                    <a class="logo" href="\"></a>
                </div>
                <div class="col-xs-8 text-right header-buttons">
                    <div class="btn btn-annually" ng-click="ctrl.SignUpModel.BillingPeriodType = 1" ng-class="ctrl.SignUpModel.BillingPeriodType == 1 ? 'active' : ''">
                        Billed Yearly
                    </div>
                    <div class="btn btn-monthly" ng-click="ctrl.SignUpModel.BillingPeriodType = 0" ng-class="ctrl.SignUpModel.BillingPeriodType == 0 ? 'active' : ''">
                        Billed Monthly
                    </div>
                    <button class="btn btn-currency"></button>
                    @Html.Partial("~/Views/Account/MultiTenant/Registration/_Currency_Dropdown.cshtml")
                    <div class="btn btn-basket"></div>
                    @Html.Partial("~/Views/Account/MultiTenant/Registration/_Basket_Dropdown.cshtml")
                </div>
            </div>
        </div>

        <div class="sign-up-wizard">
            <div class="row">
                <div class="col-xs-12">
                    <div>
                        <ul class="nav nav-wizard">
                            <li ui-sref-active="active">
                                <a ui-sref="app.step1" ng-click="ctrl.changeStep(0)">Choose User Type</a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="app.step2" ng-class="ctrl.CurrentStepNumber < 1 ? 'inactive' : ''" ng-click="ctrl.changeStep(1)">Select Subscription</a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="app.step3" ng-class="ctrl.CurrentStepNumber < 2 ? 'inactive' : ''" ng-click="ctrl.changeStep(2)">Register & Payment</a>
                            </li>
                            <li ui-sref-active="active">
                                <a>Start Relay</a>
                            </li>
                        </ul>
                        <div class="wizard-content" ui-view>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/Content/lib/angular/angular.js"></script>
    <script src="~/Content/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="~/Content/lib/angularjs-slider/dist/rzslider.min.js"></script>
    <script src="~/Content/js/relay/multitenant/multitenant.app.js"></script>
    <script src="~/Content/js/relay/multitenant/multitenant.app.config.js"></script>
    <script src="~/Content/js/relay/multitenant/sign-up.controller.js"></script>
    <script>
        $(document).ready(function ()
        {
            $('.btn-currency').webuiPopover({
                hideEmpty: true,
                url: '#currencyDropdown',
                placement: 'bottom-left',
                style: 'registrationCurrencyDropdown',
                type: 'html',
                width: '85',
                trigger: 'click',
                multi: false,
                dismissible: true,
                animation: 'pop'
            });

            $('.btn-basket').webuiPopover({
                hideEmpty: true,
                url: '#basketDropdown',
                placement: 'bottom-left',
                style: 'registrationBasketDropdown',
                type: 'html',
                width: '170',
                trigger: 'click',
                multi: false,
                dismissible: true,
                animation: 'pop'
            });
        });
    </script>
}


