﻿@model ManagerCommentButtonViewModel


@if (Model.IsActive)
{
    <button type="button" topic-val="@Model.HasComments.ToString().ToLower()" class="btn btn-circle comments-btn tooltipster" @Html.TooltipAttritutes("Manager Comment")>
        <span class="glyphicon span"></span>
    </button>
}
else if (Model.HasComments)
{
    <button type="button" topic-val="@Model.HasComments.ToString().ToLower()" class="btn btn-circle comments-btn">
        <span class="glyphicon span"></span>
    </button>
}
else
{
    <button type="button" topic-val="@Model.HasComments.ToString().ToLower()" class="btn btn-circle comment-inactive-btn" disabled>
        <span class="glyphicon span"></span>
    </button>
}
