﻿@model ManagerCommentsViewModel

@{
    var currentAction = ViewContext.RouteData.Values["action"].ToString();
    var currentController = ViewContext.RouteData.Values["controller"].ToString();
}

<div Id="managerCommentsDetailsDialog" tabindex="-1" role="dialog" aria-labelledby="labelTags" aria-hidden="true" data-keyboard="false" data-backdrop="static" class="modal fade manager-comments-dialog ">


  @using (Html.BeginForm(currentAction, currentController, FormMethod.Post, new { role = "form" }))
  {
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)

  <div class="modal-dialog">
    <div class="theme">
      <div class="modal-content">
        <div class="modal-header">
          <div class="row vertical-center">
            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <div Id="modalTitle" class="modal-title">Manager Comments</div>
            </div>
            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
              <button type="submit" class="btn btn-save">Save</button>
              <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
              <div class="field-container">
                @*<span class="title-select">@Html.LabelFor(model => model.Notes)</span>*@
                @Html.TextAreaFor(model => model.Notes, new { @class = "textarea simple-textarea", @rows = "4", @maxlength = "300", @placeholder = "Enter Text (max. 300 characters)" })
                @Html.ValidationMessageFor(model => model.Notes)
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  }
</div>
