﻿@model IndodrillReport.BLL.ViewModels.PdfReportViewModel

@{
    Layout = "~/Views/Shared/Layouts/Base/PrintLayout.cshtml";
}

<link href="~/Content/styles/indodrill-reports.css" rel="stylesheet" />

<div class="report-print-block">
    <div class="report-preview-template">
        <div class="row no-margin">
            <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding">
                @Html.Partial("~/Views/IndodrillReport/PdfReport/_AboutCompany.cshtml", Model.CompanyInfo)
            </div>
            <div class="col col-lg-8 col-md-8 col-sm-8 col-xs-8 no-padding">
                @Html.Partial("~/Views/IndodrillReport/PdfReport/_ReportFields.cshtml", Model.ReportFields)
            </div>
        </div>

        <div class="row no-margin">
            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                @Html.Partial("~/Views/IndodrillReport/PdfReport/Tables/ActivityTable/_ActivityTable.cshtml", Model.Activities)
            </div>
        </div>

        <div class="row no-margin">
            <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding">
                <div class="row no-margin">
                    @Html.Partial("~/Views/IndodrillReport/PdfReport/Tables/MaterialsTable/_MaterialsTable.cshtml", Model.UsedMaterials)
                </div>
                <div class="row no-margin">
                    @Html.Partial("~/Views/IndodrillReport/PdfReport/Tables/LeftInHoleTable/_LeftInHoleTable.cshtml", Model.LeftMaterials)
                </div>
            </div>
            <div class="col col-lg-5 col-md-5 col-sm-5 col-xs-5 no-padding">
                @Html.Partial("~/Views/IndodrillReport/PdfReport/Tables/BitsTable/_BitsTable.cshtml", Model.Bits)
            </div>
            <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding">
                @Html.Partial("~/Views/IndodrillReport/PdfReport/Tables/SummaryTable/_SummaryTable.cshtml", Model.Summary)
            </div>
        </div>

        <div class="row no-margin">
            <div class="col col-lg-5 col-md-5 col-sm-5 col-xs-5 no-padding">
                @Html.Partial("~/Views/IndodrillReport/PdfReport/Tables/_ApprovalsTable.cshtml", Model.Approvals)
            </div>
            <div class="col col-lg-7 col-md-7 col-sm-7 col-xs-7 no-padding">
                @Html.Partial("~/Views/IndodrillReport/PdfReport/Tables/_CommentTable.cshtml", Model.ReportFields)
            </div>
        </div>
    </div>
</div>