﻿@model IndodrillReport.BLL.ViewModels.PdfReportViewModel

<div Id="indodrillReportPreview" tabindex="-1" role="dialog" aria-labelledby="labelTags" aria-hidden="true" data-keyboard="false" data-backdrop="static" class="modal fade report-preview-dialog">
    <div class="modal-dialog">
        <div class="black-theme">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row vertical-center">
                        <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div Id="modalTitle" class="modal-title">Report Preview</div>
                        </div>
                        <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                            <button type="submit" data-id="@Model.ReportFields.ReportId" class="btn btn-save">Print</button>
                            <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="report-preview-template">
                        <div id="indodrillReport" report-id="@Model.ReportFields.ReportId.ToString()" class="drilling-report-page">
                            <div class="row no-margin">
                                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding">
                                    @Html.Partial("~/Views/IndodrillReport/PdfReport/_AboutCompany.cshtml", Model.CompanyInfo)
                                </div>
                                <div class="col col-lg-8 col-md-8 col-sm-8 col-xs-8 no-padding">
                                    @Html.Partial("~/Views/IndodrillReport/PdfReport/_ReportFields.cshtml", Model.ReportFields)
                                </div>
                            </div>

                            <div class="row no-margin">
                                <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                    @Html.Partial("~/Views/IndodrillReport/PdfReport/Tables/ActivityTable/_ActivityTable.cshtml", Model.Activities)
                                </div>
                            </div>

                            <div class="row no-margin">
                                <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding">
                                    <div class="row no-margin">
                                        @Html.Partial("~/Views/IndodrillReport/PdfReport/Tables/MaterialsTable/_MaterialsTable.cshtml", Model.UsedMaterials)
                                    </div>
                                    <div class="row no-margin">
                                        @Html.Partial("~/Views/IndodrillReport/PdfReport/Tables/LeftInHoleTable/_LeftInHoleTable.cshtml", Model.LeftMaterials)
                                    </div>
                                </div>
                                <div class="col col-lg-5 col-md-5 col-sm-5 col-xs-5 no-padding">
                                    @Html.Partial("~/Views/IndodrillReport/PdfReport/Tables/BitsTable/_BitsTable.cshtml", Model.Bits)
                                </div>
                                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding">
                                    @Html.Partial("~/Views/IndodrillReport/PdfReport/Tables/SummaryTable/_SummaryTable.cshtml", Model.Summary)
                                </div>
                            </div>

                            <div class="row no-margin">
                                <div class="col col-lg-5 col-md-5 col-sm-5 col-xs-5 no-padding">
                                    @Html.Partial("~/Views/IndodrillReport/PdfReport/Tables/_ApprovalsTable.cshtml", Model.Approvals)
                                </div>
                                <div class="col col-lg-7 col-md-7 col-sm-7 col-xs-7 no-padding">
                                    @Html.Partial("~/Views/IndodrillReport/PdfReport/Tables/_CommentTable.cshtml", Model.ReportFields)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".btn-save").click(function () {
            var pdfUrl = '/PdfReport/ReportPrint/?reportId=' + $(this).attr("data-id");

            window.open(pdfUrl, '_blank');
        });
    });
</script>