﻿@model IndodrillReport.BLL.ViewModels.PdfReportFieldsViewModel

<div id="reportFields" class="report-fields">
    <div class="row">
        <div class="col-lg-9 text-center">
            <div class="report-name">DAILY DRILLING REPORT</div>
        </div>
        <div class="col-lg-3 text-right">
            @if (!string.IsNullOrEmpty(Model.ReportNumber))
            {
                <div class="report-number">No. @Model.ReportNumber</div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="row no-margin">
                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-top-35">
                    <div class="client-block field-container">
                        @Html.LabelFor(m => m.ClientName, new { @class = "title-select" })
                        @Html.TextBoxFor(m => m.ClientName, new { placeholder = "Select Client", @class = "simple-input" })
                    </div>
                </div>
                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-top-35">
                    <div class="location-block field-container">
                        @Html.LabelFor(m => m.LocationName, new { @class = "title-select" })
                        @Html.TextBoxFor(m => m.LocationName, new { placeholder = "Select Location", @class = "simple-input" })
                    </div>
                </div>
                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-top-35">
                    <div class="week-date-ds-block field-container">
                        @Html.LabelFor(m => m.WeekToDateDS, new { @class = "title-select" })
                        @Html.TextBoxFor(m => m.WeekToDateDS, new { placeholder = "Enter value", @class = "simple-input", type = "text" })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="row no-margin">
                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-top-10">
                    <div class="date-block field-container">
                        @Html.LabelFor(m => m.Date, new { @class = "title-select" })
                        @Html.TextBox("Date", Model.Date.CalendarFormatWidthYear(), new { placeholder = "Select Date", @class = "simple-input" })
                    </div>
                </div>
                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-top-10">
                    <div class="shift-block field-container">
                        @Html.LabelFor(m => m.Shift, new { @class = "title-select" })
                        @Html.TextBoxFor(m => m.Shift, new { placeholder = "Select Shift", @class = "simple-input" })
                    </div>
                </div>
                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-top-10">
                    <div class="week-date-ns-block field-container">
                        @Html.LabelFor(m => m.WeekToDateNS, new { @class = "title-select" })
                        @Html.TextBoxFor(m => m.WeekToDateNS, new { placeholder = "Enter value", @class = "simple-input", type = "text" })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="row no-margin">
                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-top-10">
                    <div class="driller-block field-container">
                        @Html.LabelFor(m => m.DrillerName, new { @class = "title-select" })
                        @Html.TextBoxFor(m => m.DrillerName, new { placeholder = "Select Driller", @class = "simple-input" })
                    </div>
                </div>
                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-top-10">
                    <div class="drill-rig-block field-container">
                        @Html.LabelFor(m => m.DrillRigName, new { @class = "title-select" })
                        @Html.TextBoxFor(m => m.DrillRigName, new { placeholder = "Enter Drill Rig", @class = "simple-input" })
                    </div>
                </div>
                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-top-10">
                    <div class="week-date-combines-block field-container">
                        @Html.LabelFor(m => m.WeekToDateCombined, new { @class = "title-select" })
                        @Html.TextBoxFor(m => m.WeekToDateCombined, new { placeholder = "Enter value", @class = "simple-input", type = "text" })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="row no-margin">
                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-top-10">
                    <div class="hole-id-block field-container">
                        @Html.LabelFor(m => m.Hole_I_D, new { @class = "title-select" })
                        @Html.TextBoxFor(m => m.Hole_I_D, new { placeholder = "Enter Hole I.D", @class = "simple-input", type = "text", maxlength = "30" })
                    </div>
                </div>
                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-top-10">
                    <div class="angle-block field-container">
                        @Html.LabelFor(m => m.Angle, new { @class = "title-select" })
                        @Html.TextBoxFor(m => m.Angle, new { placeholder = "Enter value", @class = "simple-input", type = "text", maxlength = "30" })
                    </div>
                </div>
                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-top-10">
                    <div class="driller-assistant-block field-container">
                        @Html.LabelFor(m => m.DrillersAssistant, new { @class = "title-select" })
                        @Html.TextBoxFor(m => m.DrillersAssistant, new { placeholder = "Enter name", @class = "simple-input", type = "text", maxlength = "30" })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="row no-margin">
                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-top-10">
                    <div class="last-bit-change-block field-container">
                        @Html.LabelFor(m => m.LastBitChange, new { @class = "title-select" })
                        @Html.TextBoxFor(m => m.LastBitChange, new { placeholder = "Enter value", @class = "simple-input", type = "text", maxlength = "6" })
                    </div>
                </div>
                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-top-10">
                    <div class="bit-mtd-block field-container">
                        @Html.LabelFor(m => m.BitMTD, new { @class = "title-select" })
                        @Html.TextBoxFor(m => m.BitMTD, new { placeholder = "Enter name", @class = "simple-input", type = "text", maxlength = "6" })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="row no-margin">
                <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-10">
                    <div class="tags-input-container helpers-block">
                        @Html.LabelFor(m => m.Helpers, new { @class = "title-select" })
                        <div class="helpers-tag">
                            @foreach (var helperPersona in Model.Helpers)
                            {
                                <div class="helper-fill">
                                    @helperPersona
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
