﻿@model ProjectPanelViewModel

<div Id="projectsPanel" class="panel panel-primary projects-panel">
    <div class="panel-heading clearfix">
        <div class="pull-left">
            <span class="panel-title" style="left:15px!important">Projects</span>
        </div>
        <div class="pull-right">
            <button type="button" class="filter-btn btn-circle btn btn-link" disabled>
                <span class="glyphicon span"></span>
            </button>
            @if (Model.CanCreateProject)
            {
                <button type="button" class="plus-btn btn-circle btn btn-link project-create-btn">
                    <span class="glyphicon span"></span>
                </button>
            }
        </div>
    </div>
    <div class="panel-body" style="display: none;">
        @if (Model.Projects.Any())
        {
            <div class="swiper-container projects-swiper">
                <div class="swiper-wrapper">
                    @foreach (var project in Model.Projects)
                    {
                        <div class="swiper-slide" projectId="@project.Id">
                            @Html.Partial("~/Views/ProjectAdmin/ProjectsPanel/_ProjectSlide.cshtml", project)
                        </div>
                    }
                </div>
            </div>
            <div class="projects-swiper-prev"></div>
            <div class="projects-swiper-next"></div>
        }
        else
        {
            <div class="empty-project-panel-label">
                No Projects
            </div>
        }
    </div>
</div>