﻿@model ProjectTopicGroupViewModel

@{
    var currentAction = ViewContext.RouteData.Values["action"].ToString();
    var currentController = ViewContext.RouteData.Values["controller"].ToString();
    string title = string.Empty;
    if (currentAction == "CreateTopicGroupDialog")
    {
        title = "Create Project Relation";
    }
    if (currentAction == "EditTopicGroupDialog")
    {
        title = "Edit Project Relation";
    }
}

<div Id="topicGroupFormDialog" tabindex="-1" role="dialog" aria-labelledby="labelTags" aria-hidden="true" data-keyboard="false" data-backdrop="static" class="modal fade rTopic-group-dialog">
    @using (Html.BeginForm(currentAction, currentController, FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ModuleId)
        @Html.HiddenFor(model => model.Name)
        @Html.HiddenFor(model => model.Enabled)

        <div class="modal-dialog  modal-sm">
            <div class="theme">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row vertical-center">
                            <div class="col col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div Id="modalTitle" class="modal-title">@title</div>
                            </div>
                            <div class="col col-lg-4 col-md-4 col-sm-6 col-xs-4 text-right">
                                <button type="submit" class="btn btn-save">Save</button>
                                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="select-type">
                                    <span class="title-select">@Html.LabelFor(m => m.SelectedProject)</span>
                                    @Html.DropDownListFor(m => m.SelectedProject, Model.Projects, "Select Project", new { @class = "select-list" })
                                    @Html.ValidationMessageFor(m => m.SelectedProject)
                                </div>
                            </div>
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                                <div class="field-container">
                                    <span class="title-select">@Html.LabelFor(model => model.Description)</span>
                                    @Html.TextAreaFor(model => model.Description, new { @class = "textarea simple-textarea textarea-stretch", @rows = "3", @maxlength = "500", @placeholder = "Enter Text (500 characters)" })
                                    @Html.ValidationMessageFor(model => model.Description)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
