﻿.safety-message-v2-dialog {
    .page-content {
        .modal-dialog {
            width: 600px;
            height: 300px;

            .modal-header {
                .left-block {
                    width: 300px !important;
                    height: 40px;
                    background-color: @warning-color;
                    border-radius: 5px 0 0 0 !important;

                    .arrow-forward-btn {
                        margin-left: 20px;
                        margin-top: 20px;
                        transform: rotate(180deg);
                        width: 13px;
                        height: 10px;
                        background-repeat: no-repeat;
                        background: none;
                        border: none;
                        background-image: data-uri("@{main-url-img}/arrow_forward.svg");
                        cursor: pointer;

                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }

                .right-block {
                    width: 300px !important;
                    text-align: right;

                    .btn-close {
                        margin-right: 20px;
                        margin-top: 23px;
                    }
                }
            }

            .modal-body {
                padding: 0px !important;

                .yellow-block {
                    background-color: @warning-color;
                }

                .left-block {
                    border-radius: 0 0 0 5px;
                    padding-bottom: 35px !important;

                    .message-icon {
                        width: 160px;
                        height: 160px;
                        display: block;
                        margin: 0 auto;
                        margin-bottom: 25px;
                    }

                    .title {
                        text-align: center;
                        color: #fff;
                        font-weight: bold;
                    }
                }

                .right-block {
                    width: 50%;
                    position: relative;
                    padding-bottom: 36px;

                    .btn-close {
                        position: absolute;
                        top: 15px;
                        right: 15px;
                    }

                    .title {
                        margin-bottom: 15px;
                        font-size: 13px;
                        letter-spacing: 0.04em;
                        color: #fff;
                        padding-top: 5px;
                        font-weight: bold;
                        padding-left: 5px;
                    }

                    .message {
                        font-size: 13px;
                        letter-spacing: 0.02em;
                        line-height: 27px;
                        word-break: break-word;
                        padding-left: 5px;
                    }
                }
            }
        }
    }
}
