.panel {
    .myProjectsSwiper {
        width: 100%;
        height: 210px;
        border-radius: 0 0 7px 7px;

        .swiper-wrapper {
            .swiper-slide {
                .user-card {
                    .main-block {
                        width: 100%;
                        height: 180px;
                        display: flex;

                        .project-img {
                            min-width: 120px;
                            min-height: 120px;
                            border: 4px solid @main-blue;
                            border-radius: 6px;
                            background-position-x: 5px;
                            overflow: hidden;
                            margin: 30px 20px 30px 30px;

                            .no-image {
                                width: 80px;
                                height: 80px;
                                background-color: @main-brown;
                                margin: 16px 0 0 16px;
                                border-radius: 50%;
                            }

                            .project-img {
                                min-width: 100%;
                                height: 100%;
                            }
                        }

                        .project-data {
                            margin: 30px 0 0 0;

                            .data-item {
                                position: relative;
                                margin: 0 10px 20px 25px;

                                span {
                                    font-size: 13px;
                                    display: block;
                                    color: @main-brown;
                                    line-height: 1.6em;
                                }

                                .title {
                                    font-size: 14px;
                                    font-weight: bold;
                                    letter-spacing: -0.02em;
                                }

                                &:before {
                                    position: absolute;
                                    content: "";
                                    top: 0;
                                    left: -25px;
                                    width: 20px;
                                    height: 20px;
                                    background-color: @main-brown;
                                    border-radius: 50%;
                                }
                            }

                            .big-circle {
                                &:before {
                                    top: -4px;
                                    left: -30px;
                                    width: 25px;
                                    height: 25px;
                                }
                            }
                        }
                    }

                    .bottom-block {
                        width: 100%;
                        height: 30px;
                        background-color: @main-brown;
                        border-radius: 0 0 4px 4px;
                    }
                }
            }
        }

        .myProjectsSwiper-actions {
            position: absolute;
            bottom: 8px;
            right: 8px;
            z-index: 1;
            display: flex;

            .myProjectsSwiper-pagination {
                color: #fff;
                font-size: 9px;
                text-align: center;
            }

            .myProjectsSwiper-next {
                width: 5px;
                height: 8px;
                background-image: data-uri("@{main-url-img}/arrow_white_left.svg");
                cursor: pointer;
                margin: 0 5px;
                margin-top: 2px;
            }

            .myProjectsSwiper-prev {
                width: 5px;
                height: 8px;
                background-image: data-uri("@{main-url-img}/arrow_white_right.svg");
                cursor: pointer;
                margin: 0 5px;
                margin-top: 2px;
            }

            .swiper-button-disabled {
                opacity: 0.4;
                cursor: default;
            }
        }
    }
}
