.myTeamWidget {
    width: 100%;
    height: 210px;
    border-radius: 0 0 3px 3px;

    .widget-wrapper {
        .widget-item {
            .user-card {
                .main-block {
                    width: 100%;
                    height: 180px;
                    display: flex;

                    @media screen and (width: 320px) {
                        .user-photo {
                            min-width: 80px !important;
                            min-height: 80px !important;
                            max-width: 80px !important;
                            max-height: 80px !important;
                            border: 4px solid @main-blue !important;
                            border-radius: 50% !important;
                            background-position-x: 5px !important;
                            overflow: hidden !important;
                            margin: 30px 20px 30px 30px !important;

                            .user-photo-img {
                                height: 80px !important;
                                width: 80px !important;
                            }
                        }

                        .user-data {
                            .big-circle {
                                &:before {
                                    top: 0px!important;
                                    left: -25px!important;
                                    width: 20px!important;
                                    height: 20px!important;
                                }
                            }

                            .data-item {
                                margin: 0 15px 10px 25px !important;

                                span {
                                    font-size: 10px !important;
                                }
                            }
                        }
                    }

                    .user-photo {
                        min-width: 120px;
                        min-height: 120px;
                        max-width: 120px;
                        max-height: 120px;
                        border: 4px solid @main-blue;
                        border-radius: 50%;
                        background-position-x: 5px;
                        overflow: hidden;
                        margin: 30px 20px 30px 30px;

                        .user-photo-img {
                            min-width: 100%;
                            height: 100%;
                        }
                    }

                    .user-data {
                        margin: 30px 0 0 0;

                        .data-item {
                            position: relative;
                            display: inline-table;
                            margin: 0 10px 20px 25px;

                            span {
                                font-size: 13px;
                                display: block;
                                color: @main-brown;
                                line-height: 1.6em;
                            }

                            .title {
                                font-size: 14px;
                                font-weight: bold;
                                letter-spacing: -0.02em;
                            }

                            &:before {
                                position: absolute;
                                content: "";
                                top: 0;
                                left: -25px;
                                width: 20px;
                                height: 20px;
                                background-color: @main-brown;
                                border-radius: 50%;
                            }
                        }

                        .big-circle {
                            &:before {
                                top: -4px;
                                left: -30px;
                                width: 25px;
                                height: 25px;
                            }
                        }
                    }
                }

                .bottom-block {
                    width: 100%;
                    height: 30px;
                    background-color: @main-brown;
                    border-radius: 0 0 4px 4px;

                    .actions-block {
                        margin-top: 0px;
                        display: flex;
                    }
                }
            }
        }
    }

    .myTeamWigdet-actions {
        position: absolute;
        bottom: 8px;
        right: 8px;
        z-index: 1;
        display: flex;

        .myTeamWigdet-pagination {
            color: #fff;
            font-size: 9px;
            text-align: center;
        }

        .myTeamWigdet-next {
            width: 10px;
            height: 8px;
            background-image: data-uri("@{main-url-img}/arrow_white_left.svg");
            background-repeat: no-repeat;
            cursor: pointer;
            margin: 0 5px;
            margin-top: 2px;
        }

        .myTeamWigdet-prev {
            width: 10px;
            height: 8px;
            background-image: data-uri("@{main-url-img}/arrow_white_right.svg");
            background-repeat: no-repeat;
            cursor: pointer;
            margin: 0 5px;
            margin-top: 2px;
            position: absolute;
            top: 0px;
            right: 32px;
        }

        .button-disabled {
            opacity: 0.4;
            cursor: default;
        }
    }
}
