.timeline {

    .edit-rotation-btn {
        .span {
            &:before {
                background-image: data-uri("@{main-url-img}/daily-notes-edit-rotation.svg");
            }
        }
    }

    .panel-heading {
        min-height: 40px;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
    }

    .panel-body {
        padding: 0px 44px 0px 44px;

        .swiper-slide {
            display: flex;
            position: relative;
            height: 100px;

            .month-name {
                position: absolute;
                color: #464646;
                font-size: 12px;
                font-weight: bold;
                top: 7px;
                left: 9px;
                width: 80px;
            }

            .month-line {
                height: 10px;
                width: 4px;
                position: absolute;
                background-color: #464646;
                border-radius: 2px;
                top: 10px;
            }

            .month-container {
                display: flex;

                .day-container {
                    display: inline-block;
                    margin-top: 24px;
                    height: 60px;
                    background-color: #464646;

                    &:first-child {
                        &.on-indent-left {
                            margin-left: -2px;
                        }
                    }

                    &:first-child {
                        &.off-indent-left {
                            margin-left: 6px;
                        }
                    }

                    &:last-child {
                        &.on-indent-right {
                            margin-right: -2px;
                        }
                    }

                    &:last-child {
                        &.off-indent-right {
                            margin-right: 6px;
                        }
                    }

                    .days-content {
                        display: flex;
                    }

                    &.indent-left {
                        margin-left: 2px;
                        border-bottom-left-radius: 2px;
                        border-top-left-radius: 2px;

                        .day {
                            &:first-child {
                                margin-left: 0px;

                                .day-line {
                                    border-bottom-left-radius: 2px;
                                    border-top-left-radius: 2px;
                                }
                            }
                        }
                    }

                    &.indent-right {
                        margin-right: 2px;
                        border-bottom-right-radius: 2px;
                        border-top-right-radius: 2px;

                        .day {
                            &:last-child {
                                margin-right: 0px;

                                .day-line {
                                    border-top-right-radius: 2px;
                                    border-bottom-right-radius: 2px;
                                }
                            }
                        }
                    }

                    &.on-indent-right {
                        margin-right: 0px;
                        border-bottom-right-radius: 2px;
                        border-top-right-radius: 2px;

                        .day {
                            &:last-child {
                                margin-right: 4px;

                                .day-line {
                                    border-top-right-radius: 2px;
                                    border-bottom-right-radius: 2px;
                                }
                            }
                        }
                    }

                    &.on-indent-left {
                        margin-left: 0px;
                        border-bottom-left-radius: 2px;
                        border-top-left-radius: 2px;

                        .day {
                            &:first-child {
                                margin-left: 4px;

                                .day-line {
                                    border-bottom-left-radius: 2px;
                                    border-top-left-radius: 2px;
                                }
                            }
                        }
                    }

                    &.off-indent-right {
                        margin-right: 4px;
                        border-bottom-right-radius: 2px;
                        border-top-right-radius: 2px;

                        .day {
                            &:last-child {
                                margin-right: -4px;

                                .day-line {
                                    border-top-right-radius: 2px;
                                    border-bottom-right-radius: 2px;
                                }
                            }
                        }
                    }

                    &.off-indent-left {
                        margin-left: 4px;
                        border-bottom-left-radius: 2px;
                        border-top-left-radius: 2px;

                        .day {
                            &:first-child {
                                margin-left: -4px;

                                .day-line {
                                    border-bottom-left-radius: 2px;
                                    border-top-left-radius: 2px;
                                }
                            }
                        }
                    }

                    .day {
                        font-size: 12px;
                        font-weight: bold;
                        display: inline-block;
                        width: 20px;
                        height: 50px;
                        margin-top: 5px;
                        border-radius: 2px;
                        margin-left: 2px;
                        margin-right: 2px;
                        color: #fff;

                        &.today {
                            .day-number {
                                color: #F29105;
                            }

                            .day-line {
                                &:before {
                                    background-color: #F29105;
                                    content: "";
                                    width: 8px;
                                    height: 8px;
                                    position: absolute;
                                    border-radius: 50%;
                                    bottom: -2px;
                                }
                            }
                        }

                        .day-number {
                            position: absolute;
                            color: #fff;
                            font-size: 12px;
                            font-weight: bold;
                            width: 16px;
                            height: 16px;
                            top: 64px;
                            text-align: center;
                            margin-left: 2px;
                        }

                        .weekday {
                            position: absolute;
                            color: #fff;
                            font-size: 12px;
                            font-weight: bold;
                            text-align: center;
                            top: 33px;
                            width: 16px;
                            height: 16px;
                            margin-left: 2px;
                            text-transform: uppercase;
                        }

                        .day-line {
                            position: absolute;
                            display: inline-block;
                            width: 27px;
                            height: 5px;
                            bottom: 6px;

                            &.blue {
                                background-color: #00AFF0;
                            }

                            &.grey {
                                background-color: #B4B4B4;
                            }
                        }

                        &.blue {
                            background-color: #00AFF0;

                            &.today {
                                .day-number {
                                    color: #fff;
                                }
                            }
                        }

                        &.grey {
                            background-color: #B4B4B4;

                            &.today {
                                .day-number {
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }

        .swiper-next {
            position: absolute;
            width: 7px;
            height: 12px;
            background-image: data-uri("@{main-url-img}/arrow_right1.svg");
            right: 18px;
            top: 44px;
            cursor: pointer;
        }

        .swiper-prev {
            position: absolute;
            width: 7px;
            height: 12px;
            background-image: data-uri("@{main-url-img}/arrow_left1.svg");
            left: 18px;
            top: 44px;
            cursor: pointer;
        }
    }
}
