﻿.share-topic-dialog {
    .modal-dialog {
        width: 600px !important;
        height: 450px !important;

        .modal-content {
            width: 600px !important;
            height: 450px !important;

            .select-list {
                .bs-searchbox {

                    input {
                        background-color: #464646;
                        color: #fff;
                        height: 25px;
                        width: 260px;
                        border: none;
                        border-bottom: 1px solid #fff;
                        border-radius: 0;
                        box-shadow: none;
                        padding-left: 0px;
                        padding-right: 0px;
                    }
                }

                .dropdown-menu {
                    a {
                        padding-left: 10px;
                    }

                    .no-results {
                        background-color: #464646;
                        color: #fff;
                        height: 25px;
                        width: 260px;
                        padding-left: 2px;
                    }
                }
            }

            .share-topic-container {
                .title-container {
                    font-size: 10px;
                    font-weight: bold;
                    color: #fff;
                    display: table-row;

                    .title-email {
                        display: table-cell;
                        width: 250px;
                    }

                    .title-position {
                        display: table-cell;
                        width: 290px;
                    }
                }

                .share-recipient {
                    width: 100%;
                    border-bottom: 2px solid #787878;
                    border-top: 2px solid #787878;
                    height: 240px;

                    .swiper-recipient {
                        width: 96%;

                        .recipient-slide {
                            display: table-row;
                            color: #fff;
                            height: 40px;
                            border-bottom: 1px solid #787878;

                            .recipient-image {
                                display: table-cell;
                                vertical-align: middle;

                                img {
                                    border-radius: 50%;
                                    width: 30px;
                                    height: 30px;
                                    background-repeat: no-repeat;
                                }

                                &.at-icon {
                                    width: 30px;
                                    height: 30px;
                                    background-repeat: no-repeat;
                                    background-image: data-uri("@{main-url-img}/at_icon.svg");
                                    background-position-y: center;

                                    img {
                                        display: none;
                                    }
                                }
                            }

                            .recipient-email {
                                display: table-cell;
                                max-width: 220px;
                                vertical-align: middle;
                                /*cursor: pointer;*/
                                overflow: hidden;
                                word-wrap: normal;
                                min-width: 220px;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                padding: 0 10px;
                            }

                            .recipient-position {
                                display: table-cell;
                                max-width: 270px;
                                vertical-align: middle;
                                /*cursor: pointer;*/
                                overflow: hidden;
                                word-wrap: normal;
                                min-width: 270px;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                            }

                            .recipient-remove-action {
                                width: 20px;
                                display: table-cell;
                                vertical-align: middle;
                                color: #fff;
                                font-size: 30px;
                                padding: 0 !important;
                                cursor: pointer;
                                background: transparent !important;
                                border: 0 !important;
                                -webkit-appearance: none !important;
                            }
                        }

                        .empty-recipient {
                            padding-top: 10px;
                            /*cursor: pointer;*/
                        }
                    }
                }

                .recipient-swiper-prev {
                    position: absolute;
                    width: 8px;
                    height: 5px;
                    top: 30px;
                    right: 0px;
                    background-image: data-uri("@{main-url-img}/arrow_top.svg");
                    cursor: pointer;
                    z-index: 9999;

                    &:hover {
                        opacity: 0.75;
                    }
                }

                .recipient-swiper-next {
                    position: absolute;
                    width: 8px;
                    height: 5px;
                    bottom: 15px;
                    right: 0px;
                    background-image: data-uri("@{main-url-img}/arrow_down.svg");
                    cursor: pointer;
                    z-index: 9999;

                    &:hover {
                        opacity: 0.75;
                    }
                }

                .swiper-button-disabled {
                    opacity: 0.75;
                    cursor: default;
                }
            }
        }
    }
}
