﻿@model HistoryPanelViewModel

<div class="report-panel">
    <div class="history-container">
        @if (Model.Rotations != null && Model.Rotations.Any())
            {
                <div class="list-container">
                    <div class="history-title-container">
                        <span class="title-select simple-column">Date</span>
                        <span class="title-select simple-column">Handover to</span>
                        <span class="title-select contributors-column">Contributors</span>
                        <span class="title-select simple-column">N° of Items</span>
                        <span class="title-select simple-column">N° of Tasks</span>
                    </div>
                    <div class="history-content">
                        <div class="swiper-container history-swiper">
                            <div class="swiper-wrapper">
                                @foreach (var rotation in Model.Rotations)
                                {
                                        <div class="swiper-slide" style="cursor: pointer;" rotation-Id="@rotation.Id">
                                            <div class="simple-column">@rotation.Date</div>
                                            <div class="simple-column overflow">@rotation.HandoverTo</div>
                                            <div class="contributors-column overflow">@rotation.Contributors</div>
                                            <div class="simple-column">@rotation.DraftTopicCounter</div>
                                            <div class="simple-column">@rotation.DraftTaskCounter</div>
                                        </div>
                                }
                            </div>
                        </div>
                        <div class="history-swiper-prev"></div>
                        <div class="history-swiper-next"></div>
                    </div>
                </div>
            }
            else
            {
                <div class="text-center padding-top-20">No Previous rotations</div>
            }
    </div>
    @Html.Partial("~/Views/Rotation/RotationReportBuilder/_HistoryPanelSelectedRotation.cshtml", Model)
</div>
