﻿@model RotationReportPanelViewModel

<div Id="reportBuilderPanel" user-id="@Model.UserId" class="panel panel-primary">
    <div class="panel-heading clearfix">
        <div class="pull-left">
            @*<button type="button" class="help-btn btn-circle btn btn-link">
                    <span class="glyphicon span"></span>
                </button>*@
            <span class="panel-title" style="left:15px!important">My Handover</span>
        </div>
        <div class="pull-right">
            @*<button type="button" class="plus-btn btn-circle btn btn-link" disabled>
                <span class="glyphicon span"></span>
            </button>*@
            <button type="button" class="filter-btn btn-circle btn btn-link">
                <span class="glyphicon span"></span>
            </button>
            <button type="button" class="document-btn btn-circle btn btn-link tooltipster" @Html.TooltipAttritutes("Report Preview")>
                <span class='glyphicon span'></span>
            </button>
            @if (Model.IsQME)
            {
                <button type="button" class="qme-pdf-report btn-circle btn btn-link">
                    <span class='glyphicon span'></span>
                </button>
            }
        </div>
    </div>
    <div class="panel-body main-panel">
        <div class="navbar navbar-brown">
            <div class="row no-margin">
                <div class="col-xs-4 no-padding" style="text-align: left; vertical-align: middle;">
                    <div class="row no-margin">
                        <div class="no-padding" style="display: inline-block; float: left; position: relative;">
                            <div class="period-block">
                                <button type="button" class="btn btn-custom pull-left active period-btn"></button>
                            </div>
                        </div>
                        <div class="no-padding share-report-block"></div>
                        <div Id="fromToBlock" class="no-padding"></div>
                    </div>
                </div>
                <div class="col-xs-4 no-padding" Id="section-filter">
                    <ul class="nav nav-pills">
                        <li><a href="javascript:void(0)" class="draft-btn">Draft</a></li>
                        <li><a href="javascript:void(0)" class="received-btn">Received</a></li>
                        <li><a href="javascript:void(0)" class="history-btn">History</a></li>
                    </ul>
                </div>
                <div class="col-xs-4 no-padding">
                    <button type="button" class="btn btn-custom pull-right finalise-all-btn">Finalise All</button>
                    <button type="button" class="btn btn-custom pull-right expand-all-btn">Expand All</button>
                </div>
            </div>
        </div>
    </div>

    <div Id="reportBuilderData"></div>

    <script src="~/Content/js/relay/rotation/rotation-report-builder/rotation-report-filter.module.js"></script>
    @Scripts.Render("~/bundles/scripts/shared/rotation-report-builder")
</div>