﻿@model SafetyCalendarViewModel

@Html.Hidden("Date", Model.Date.ToISOString())
<table cellspacing="0">
    <thead>
        <tr>
            <td colspan="7" class="no-padding pagination-cell"> 
                <div class="calendar-controls">
                    <div class="calendar-previous"></div>
                    <div class="month">@Model.MonthYear</div>
                    <div class="calendar-next"></div>
                </div>
            </td>
        </tr>
        <tr>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Dates.Length; i += 7)
        {
            <tr>
                @for (int j = 0; j < 7; ++j)
                {
                    <td date="@Model.Dates[i+j].Date.ToISOString()"
                        class="@(Model.Date == Model.Dates[i + j].Date ? "blue" :
                        Model.Dates[i + j].Date.Month != Model.Date.Month ? "gray" :       
                        Model.Dates[i + j].MessagesNumber > 0 ? "orange" : "")">
                        @Model.Dates[i + j].DayNumber
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
