﻿@model SafetyCalendarViewModel

@Html.Hidden("CalendarDate", Model.Date.ToISOString())
<div class="massage" style="cursor: pointer;">Schedule Message</div>
<div class="clndr-controls">
    <div class="clndr-previous">&lt; &nbsp;</div>
    <div class="month">@Model.MonthYear</div>
    <div class="clndr-next">&nbsp; &gt;</div>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < 42; i += 7)
        {
            <tr>
                @for (int j = 0; j < 7; ++j)
                {
                    bool anotherMonth = Model.Dates[i + j].Date.Month != Model.Date.Month;
                    string viewClass = anotherMonth ? "view" : "";

                    <td date="@Model.Dates[i+j].Date.ToISOString()">
                        <p class="@viewClass">@Model.Dates[i + j].DayNumber</p>
                        @if (@Model.Dates[i + j].MessagesNumber == 0)
                        {
                            if (!anotherMonth)
                            {
                                <div class="plus"></div>
                            }
                        }
                        else
                        {
                            if (@Model.Dates[i + j].MessagesNumber == 1)
                            {
                                <img message-Id="@Model.Dates[i + j].MessageId" src="@Url.Action("GetImage", "Media", new { imageId = @Model.Dates[i + j].MessaageIconId, width=100, height=100 })" class="@viewClass">
                            }
                            else
                            {
                                <div class="many-messages @viewClass">@Model.Dates[i + j].MessagesNumber</div>
                            }

                            if (!anotherMonth)
                            {
                                <div class="plusHov"></div>
                            }
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>