﻿@model EditSafetyMessageViewModel

<div Id="editSafetyMessageDialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static" class="modal fade schedule-safety-msg-dialog">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.TeamsString)
        @Html.HiddenFor(m => m.AllTeamsString)


        <div class="modal-dialog ">
            <div class="theme">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row vertical-center">
                            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div Id="modalTitle" class="modal-title">Schedule Safety Message</div>
                            </div>
                            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                                <button type="submit" class="btn btn-save">Save</button>
                                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <div class="select-type">
                                            @Html.LabelFor(model => model.MajorHazard, new { @class = "title-select" })
                                            @Html.DropDownListFor(model => model.MajorHazard, Model.MajorHazards, "Select Major Hazard", new { @class = "select-list" })
                                            @Html.ValidationMessageFor(model => model.MajorHazard)
                                        </div>
                                        <div class="select-type margin-top-30">
                                            @Html.LabelFor(m => m.CriticalControl, new { @class = "title-select" })
                                            @Html.DropDownListFor(m => m.CriticalControl, Model.CriticalControls, "Select Critical Control", new { @class = "select-list" })
                                            @Html.ValidationMessageFor(m => m.CriticalControl)
                                        </div>
                                        <div class="margin-top-30">
                                            <div class="add-new-control">+ Quick add Critical Control</div>
                                        </div>
                                        <div class="tags-input-container tags-input margin-top-30">
                                            <span class="title-select">@Html.LabelFor(model => model.Teams, new { @class = "tags-input-title" })</span>
                                           
                                            <div Id="tags-input" class="ms-ctn form-control ms-ctn-focus"></div>
                                            @Html.ValidationMessageFor(model => model.Teams)
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="mini-calendar">
                                            @Html.Action("GetMinCalendar", Model.Date)
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Date)
                                    </div>
                                </div>
                            </div>
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="field-container margin-top-30">
                                    <span class="title-select">@Html.LabelFor(model => model.Message)</span>
                                    @Html.TextAreaFor(model => model.Message, new { @class = "textarea simple-textarea", @rows = "3", @maxlength = "250", @placeholder = "Enter Message (250 characters)" })
                                    @Html.ValidationMessageFor(model => model.Message)
                                </div>
                            </div> 
                        </div>
                    </div>

                </div>
            </div>
        </div>

    }
    @Scripts.Render("~/bundles/scripts/edit-safety-message-dialog-v1")
</div>