﻿@{
    Layout = "~/Views/Shared/Layouts/Main/Authorized_Layout.cshtml";
}

@model SchedulerViewModel

@{ 
    SelectListItem firstTeam = Model.Teams.First();
}

<div class="scheduler-container">
    <div class="container-calendar">
        @Html.Action("GetFullCalendar", new { teamId = firstTeam.Value })
    </div>
    <div class="container">
        @Html.HiddenFor(m => m.TeamsString)
        <div class="pagination-block">
            <div class="pagination-pages">
                <span class="page">@firstTeam.Text</span>
                <button class="first-page inactive"></button>
                <button class="prev-page inactive"></button>
                <button class="next-page"></button>
                <button class="last-page"></button>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/relay/safety/v1/scheduler-v1.module.js"></script>