﻿@model LoginViewModel

@{
    Layout = "~/Views/Shared/Layouts/Main/NotAuthorized_Layout.cshtml";
}

<div class="sign-in">
    <div class="panel panel-default sign-in-panel">
        <div class="panel-body">

            <div class="logo"></div>

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.RememberMe)

                <div class="form-group">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @type = "email", placeholder = "username" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
                <div class="blue-line">

                </div>

                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "password" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>

                <div class="form-group">
                    @Html.ValidationMessage("Message")
                </div>

                <div class="form-group">
                    <button type="submit" class="btn-send" onclick="$(this).addClass('disabled');">Login</button>
                </div>

                }

            @Html.Partial("_Alert")

        </div>
    </div>
</div>
<div class="sign-in-item">
    <div class="row">
        <div class="col col-md-6  text-center padding-top-10 padding-bottom-10">
            <span class="remember-me">remember me</span>
        </div>
        <div class="col col-md-6 col-sm-12 text-center padding-top-10 padding-bottom-10">

            <a href="@Url.Action("ForgottenPassword")" class="forgot-password">forgot password</a>
        </div>
    </div>
</div>
