@model PersonalDetailsViewModel

<div style="display: block;" class="tab-pane active" Id="profilePersonalDetails">
    @using (Html.BeginForm("PersonalDetailsTab", "Profile", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        <div class="row">
            <div class="col col-lg-2 col-sm-2 col-md-2 col-xs-2 text-center no-padding">
                <div class="row text-center">
                    <div class="col col-lg-12 col-sm-12 col-md-12 col-xs-12">

                        <div class="upload-photo" style="height: 100px;">
                            <div data-provides="fileinput" class="fileinput fileinput-new" style="padding-left: 30px;">
                                <div data-trigger="fileinput" class="fileinput-preview thumbnail">
                                    <img src="/Media/GetAvatarForEmployee?employeeId=@(Model.Id)&width=90&height=90&@(Guid.NewGuid())" 
                                         class="media-object img-circle assigned-to-large-photo avatar-image">
                                </div>
                                <div>
                                    <span class="btn btn-default btn-file">
                                        <input Id="profileImage" name="profileImage" type="file" accept="image/*" />
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-12 col-sm-12 col-md-12 col-xs-12 edit-photo">
                        <div style="cursor: pointer;width: 145px;" onclick="javascript: $('#profileImage').click()">
                            <span class="glyphicon glyphicon glyphicon-pencil edit-photo" aria-hidden="true"></span>
                            <span>edit photo</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-5 col-sm-5 col-md-5 col-xs-5 col-xs-offset-1">
                <div class="row margin-right-15">
                    <div class="col col-lg-12 col-sm-12 col-md-12 col-xs-12">
                        <div class="field-container">
                            @Html.LabelFor(model => model.Name, new { @class = "title-select" })
                            @Html.TextBoxFor(model => model.Name, new { @class = "simple-input", @placeholder = "Enter Name" })
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>
                    <div class="col col-lg-12 col-sm-12 col-md-12 col-xs-12 margin-top-20">
                        <div class="field-container">
                            @Html.LabelFor(model => model.Surname, new { @class = "title-select" })
                            @Html.TextBoxFor(model => model.Surname, new { @class = "simple-input", @placeholder = "Enter Surname" })
                            @Html.ValidationMessageFor(model => model.Surname)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-4 col-sm-4 col-md-4 col-xs-4">
                <div class="row" style="margin-left: -40px;">
                    <div class="col col-lg-12 col-sm-12 col-md-12 col-xs-12">
                        <div class="select-type">
                            @Html.LabelFor(model => model.Title, new { @class = "title-select" })
                            @Html.DropDownListFor(model => model.Title, Model.Titles, null, new { @class = "select-list" })
                            @Html.ValidationMessageFor(model => model.Title)
                        </div>
                    </div>
                    <div class="col col-lg-12 col-sm-12 col-md-12 col-xs-12 margin-top-20">
                        <div class="select-type" style="pointer-events: none;">
                            @Html.LabelFor(model => model.Position, new { @class = "title-select" })
                            @Html.TextBoxFor(model => model.Position, new { @class = "simple-input truncate", @readonly = "" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>