﻿@model IEnumerable<NotificationMessageItemViewModel>

@foreach (var notification in Model)
{
    <div class="popover-item row no-margin @(notification.IsOpened ? "" : "unread") @notification.TypeClass" notification-Id="@notification.Id" relation-Id="@notification.RelationId">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 no-padding">
            <div class="notification-image">
                <img src="@notification.UrlImage" />
            </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 no-padding">
            <div class="notification-message">@notification.Message</div>
            <div class="notification-timestapm" data-time="@notification.Timestapm.ToISOString(true)"></div>
        </div>
    </div>
}