﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en-gb">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon" />

    <title>Relay™ | @Html.MvcSiteMap().SiteMapTitle()</title>

    @RenderSection("head", required: false)
    @Scripts.Render("~/bundles/scripts/shared/jquery")
</head>

<body>
    @Html.Partial("_LoadingAnimation")
    @RenderBody()
    @Html.Partial("~/Views/Shared/Layouts/Base/_Footer.cshtml")
</body>

</html>