﻿.indodrill-reports-page-content {
    margin-top: 75px;

    .indodrill-reports-header {
        margin-bottom: 15px;

        a {
            color: #464646;
            text-decoration: none;
        }

        .create-report-btn {
            width: 100px;
            height: 30px;
            background-color: #FFF;
            text-align: center;
            font-size: 12px;
            font-weight: bold;
            padding-top: 7px;

            &:hover {
                opacity: 0.7;
            }
        }
    }
}
