﻿.complete-block {
    height: 35px;
    text-align: right;
    padding-top: 10px !important;
    background-color: #efefef;

    .white-block {
        background-color: #fff;
        height: 35px;

        .complete-btn {
            padding-top: 9px;
            padding-right: 30px;
            cursor: pointer;
            display: inline-block;
            cursor: pointer;
            text-decoration: none;
            color: #009982;
            font-size: 16px;
            font-weight: bold;
            font-family: "Trebuchet MS";


            &:hover {
                opacity: 0.7;
            }
        }

        .remove-btn {
            padding-top: 9px;
            padding-right: 30px;
            cursor: pointer;
            display: inline-block;
            cursor: pointer;
            text-decoration: none;
            color: #F29105;
            font-size: 16px;
            font-weight: bold;
            font-family: "Trebuchet MS";


            &:hover {
                opacity: 0.7;
            }
        }
    }
}
