﻿.drilling-report-page {
    background-color: #fff;
    padding: 50px 30px 40px 30px;

    @media (max-width: 1199px) {
        overflow-x: scroll;
    }

    @media (max-width: 750px) {
        .activity-table {
            margin-left: -15px !important;
        }

        .materials-table {
            padding-right: 0px !important;
            margin-left: -40px !important;

            .table-title {
                margin-left: 40px;
            }
        }

        .bits-table {
            margin-right: 0px !important;
            margin-left: -25px !important;

            .table-title {
                margin-left: 40px;
            }
        }

        .left-in-hole-table {
            padding-right: 0px !important;
            margin-left: -40px !important;

            .table-title {
                margin-left: 40px;
            }
        }

        .approvals-table {
            padding-right: 0px !important;
        }
    }

    @media (max-width: 450px) {
        .activity-table {
            margin-left: -15px !important;
        }

        .materials-table {
            padding-right: 0px !important;
            margin-left: -20px !important;

            .table-title {
                margin-left: 40px;
            }
        }

        .bits-table {
            margin-right: 0px !important;
            margin-left: -15px !important;

            .table-title {
                margin-left: 40px;
            }
        }

        .left-in-hole-table {
            padding-right: 0px !important;
            margin-left: -20px !important;

            .table-title {
                margin-left: 40px;
            }
        }

        .approvals-table {
            padding-right: 0px !important;
        }
    }

    .company-logo {
        width: 138px;
        height: 110px;
        border: solid 1px #95989A;

        .logo {
            width: 136px;
            height: 108px;
        }

        .no-logo {
            text-align: center;
            padding-top: 40px;
        }
    }

    .company-info {
        width: 235px;
        margin-top: 45px;

        .company-name {
            font-size: 18px;
            font-weight: bold;
            font-family: "Trebuchet MS";
        }

        .company-address, .company-phone, .company-email, .company-site {
            font-size: 14px;
            font-family: "Trebuchet MS";
        }
    }

    .report-fields {
        .tags-input-container {
            &.validation-error {
                .title-select {
                    color: #f29105 !important;
                }

                .ms-ctn {
                    border-bottom: 1px solid #f29105 !important;

                    ::-webkit-input-placeholder {
                        color: #f29105 !important;
                    }

                    ::-moz-placeholder {
                        color: #f29105 !important;
                    }

                    :-ms-input-placeholder {
                        color: #f29105 !important;
                    }

                    :-moz-placeholder {
                        color: #f29105 !important;
                    }
                }
            }
        }

        .field-container {
            &.validation-error {
                .simple-input {
                    color: #f29105 !important;
                    .placeholder(#f29105);
                }

                .bootstrap-select.btn-group .dropdown-toggle {
                    border-bottom: 1px solid #f29105 !important;
                }

                .select-list {
                    span {
                        color: #f29105 !important;
                    }
                }
            }
        }

        .datepicker {
            background-color: #fff;

            .day, .new, .datepicker-title, th, .month, .year, .decade, .century {
                color: #464646;
            }

            .disabled, .old {
                color: #c6c6c6;
            }
        }

        .report-name {
            font-size: 20px;
            font-weight: bold;
            font-family: "Trebuchet MS";
        }

        .title-select {
            color: #464646;
        }

        .report-number {
            font-size: 16px;
            font-weight: bold;
            font-family: "Trebuchet MS";
        }

        .simple-input {
            color: #464646;
            .placeholder(#464646);
        }

        .driller-block {
            margin-bottom: 3px;

            .select-list {
                button {
                    &:focus {
                        outline: none !important;
                    }
                }
            }

            .filter-option {
                font-weight: normal !important;
                color: #464646 !important;
                font-size: 14px !important;
            }
        }

        .client-block, .location-block, .week-date-ds-block, .date-block, .shift-block, .week-date-ns-block, .drill-rig-block, .week-date-combines-block, .hole-id-block, .angle-block, .driller-assistant-block, .last-bit-change-block, .bit-mtd-block, .helpers-block {
            .filter-option {
                font-weight: normal !important;
                color: #464646 !important;
                font-size: 14px !important;
            }
        }

        .select-type .bootstrap-select.btn-group {
            border: none;
        }

        .bootstrap-select.btn-group .dropdown-toggle {
            border-radius: 0px;
            border-bottom: 1px solid #464646;

            &:focus {
                outline: none !important;
            }

            .btn .dropdown-toggle {
                padding-bottom: 0px;
                margin-bottom: -5px;
                padding-top: 0px;
                padding-left: 0px;
            }

            .filter-option {
                font-size: 12px;
                font-weight: bold;
                color: #464646;
                height: 22px;
                padding-right: 15px;
                overflow: hidden;
                word-wrap: normal;
                max-width: 170px;
                min-width: initial;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .caret {
                right: 0px;
                margin-top: -9px;
            }
        }

        .select-class {
            padding-bottom: 0px;
            margin-bottom: -5px;
            padding-top: 0px;
            padding-left: 0px;
            background: none;

            &:focus, &:hover {
                background: none;
            }

            .bs-caret {
                .caret {
                    background-image: data-uri("@{main-url-img}/down_arrow_light.svg");
                }
            }
        }

        .open {
            .bs-caret {
                .caret {
                    background-image: data-uri("@{main-url-img}/up_arrow_light.svg");
                }
            }
        }

        .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
            width: 100% !important;
        }

        .dropdown-menu {

            &.open {
                border: 1.5px solid #464646;
                box-shadow: none !important;
                padding-top: 1px;
                padding-bottom: 1px;
                padding-right: 1px;
                background-color: #fff;

                ul {
                    background-color: #fff;

                    li .selected {
                        background-color: #00AFF0 !important;
                    }
                }
            }

            li {
                a {
                    color: #464646;

                    &:hover {
                        background-color: transparent;
                        opacity: 0.5;
                        color: #00aff0;
                    }

                    &:active {
                        background-color: transparent;
                    }

                    &:focus {
                        background: transparent;
                        color: #00aff0;
                    }
                }

                &.active {
                    a {
                        background-color: #fff;
                        color: #00aff0;
                    }
                }
            }

            &::-webkit-scrollbar {
                width: 1em;
            }

            &::-webkit-scrollbar-track {
                background-color: grey;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #454545;
                border: 3px solid transparent;
                border-radius: 9px;
                background-clip: content-box;
            }

            a {
                padding-left: 10px;
            }

            .no-results {
                background-color: #fff;
                color: #464646;
                height: 25px;
                width: 260px;
                padding-left: 2px;
            }
        }

        .bs-searchbox {

            input {
                background-color: #fff;
                color: #464646;
                height: 25px;
                width: 260px;
                border: none;
                border-bottom: 1px solid #464646;
                border-radius: 0;
                box-shadow: none;
                padding-left: 0px;
                padding-right: 0px;
            }
        }

        .tags-input-container {
            padding-left: 0px;
            padding-top: 0px;
            padding-bottom: 0px;

            .ms-helper {
                font-size: 10px;
                position: absolute;
                top: -19px;
                left: 35px;
                right: 0;
                color: orange;
            }


            .title-select {
                margin-bottom: 5px;
            }

            .form-control {
                padding: 0px;
            }

            .ms-ctn {
                padding-left: 0px;
            }

            .ms-ctn .ms-sel-ctn {
                margin-left: 0px;

                input {
                    .placeholder(#464646);
                }

                .ms-sel-item {
                    background-color: #00AFF0;
                    color: #ffffff;
                    font-size: 12px;
                    line-height: normal;
                    padding-left: 7px;
                    padding-right: 7px;
                    margin-right: 10px;
                    height: 16px;
                    margin-left: 0px;

                    .ms-close-btn {
                        width: 7px;
                        height: 7px;
                        background: none;
                        margin-top: 4px;
                        background-repeat: no-repeat;
                        border: none;
                        background-image: data-uri("@{main-url-img}/modal-close-white.svg");

                        &:hover {
                            opacity: 0.75;
                        }
                    }
                }
            }

            .ms-ctn .ms-sel-ctn input {
                font-size: 14px;
                font-weight: normal;
                min-width: 100px !important;
                color: #464646;
            }
        }
    }

    .activity-table {
        margin-top: 70px;
        margin-left: -20px;

        .table-title {
            font-size: 18px;
            font-weight: bold;
            font-family: "Trebuchet MS";
            text-align: center;
        }

        .table-body {
            thead {
                th {
                    border-bottom: solid 2px #464646 !important;
                    border-top: solid 2px #464646 !important;
                    border-left: solid 1px #464646 !important;
                    border-right: solid 1px #464646 !important;
                    text-align: center;
                    vertical-align: middle;
                    font-family: "Trebuchet MS";
                    font-size: 14px;
                    font-weight: normal;
                    height: 40px;
                    padding: 0px;
                    color: #464646;

                    &:first-child {
                        border-left: none !important;
                        border-top: none !important;
                        border-bottom: none !important;
                    }

                    &:nth-child(2) {
                        border-left: 2px solid #464646 !important;
                    }

                    &:last-child {
                        border-right: 2px solid #464646 !important;
                    }

                    &.btn-column {
                        width: 20px;
                    }

                    &.activity-title {
                        width: 80px;
                    }

                    &.cost-code-title {
                        width: 80px;
                    }

                    &.start-time-title {
                        width: 80px;
                    }

                    &.end-time-title {
                        width: 80px;
                    }

                    &.from-title {
                        width: 80px;
                    }

                    &.to-title {
                        width: 80px;
                    }

                    &.hours-title {
                        width: 80px;
                    }

                    &.cored-title {
                        width: 80px;
                    }

                    &.recovered-title {
                        width: 80px;
                    }

                    &.core-size-title {
                        width: 80px;
                    }

                    &.drilling-details-title {
                        width: 240px;
                    }
                }
            }

            tbody {
                tr {
                    &:last-child {
                        td {
                            border-bottom: solid 2px #464646 !important;

                            &:first-child {
                                border-bottom: none !important;
                            }
                        }
                    }
                }

                td {
                    border-bottom: solid 1px #464646 !important;
                    border-left: solid 1px #464646 !important;
                    border-right: solid 1px #464646 !important;
                    text-align: center;
                    vertical-align: middle;
                    font-family: "Trebuchet MS";
                    font-size: 12px;
                    font-weight: normal;
                    color: #464646;
                    height: 40px;
                    padding: 0px;

                    &:first-child {
                        border-left: none !important;
                        border-top: none !important;
                        border-bottom: none !important;
                    }

                    &:nth-child(2) {
                        border-left: 2px solid #464646 !important;
                    }

                    &:last-child {
                        border-right: 2px solid #464646 !important;
                    }

                    &.btn-column {
                        width: 20px;
                    }

                    &.activity-body {
                        .bootstrap-select.btn-group .dropdown-toggle {
                            border-bottom: none;
                            padding-left: 0px;
                            padding-right: 0px;

                            &:focus {
                                outline: none !important;
                            }
                        }

                        .select-class {
                            .bs-caret {
                                .caret {
                                    background-image: none;
                                }
                            }

                            .filter-option {
                                text-align: center;
                                padding-right: 0px !important;
                                min-width: 80px !important;
                                max-width: 80px !important;
                            }
                        }
                    }

                    &.cost-code-body {
                        .simple-input {
                            text-align: center;
                        }
                    }

                    &.start-time-body {
                        .simple-input {
                            text-align: center;
                        }
                    }

                    &.end-time-body {
                        .simple-input {
                            text-align: center;
                        }
                    }

                    &.from-body {
                        .simple-input {
                            text-align: center;
                        }
                    }

                    &.to-body {
                        .simple-input {
                            text-align: center;
                        }
                    }

                    &.hours-body {
                    }

                    &.cored-body {
                    }

                    &.recovered-body {
                        .simple-input {
                            text-align: center;
                        }
                    }

                    &.core-size-body {
                        .simple-input {
                            text-align: center;
                        }
                    }

                    &.drilling-details-body {
                        .simple-input {
                            padding-left: 10px;
                            padding-right: 10px;
                        }
                    }

                    &.start-time-body, &.end-time-body {
                        .bs-caret {
                            .caret {
                                background: none;
                            }
                        }

                        .select-list {
                            button {
                                &:focus {
                                    outline: none !important;
                                }
                            }
                        }

                        .bootstrap-select.btn-group .dropdown-toggle {
                            border-bottom: none;
                            padding-right: 0px;

                            .filter-option {
                                text-align: center;
                                padding-right: 0px;
                            }
                        }
                    }
                }
            }
        }
    }

    .materials-table {
        margin-top: 60px;
        padding-right: 40px;
        margin-left: -20px;

        .table-title {
            font-size: 18px;
            font-weight: bold;
            font-family: "Trebuchet MS";
            text-align: center;
        }

        .table-body {
            thead {
                th {
                    border-bottom: solid 2px #464646 !important;
                    border-top: solid 2px #464646 !important;
                    border-left: solid 1px #464646 !important;
                    border-right: solid 1px #464646 !important;
                    text-align: center;
                    vertical-align: middle;
                    font-family: "Trebuchet MS";
                    font-size: 14px;
                    font-weight: normal;
                    height: 40px;
                    padding: 0px;
                    color: #464646;

                    &:first-child {
                        border-left: none !important;
                        border-top: none !important;
                        border-bottom: none !important;
                    }

                    &:nth-child(2) {
                        border-left: 2px solid #464646 !important;
                    }

                    &:last-child {
                        border-right: 2px solid #464646 !important;
                    }

                    &.item-title {
                        width: 110px;
                    }

                    &.units-title {
                        width: 55px;
                    }

                    &.qty-title {
                        width: 55px;
                    }
                }
            }

            tbody {
                tr {
                    &:last-child {
                        td {
                            border-bottom: solid 2px #464646 !important;

                            &:first-child {
                                border-bottom: none !important;
                            }
                        }
                    }
                }

                td {
                    border-bottom: solid 1px #464646 !important;
                    border-left: solid 1px #464646 !important;
                    border-right: solid 1px #464646 !important;
                    text-align: center;
                    vertical-align: middle;
                    font-family: "Trebuchet MS";
                    font-size: 12px;
                    font-weight: normal;
                    color: #464646;
                    height: 40px;
                    padding: 0px;

                    &:first-child {
                        border-left: none !important;
                        border-top: none !important;
                        border-bottom: none !important;
                    }

                    &:nth-child(2) {
                        border-left: 2px solid #464646 !important;
                    }

                    &:last-child {
                        border-right: 2px solid #464646 !important;
                    }

                    &.item-body {
                        .simple-input {
                            text-align: center;
                        }
                    }

                    &.units-body {
                        .simple-input {
                            text-align: center;
                        }
                    }

                    &.qty-body {
                        .simple-input {
                            text-align: center;
                        }
                    }
                }
            }
        }

        .plus-tr {
            margin-left: 19px;
        }
    }

    .bits-table {
        margin-top: 60px;
        margin-right: 50px;
        margin-left: -20px;

        .table-title {
            font-size: 18px;
            font-weight: bold;
            font-family: "Trebuchet MS";
            text-align: center;
        }

        .table-body {
            thead {
                th {
                    border-bottom: solid 2px #464646 !important;
                    border-left: solid 1px #464646 !important;
                    border-top: solid 2px #464646 !important;
                    border-right: solid 1px #464646 !important;
                    text-align: center;
                    vertical-align: middle;
                    font-family: "Trebuchet MS";
                    font-size: 14px;
                    font-weight: normal;
                    height: 40px;
                    padding: 0px;
                    color: #464646;

                    &:first-child {
                        border-left: none !important;
                        border-top: none !important;
                        border-bottom: none !important;
                    }

                    &:nth-child(2) {
                        border-left: 2px solid #464646 !important;
                    }

                    &:last-child {
                        border-right: 2px solid #464646 !important;
                    }

                    &.type-title {
                        width: 55px;
                    }

                    &.size-title {
                        width: 65px;
                    }

                    &.serial-number-title {
                        width: 75px;
                    }

                    &.on-title {
                        width: 55px;
                    }

                    &.off-title {
                        width: 55px;
                    }

                    &.drilled-title {
                        width: 75px;
                    }
                }
            }

            tbody {
                tr {
                    &:last-child {
                        td {
                            border-bottom: solid 2px #464646 !important;

                            &:first-child {
                                border-bottom: none !important;
                            }
                        }
                    }
                }

                td {
                    border-bottom: solid 1px #464646 !important;
                    border-left: solid 1px #464646 !important;
                    border-right: solid 1px #464646 !important;
                    text-align: center;
                    vertical-align: middle;
                    font-family: "Trebuchet MS";
                    font-size: 12px;
                    font-weight: normal;
                    color: #464646;
                    height: 40px;
                    padding: 0px;

                    &:first-child {
                        border-left: none !important;
                        border-top: none !important;
                        border-bottom: none !important;
                    }

                    &:nth-child(2) {
                        border-left: 2px solid #464646 !important;
                    }

                    &:last-child {
                        border-right: 2px solid #464646 !important;
                    }

                    &.type-body {
                        .simple-input {
                            text-align: center;
                        }
                    }

                    &.size-body {
                        .simple-input {
                            text-align: center;
                        }
                    }

                    &.serial-number-body {
                        .simple-input {
                            text-align: center;
                        }
                    }

                    &.on-body {
                        .simple-input {
                            text-align: center;
                        }
                    }

                    &.off-body {
                        .simple-input {
                            text-align: center;
                        }
                    }

                    &.drilled-body {
                        .simple-input {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    .summary-table {
        margin-top: 60px;

        .table-title {
            font-size: 18px;
            font-weight: bold;
            font-family: "Trebuchet MS";
            text-align: center;
        }

        .table-body {
            border: solid 2px #464646;

            thead {
                th {
                    border-bottom: solid 2px #464646 !important;
                    border-left: solid 1px #464646 !important;
                    border-right: solid 1px #464646 !important;
                    text-align: center;
                    vertical-align: middle;
                    font-family: "Trebuchet MS";
                    font-size: 14px;
                    font-weight: normal;
                    height: 40px;
                    padding: 0px;
                    color: #464646;

                    &:first-child {
                        border-left: none !important;
                    }

                    &:last-child {
                        border-right: none !important;
                    }

                    &.activity-title {
                        width: 115px;
                    }

                    &.cost-code-title {
                        width: 88px;
                    }

                    &.hours-title {
                        width: 62px;
                    }

                    &.metres-title {
                        width: 65px;
                    }
                }
            }

            tbody {
                tr {
                    &:last-child {
                        td {
                            border-bottom: none;
                        }
                    }
                }

                td {
                    border-bottom: solid 1px #464646 !important;
                    border-left: solid 1px #464646 !important;
                    border-right: solid 1px #464646 !important;
                    text-align: center;
                    vertical-align: middle;
                    font-family: "Trebuchet MS";
                    font-size: 12px;
                    font-weight: normal;
                    color: #464646;
                    height: 40px;
                    padding: 0px;

                    &:first-child {
                        border-left: none !important;
                    }

                    &:last-child {
                        border-right: none !important;
                    }

                    &.activity-body {
                        width: 115px;
                        overflow: hidden;
                        word-wrap: break-word;
                        max-width: 115px;
                        max-width: 115px;
                    }
                }
            }
        }
    }

    .left-in-hole-table {
        margin-top: 60px;
        padding-right: 40px;
        margin-left: -20px;

        .table-title {
            font-size: 18px;
            font-weight: bold;
            font-family: "Trebuchet MS";
            text-align: center;
        }

        .table-body {
            thead {
                th {
                    border-bottom: solid 2px #464646 !important;
                    border-top: solid 2px #464646 !important;
                    border-left: solid 1px #464646 !important;
                    border-right: solid 1px #464646 !important;
                    text-align: center;
                    vertical-align: middle;
                    font-family: "Trebuchet MS";
                    font-size: 14px;
                    font-weight: normal;
                    height: 40px;
                    padding: 0px;
                    color: #464646;

                    &:first-child {
                        border-left: none !important;
                        border-top: none !important;
                        border-bottom: none !important;
                    }

                    &:nth-child(2) {
                        border-left: 2px solid #464646 !important;
                    }

                    &:last-child {
                        border-right: 2px solid #464646 !important;
                    }

                    &.item-title {
                        width: 110px;
                    }

                    &.units-title {
                        width: 55px;
                    }

                    &.qty-title {
                        width: 55px;
                    }
                }
            }

            tbody {
                tr {
                    &:last-child {
                        td {
                            border-bottom: solid 2px #464646 !important;

                            &:first-child {
                                border-bottom: none !important;
                            }
                        }
                    }
                }

                td {
                    border-bottom: solid 1px #464646 !important;
                    border-left: solid 1px #464646 !important;
                    border-right: solid 1px #464646 !important;
                    text-align: center;
                    vertical-align: middle;
                    font-family: "Trebuchet MS";
                    font-size: 12px;
                    font-weight: normal;
                    color: #464646;
                    height: 40px;
                    padding: 0px;

                    &:first-child {
                        border-left: none !important;
                        border-top: none !important;
                        border-bottom: none !important;
                    }

                    &:nth-child(2) {
                        border-left: 2px solid #464646 !important;
                    }

                    &:last-child {
                        border-right: 2px solid #464646 !important;
                    }

                    &.item-body {
                        .simple-input {
                            text-align: center;
                        }
                    }

                    &.units-body {
                        .simple-input {
                            text-align: center;
                        }
                    }

                    &.qty-body {
                        .simple-input {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    .approvals-table {
        margin-top: 60px;
        padding-right: 40px;

        .table-title {
            font-size: 18px;
            font-weight: bold;
            font-family: "Trebuchet MS";
            text-align: center;
        }

        .table-body {
            border: solid 2px #464646 !important;

            tbody {
                tr {
                    &:last-child {
                        td {
                            border-bottom: none !important;
                        }
                    }
                }

                td {
                    border-bottom: solid 1px #464646 !important;
                    border-left: solid 1px #464646 !important;
                    border-right: solid 1px #464646 !important;
                    text-align: center;
                    vertical-align: middle;
                    font-family: "Trebuchet MS";
                    font-size: 12px;
                    font-weight: normal;
                    color: #464646;
                    height: 40px;
                    padding: 0px;

                    &:first-child {
                        border-left: none !important;
                    }

                    &:last-child {
                        border-right: none !important;
                    }

                    &.position-body {
                        width: 160px;
                    }

                    &.check-body {
                        width: 40px;
                        min-width: 40px;
                        max-width: 40px;

                        [type="checkbox"]:not(:checked),
                        [type="checkbox"]:checked {
                            position: relative;
                            padding-left: 25px;
                            cursor: pointer;
                        }

                        [type="checkbox"]:not(:checked):before,
                        [type="checkbox"]:checked:before {
                            content: '';
                            position: absolute;
                            left: 0;
                            top: -2px;
                            width: 17px;
                            height: 17px;
                            border: 1px solid #464646;
                            background: #fff;
                            border-radius: 3px;
                            box-shadow: inset 0 1px 3px rgba(46,46,46,.3);
                        }

                        [type="checkbox"]:not(:checked):after,
                        [type="checkbox"]:checked:after {
                            content: "✔";
                            position: absolute;
                            top: -14px;
                            left: 1px;
                            font-size: 24px;
                            color: #00AFF0;
                            transition: all .2s;
                        }

                        [type="checkbox"]:not(:checked):after {
                            opacity: 0;
                            transform: scale(0);
                        }

                        [type="checkbox"]:checked:after {
                            opacity: 1;
                            transform: scale(1);
                        }

                        [type="checkbox"]:disabled:not(:checked):before,
                        [type="checkbox"]:disabled:checked:before {
                            box-shadow: none;
                            border-color: #bbb;
                            background-color: #ddd;
                        }

                        [type="checkbox"]:disabled:checked:after {
                            color: #999;
                        }

                        [type="checkbox"]:disabled {
                            color: #aaa;
                        }

                        label:hover:before {
                            border: 1px solid #4778d9 !important;
                        }
                    }


                    &.signature-body {
                        width: 160px;

                        .simple-input {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    .comments-table {
        margin-top: 60px;

        .table-title {
            font-size: 18px;
            font-weight: bold;
            font-family: "Trebuchet MS";
            text-align: center;
        }

        .table-body {
            border: solid 2px #464646 !important;

            tbody {
                tr {
                    &:last-child {
                        td {
                            border-bottom: none !important;
                        }
                    }
                }

                td {
                    border-bottom: solid 1px #464646 !important;
                    border-left: solid 1px #464646 !important;
                    border-right: solid 1px #464646 !important;
                    text-align: center;
                    vertical-align: middle;
                    font-family: "Trebuchet MS";
                    font-size: 12px;
                    font-weight: normal;
                    color: #464646;
                    height: 40px;
                    padding: 0px;

                    &:first-child {
                        border-left: none !important;
                    }

                    &:last-child {
                        border-right: none !important;
                    }

                    &.user-name {
                        width: 100px;
                    }

                    &.comment-body {
                        width: 535px;

                        .simple-input {
                            padding-left: 5px;
                            padding-right: 5px;
                        }

                        .textarea {
                            overflow-y: auto !important;
                        }

                        &::-webkit-scrollbar {
                            width: 1em;
                        }

                        &::-webkit-scrollbar-track {
                            background-color: grey;
                        }

                        &::-webkit-scrollbar-thumb {
                            background-color: #454545;
                            border: 3px solid transparent;
                            border-radius: 9px;
                            background-clip: content-box;
                        }
                    }
                }
            }
        }
    }

    .table-body {
        .table {
            margin-bottom: 0px;

            tr {
                .remove-icon {
                    display: none;
                    background-image: data-uri("@{main-url-img}/remove_icon.svg");
                    width: 16px;
                    height: 16px;
                    cursor: pointer;

                    &:hover {
                        display: block;
                    }
                }

                &:hover {
                    .remove-icon {
                        display: block;
                    }
                }

                &.validation-error {
                    td:first-child {
                        background-color: #fff;
                    }

                    background-color: #F9C882;
                }

                td {
                    &.validation-error {
                        background-color: #F9C882;
                    }
                }
            }

            tfoot {
                td {
                    &:first-child {
                        border-top: none !important;
                    }
                }

                .plus-tr {
                    height: 40px;
                    background-color: #EFEFEF;
                    padding-top: 7px;
                    margin-left: 19px;
                    border-bottom: 2px solid #464646 !important;
                    border-left: 2px solid #464646 !important;
                    border-right: 2px solid #464646 !important;

                    .btn-plus {
                        width: 25px;
                        height: 25px;
                        background: none;
                        border: none;

                        &:hover {
                            opacity: 0.75;
                        }

                        .span {
                            width: 100%;
                            height: 100%;
                            display: block;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-image: data-uri("@{main-url-img}/plus_icon_dark.svg");
                        }
                    }
                }
            }

            .btn-column {
                width: 20px;
                height: 20px;
            }

            .select-type .bootstrap-select.btn-group {
                border: none;
            }

            .bootstrap-select.btn-group .dropdown-toggle {
                border-radius: 0px;
                border-bottom: 1px solid #464646;

                .btn .dropdown-toggle {
                    padding-bottom: 0px;
                    margin-bottom: -5px;
                    padding-top: 0px;
                    padding-left: 0px;
                }

                .filter-option {
                    font-size: 12px;
                    font-weight: normal;
                    color: #464646;
                    height: 22px;
                    padding-right: 15px;
                    overflow: hidden;
                    word-wrap: normal;
                    max-width: 170px;
                    min-width: initial;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .caret {
                    right: 0px;
                    margin-top: -9px;
                }
            }

            .select-class {
                padding-bottom: 0px;
                margin-bottom: -5px;
                padding-top: 0px;
                padding-left: 0px;
                background: none;

                &:focus, &:hover {
                    background: none;
                }

                .bs-caret {
                    .caret {
                        background-image: data-uri("@{main-url-img}/down_arrow_light.svg");
                    }
                }
            }

            .open {
                .bs-caret {
                    .caret {
                        background-image: data-uri("@{main-url-img}/up_arrow_light.svg");
                    }
                }
            }

            .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
                width: 100% !important;
            }

            .dropdown-menu {

                &.open {
                    border: 1.5px solid #464646;
                    box-shadow: none !important;
                    padding-top: 1px;
                    padding-bottom: 1px;
                    padding-right: 1px;
                    background-color: #fff;

                    ul {
                        background-color: #fff;

                        li .selected {
                            background-color: #00AFF0 !important;
                        }
                    }
                }

                li {
                    a {
                        color: #464646;

                        &:hover {
                            background-color: transparent;
                            opacity: 0.5;
                            color: #00aff0;
                        }

                        &:active {
                            background-color: transparent;
                        }

                        &:focus {
                            background: transparent;
                            color: #00aff0;
                        }
                    }

                    &.active {
                        a {
                            background-color: #fff;
                            color: #00aff0;
                        }
                    }
                }

                &::-webkit-scrollbar {
                    width: 1em;
                }

                &::-webkit-scrollbar-track {
                    background-color: grey;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: #454545;
                    border: 3px solid transparent;
                    border-radius: 9px;
                    background-clip: content-box;
                }

                a {
                    padding-left: 10px;
                }

                .no-results {
                    background-color: #fff;
                    color: #464646;
                    height: 25px;
                    width: 260px;
                    padding-left: 2px;
                }
            }

            .bs-searchbox {

                input {
                    background-color: #fff;
                    color: #464646;
                    height: 25px;
                    width: 260px;
                    border: none;
                    border-bottom: 1px solid #464646;
                    border-radius: 0;
                    box-shadow: none;
                    padding-left: 0px;
                    padding-right: 0px;
                }
            }

            .simple-input {
                color: #464646;
                border-bottom: none;
            }

            .simple-textarea {
                padding: 0px !important;
                margin-bottom: 0px !important;

                &.input-validation-error {
                    background: url("@{main-url-img}/line-orange.png") !important;
                }
            }

            .textarea {
                word-wrap: break-word;
                overflow-y: visible !important;
                color: #464646;
                border: none;
                background: none;
                height: 40px;
                resize: none;
                padding-left: 5px !important;
                padding-right: 5px !important;

                &::-webkit-scrollbar {
                    width: 1em;
                }

                &::-webkit-scrollbar-track {
                    background-color: grey;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: #454545;
                    border: 3px solid transparent;
                    border-radius: 9px;
                    background-clip: content-box;
                }
            }

            .input-field {
                width: 80px;
                border: none;

                &:focus {
                    outline: 0;
                }

                &[placeholder] {
                    text-overflow: ellipsis;
                    line-height: 1.3em;
                    font-family: 'Proxima-Nova-Regular';
                }

                &::-moz-placeholder {
                    text-overflow: ellipsis;
                }

                &:-moz-placeholder {
                    text-overflow: ellipsis;
                }

                &:-ms-input-placeholder {
                    text-overflow: ellipsis;
                }
            }
        }
    }
}
