﻿.drilling-report-page-content {
    .document-btn {
        .span {
            &:before {
                background-image: data-uri("@{main-url-img}/document.svg");
            }
        }
    }

    &.read-only {
        .drilling-report-page {
            pointer-events: none;
        }

        .complete-block {
            display: none;
        }

        .remove-icon {
            display: none;
        }

        tfoot {
            display: none;
        }
    }
}
