﻿@model TopicReportPdfViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-gb">
<head>
    <meta charset="utf-8" />
    <title>Relay Report</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @Styles.Render("~/bundles/styles/layouts/auth-main")
    <link href="~/Content/styles/main.css" rel="stylesheet" />
</head>
<body class="portrait">
    <div class="topic-pdf">
        <table class="table-head">
            <tbody>
                <tr>
                    <td class="title-td">
                        <div class="report-title">
                            Topic Search
                        </div>
                        <div class="report-date">
                            @Model.ReportDate
                        </div>
                    </td>
                    <td class="criteria-td">
                        <div class="criteria-title">
                            Search Criteria
                        </div>
                        <div class="topic-criteria">
                            <div class="title">
                                Topics in Search:
                            </div>
                            <div class="topic-list">
                                @Model.TopicsInSearch
                            </div>
                        </div>
                        @*<div class="date-criteria">
                            <div class="title">
                                Date Range:
                            </div>
                            <div class="date-range">
                                @Model.DateRange
                            </div>
                        </div>
                        <div class="employees-criteria">
                            <div class="title">
                                Employees:
                            </div>
                            <div class="employees">
                                @Model.Employees
                            </div>
                        </div>*@
                    </td>
                    <td class="logo-td">
                        <div class="company-logo">
                            @if (!Model.CompanyLogoImageId.HasValue)
                            {
                                <img class="logo" src="~/Content/img/svg/CompanyLogoBox.svg" />
                            }
                            else
                            {
                                <img src="/Media/GetImage?imageId=@(Model.CompanyLogoImageId)&width=196&height=105&@(Guid.NewGuid())" class="logo">
                            }
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table-body">
            <thead>
                <tr>
                    <td class="date">Date</td>
                    <td class="creator">Creator</td>
                    <td class="topic">Topic</td>
                    <td class="reference">Reference</td>
                    <td class="notes">Notes</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var topic in Model.Topics)
                {
                    <tr>
                        <td>
                            <div class="date bold">
                                @topic.CreatedDate
                            </div>
                            <div class="time">
                                @topic.CreatedTime
                            </div>
                        </td>
                        <td class="create-name">@topic.CreatorName</td>
                        <td class="reference">@topic.Reference</td>
                        <td class="name">@topic.Name</td>
                        <td class="notes">
                            @if (topic.Notes != null)
                            {
                                @topic.Notes
                            }
                            else
                            {
                                @: -
                            }
                        </td>
                    </tr>
                }
                @if (Model.Topics == null || !Model.Topics.Any())
                {
                <tr>
                    <td colspan="5" class="text-center">
                        <strong>No items to display.</strong>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>