﻿@model SummaryViewModel

@{
    Layout = "~/Views/Shared/Layouts/Main/Authorized_Layout.cshtml";
}

@Html.Partial("~/Views/Rotation/Summary/ViewModeControls.cshtml", Model)

@Html.HiddenFor(model => model.RotarionOwnerId)

@Html.Action("DailyReportsPanel", "DailyReportsPanel", new { userId = Model.RotarionOwnerId })

<div Id="shiftReportBuilderPanel" class="panel panel-primary"></div>

<script src="~/Content/js/relay/rotation/shift-report-builder/shift-report-filter.module.js"></script>
<script src="~/Content/js/relay/rotation/shift-report-builder/shift-report-builder-finish-shift.module.js"></script>
@Scripts.Render("~/bundles/scripts/shared/shift-report-builder")
<script src="~/Content/js/relay/rotation/sections/topics/topic-controls-factory/notes-field.control.js"></script>