﻿@using System.Web.Configuration
@model SummaryViewModel

@if (Model.IsViewMode)
{
    @Html.Partial("~/Views/Rotation/Shared/_ViewModePanel.cshtml", @Model.RotationOwnerFullName)

    if (Boolean.Parse(WebConfigurationManager.AppSettings["isInTestMode"]))
    {
        if (!Model.IsRotationExpiredOrNotStarted)
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Warning!</strong> This button make rotation expired!
                <button class="btn btn-info" type="button" Id="addressSearch"
                        onclick="location.href = '@Url.Action("ExpireRotation", "Rotation", new {userId = Model.RotarionOwnerId, rotationId = Model.RotationId})'">
                    Expire Rotation
                </button>
            </div>
        }
        if (!Model.IsSwingExpired && !Model.IsRotationExpiredOrNotStarted)
        {
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Warning!</strong> This button make rotation swing ending!
                <button class="btn btn-info" type="button" Id="addressSearch"
                        onclick="location.href = '@Url.Action("EndSwingOfRotation", "Rotation", new {userId = Model.RotarionOwnerId, rotationId = Model.RotationId})'">
                    Expire Swing
                </button>
            </div>
        } 
    }
}
