﻿@model int
<div Id="shareReportBtn">
    <div class="share-report-icon @(Model > 0 ? "share-report-icon-active" : "share-report-icon-inactive")">
        <div class="count">@Model</div>
    </div>
</div>