﻿@model ShareTopicViewModel

<div Id="shareTopicDialog"tabindex="-1" role="dialog" aria-labelledby="labelTags" aria-hidden="true" data-keyboard="false" data-backdrop="static" class="modal fade share-topic-dialog">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.TopicId)

        <div Id="DeleteTopicRelationsIds" style="display: none"></div>
        <div class="modal-dialog">
            <div class="theme">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row vertical-center">
                            <div class="col col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div Id="modalTitle" class="modal-title">Share Item</div>
                            </div>
                            <div class="col col-lg-4 col-md-4 col-sm-6 col-xs-4 text-right">
                                <button type="submit" class="btn btn-save">Save</button>
                                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
                                @if (Model.Recipients != null && Model.Recipients.Any())
                                {
                                    <div class="select-type">
                                        <span class="title-select">@Html.LabelFor(m => m.Recipients)</span>
                                        @Html.ListBoxFor(m => m.RecipientsIds, Model.Recipients, new { @class = "select-list", @multiple = "", @title = "Enter/Select User to add to List" })
                                        @Html.ValidationMessageFor(m => m.RecipientsIds)
                                    </div>
                                }
                                else
                                {
                                    <div class="field-container">
                                        <span class="title-select">@Html.LabelFor(m => m.Recipients)</span>
                                        @Html.Label("Recipients", "You have not any recipients", new { @class = "simple-input" })
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="row margin-top-40">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="share-topic-container">
                                    <div class="title-container">
                                        <div class="title-email">Name/E-mail</div>
                                        <div class="title-position">Position</div>
                                    </div>
                                    <div class="swiper-container share-recipient swiper-container-vertical">
                                        <div class="swiper-wrapper swiper-recipient">
                                            @if (Model.TopicRelations != null && Model.TopicRelations.Any())
                                            {
                                                foreach (var topicRelation in Model.TopicRelations)
                                                {
                                                    <div class="swiper-slide recipient-slide" recipient-Id="@topicRelation.TopicRelationId">
                                                        <div class="recipient-image @(topicRelation.RecipientId.HasValue ? "" : "at-icon")">
                                                            <img src="@Url.Action("GetAvatarForEmployee", "Media", new {employeeId = topicRelation.RecipientId})" alt="@topicRelation.RecipientTitle" />
                                                        </div>
                                                        <div class="recipient-email">@topicRelation.RecipientTitle</div>
                                                        <div class="recipient-position">@topicRelation.RecipientPosition</div>
                                                        <div class="recipient-remove-action">×</div>
                                                    </div>
                                                }
                                            }
                                            else
                                            {
                                                <div class="empty-recipient">
                                                    No any topic relations
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="recipient-swiper-prev"></div>
                                    <div class="recipient-swiper-next"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    (function () {
        var deletedRecipientsIdsDiv = $("#shareTopicDialog #DeleteTopicRelationsIds");

        var shareEmployeeSwiper = new Swiper($(".share-recipient"), {
            direction: 'vertical',
            height: 40,
            nextButton: $(".recipient-swiper-next"),
            prevButton: $(".recipient-swiper-prev")
        });

        $("#shareTopicDialog .recipient-remove-action").click(removeRecipientFromShare);

        $(".select-list").attr("data-live-search", true);

        $(".select-list").on("shown.bs.select", function () {
            $("input", ".select-list").attr("placeholder", "Search");
        });

        function removeRecipientFromShare() {

            var _this = $(this).parent();

            var confirmDialog = Relay.ConfirmDialog(
                "Are you sure you want to un-share this item?",
                "",
                "Yes",
                "No"
            );

            confirmDialog.setCancelEvent(function () { });

            confirmDialog.setOkEvent(function () {
                var topicRelationId = _this.attr("recipient-Id");

                var newInput = document.createElement("input");
                newInput.setAttribute("name", "DeleteTopicRelationsIds[]");
                newInput.setAttribute("value", topicRelationId);

                deletedRecipientsIdsDiv.append(newInput);

                $("#shareTopicDialog button[type=submit]").trigger("activate");

                _this.hide();
            });

            confirmDialog.open();
        }
    })();
</script>