﻿@model RotationTaskCompleteViewModel

<div id="completeTaskFormDialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true" class="modal fade rotation-task-dialog">
    @using (Html.BeginForm("CompleteTaskDialog", "Tasks", FormMethod.Post, new { @id = "completeTaskForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.OutcomesTab.ID)
        @Html.HiddenFor(m => m.SelectedTabNumber)
        @Html.HiddenFor(m => m.TaskDetailsTab.AssignedFrom)
        @Html.HiddenFor(m => m.OutcomesTab.IsFeedbackRequired)
        @Html.HiddenFor(m => m.TaskDetailsTab.Deadline)
        @Html.HiddenFor(m => m.CompleteOption)
        @Html.HiddenFor(m => m.TopicDetailsTab.ItemId)

        <div class="modal-dialog">
            <div class="theme">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row vertical-center">
                            <div class="col col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div id="modalTitle" class="modal-title">Complete Task</div>
                            </div>
                            <div class="col col-lg-4 col-md-4 col-sm-6 col-xs-4 text-right">
                                <button type="button" class="btn btn-save complete @(Model.OutcomesTab.IsFeedbackRequired ? string.Empty : "active-green")" value="@CompleteDialogOption.Complete.ToString()">Complete</button>
                                <button type="button" class="btn btn-save save" value="@CompleteDialogOption.Save.ToString()">Save</button>
                                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="tab-block">
                                    <div class="navigation-block">
                                        <ul class="nav nav-tabs">
                                            <li class="@(Model.SelectedTabNumber == 0 ? "active" : "")" tabNumber="0"><a data-toggle="tab" href="#topic-details">Item Details</a></li>
                                            <li class="@(Model.SelectedTabNumber == 1 ? "active" : "")" tabNumber="1"><a data-toggle="tab" href="#task-details">Task Details</a></li>
                                            <li class="orange @(Model.SelectedTabNumber == 2 ? "active" : "")" tabNumber="2"><a data-toggle="tab" href="#outcomes">Handback</a></li>
                                            <li><a data-toggle="tab" href="#task-logs">Log</a></li>
                                        </ul>
                                    </div>
                                    <div class="tab-content">
                                        <div id="topic-details" class="tab-pane fade in @(Model.SelectedTabNumber == 0 ? "active" : "")">
                                            @Html.Partial("~/Views/Rotation/Tasks/CompleteTaskDialog/_TopicDetailsTab.cshtml", Model.TopicDetailsTab)
                                        </div>
                                        <div id="task-details" class="tab-pane fade in @(Model.SelectedTabNumber == 1 ? "active" : "")">
                                            @Html.Partial("~/Views/Rotation/Tasks/CompleteTaskDialog/_TaskDetailsTab.cshtml", Model.TaskDetailsTab)
                                        </div>
                                        <div id="outcomes" class="tab-pane fade in @(Model.SelectedTabNumber == 2 ? "active" : "")">
                                            @Html.Partial("~/Views/Rotation/Tasks/CompleteTaskDialog/_TaskOutcomesTab.cshtml", Model.OutcomesTab)
                                        </div>
                                        <div id="task-logs" class="tab-pane fade in">
                                            @Html.Action("GetTaskLogs", "Tasks", new { taskId = Model.OutcomesTab.ID })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            (function () {
                var isFeedbackRequired = $("#OutcomesTab_IsFeedbackRequired").val() === "True";

                $(".btn-save").click(function () {
                    $("#CompleteOption").val($(this).val());
                    $("#completeTaskForm").submit();
                });
                
                $(".has-attachments-image", "#task-details").click(function () {
                    var _this = this;
                    $(_this).attr("style", "pointer-events: none;");
                    var id = $("#OutcomesTab_ID", "#completeTaskFormDialog").val();
                    var attachmentsDialog = Relay.AttachmentsDialog(id, 2, 2);
                    attachmentsDialog.setCloseEvent(function () {
                        $(_this).removeAttr("style");
                    });
                    attachmentsDialog.open();
                    
                });

                $(".has-attachments-image", "#topic-details").click(function () {
                    var _this = this;
                    $(_this).attr("style", "pointer-events: none;");
                    var id = $("#TopicDetailsTab_ItemId", "#completeTaskFormDialog").val();
                    var attachmentsDialog = Relay.AttachmentsDialog(id, 2, 1);
                    attachmentsDialog.setCloseEvent(function () {
                        $(_this).removeAttr("style");
                    });
                    attachmentsDialog.open();
                });
                
                $(".has-attachments-image", "#outcomes").click(function () {
                    var _this = this;
                    $(_this).attr("style", "pointer-events: none;");
                    var id = $("#OutcomesTab_ID").val();
                    var attachmentsDialog = Relay.AttachmentsDialog(id, 2, 2);
                    attachmentsDialog.setCloseEvent(function () {
                        $(_this).removeAttr("style");
                    });
                    attachmentsDialog.open();
                });

                $("#OutcomesTab_Feedback").bind("input", function () {
                    if (isFeedbackRequired) {
                        if ($(this).val())
                            $(".complete").addClass("active-green");
                        else
                            $(".complete").removeClass("active-green");
                    }
                    $(".save").addClass("active");
                });

                $('#completeTaskFormDialog .tags-input').magicSuggest({
                    placeholder: 'No Tags',
                    maxSelection: 10,
                    hideTrigger: true,
                    toggleOnClick: true,
                    disabled: true,
                    name: "Tags",
                    value: [@Html.Raw(Model.TaskDetailsTab.TagsString)]
                });

                $('.nav-tabs > li').click(function () {
                    var tabNumber = $(this).attr("tabNumber");
                    $("#SelectedTabNumber").val(tabNumber);
                });
            })();
        </script>
    }
</div>
