﻿@model IEnumerable<TasksTopicViewModel>

<div Id="tasksSection">
    <div class="panel-body grey-panel">
        <div class="navbar navbar-orange" id="Tasks"><span class="label">Tasks</span></div>    </div>
    <div class="table-block">
        @if (Model != null && Model.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th class="first">Actions</th>
                        <th class="second">Location</th>
                        <th class="third">Task Name</th>
                        <th class="fourth">Notes</th>
                        <th class="fifth">Status</th>
                        <th class="fifth">Priority</th>
                        <th class="fifth">Intel</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var topic in Model)
                    {
                        <tr>
                            <td class="first-td">
                                @Html.Hidden("Id", topic.Id)

                                @if (topic.IsCustom)
                                {
                                    <button type="button" class="btn btn-circle remove-btn tooltipster" @Html.TooltipAttritutes("Delete")>
                                        <span class="glyphicon span"></span>
                                    </button>
                                }
                                else
                                {
                                    <div class="btn none-btn btn-circle">
                                        <span class="glyphicon span"></span>
                                    </div>
                                }

                                <button type="button" topic-val="@topic.IsFeedbackRequired.ToString().ToLower()" class="btn btn-circle arrows-btn tooltipster" @Html.TooltipAttritutes("Hand-back")>
                                    <span class="glyphicon span"></span>
                                </button>

                                @if (topic.IsPinned.HasValue)
                                {
                                    <button type="button" topic-val="@topic.IsPinned.Value.ToString().ToLower()" class="btn note-btn btn-circle tooltipster" @Html.TooltipAttritutes("Pin")>
                                        <span class="glyphicon span"></span>
                                    </button>
                                }
                                else
                                {
                                    <button type="button" @Html.TooltipAttritutes("Pin") class="btn note-inactive-btn btn-circle tooltipster" @*class="btn note-btn btn-circle note-grey-btn"*@>
                                        <span class="glyphicon span"></span>
                                    </button>
                                }
                            </td>
                            <td>
                                <div class="second-td">
                                    @topic.Location
                                </div>
                            </td>
                            <td style="cursor: pointer;">
                                <div class="third-td">
                                    @topic.Name
                                </div>
                            </td>
                            <td class="fourth-td">
                                <p class="note-short">@topic.Notes</p>
                                <div class="field-of-edit">
                                    <textarea class="change-note" maxlength="600"></textarea>
                                    <div topic-val="@topic.IsFinalized.ToString().ToLower()" class="accept-btn finalise-btn tooltipster" @Html.TooltipAttritutes("Finalise")></div>
                                </div>
                            </td>
                            <td class="fifth-td">
                                <div class="status" topic-val="@topic.ChildCompleteStatus" status="@topic.Status">
                                    @if (topic.Status == "Now")
                                    {
                                        @topic.ChildCompleteStatus
                                    }
                                    else
                                    {
                                        <div class="btn none-btn btn-circle">
                                            <span class="glyphicon span"></span>
                                        </div>
                                    }
                                </div>
                            </td>
                            <td class="fifth-td">
                                <div topic-val="@topic.Priority.ToString()" class="btn btn-priority simple-label-btn"></div>
                            </td>
                            <td class="fifth-td">
                                
                                @Html.Action("ManagerCommentButton", "Tasks",
                           new ManagerCommentButtonViewModel { ItemId = topic.Id.Value, HasComments = topic.HasComments })

                                <button type="button" topic-val="@topic.TeammateId.ToString()" owner-Id="@topic.OwnerId" status="@topic.Status" data-rotation-mode="@topic.IsRotationMode" @Html.TooltipAttritutes("Assignee") class="btn btn-circle user-photo-btn team-btn tooltipster">
                                    <img src="@Url.Action("GetAvatarForEmployee", "Media", new {area = "", employeeId = topic.TeammateId, width = 100, height = 100})"
                                         class="user-photo-img"/>
                                </button>
                                <div class="btn btn-circle more-btn tooltipster" @Html.TooltipAttritutes("Extras")>
                                    <span class="glyphicon span"></span>
                                </div>
                                <div class="other-actions pull-right">
                                    <button topic-val="@topic.HasAttachments.ToString().ToLower()" class="action-btn attachments-btn tooltipster" @Html.TooltipAttritutes("Attachments")></button>
                                    <button topic-val="@topic.HasVoiceMessages.ToString().ToLower()" class="action-btn voice-msg-btn tooltipster" @Html.TooltipAttritutes("Voice Messages") disabled style="cursor: not-allowed !important"></button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="text-center" style="margin: 10px">No Tasks</div>
        }
    </div>
</div>