﻿@main-url-img: "../img/svg";
@notification-img-url: "../img/Notifications";

@main-blue: #00aff0;
@main-brown: #464646;
@simple-white: #ffffff;
@day-month-grey: #717171;
@inactive-name-of-tabs: #787878;

@import "mixins/mixins";

@import "components/indodrill-reports-table";
@import "components/indodrill-reports-footer";
@import "components/indodrill-activity-form-dialog";
@import "components/indodrill-drill-rig-form-dialog";
@import "components/indodrill-client-form-dialog";
@import "components/indodrill-add-client-form-dialog";
@import "components/indodrill-report-preview-dialog";
@import "components/indodrill-print-report";

@import "page/indodrill-reports-page";
@import "page/indodrill-report";
@import "page/indodrill-report-page-footer";
@import "page/indodrill-report-page-content";