﻿.sign-up-wizard-step-4 {
    .start-block {
        width: 800px;
        height: 200px;
        border-radius: 6px;
        background: white;
        display: inline-block;
        margin: 0 20px;
        margin-bottom: 24px;
        border: 4px solid transparent;
        position: relative;
        padding: 50px 140px;
        font-size: 30px;
    }

    .buttons-block {
        margin: 26px 0px;

        .btn-continue {
            width: 120px;
            display: inline-block;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            margin: 0px;
            color: #ffffff;
            background: #035a7a;
            box-shadow: 0px 2px 0px #034862;
            height: 33px;
            border-radius: 15px;

            &:hover {
                opacity: 0.9;
            }
        }
    }
}
