﻿.sign-up-wizard-step-3 {
    .user-details-block, .payment-details-block {
        width: 375px;
        height: 300px;
        padding: 35px 60px 0 60px;
        border-radius: 6px;
        background: white;
        display: inline-block;
        margin: 0 20px;
        margin-bottom: 24px;
        border: 4px solid transparent;
        position: relative;

        .form-control {
            margin-bottom: 40px;
            border: none;
            border-radius: 0px;
            box-shadow: none;
            border-bottom: 1px solid #00AFF0;
            padding: 0 0 10px 0;
            font-size: 16px;
            height: 24px;
            color: #464646;
            .placeholder(#464646);
        }
    }

    .buttons-block {
        margin: 26px 0px;

        .btn-pay {
            width: 120px;
            display: inline-block;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            margin: 0px;
            color: #ffffff;
            background: #035a7a;
            box-shadow: 0px 2px 0px #034862;
            height: 33px;
            border-radius: 15px;

            &:hover {
                opacity: 0.9;
            }

            &.active {
                background: #F29105;
                box-shadow: 0px 2px 0px #9D6009;
            }
        }
    }
}
