﻿.sign-up-wizard-step-1 {
    .user-subscription-type-block {
        width: 240px;
        height: 380px;
        border-radius: 6px;
        background: white;
        display: inline-block;
        margin: 0 20px;
        margin-bottom: 24px;
        border: 4px solid transparent;
        position: relative;

        &.selected {
            border: 4px solid #F29105;
        }

        .selected-icon {
            background-image: url("@{main-url-img}/change-orange.png");
            width: 100%;
            height: 58px;
            position: absolute;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            bottom: -36px;
        }

        .price-block {
            height: 120px;
            width: 194px;
            display: block;
            margin: 0 auto;
            margin-top: 20px;

            .currency-label {
                color: #0096C8;
                position: absolute;
                bottom: 88%;
                font-size: 14px;
                font-weight: bold;
                right: 9%;
            }

            .currency-symbol {
                background: #034862;
                color: white;
                right: 0px;
                width: 30px;
                height: 30px;
                position: absolute;
                top: 5%;
                right: 24%;
                line-height: 30px;
                border-radius: 30px;
                font-size: 20px;
                font-weight: bold;
            }

            .price-label {
                display: inline-block;
                width: 120px;
                height: 120px;
                line-height: 120px;
                border-radius: 120px;
                background: #009fda;
                background-image: -webkit-linear-gradient(top, #009fda, #006a91);
                background-image: -moz-linear-gradient(top, #009fda, #006a91);
                background-image: -ms-linear-gradient(top, #009fda, #006a91);
                background-image: -o-linear-gradient(top, #009fda, #006a91);
                background-image: linear-gradient(to bottom, #009fda, #006a91);
                color: white;
                text-align: center;
                font-size: 54px;
                font-weight: bold;
            }

            .from-label {
                color: #0096C8;
                position: absolute;
                bottom: 76%;
                font-size: 14px;
                font-weight: bold;
            }

            .period-label {
                color: #00AFF0;
                position: relative;
                bottom: 28%;
                font-size: 14px;
                font-weight: bold;
            }
        }

        .description-block {
            margin-top: 30px;
            text-align: center;
            color: black;

            .type-title {
                height: 35px;
                font-weight: bold;
                font-size: 20px;
                margin: 0 auto;
                width: 122px;
                border-bottom: 2px solid #00AFF0;
            }

            .type-stats {
                padding-top: 30px;

                .manager-counter, .user-counter {
                    font-size: 16px;
                    color: #464646;

                    span {
                        &.number {
                            font-weight: bold;
                            color: black;
                        }
                    }
                }

                .user-counter {
                    padding-top: 25px;
                }

                &.team-stats {
                    margin: 0 auto;
                    width: 122px;
                    height: 300px;

                    .user-counter {
                        /*padding-top: 45px;*/
                    }
                }

                .user-counter-text {
                    position: relative;
                    bottom: -15px;
                    height: 40px;
                }

                .user-slider {
                    top: 5px !important;
                }
            }
        }
    }

    .buttons-block {
        margin: 26px 0px;

        .btn-next {
            width: 120px;
            display: inline-block;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            margin: 0px;
            color: #ffffff;
            background: #035a7a;
            box-shadow: 0px 2px 0px #034862;
            height: 33px;
            border-radius: 15px;

            &:hover {
                opacity: 0.9;
            }
        }
    }
}
