﻿@model IPagedList<RotationPatternViewModel>

@{

    Layout = "~/Views/Framework/MasterLists/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading panel-heading-icon-right">
        <strong style="font-size: 20px !important;">
            Rotation Patterns
        </strong>
        <a href="javascript:void(0)" class="icon-right plus-btn btn-circle btn btn-link rotation-pattern-create-btn pull-right">
            <span class="glyphicon span"></span>
        </a>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            @if (Model != null && Model.Any())
            {
                foreach (var pattern in Model)
                {
                    <li class="list-group-item">
                        @pattern.Name
                        <a class="rotation-pattern-edit-btn" Id="@pattern.Id" href="javascript:void(0)">
                            <span class="glyphicon glyphicon-pencil pull-right"></span>
                        </a>
                    </li>
                }

                @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount).Options(o => o
                                .DisplayTemplate("TemplateBootstrapPagination")
                                .MaxNrOfPages(14)
                                .AlwaysAddFirstPageNumber())

            }
            else
            {
                <li class="list-group-item text-center">No rotation templates..</li>
            }
        </ul>

    </div>
</div>
<script>
    $(window).load( function () {
        $(".rotation-pattern-create-btn").click(createRitationPatternFormDialog);
        $(".rotation-pattern-edit-btn").click(editRitationPatternFormDialog);

        function createRitationPatternFormDialog(e) {
            var formDialog = Relay.FormDialog({
                url: "/RotationPatterns/CreateRotationPatternDialog",
                method: "GET",
                dialogId: "rotationPatternFormDialog"
            });
            formDialog.setSubmitEvent(function () {
                location.reload();
            });
            formDialog.open();
        }

        function editRitationPatternFormDialog(e) {
            var formDialog = Relay.FormDialog({
                url: "/RotationPatterns/EditRotationPatternDialog/" + e.currentTarget.id,
                method: "GET",
                dialogId: "rotationPatternFormDialog"
            });
            formDialog.setSubmitEvent(function () {
                location.reload();
            });
            formDialog.open();
        }

    });
</script>
