﻿@model ShiftCoreAddInlineTopicViewModel

<tr class="new-line">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ShiftId)

    <td class="actions-body">    
        <div class="btn remove-btn btn-circle tooltipster" @Html.TooltipAttritutes("Remove")><span class="glyphicon span"></span></div>

        <div class="btn hand-back-inactive-btn btn-circle tooltipster" @Html.TooltipAttritutes("Hand-back")><span class="glyphicon span"></span></div>

        <div class="btn pin-grey-btn btn-circle tooltipster" @Html.TooltipAttritutes("Pin")><span class="glyphicon span"></span></div>
    </td>
    <td class="type-body">
        <div class="select-parameter">
            @Html.DropDownListFor(m => m.ProcessGroup, Model.ProcessGroups, null, new { @title = "Select", @class = "select-type" })
        </div>
    </td>
    <td class="reference-body">
        @Html.TextBoxFor(model => model.ProcessLocation, new { @class = "input-field text-blue add-reference", @placeholder = "Add Reference" })
    </td>
    <td class="notes-body">
        @Html.TextAreaFor(model => model.Notes, new { @class = "new-note text-blue add-note", @placeholder = "Add Notes", @maxlength = "1000" })
            <div class="accept-btn accept-btn-grey"></div>
    </td>
    <td class="intel-body">
        <button type="button" class="inline-add-btn tooltipster" @Html.TooltipAttritutes("Add topic")>
            Add
        </button>
    </td>
</tr>