﻿.template-module-block {
    border-radius: 6px !important;
    width: 100%;

    .content {
        height: 60px !important;
        margin: 0 5px;
    }

    .module-topic-group-count {
        font-size: 16px !important;
        font-weight: 600;
        padding: 5px;
    }
}


.big-title {
    font-size: 20px !important;
    font-weight: 700 !important;
}


.panel-default .panel-heading {
    background-color: #00aff0 !important;
    text-align: left !important;
    color: white !important;
}


.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #464646 !important;
    border: 1px solid #464646 !important;
    color: white !important;

    a {
        color: white !important;
        text-decoration: none !important;
    }
}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    background-color: #00aff0;
    border: 1px solid #00aff0;
    border-bottom-color: transparent;
    cursor: default;
    font-weight: 700;
}

.panel {
    .btn-circle {
        display: inline-block;
        width: 27px;
        height: 27px;
        top: 0;

        &:hover {
            opacity: 0.75;
        }

        .span {
            top: 0;
            width: 100%;
            height: 100%;

            &:before {
                content: "";
                width: 100%;
                height: 100%;
                display: block;
            }
        }
    }

    .plus-btn {
        .span {
            &:before {
                background-image: data-uri("@{main-url-img}/plus.svg");
            }
        }
    }
}
