﻿@model PaginationModel

@if (Model.PageCount > 1)
{
    <div class="myTeamWigdet-pagination">
        <span class="pagination-current">@Model.CurrentPage</span>/<span class="pagination-total">@Model.PageCount</span>
    </div>
    foreach (var link in Model.PaginationLinks)
    {
        @BuildLink(link)
    }
}

@helper BuildLink(PaginationLink link)
{
var aBuilder = new TagBuilder("a");

if (link.DisplayText == "«")
{
    aBuilder.AddCssClass("myTeamWigdet-prev");
}
else if (link.DisplayText == "»")
{
    aBuilder.AddCssClass("myTeamWigdet-next");
}
if (link.Url == null)
{
    aBuilder.AddCssClass("button-disabled");
}
else
{
    if (Model.AjaxOptions != null)
    {
        foreach (var ajaxOption in Model.AjaxOptions.ToUnobtrusiveHtmlAttributes())
        {
            aBuilder.MergeAttribute(ajaxOption.Key, ajaxOption.Value.ToString(), true);
        }
    }
    aBuilder.MergeAttribute("href", link.Url);
}

    @Html.Raw(aBuilder.ToString())
}
