﻿@model MvcSiteMapProvider.Web.Html.Models.SiteMapPathHelperModel
<ol class="breadcrumb">
  <li><a href="/" title="Home"><span class="glyphicon glyphicon-home"></span></a></li>
  @foreach (var node in Model)
  {
  <li@(node.IsCurrentNode ? " class=active" : "")>
    @Html.DisplayFor(m => node)</li>
  }
</ol>