﻿@model ForgottenPasswordViewModel

@{
    Layout = "~/Views/Shared/Layouts/Main/NotAuthorized_MultiTenant_Layout.cshtml";
}

<div class="forgotten-password-page">

    <div class="relay-logo-block">
        <a class="logo" href="\"></a>
    </div>

    <div class="row text-center title-block">
        <div class="col col-xs-12">
            Forgotten Password
        </div>
    </div>

    <div class="row text-center">
        <div class="col col-xs-12">
            <div class="form-block">
                @using (Html.BeginForm(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group margin-bottom-30">
                        @Html.TextBoxFor(m => m.Email, new {@class = "form-control", @type = "email", @placeholder = "Email"})
                        @Html.ValidationMessageFor(m => m.Email, null, new { @class = "email-validation" })
                    </div>
                    <div class="blue-line"></div>

                    <div class="form-group">
                        <div class="form-label">
                            Please enter your email<br> to reset the password.
                        </div>
                    </div>

                    <button type="submit" class="btn btn-send">Submit</button>
                }
            </div>
            <span class="change-indicator"></span>
        </div>
    </div>
</div>

<script>
    $(document).ready(function ()
    {
        $('#Email').keyup(function ()
        {
            if ($('#Email').valid() == true)
            {
                $('.change-indicator').addClass('valid');
            }
            else
            {
                $('.change-indicator').removeClass('valid');
            }
        });
    });
</script>