﻿@model LoginViewModel

@{
    Layout = "~/Views/Shared/Layouts/Main/NotAuthorized_MultiTenant_Layout.cshtml";
}


<div class="main-page">
    <div class="wrapper">

        <div class="relay-logo-block">
            <div class="row">
                <div class="col-xs-6">
                    <a class="logo" href="\"></a>
                </div>
                <div class="col-xs-6 text-right header-buttons">
                    <a class="btn btn-login" href="@Url.Action("Login")">Login</a>
                </div>
            </div>
        </div>

        <div class="content-area">

            <div Id="welcome-carousel" class="carousel slide" data-ride="slide">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#welcome-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#welcome-carousel" data-slide-to="1" class="disabled"></li>
                    <li data-target="#welcome-carousel" data-slide-to="2" class="disabled"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="carousel-content">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="welcome">
                                                Welcome
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 text-center" style="padding-top: 18vh">
                                                <a class="btn btn-purchase" href="@Url.Action("Index", "Registration")">
                                                    Purchase
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-content">
                                    <div class="row">
                                        <div class="col-xs-12">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-content">
                                    <div class="row">
                                        <div class="col-xs-12">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>

            <div class="clearfix"></div>
        </div>
        <div class="footer">
            <div class="footer-block">
                <div class="row">
                    <div class="col-xs-6 no-padding">
                        <div class="row padding-top-20">
                            <div class="col-xs-12 no-padding">
                                <div class="ihandover-logo" onclick="window.open('http://ihandover.co', '_blank');"></div>
                            </div>
                            <div class="col-xs-12 no-padding">
                                <div class="current-year padding-top-10">
                                    © @DateTime.Now.Year
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 no-padding">
                        <div class="social-buttons">
                            <a class="btn btn-twitter" href="https://twitter.com/ihandover" target="_blank">
                            </a>
                            <a class="btn btn-linkedin" href="https://www.linkedin.com/company/2378457" target="_blank">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>