﻿@model ResetPasswordViewModel

@{
    Layout = "~/Views/Shared/Layouts/Main/NotAuthorized_MultiTenant_Layout.cshtml";
}


@*<div class="sign-in">
    <div class="sign-in">
        <div class="panel panel-default sign-in-panel">
            <div class="panel-body">
                <div class="logo"></div>
                @using (Html.BeginForm(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.PasswordResetGuid)

                    <div class="form-group">
                        @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", @type = "password", @placeholder = @Html.DisplayNameFor(m => m.NewPassword) })
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>
                    <div class="blue-line">

                    </div>

                    <div class="form-group">
                        @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control", @placeholder = @Html.DisplayNameFor(m => m.ConfirmNewPassword) })
                        @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn-send" onclick="$(this).addClass('disabled');">Reset</button>
                    </div>

                }
            </div>
        </div>
    </div>
    <div class="sign-in-item">
        <div class="row">
            <div class="col col-md-12  text-center">
                <a href="@Url.Action("Login")" class="forgot-password">
                    <span style="color: red">Cancel</span>
                </a>
            </div>
        </div>
    </div>
</div>*@


<div class="reset-password-page">

    <div class="relay-logo-block">
        <a class="logo" href="\"></a>
    </div>

    <div class="row text-center title-block">
        <div class="col col-xs-12">
            Reset Password
        </div>
    </div>

    <div class="row text-center">
        <div class="col col-xs-12">
            <div class="form-block">
                @using (Html.BeginForm(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.PasswordResetGuid)

                    <div class="form-group margin-bottom-30">
                        @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", @type = "password", @placeholder = @Html.DisplayNameFor(m => m.NewPassword) })
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>
                    <div class="blue-line"></div>

                    <div class="form-group margin-top-30">
                        @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control", @placeholder = @Html.DisplayNameFor(m => m.ConfirmNewPassword) })
                        @Html.ValidationMessageFor(m => m.ConfirmNewPassword, null, new { @class = "password-validation" })
                    </div>

                    <button type="submit" class="btn btn-send">Submit</button>
                }
            </div>
            <span class="change-indicator"></span>
        </div>
    </div>
</div>

<script>
    $(document).ready(function ()
    {
        $('#NewPassword, #ConfirmNewPassword').keyup(function ()
        {
            if ($('#NewPassword, #ConfirmNewPassword').valid() == true)
            {
                $('.change-indicator').addClass('valid');
            }
            else
            {
                $('.change-indicator').removeClass('valid');
            }
        });

    });
</script>