﻿@model string

<div Id="shiftReportBuilderPanel" class="panel panel-primary">
    <div class="shift-info-container" shift-Id="@Model" read-mode="False" empty-panel="true"></div>
    <div class="empty-report-builder panel panel-primary">
        <div class="panel-heading clearfix">
            <div class="pull-left">
                <span class="panel-title">Report Builder</span>
            </div>
        </div>
        <div class="report-panel">
            <div class="table-block">
                <div class="text-center message-block">
                    @Model
                </div>
            </div>
        </div>
    </div>
</div>
