﻿@model ViewModeViewModel

@{
    Layout = "~/Views/Shared/Layouts/Main/Authorized_Layout.cshtml";
}

@if (Model.IsViewMode)
{
    @Html.Partial("~/Views/Rotation/Shared/_ViewModePanel.cshtml", Model.RotationOwnerFullName)
}

<div class="panel panel-default text-center" style="margin-top: 40px">
    <div class="panel-body">
        <strong>@(Model.IsViewMode ? Model.RotationOwnerFullName + " doesn't have a rotation." : "You do not have a rotation.")</strong>
    </div>
</div>
