﻿/*@main-url-img: "~/Content/img/svg";*/


/*@font-face {
    font-family: 'Helvetica-Bold';
    src: url('~/Content/fonts/helvetica-bold/helvetica-bold.eot') format('embedded-opentype');
    src: url('~/Content/fonts/helvetica-bold/helvetica-bold.otf') format('opentype');
    src: url('~/Content/fonts/helvetica-bold/helvetica-bold.ttf') format('truetype');
    src: url('~/Content/fonts/helvetica-bold/helvetica-bold.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family: 'Proxima-Nova-Regular';
    src: url('~/Content/fonts/proxima-nova/ProximaNova-Regular/ProximaNova-Regular.eot') format('embedded-opentype');
    src: url('~/Content/fonts/proxima-nova/ProximaNova-Regular/ProximaNova-Regular.svg') format('svg');
    src: url('~/Content/fonts/proxima-nova/ProximaNova-Regular/ProximaNova-Regular.ttf') format('truetype');
    src: url('~/Content/fonts/proxima-nova/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}*/


@main-url-img: "../img/svg";
@notification-img-url: "../img/Notifications";


@font-face {
    font-family: 'Helvetica-Bold';
    src: url('../fonts/helvetica-bold/helvetica-bold.eot') format('embedded-opentype');
    src: url('../fonts/helvetica-bold/helvetica-bold.otf') format('opentype');
    src: url('../fonts/helvetica-bold/helvetica-bold.ttf') format('truetype');
    src: url('../fonts/helvetica-bold/helvetica-bold.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family: 'Proxima-Nova-Regular';
    src: url('../fonts/proxima-nova/ProximaNova-Regular/ProximaNova-Regular.eot') format('embedded-opentype');
    src: url('../fonts/proxima-nova/ProximaNova-Regular/ProximaNova-Regular.svg') format('svg');
    src: url('../fonts/proxima-nova/ProximaNova-Regular/ProximaNova-Regular.ttf') format('truetype');
    src: url('../fonts/proxima-nova/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}